
<a [routerLink]="['/database/skills']"><mat-card>Compétences</mat-card></a>
<a [routerLink]="['/database/origins']"><mat-card>Origines</mat-card></a>
<a [routerLink]="['/database/jobs']"><mat-card>Metiers</mat-card></a>
<a [routerLink]="['/database/items']"><mat-card>Objets</mat-card></a>
<a [routerLink]="['/database/effects']"><mat-card>Effets</mat-card></a>
<a [routerLink]="['/database/monsters']"><mat-card>Bestiaire</mat-card></a>
<a [routerLink]="['/database/locations']"><mat-card>Cartographie</mat-card></a>
