
<a [routerLink]="['/database/skills']"><md-card>Compétences</md-card></a>
<a [routerLink]="['/database/origins']"><md-card>Origines</md-card></a>
<a [routerLink]="['/database/jobs']"><md-card>Metiers</md-card></a>
<a [routerLink]="['/database/items']"><md-card>Objets</md-card></a>
<a [routerLink]="['/database/effects']"><md-card>Effets</md-card></a>
<a [routerLink]="['/database/monsters']"><md-card>Bestiaire</md-card></a>
<a [routerLink]="['/database/locations']"><md-card>Cartographie</md-card></a>
