<button mat-fab color="accent" [matMenuTriggerFor]="appMenu" aria-label="Informations utiles">
    <mat-icon>list</mat-icon>
</button>

<mat-menu #appMenu="matMenu" [hasBackdrop]="true" [overlapTrigger]="true" [backdropClass]="'cdk-overlay-dark-backdrop'">
    <button *ngFor="let info of basesInfoDefinitions" mat-menu-item (click)="openPanel(info.panel)">
        <mat-icon [fontSet]="info.fontSet" class="ra-mat-button-icon-24" [fontIcon]="info.icon"></mat-icon>
        {{info.displayName}}
    </button>

    <button mat-menu-item [matMenuTriggerFor]="databaseSubMenu">
        <mat-icon>add</mat-icon>
        Database
    </button>

</mat-menu>

<mat-menu #databaseSubMenu="matMenu">
    <button *ngFor="let info of databaseInfoDefinitions" mat-menu-item (click)="openPanel(info.panel)">
        <mat-icon [fontSet]="info.fontSet" class="ra-mat-button-icon-24" [fontIcon]="info.icon"></mat-icon>
        {{info.displayName}}
    </button>
</mat-menu>
