<mat-dialog-content class="module-list">
  @for (module of availableModules; track module) {
    <div class="module-button" mat-ripple (click)="selectModule(module)">
      <mat-icon fontSet="game-icon" [fontIcon]="'game-icon-' + module.icon"></mat-icon>
      <div class="title"> {{module.displayName}} </div>
      <div class="description">
        <span> {{module.description}} </span>
      </div>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" matDialogClose>FERMER</button>
</mat-dialog-actions>
