<!-- Sex -->
@if (itemTemplate.data.sex) {
  <div class="icon-label">
    @if (itemTemplate.data.sex === 'h') {
      <mat-icon fontSet="game-icon" fontIcon="game-icon-male" class="ra-mat-button-icon-24"></mat-icon>
    }
    @if (itemTemplate.data.sex === 'f') {
      <mat-icon fontSet="game-icon" fontIcon="game-icon-female" class="ra-mat-button-icon-24"></mat-icon>
    }
    @if (itemTemplate.data.sex === 'h') {
      <span>Homme uniq. </span>
    }
    @if (itemTemplate.data.sex === 'f') {
      <span>Femme uniq. </span>
    }
  </div>
}

<!-- Relic -->
@if (itemTemplate.data.relic) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-relic-blade" class="ra-mat-button-icon-24"></mat-icon>
    <span>Relique </span>
  </div>
}


<!-- Dice drop -->
@if (itemTemplate.data.diceDrop) {
  <div class="icon-label">
    <mat-icon fontSet="ra" fontIcon="ra-perspective-dice-random" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      {{itemTemplate.data.diceDrop}}
    </div>
  </div>
}

<!-- Throwable -->
@if (itemTemplate.data.throwable) {
  <div>
    <span>Arme prévue pour le jet</span>
  </div>
}

<!-- Slots -->
@if (itemTemplate.slots?.length > 0) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-battle-gear" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <mat-chip-set>
        @for (slot of itemTemplate.slots; track slot) {
          <mat-chip>{{slot.name}}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </div>
}

<!-- Description -->
@if (itemTemplate.data.description) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-quill" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>Description:</span>
      {{itemTemplate.data.description}}
    </div>
  </div>
}

<!-- Note -->
@if (itemTemplate.data.note) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-scroll-unfurled" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>Note:</span>
      {{itemTemplate.data.note}}
    </div>
  </div>
}

<!-- Encombrement -->
@if (itemTemplate.data.space) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-swap-bag" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>
        Encombrement:
      </span>
      {{itemTemplate.data.space}}
    </div>
  </div>
}

<!-- Encombrement -->
@if (itemTemplate.data.lifetime) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-stopwatch" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>
        Durée de conservation:
      </span>
      @if (itemTemplate.data.lifetime.durationType === 'time') {
        <span>
          {{itemTemplate.data.lifetime.timeDuration | nhbkDuration}}
        </span>
      }
    </div>
  </div>
}

<!-- Possibilités de récolte -->
@if (itemTemplate.data.availableLocation) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-sickle" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>
        Possibilités de récolte:
      </span>
      {{itemTemplate.data.availableLocation}}
    </div>
  </div>
}

<!-- Dieu -->
@if (itemTemplate.data.god && godsByTechName) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-prayer" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>Dieu:</span>
      {{godsByTechName[itemTemplate.data.god].displayName}}
    </div>
  </div>
}

<!-- Prix/Charge/Durée -->
@if (itemTemplate.data.price) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-two-coins" class="ra-mat-button-icon-24"></mat-icon>
    <div>{{itemTemplate.data.price | itemPrice}}</div>
  </div>
}

<!-- Charge / Action -->

@if (itemTemplate.data.charge) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-magic-swirl" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <div>
        <span>Nombre d'utilisations:</span>
        {{itemTemplate.data.charge}}
      </div>
      @if (itemTemplate.data?.actions?.length) {
        <div class="usage-actions">
          Lors de l'utilisation:
          @for (action of itemTemplate.data.actions; track action) {
            <div class="usage-action">
              @if (!action.hidden) {
                <span class="dot">-</span>
              }
              @if (!action.hidden) {
                <nhbk-action [action]="action"></nhbk-action>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
}


@if (itemTemplate.data.weight) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-weight" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>
        Poids:
      </span>
      @if (itemTemplate.data.weight < 1) {
        <span>{{(itemTemplate.data.weight * 1000)}}g</span>
      }
      @if (itemTemplate.data.weight >= 1) {
        <span>{{(itemTemplate.data.weight)}}Kg</span>
      }
    </div>
  </div>
}

<!-- Degat -->
@if (itemTemplate.data.bonusDamage || itemTemplate.data.damageDice) {
  <div class="icon-label">
    <mat-icon fontSet="ra" fontIcon="ra-broadsword" class="ra-mat-button-icon-24"></mat-icon>
    <div class="damage">
      @if (itemTemplate.data.damageDice) {
        <span>{{itemTemplate.data.damageDice}}<span
        class="ra ra-perspective-dice-random ra-mat-button-icon-24"></span></span>
      }
      @if (itemTemplate.data.damageDice && itemTemplate.data.bonusDamage>0) {
        <span>+</span>
      }
      @if (itemTemplate.data.bonusDamage) {
        <span>{{itemTemplate.data.bonusDamage}}</span>
      }
      @if (itemTemplate.data.damageType) {
        <span>({{itemTemplate.data.damageType}})</span>
      }
    </div>
  </div>
}

<!-- Protection -->
@if (itemTemplate.data.protection || itemTemplate.data.magicProtection || itemTemplate.data.protectionAgainstMagic) {
  <div class="icon-label"
    >
    <mat-icon fontSet="ra" fontIcon="ra-shield" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      <span>Protection: </span>
      {{itemTemplate | itemTemplateDataProtection}}
    </div>
  </div>
}

<!-- Rupture -->
@if (!!itemTemplate.data.rupture) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-cracked-shield" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      @if (itemTemplate.data.rupture) {
        <div>
          Rupture:
          1 à {{itemTemplate.data.rupture}}
        </div>
      }
      @if (itemTemplate.data.rupture === 0) {
        <div>
          Rupture: Incassable
        </div>
      }
    </div>
  </div>
}

<!-- Modificateurs -->
@if (itemTemplate.modifiers?.length) {
  <div class="icon-label">
    <mat-icon fontSet="game-icon" fontIcon="game-icon-skills" class="ra-mat-button-icon-24"></mat-icon>
    <div class="stats">
      @for (modifier of itemTemplate.modifiers; track modifier) {
        <div>
          @if (jobsName && modifier.jobId) {
            <span>{{jobsName[modifier.jobId]}}:</span>
          }
          @if (originsName && modifier.originId) {
            <span>{{originsName[modifier.originId]}}:</span>
          }
          {{modifier | modifier}}
        </div>
      }
    </div>
  </div>
}

<!-- Compétences ajouté/annulé -->
@if (itemTemplate.skills?.length || itemTemplate.unSkills?.length || itemTemplate.skillModifiers?.length) {
  <div class="icon-label"
    >
    <mat-icon fontSet="game-icon" fontIcon="game-icon-gears" class="ra-mat-button-icon-24"></mat-icon>
    <div>
      @for (skill of itemTemplate.skills; track skill) {
        <div>Donne la compétence "{{skill.name}}"</div>
      }
      @for (skill of itemTemplate.unSkills; track skill) {
        <div>Annule "{{skill.name}}"</div>
      }
      @for (modifier of itemTemplate.skillModifiers; track modifier) {
        <div>{{modifier.skill.name}}
          @if (modifier.value > 0) {
            <span>+</span>
            }{{modifier.value}}
          </div>
        }
      </div>
    </div>
  }

  <!-- Prérequis -->
  @for (requirement of itemTemplate.requirements; track requirement) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-thumb-up" class="ra-mat-button-icon-24"></mat-icon>
      <div>
        @if (requirement.min) {
          <span>Min {{requirement.stat}}: {{requirement.min}}</span>
        }
        @if (requirement.max) {
          <span>Max {{requirement.stat}}: {{requirement.max}}</span>
        }
      </div>
    </div>
  }

  <!-- Origine -->
  @if (itemTemplate.data.origin) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-treasure-map" class="ra-mat-button-icon-24"></mat-icon>
      <div>
        Origine: {{itemTemplate.data.origin}}
      </div>
    </div>
  }

  <!-- Gun -->
  @if (itemTemplate.data.gun) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-revolver" class="ra-mat-button-icon-24"></mat-icon>
      <div>
        <h3 class="mat-h3">Arme à poudre</h3>
        <dl>
          <dt>Portée utile:</dt>
          <dd>{{itemTemplate.data.gun.range}}</dd>
          <dt>Dégâts:</dt>
          <dd>{{itemTemplate.data.gun.damages}}</dd>
          <dt>+Spécial:</dt>
          <dd>{{itemTemplate.data.gun.special}}</dd>
          <dt>Cadence de tir:</dt>
          <dd>{{itemTemplate.data.gun.rateOfFire}}</dd>
          <dt>Délai de rechargement:</dt>
          <dd>{{itemTemplate.data.gun.reloadDelay}}</dd>
          <dt>Épreuve de tir:</dt>
          <dd>{{itemTemplate.data.gun.shootTest}}</dd>
        </dl>
        <mat-divider></mat-divider>
        <h3 class="mat-h3">Munitions</h3>
        <dl>
          @if (itemTemplate.data.gun.fuelPerShot) {
            <dt>
              Combustion par coup:
            </dt>
          }
          @if (itemTemplate.data.gun.fuelPerShot) {
            <dd>
              {{itemTemplate.data.gun.fuelPerShot}}
            </dd>
          }
          <dt>Munitions par coup:</dt>
          <dd>{{itemTemplate.data.gun.ammunitionPerShot}}</dd>
        </dl>
        <mat-divider></mat-divider>
        <dl>
          <dt>Chances de fonctionnement:</dt>
          <dd>{{itemTemplate.data.gun.workLuck}}</dd>
        </dl>
      </div>
    </div>
  }

  <!-- Instrument -->
  @if (itemTemplate.data.instrument) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-musical-notes" class="ra-mat-button-icon-24"></mat-icon>
      <div>
        @if (itemTemplate.data.instrument.specialMove) {
          <div>
            Coup spécial: {{itemTemplate.data.instrument.specialMove | plusminus}}
          </div>
        }
        @if (itemTemplate.data.instrument.speechTheater) {
          <div>
            Discours - Théâtre: {{itemTemplate.data.instrument.speechTheater | plusminus}}
          </div>
        }
        @if (itemTemplate.data.instrument.jugglingDance) {
          <div>
            Jonglage - Danse: {{itemTemplate.data.instrument.jugglingDance | plusminus}}
          </div>
        }
        @if (itemTemplate.data.instrument.musicSinging) {
          <div>
            Musique - Chant: {{itemTemplate.data.instrument.musicSinging | plusminus}}
          </div>
        }
      </div>
    </div>
  }

  <!-- Indice de rareté -->
  @if (itemTemplate.data.rarityIndicator) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-chest" class="ra-mat-button-icon-24"></mat-icon>
      <div>
        Indice de rareté: {{itemTemplate.data.rarityIndicator}}
      </div>
    </div>
  }

