@use "../../app/style/responsive-utils" as responsive;

:host {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .items {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }


    .prev-next-buttons {
        gap: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include responsive.for-phone-only {
            grid-template-columns: 1fr;
        }

        > button {
            width: 100%;
        }
    }

    .filters {
        display: grid;
        gap: 8px;
        align-items: center;
        grid-template-columns: 1fr 32px 1fr 32px;
        grid-template-areas:
            "search search search search-loader"
            "table-view table-view display-community display-community";
        .search {
            grid-area: search;
        }
        .search-loader {
            grid-area: search-loader;
        }
        .table-view {
            grid-area: table-view;
        }
        .display-community {
            grid-area: display-community;
        }
    }

    .section-selector {
        padding-top: 20px;
        mat-form-field {
            width: 100%;
        }
    }
}
