<mat-toolbar color="primary">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <span>
    Ajouter un monstre
  </span>
  <button mat-button
    (click)="addMonster()">
    AJOUTER
  </button>
</mat-toolbar>

<div class="content">

  <mat-vertical-stepper linear="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Chercher un monstre pré-existant</ng-template>
      <mat-form-field class="search-input">
        <mat-label>Monstre</mat-label>
        <input matInput
          autocapitalize="off"
          autocomplete="off"
          [(ngModel)]="filter"
          (keyup)="updateFilteredMonster()">
      </mat-form-field>
      <div class="category">
        <mat-form-field>
          <mat-label>Catégorie</mat-label>
          <mat-select (selectionChange)="selectMonsterType($event.value)">
            <mat-option [value]="'none'"></mat-option>
            @for (monsterType of monsterTypes; track monsterType) {
              <mat-option [value]="monsterType">
                {{monsterType.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sous-catégorie</mat-label>
          <mat-select [ngModel]="selectedMonsterSubCategory" (selectionChange)="selectMonsterSubCategory($event.value)">
            <mat-option [value]="'none'"></mat-option>
            @for (monsterSubCategory of selectedMonsterType?.subCategories || []; track monsterSubCategory) {
              <mat-option [value]="monsterSubCategory">
                {{monsterSubCategory.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <mat-action-list>
        @for (monsterTemplate of filteredMonsters; track monsterTemplate) {
          <div mat-ripple (click)="selectMonsterInAutocompleteList(monsterTemplate); stepper.next()">
            <div class="filter-result">
              <div class="name">{{monsterTemplate.name}}</div>
              <div class="category mat-caption">{{monsterTemplate.subCategory.type.name}} - {{monsterTemplate.subCategory.name}}</div>
            </div>
          </div>
        }
      </mat-action-list>
      <div class="customize-button">
        <button mat-button color=primary (click)="stepper.next()">
          MONSTRE PERSONNALISÉ
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Personnalisation</ng-template>
      <app-monster-editor [form]="form"></app-monster-editor>
      <div class="inventory">
        <h2 class="mat-h2">
          Inventaire/Loot
          <button mat-raised-button (click)="randomMonsterInventory()">Random</button>
        </h2>
        @if (items) {
          <div>
            <app-item-list [items]="items"
              [itemsExistsOnServer]="false"
              (selectItem)="openItemTemplateDialog($event.template)"
              (deleteItems)="removeItemsFromMonsterInventory($event)">
            </app-item-list>
          </div>
        }
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
