<h2 mat-dialog-title>Ajouter un loot</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Nom du loot</mat-label>
        <input autocomplete="off" matInput type="text" #lootName/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            color="primary">
        FERMER
    </button>
    <button mat-button
            [mat-dialog-close]="lootName.value"
            color="primary"
            [disabled]="!lootName.value">
        CRÉER
    </button>
</mat-dialog-actions>
