@import "~app/style/responsive-utils";

:host {
    .content {
        .name {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: 8px;
            align-items: center;
        }

        .sex-selector {
            display: flex;
            flex-direction: row;

            @include for-phone-only {
                flex-direction: column;
            }

            mat-radio-button {
                padding: 8px;
                @include for-phone-only {
                    padding: 8px 0;
                }
            }

            ::ng-deep .mat-radio-label-content {
                display: flex;
                align-items: center;
            }
        }
    }
}
