@use "../../app/style/responsive-utils" as responsive;

mat-card-content {
    .name {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 8px;
        align-items: center;
    }

    .location-origin {
        display: flex;
        flex-direction: row;
        gap: 16px;

    }

    .sex-selector {
        display: flex;
        flex-direction: row;

        @include responsive.for-phone-only {
            flex-direction: column;
        }

        mat-radio-button {
            padding: 8px;
            @include responsive.for-phone-only {
                padding: 8px 0;
            }
        }

        .mat-radio-label-content {
            display: flex;
            align-items: center;
        }
    }
    .note {
        display: flex;
    }
}
