<div class="fighter" [class.combat-row-selected]="selected && !expandedView">
  <div class="icon">
    @if (fighter.isMonster) {
      <monster-color-selector
        [monster]="fighter.monster"
        (numberChanged)='changeNumber(fighter, $event)'
        (colorChanged)='changeColor(fighter, $event)'>
      </monster-color-selector>
    }
    @if (!fighter.isMonster) {
      <character-color-selector
        [character]="fighter.character"
        (colorChanged)='changeColor(fighter, $event)'>
      </character-color-selector>
    }
  </div>

  <div class="name">
    <span>{{fighter.name}}</span>
    @if (fighter.isCharacter) {
      <button mat-icon-button [matMenuTriggerFor]="menuCharacter" aria-label="Ouvrir le menu du personnage">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuCharacter="matMenu">
        <button mat-menu-item
          (click)="displayCharacterSheet()">
          <mat-icon>pageview</mat-icon>
          Voir la fiche
        </button>
        <button mat-menu-item
          (click)=openAddItemDialog()>
          <mat-icon>add</mat-icon>
          Objet
        </button>
        <button mat-menu-item
          (click)=openAddGemDialog()>
          <mat-icon>add</mat-icon>Pierre précieuse
        </button>
      </mat-menu>
    }
    @if (fighter.isMonster) {
      <button mat-icon-button [matMenuTriggerFor]="menuMonster" aria-label="Open basic menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuMonster="matMenu">
        <button mat-menu-item
          (click)=openEditMonsterDialog()>
          <mat-icon>edit</mat-icon>
          Modifier
        </button>
        <button mat-menu-item
          (click)=openAddItemDialog()>
          <mat-icon>add</mat-icon>
          Objet
        </button>
        <button mat-menu-item
          (click)=openAddGemDialog()>
          <mat-icon>add</mat-icon>Pierre précieuse
        </button>
        <button mat-menu-item
          (click)=openAddEffectDialog()>
          <mat-icon>add</mat-icon>Modificateur
        </button>
        <button mat-menu-item
          (click)=openInventoryDialog()>
          <mat-icon fontSet="game-icon" fontIcon="game-icon-battle-gear" class="ra-mat-button-icon-24"></mat-icon>
          <span>Inventaire@if (fighter.monster?.items?.length) {
            <span> ({{fighter.monster?.items?.length}})</span>
          }</span>
        </button>
        @if (!fighter.monster.fightId) {
          <button mat-menu-item
            (click)=killMonster(fighter.monster)>
            <mat-icon fontSet="game-icon" fontIcon="game-icon-tombstone" class="ra-mat-button-icon-24"></mat-icon>
            Tuer le monstre
          </button>
        }
        @if (fighter.monster.fightId && group.data.inCombat) {
          <button mat-menu-item
            (click)="moveMonsterToFight(fighter.monster, undefined)">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-sword-spade" class="ra-mat-button-icon-24"></mat-icon>
            Ajouter au combat
          </button>
        }
        @if (group.fights.length > 0) {
          <button mat-menu-item [matMenuTriggerFor]="moveToFightMenu"
            >
            <mat-icon fontSet="game-icon" fontIcon="game-icon-sword-spade" class="ra-mat-button-icon-24"></mat-icon>
            Déplacer vers...
          </button>
        }
        <button mat-menu-item
          (click)=duplicateMonster(fighter.monster)>
          <mat-icon>content_copy</mat-icon>
          Dupliquer le monstre
        </button>
        <button mat-menu-item [matMenuTriggerFor]="deleteMonsterConfirm">
          <mat-icon>delete</mat-icon>
          Supprimer le monstre
        </button>
      </mat-menu>
      <mat-menu #deleteMonsterConfirm="matMenu">
        <button mat-menu-item
          (click)=deleteMonster(fighter.monster)>
          Confirmer
        </button>
      </mat-menu>
      <mat-menu #moveToFightMenu="matMenu">
        @for (fight of group.fights; track fight) {
          <button mat-menu-item
            (click)="moveMonsterToFight(fighter.monster, fight.id)">
            Combat: {{fight.name}}
          </button>
        }
      </mat-menu>
    }
  </div>

  <div class="field-with-label at">
    <span class="label" matTooltip="Attaque">AT</span>
    <span>{{fighter.stats.at}}</span>
  </div>
  <div class="field-with-label prd">
    <span class="label" matTooltip="Parade">PRD</span>
    <span>{{fighter.stats.prd}}</span>
  </div>
  <div class="field-with-label esq">
    <span class="label" matTooltip="Esquive">ESQ</span>
    <span>{{fighter.stats.esq}}</span>
  </div>
  <div class="field-with-label ev" [class.text-danger]="fighter.stats.ev < 4">
    <span class="label" matTooltip="Énergie vitale">EV</span>
    <value-editor [title]="'Energie vitale'"
      [value]="fighter.stats.ev"
      [maxValue]="fighter.stats.maxEv"
      (valueChanged)="changeStat('ev', $event)">
    </value-editor>
  </div>
  <div class="field-with-label ea">
    <span class="label" matTooltip="Énergie astrale">EA</span>
    @if (fighter.stats.maxEa) {
      <span>
        <value-editor [title]="'Energie astrale'"
          [value]="fighter.stats.ea"
          [maxValue]="fighter.stats.maxEa"
          (valueChanged)="changeStat('ea', $event)">
        </value-editor>
      </span>
    }
    @if (!fighter.stats.maxEa) {
      <span>-</span>
    }
  </div>
  <div class="field-with-label pr">
    <span class="label" matTooltip="Armure (Armure magique)">PR</span>
    {{fighter.stats.pr}}({{fighter.stats.pr_magic}})
  </div>
  <div class="field-with-label resm">
    <span class="label" matTooltip="Resistance magique">RESM</span>
    {{fighter.stats.resm}}
  </div>
  <div class="field-with-label cou">
    <span class="label" matTooltip="Courage">COU</span>
    @if (fighter.chercheNoise) {
      <span matTooltip="Chercher des noise">
        {{fighter.stats.cou}}+
      </span>
    }
    @if (!fighter.chercheNoise) {
      <span>
        {{fighter.stats.cou}}
      </span>
    }
  </div>

  @if ((expandedView || moreInfo)) {
    <div class="dmg" matTooltip="Dégats">
      @for (dmg of fighter.stats.dmg; track dmg) {
        <div class="equiped-weapons-damages">
          @if (dmg.incompatible) {
            <mat-icon color="warn">warning</mat-icon>
          }
          <span>
            <div [class.incompatible-item]="dmg.incompatible">
              {{dmg.damage}}
            </div>
            <div class="secondary-text damage-weapon-name"  [class.incompatible-item]="dmg.incompatible">
              {{dmg.name}}
            </div>
          </span>
        </div>
      }
    </div>
  }
  @if ((expandedView || moreInfo) && fighter.isMonster && fighter.monster.modifiers?.length) {
    <div class="effects">
      Effets:
      @for (modifier of fighter.monster.modifiers; track modifier) {
        <div class="effect">
          <span class="effect-name">
            {{modifier.name}}
          </span>
          @if (modifier.currentCombatCount) {
            <span class="effect-time">
              <span class="ra ra-sword duration-icon"></span> {{modifier.currentCombatCount}}
            </span>
          }
          @if (modifier.currentTimeDuration) {
            <span class="effect-time">
              <span class="ra ra-clockwork duration-icon"></span> {{modifier.currentTimeDuration | nhbkShortDuration}}
            </span>
          }
          @if (modifier.currentLapCount) {
            <span class="effect-time">
              <span class="game-icon game-icon-clockwise-rotation duration-icon"></span> {{modifier.currentLapCount}}
            </span>
          }
          <span class="effect-actions">
            <button mat-icon-button [matMenuTriggerFor]="menuCharacter"
              aria-label="Ouvrir le menu de l'effet">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuCharacter="matMenu">
              <button mat-menu-item
                (click)="openModifierDetails(modifier)">
                <mat-icon>info</mat-icon>
                Details
              </button>
              <button mat-menu-item
                (click)="removeModifier(modifier)">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </mat-menu>
          </span>
        </div>
      }
    </div>
  }
  @if ((expandedView || moreInfo) && fighter.isMonster && fighter.monster.data.note) {
    <div class="note">
      <span>Note:</span>
      <span [innerHTML]="fighter.monster.data.note | markdown"></span>
    </div>
  }
  @if (!expandedView) {
    <div class="expd" matRipple (click)="toggleMoreInfo()">
      @if (!moreInfo) {
        <mat-icon>keyboard_arrow_down</mat-icon>
      }
      @if (moreInfo) {
        <mat-icon>keyboard_arrow_up</mat-icon>
      }
    </div>
  }
</div>
