:host {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .next-button {
        display: flex;
        flex-direction: row-reverse;
        margin: 8px;
    }
    .fighters {
        mat-panel-title {
            display: grid;
            grid-template-columns: 32px 1fr;
            align-items: center;
            grid-gap: 8px;
            > span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

fighter {
    width: 100%;
}

.add-fight-button {
    margin-bottom: 20px;
}
