@if (group.data.inCombat && group.currentFighter) {
  <mat-card>
    <mat-toolbar>
      <h2 class="mat-h2">
        Combattant actuel
      </h2>
      <span class="toolbar-spacer"></span>
      @if (group.data.inCombat) {
        <div class="next-button">
          <button
            mat-raised-button
            color="primary"
            [disabled]="loadingNextLap || group.fighters.length < 2"
            (click)="selectNextFighter()"
            aria-label="Combattant suivant">
            Suivant
            <mat-icon>
              navigate_next
            </mat-icon>
          </button>
        </div>
      }
    </mat-toolbar>
    <fighter [selected]="false"
      [group]="group"
      [fighter]="group.currentFighter"
      [expandedView]="true"
      [fighters]="group.fighters">
    </fighter>
  </mat-card>
}

<mat-card>
  <mat-toolbar>
    Combattants
    <span class="toolbar-spacer"></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menuCharacter"
        aria-label="Ouvrir le menu des combatants">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuCharacter="matMenu">
        @if (!group?.data?.inCombat) {
          <button mat-menu-item
            (click)="startCombat()">
            <mat-icon>play_arrow</mat-icon>
            Debut combat
          </button>
        }
        @if (group.data.inCombat) {
          <button mat-menu-item
            (click)="openEndCombatDialog()">
            <mat-icon>stop</mat-icon>
            Fin combat
          </button>
        }
        <button mat-menu-item
          (click)="openAddMonsterDialog()">
          <mat-icon>add</mat-icon>
          Ajouter un monstre
        </button>
        <button mat-menu-item
          (click)="openDeadMonstersDialog()">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-tombstone"
          class="ra-mat-button-icon-24"></mat-icon>
          Monstres morts
        </button>
      </mat-menu>
    </span>

  </mat-toolbar>
  <mat-divider></mat-divider>
  @if (isMobile) {
    <mat-accordion class="fighters">
      @for (fighter of group.fighters; track fighter; let i = $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fighter-icon [fighter]="fighter" fontSize="32px"></fighter-icon>
              <span>{{fighter.name}}</span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <fighter
            [selected]="group.data.inCombat && group.data.currentFighterIndex === i"
            [group]="group"
            [fighter]="fighter"
            [fighters]="group.fighters"
            [expandedView]="true">
          </fighter>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
  @if (!isMobile) {
    @for (fighter of group.fighters; track fighter; let i = $index) {
      <div>
        <fighter
          [selected]="group.data.inCombat && group.data.currentFighterIndex === i"
          [group]="group"
          [fighter]="fighter"
          [fighters]="group.fighters"
          [expandedView]="false">
        </fighter>
        <mat-divider></mat-divider>
      </div>
    }
  }


  <ng-template #deadMonstersDialog="cdkPortal" cdkPortal>
    <mat-card class="dead-monsters-dialog">
      <mat-card-title>
        <mat-card-title>Monstres morts</mat-card-title>
      </mat-card-title>
      <mat-card-content class="dead-monsters-list">
        <table class="table table-striped table-condensed text-center">
          <thead>
            <tr>
              <th class="text-center">Nom</th>
              <th class="text-center">XP</th>
              <th class="text-center">Notes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (element of deadMonsters; track element) {
              <tr>
                <td>{{element.name}}</td>
                <td>{{element.data.xp}}</td>
                <td>{{element.data.note}}</td>
              </tr>
            }
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button
          color="primary"
          [disabled]="allDeadMonstersLoaded"
          (click)="loadMoreDeadMonsters()">CHARGER PLUS
        </button>
        <button mat-button
          color="primary"
          (click)="closeDeadMonstersDialog()">FERMER
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</mat-card>

<h2>Combats préparés</h2>

@for (fight of group.fights; track fight.id) {
  <mat-card>
    <mat-toolbar>
      <h2 class="mat-h2">
        Combat: {{fight.name}}
      </h2>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menuFight"
        [attr.aria-label]="'Menu du combat ' + fight.name">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuFight="matMenu">
        <button mat-menu-item
          (click)="openAddMonsterDialog(fight.id)">
          <mat-icon>add</mat-icon>
          Ajouter un monstre
        </button>
        <button mat-menu-item
          (click)="startFight(fight.id)">
          <mat-icon>play_arrow</mat-icon>
          Commencer ce combat
        </button>
        <button mat-menu-item [matMenuTriggerFor]="deleteFightConfirm">
          <mat-icon>delete</mat-icon>
          Supprimer
        </button>
      </mat-menu>

      <mat-menu #deleteFightConfirm="matMenu">
        <button mat-menu-item
          (click)=deleteFight(fight.id)>
          Confirmer
        </button>
      </mat-menu>
    </mat-toolbar>

    <mat-divider></mat-divider>
    @if (isMobile) {
      <mat-accordion class="fighters">
        @for (fighter of fight.fighters; track fighter; let i = $index) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <fighter-icon [fighter]="fighter" fontSize="32px"></fighter-icon>
                <span>{{fighter.name}}</span>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <fighter
              [selected]="group.data.inCombat && group.data.currentFighterIndex === i"
              [group]="group"
              [fighter]="fighter"
              [fighters]="group.fighters"
              [expandedView]="true">
            </fighter>
          </mat-expansion-panel>
        }
      </mat-accordion>
    }
    @if (!isMobile) {
      @for (fighter of fight.fighters; track fighter; let i = $index) {
        <div>
          <fighter
            [selected]="group.data.inCombat && group.data.currentFighterIndex === i"
            [group]="group"
            [fighter]="fighter"
            [fighters]="group.fighters"
            [expandedView]="false">
          </fighter>
          <mat-divider></mat-divider>
        </div>
      }
    }
  </mat-card>
  } @empty {
  Vous pouvez préparer des monsters a l'avance pour démarrer un combat en 1 clique.
}

<button class="add-fight-button" mat-button (click)="openCreateFightDialog()">
  <mat-icon>add</mat-icon>
  Préparer un combat
</button>
