<div class="groups">
  <h2>Groupes</h2>
  @if (loading) {
    <mat-card class="loading-groups">
      <mat-spinner></mat-spinner>
    </mat-card>
  }
  @if (!loading && (!groups || groups.length === 0)) {
    <mat-card>
      <mat-card-content>
        Vous ne possédez aucun group.
      </mat-card-content>
    </mat-card>
  }
  @for (group of groups; track group) {
    <mat-card matRipple (click)="selectGroup(group)" class="clickable">
      <mat-card-header>
        <mat-card-title>{{group.name}}</mat-card-title>
        <mat-card-subtitle>{{group.characterCount}} joueurs</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  }
  <button mat-raised-button (click)="createGroup()">
    <mat-icon>add</mat-icon>Créer un groupe
  </button>
</div>
