:host {
    .content {
        padding: 0 !important;

        mat-form-field {
            width: 100%;
        }

        .filter-result {
            display: grid;
            align-items: center;
            padding: 4px 16px;
        }

        .step-valid-button {
            float: right;
        }
    }

    .line {
        display: grid;
        grid-template-columns: 32px 1fr;
        grid-gap: 16px;
        align-items: center;

        .fighter-name {
            align-items: center;
            display: grid;
            line-height: 1.5em;
            height: 3em;
            overflow: hidden;
        }
    }
}
