@use "../../app/style/responsive-utils" as responsive;

:host {
    .date-selector {
        display: grid;
        column-gap: 8px;
        grid-template-columns: 80px 80px minmax(40px, 1fr) 100px;
        grid-template-areas: "hour minute . ." "day decade decade year";

        @include responsive.for-phone-only {
            grid-template-columns: minmax(64px, 1fr) minmax(64px, 1fr);
            grid-template-areas: "hour minute" "day year" "decade decade";
        }

        .hour {
            grid-area: hour;
        }
        .minute {
            grid-area: minute;
        }
        .year {
            grid-area: year;
        }
        .day {
            grid-area: day;
        }
        .decade {
            grid-area: decade;
        }
    }
}
