<mat-form-field>
  <mat-select placeholder="Type de durée" [ngModel]="durable.durationType" (selectionChange)="updateDuration($event)" (closed)="focusSelector()">
    @if (hiddenType.indexOf('combat') === -1) {
      <mat-option value="combat">Nombre de combat</mat-option>
    }
    @if (hiddenType.indexOf('lap') === -1) {
      <mat-option value="lap" >Nombre de tour</mat-option>
    }
    @if (hiddenType.indexOf('time') === -1) {
      <mat-option value="time">Temps</mat-option>
    }
    @if (hiddenType.indexOf('custom') === -1) {
      <mat-option value="custom">Autre</mat-option>
    }
    @if (hiddenType.indexOf('forever') === -1) {
      <mat-option value="forever">Permanent</mat-option>
    }
  </mat-select>
</mat-form-field>

<div class="duration-value">
  <div [hidden]="durable.durationType !== 'custom'">
    <mat-form-field>
      <input #customDurationInput matInput placeholder="Durée" [(ngModel)]="durable.duration">
    </mat-form-field>
  </div>

  <div [hidden]="durable.durationType !== 'time'">
    <div>
      <span>
        {{durable.timeDuration | nhbkDuration}}
      </span>
      <span>
        <button mat-icon-button (click)="openDurationSelector()">
          <mat-icon>update</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div [hidden]="durable.durationType !== 'combat'">
    <mat-form-field class="combat-count-input">
      <input #combatCountInput matInput [(ngModel)]="durable.combatCount" placeholder="Combat(s)" type="number" min="0" step="1">
    </mat-form-field>
  </div>
  <div [hidden]="durable.durationType !== 'lap'">
    <mat-form-field class="lap-count-input">
      <input #lapCountInput matInput [(ngModel)]="durable.lapCount" placeholder="Tour(s)" type="number" min="0" step="1">
    </mat-form-field>
  </div>
</div>

