<md-sidenav-container style="min-height: 100vh">
    <md-sidenav #start>
        <h4>Vos personnages</h4>
        <md-nav-list>
            <ng-template ngFor [ngForOf]="characters" let-character>
                <a md-list-item [routerLink]="['character/detail/', character.id]">{{character.name}}</a>
            </ng-template>
            <a md-list-item [routerLink]="['character/list']">Tous vos personnages</a>
            <a md-list-item [routerLink]="['character/create']"><md-icon>add</md-icon>Créer un personnage</a>
            <md-divider></md-divider>
        </md-nav-list>
        <common-nav></common-nav>
    </md-sidenav>

    <div>
        <md-toolbar color="primary">
            <button md-icon-button (click)="start.open()">
                <md-icon class="md-24" >menu</md-icon>
            </button>
            <div class="app-toolbar">
                <h1>
                    Naheulbook
                </h1>
                <a class="home-link" [routerLink]="['/']"><md-icon class="md-24">home</md-icon></a>
            </div>
        </md-toolbar>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>

