<button md-icon-button (click)="openSelector()">
    <md-icon>date_range</md-icon>
</button>

<ng-template #dateSelectorDialog="cdkPortal" cdk-portal>
    <md-card class="date-selector-dialog">
        <md-card-title>Définir une date</md-card-title>
        <md-card-content>
            <div>
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="date.hour"
                           type="number"
                           min="0"
                           max="23"
                           step="1"
                           placeholder="Heure">
                </md-input-container>
                :
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="date.minute"
                           type="number"
                           min="0"
                           max="59"
                           step="1"
                           placeholder="Minutes">
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput
                           [(ngModel)]="relativeDay"
                           type="number"
                           min="1"
                           step="1"
                           placeholder="Jour">
                </md-input-container>

                <!-- FIXME: wait support from material2
                <md-select placeholder="Période" [formControl]="currentCalendarDate">
                    <md-option *ngFor="let cDate of calendar" [value]="cDate"> {{ cDate.name}} </md-option>
                </md-select>
                -->
                <select [ngModel]="currentCalendarDate" (ngModelChange)="currentCalendarDate = $event" name="period">
                    <option *ngFor="let cDate of calendar" [ngValue]="cDate">{{ cDate.name}}</option>
                </select>

                <md-input-container>
                    <input mdInput
                           [(ngModel)]="date.year"
                           type="number"
                           min="0"
                           step="1"
                           placeholder="Année">
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="closeSelector()">
                FERMER
            </button>
            <button md-button
                    color="primary"
                    (click)="validDate()">
                VALIDER
            </button>
        </md-card-actions>
    </md-card>
</ng-template>
