<mat-button-toggle-group class="duration-type-large" [ngModel]="durable.durationType" (change)="updateDuration($event)">
    <mat-button-toggle *ngIf="hiddenType.indexOf('combat') === -1" value="combat">Nombre de combat</mat-button-toggle>
    <mat-button-toggle *ngIf="hiddenType.indexOf('lap') === -1" value="lap">Nombre de tour</mat-button-toggle>
    <mat-button-toggle *ngIf="hiddenType.indexOf('time') === -1" value="time">Temps</mat-button-toggle>
    <mat-button-toggle *ngIf="hiddenType.indexOf('custom') === -1" value="custom">Autre</mat-button-toggle>
    <mat-button-toggle *ngIf="hiddenType.indexOf('forever') === -1" value="forever">Permanent</mat-button-toggle>
</mat-button-toggle-group>


<mat-form-field class="duration-type-small">
    <mat-select placeholder="Type de durée" [ngModel]="durable.durationType" (selectionChange)="updateDuration($event)">
        <mat-option *ngIf="hiddenType.indexOf('combat') === -1" value="combat">Nombre de combat</mat-option>
        <mat-option *ngIf="hiddenType.indexOf('lap') === -1" value="lap">Nombre de tour</mat-option>
        <mat-option *ngIf="hiddenType.indexOf('time') === -1" value="time">Temps</mat-option>
        <mat-option *ngIf="hiddenType.indexOf('custom') === -1" value="custom">Autre</mat-option>
        <mat-option *ngIf="hiddenType.indexOf('forever') === -1" value="forever">Permanent</mat-option>
    </mat-select>
</mat-form-field>

<div class="duration-value">
    <div *ngIf="durable.durationType === 'custom'">
        <mat-form-field>
            <input matInput placeholder="Durée" [(ngModel)]="durable.duration">
        </mat-form-field>
    </div>

    <div *ngIf="durable.durationType === 'time'">
        <div>
            <span>Temps</span>
            <span>
                {{durable.timeDuration | nhbkDuration}}
            </span>
            <span>
            <date-modifier [resetOnChange]=false
                           [dateOffset]="dateOffset"
                           (onChange)="setTimeDuration($event)">
            </date-modifier>
        </span>
        </div>
    </div>

    <div *ngIf="durable.durationType === 'combat'">
        <value-editor [title]="'Nombre de combat'"
                      [value]="durable.combatCount"
                      (onChange)="durable.combatCount = $event">
        </value-editor>
        {{durable.combatCount | i18nPlural: ({'=1': 'combat', 'other': 'combats'})}}
    </div>
    <div *ngIf="durable.durationType === 'lap'">
        <value-editor [title]="'Nombre de tours'"
                      [value]="durable.lapCount"
                      (onChange)="durable.lapCount = $event">
        </value-editor>
        {{durable.lapCount | i18nPlural: ({'=1': 'tour', 'other': 'tours'})}}
    </div>
</div>

