@import '~@angular/material/theming';

@mixin usefull-data-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .data:nth-child(even) {
        background-color: mat-color($background, selected-button);
    }

    .table-striped>tbody>tr:nth-child(even) {
        background-color: mat-color($background, selected-button);
    }

    .tab-icon {
        border-color: mat-color($foreground, divider);
        background-color: mat-color($background, background);
    }
    .tab-icon:last-child {
        border-bottom-color: mat-color($foreground, divider);
    }

    @if (map_get($theme, is-dark)) {
        .tab-icon-critic {
            color: #3c763d;
        }
        .tab-icon-epicfail {
            color: #d43f3a;
        }
        .tab-icon-effects {
            color: #2b669a;
        }
        .tab-icon-entropic {
            color: #6f3799;
        }
        .tab-icon-skills {
            color: darkgray;
        }
        .tab-icon-sleep {
            color: #2f558b;
        }
        .tab-icon-items {
            color: indianred;
        }
        .tab-icon-jobs {
            color: yellowgreen;
        }
        .tab-icon-origins {
            color: orange;
        }

        .tab-icon-critic-selected {
            color: mat-color($background, background);
            background-color: #3c763d;
        }
        .tab-icon-epicfail-selected {
            color: mat-color($background, background);
            background-color: #d43f3a;
        }
        .tab-icon-effects-selected {
            color: mat-color($background, background);
            background-color: #2b669a;
        }
        .tab-icon-entropic-selected {
            color: mat-color($background, background);
            background-color: #6f3799;
        }
        .tab-icon-skills-selected {
            color: mat-color($background, background);
            background-color: darkgray;
        }
        .tab-icon-sleep-selected {
            color: mat-color($background, background);
            background-color: #2f558b;
        }
        .tab-icon-items-selected {
            color: mat-color($background, background);
            background-color: indianred;
        }
        .tab-icon-jobs-selected {
            color: mat-color($background, background);
            background-color: yellowgreen;
        }
        .tab-icon-origins-selected {
            color: mat-color($background, background);
            background-color: orange;
        }

    }
    @else {
        .tab-icon-critic {
            color: #3c763d;
        }
        .tab-icon-epicfail {
            color: #d43f3a;
        }
        .tab-icon-effects {
            color: #2b669a;
        }
        .tab-icon-entropic {
            color: darkmagenta;
        }
        .tab-icon-skills {
            color: darkgray;
        }
        .tab-icon-sleep {
            color: darkblue;
        }
        .tab-icon-items {
            color: indianred;
        }
        .tab-icon-jobs {
            color: yellowgreen;
        }
        .tab-icon-origins {
            color: orange;
        }

        .tab-icon-critic-selected {
            color: white;
            background-color: #3c763d;
        }
        .tab-icon-epicfail-selected {
            color: white;
            background-color: #d43f3a;
        }
        .tab-icon-effects-selected {
            color: white;
            background-color: #2b669a;
        }
        .tab-icon-entropic-selected {
            color: white;
            background-color: darkmagenta;
        }
        .tab-icon-skills-selected {
            color: white;
            background-color: darkgray;
        }
        .tab-icon-sleep-selected {
            color: white;
            background-color: darkblue;
        }
        .tab-icon-items-selected {
            color: white;
            background-color: indianred;
        }
        .tab-icon-jobs-selected {
            color: white;
            background-color: yellowgreen;
        }
        .tab-icon-origins-selected {
            color: white;
            background-color: orange;
        }
    }
}
