.placeholder {
    width: 40px;
    height: 370px;
}

.tab-icon:first-child {
    border-top-right-radius: 6px;
}
.tab-icon:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.tab-icon {
    position: relative;
    font-size: 40px;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0;
    z-index: 50;
}

.tab-label-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    >mat-icon {
        flex: 0 auto;
        font-size: 24px;
        padding-right: 2px !important;
    }
    >span {
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 0 auto;
    }
}

.panel-content {
    min-width: calc(100vw - 120px);
    max-width: calc(100vw - 120px);
    max-height: calc(100vh - 120px);;
    overflow: auto;
}

.no-padding {
    padding: 0!important;
}
