@import "~app/style/responsive-utils";

:host {
    .content {
        display: block;
    }

    .note {
        overflow: hidden;

        .label {
            @include for-phone-only {
                display: block;
            }
        }

        .details {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include for-phone-only {
                padding-left: 16px;
            }
        }

        .label::after {
            content: ':';
        }
    }

}
