<div [ngSwitch]="action.type">
    <template [ngSwitchCase]="'addEv'">
        Redonne {{action.data.ev}} E.V.
    </template>
    <template [ngSwitchCase]="'addEa'">
        Redonne {{action.data.ea}} E.A.
    </template>
    <template [ngSwitchCase]="'removeItem'">
        Supprime l'objet
    </template>
    <template [ngSwitchCase]="'addItem'">
        Ajoute l'objet {{action.data.itemName}} <span *ngIf="action.data.quantity > 1">en {{action.data.quantity}} exemplaire</span>
    </template>
    <template [ngSwitchCase]="'addCustomModifier'">
        Applique le modificateur <em>{{action.data.modifier.name}}</em> pour <em>{{effectDuration}}</em>
        <span *ngIf="action.data.modifier?.values?.length">
            avec les effets suivants:
            <span *ngFor="let modifier of action.data.modifier.values">
                {{modifier | modifier}}
            </span>
        </span>
    </template>
    <template [ngSwitchCase]="'addEffect'">
        <span *ngIf="effectInfo">Applique l'effet {{effectInfo.name}} pour {{effectDuration}}</span>
        <span *ngIf="effectInfo?.modifiers?.length">
            avec les effets suivants:
            <span *ngFor="let modifier of effectInfo?.modifiers">
                {{modifier | modifier}}
            </span>
        </span>
    </template>
    <template [ngSwitchCase]="'custom'">
        {{action.data.text}}
    </template>
    <template ngSwitchDefault>
        No data for {{action.type}}
    </template>
</div>
