<div>
  @switch (action.type) {
    @case ('addEv') {
      Redonne {{asNhbkAddEvAction(action).data.ev}} E.V.
    }
    @case ('addEa') {
      Redonne {{asNhbkAddEaAction(action).data.ea}} E.A.
    }
    @case ('removeItem') {
      Supprime l'objet
    }
    @case ('addItem') {
      Ajoute l'objet {{asNhbkAddItemAction(action).data.itemName}} @if (asNhbkAddItemAction(action).data.quantity > 1) {
      <span>en {{asNhbkAddItemAction(action).data.quantity}} exemplaire</span>
    }
  }
  @case ('addCustomModifier') {
    Applique le modificateur <em>{{asNhbkAddCustomModifierAction(action).data.modifier.name}}</em> pour <em>{{effectDuration}}</em>
    @if (asNhbkAddCustomModifierAction(action).data.modifier?.values?.length) {
      <span>
        avec les effets suivants:
        @for (modifier of asNhbkAddCustomModifierAction(action).data.modifier.values; track modifier) {
          <span>
            {{modifier | modifier}}
          </span>
        }
      </span>
    }
  }
  @case ('addEffect') {
    @if (effectInfo) {
      <span>Applique l'effet {{effectInfo.name}} pour {{effectDuration}}</span>
    }
    @if (effectInfo?.modifiers?.length) {
      <span>
        avec les effets suivants:
        @for (modifier of effectInfo?.modifiers; track modifier) {
          <span>
            {{modifier | modifier}}
          </span>
        }
      </span>
    }
  }
  @case ('custom') {
    [RP] {{asNhbkCustomAction(action).data.text}}
  }
  @default {
    No data for {{action.type}}
  }
}
</div>
