<h2 mat-dialog-title>Ajouter une action</h2>
<mat-dialog-content>
  <mat-form-field style="min-width: 300px">
    <mat-select [ngModel]="action.type" (selectionChange)="selectActionType($event.value)">
      @for (actionType of actionTypeDefinitions; track actionType) {
        <mat-option [value]="actionType.type">
          {{actionType.displayName}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="action.hidden">Cacher</mat-checkbox>
  <div>
    @switch (action.type) {
      @case ('addItem') {
        <autocomplete-input [clearOnSelect]="false"
          [placeholder]="'Objet'"
          (selected)="selectItemTemplate($event)"
          [callback]="autocompleteItemCallback">
        </autocomplete-input>
        @if (selectedItemTemplate?.data?.quantifiable) {
          <div>
            <mat-form-field align="end">
              <input matInput
                type="number"
                placeholder="Quantité"
                [(ngModel)]="asNhbkAddItemAction(action).data.quantity"/>
            </mat-form-field>
          </div>
        }
      }
      @case ('removeItem') {
      }
      @case ('addEv') {
        <mat-form-field align="end">
          <input matInput
            type="number"
            placeholder="Energie vitale"
            [(ngModel)]="asNhbkAddEvAction(action).data.ev"/>
          <span matPrefix>Redonner&nbsp;</span>
          <span matSuffix>E.V.</span>
        </mat-form-field>
      }
      @case ('addEa') {
        <mat-form-field align="end">
          <input matInput
            type="number"
            placeholder="Energie astrale"
            [(ngModel)]="asNhbkAddEaAction(action).data.ea"/>
          <span matPrefix>Redonner&nbsp;</span>
          <span matSuffix>E.A.</span>
        </mat-form-field>
      }
      @case ('custom') {
        <mat-form-field align="end" style="width: 100%">
          <input matInput
            placeholder="Action"
            [(ngModel)]="asNhbkCustomAction(action).data.text"/>
        </mat-form-field>
      }
      @case ('addCustomModifier') {
        <stats-modifier-editor [modifier]="activeModifier" [reusableToggle]="false" [options]="{noType: true}">
        </stats-modifier-editor>
      }
      @case ('addEffect') {
        <active-effect-editor [reusableToggle]="false" (changed)="updateEffect($event)">
        </active-effect-editor>
      }
      @default {
        No data for {{action.type}}
      }
    }
  </div>
</mat-dialog-content>
<mat-card-actions align="end">
  <button mat-button
    mat-dialog-close
    color="primary">
    FERMER
  </button>
  <button mat-button
    (click)="validate()"
    color="primary">
    AJOUTER
  </button>
</mat-card-actions>
