@import "~app/style/responsive-utils";

:host {
    display: block;
    width: 100vw;
    height: 100vh;

    .menu-button {
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: row;
        top: 8px;
        left: 8px;
    }

    .menu-grid-placement {
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: row;
        bottom: 8px;
        left: 8px;
    }

    > mat-sidenav-container {
        width: 100%;
        height: 100%;
    }

    .side-panel-block {
        padding-left: 16px;
        padding-right: 16px;
    }

    .map {
        width: 100%;
        height: 100%;
    }

    .side-panel {
        padding-top: 16px;
        width: 240px;
        @include for-tablet-portrait-up {
            width: 320px;
        }

        .marker-detail {
            .header {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr auto;
            }
        }

        .marker-editor {
            mat-form-field {
                width: 100%;
            }

            .actions {
                padding-top: 16px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }
    }

    .menu-panel {
        width: 240px;

        .panel {
            display: flex;
            flex-direction: column;
            height: 100%;

            .map-config {
                padding-bottom: 8px;
            }

            .grid-config {
                .toggle-size {
                    align-items: center;
                    display: grid;
                    grid-column-gap: 8px;
                    grid-template-columns: 100px 100px;
                }

                .offset {
                    align-items: center;
                    display: grid;
                    grid-column-gap: 8px;
                    grid-template-columns: 100px 100px;
                }
            }

            .markers {
                > h2 {
                    display: grid;
                    align-items: center;
                    grid-column-gap: 8px;
                    grid-template-columns: 1fr auto;
                }

                .layer {
                    display: grid;
                    grid-template-columns: 1fr;

                    > button {
                        justify-self: right;
                    }

                    .title {
                        display: grid;
                        grid-template-columns: auto 1fr auto;
                        align-items: center;
                        overflow: hidden;
                        .layer-name {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            > mat-icon {
                                margin-right: 8px;
                            }
                        }
                    }
                    .marker-link {
                        padding: 4px 0 4px 40px;
                    }
                }
            }

            .login-area {
                margin-top: auto;
                margin-bottom: 8px;
                >a {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 8px;
                    align-items: center;
                }
            }
        }
    }
}
