<div class="mat-typography">
    <h2>Résumé</h2>
    <p class="job-summary" [innerHTML]="job.playerSummary | textFormatter"></p>
    <h2>Description</h2>
    <p class="job-description" [innerHTML]="job.playerDescription | textFormatter"></p>
    <div class="skills" *ngIf="job.skills.length">
        <h2>Compétences</h2>
        <p>
            Je suis né avec les compétences suivantes:
        </p>
        <div class="skills-list">
            <div *ngFor="let skill of job.skills">
                <span class="skill-name">{{skill.name}}</span>
                <span *ngIf="skill.playerDescription"> {{skill.playerDescription}}</span>
            </div>
        </div>
    </div>
</div>
