@if (items?.length) {
  <div class="multi-select-header separator">
    <mat-checkbox #selectAllCheckbox (change)="toggleSelectAll($event.checked)"></mat-checkbox>
    @if (selectAllCheckbox.checked) {
      @if (actionEnabled('changeIcon')) {
        <button mat-icon-button matTooltip="Changer l'icône" (click)="openSelectIconDialog()">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-card-exchange" class="ra-mat-button-icon-24">
          </mat-icon>
        </button>
      }
      @if (actionEnabled('rename')) {
        <button mat-icon-button matTooltip="Renommer" (click)="openRenameItemsDialog()">
          <mat-icon>edit</mat-icon>
        </button>
      }
      @if (actionEnabled('hide')) {
        <button mat-icon-button (click)="hideSelectedItems()">
          <mat-icon>done</mat-icon>
        </button>
      }
      <button mat-icon-button [matMenuTriggerFor]="headerMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #headerMenu>
        @if (actionEnabled('identify')) {
          <button mat-menu-item (click)="identifyItems()">
            <mat-icon>visibility_on</mat-icon>
            Identifié
          </button>
        }
        @if (actionEnabled('identify')) {
          <button mat-menu-item (click)="markItemsAsNotIdentified()">
            <mat-icon>visibility_off</mat-icon>
            Non identifié
          </button>
        }
        @if (actionEnabled('delete')) {
          <button mat-menu-item [matMenuTriggerFor]="confirmDelete">
            <mat-icon>delete</mat-icon>
            Supprimer
          </button>
        }
      </mat-menu>
      <mat-menu #confirmDelete>
        <button mat-menu-item (click)="deleteSelectedItems()">
          <mat-icon>check</mat-icon>
          Confirmer
        </button>
      </mat-menu>
    }
  </div>
}
@for (item of items; track item) {
  <div class="item separator with-selector">
    <mat-checkbox [checked]="selectedItems.indexOf(item) !== -1" (change)="toggleSelectItem(item, $event.checked)"></mat-checkbox>
    <div class="info" (click)="selectItem.emit(item)" mat-ripple>
      <icon [notIdentified]="item.data.notIdentified" [enchanted]="!!item.template.data.enchantment" [icon]="item.data.icon"></icon>
      <span class="name">
        @if (item.template.data.quantifiable) {
          <span>{{item.data.quantity}}&nbsp;</span>
        }
        {{item.data.name}}
        @if (item.data.notIdentified && item.data.name !== item.template.name) {
          <span>({{item.template.name}})</span>
        }
      </span>
      <span>
        @if (item.price) {
          <span>&nbsp;{{item.price}}&nbsp;P.O.</span>
        }
      </span>
    </div>
    <button class="action"
      mat-icon-button
      [matMenuTriggerFor]="actionMenu"
      [matMenuTriggerData]="{item: item}"
      aria-label="Actions lié à l'objet">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actionMenu>
      <ng-template matMenuContent let-item="item">
        @if (actionEnabled('changeIcon')) {
          <button mat-menu-item (click)="openSelectIconDialog([item])">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-card-exchange" class="ra-mat-button-icon-24">
            </mat-icon>
            Changer l'icône
          </button>
        }
        @if (actionEnabled('rename')) {
          <button mat-menu-item (click)="openRenameItemsDialog([item])">
            <mat-icon>edit</mat-icon>
            Renommer
          </button>
        }
        @if (actionEnabled('identify') && item.data.notIdentified) {
          <button mat-menu-item (click)="identifyItems([item])">
            <mat-icon>visibility_on</mat-icon>
            Identifié
          </button>
        }
        @if (actionEnabled('identify') && !item.data.notIdentified) {
          <button mat-menu-item (click)="markItemsAsNotIdentified([item])">
            <mat-icon>visibility_off</mat-icon>
            Non identifié
          </button>
        }
        @if (actionEnabled('delete')) {
          <button mat-menu-item (click)="deleteSelectedItems([item])">
            <mat-icon>delete</mat-icon>
            Supprimer
          </button>
        }
        @if (actionEnabled('hide')) {
          <button mat-menu-item (click)="hideSelectedItems([item])">
            <mat-icon>done</mat-icon>
            Retirer de la liste
          </button>
        }
      </ng-template>
    </mat-menu>
  </div>
}
