<mat-dialog-content>
  <mat-card-header>
    <icon matRipple matCardAvatar [icon]="item.data.icon" [size]="'40px'" (click)="openSelectIconDialog()"></icon>
    <mat-card-title>
      @if (item.template.data.quantifiable || item.data.quantity) {
        <span>
          {{item.data.quantity}}
        </span>
      }
      <span style="vertical-align: top;">
        {{item.data.name}}
      </span>
    </mat-card-title>
    <mat-card-subtitle>
      @if (itemCategoriesById) {
        <div>
          <span class="label label-default">{{itemCategoriesById[item.template.subCategoryId].section.name}}</span>
          -
          <span>{{itemCategoriesById[item.template.subCategoryId].name}}</span>
        </div>
      }

      @if (item.data.notIdentified) {
        <span>
          Non identifié
        </span>
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="item-detail-content">
    <div>
      <div>
        @if (item.template.name !== item.data.name) {
          <span>Nom reel: {{item.template.name}}</span>
        }
      </div>

      @if (data.item.data.description || data.item.template.data.description) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-quill" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            Description: {{data.item.data.description || data.item.template.data.description}}
          </div>
        </div>
      }

      @if (data.item.template.data.requireLevel) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-level-two" class="ra-mat-button-icon-24"></mat-icon>
          <span>
            Niveau requis: {{data.item.template.data.requireLevel}}
          </span>
        </div>
      }

      <div>
        @if (item.template.data.relic) {
          <span class="label label-primary">Relique</span>
        }
        @if (item.template.data.sex === 'h') {
          <span>Homme uniq.</span>
        }
        @if (item.template.data.sex === 'f') {
          <span>Femme uniq.</span>
        }
        @if (item.template.data.throwable) {
          <span class="label label-info">Prévue pour le jet</span>
        }
      </div>

      @if (data.item.template.slots?.length > 0) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-battle-gear" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            <mat-chip-set>
              @for (slot of data.item.template.slots; track slot) {
                <mat-chip>{{slot.name}}</mat-chip>
              }
            </mat-chip-set>
          </div>
        </div>
      }

      @if (data.item.template.data.note) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-scroll-unfurled" class="ra-mat-button-icon-24"></mat-icon>
          Note: {{data.item.template.data.note}}
        </div>
      }

      <!-- Dieu -->
      @if (data.item.template.data.god && godsByTechName) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-prayer" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            <span>Dieu:</span>
            {{godsByTechName[data.item.template.data.god].displayName}}
          </div>
        </div>
      }

      @if (data.item.template.data.quantifiable) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-stack" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            Quantité:
            <value-editor [value]="data.item.data.quantity"
              [title]="'Quantité'"
              (valueChanged)="updateItemQuantity($event)">
            </value-editor>
          </div>
        </div>
      }

      @if (item.template.data.bonusDamage || item.template.data.damageDice) {
        <div class="icon-label">
          <mat-icon fontSet="ra" fontIcon="ra-broadsword" class="ra-mat-button-icon-24"></mat-icon>
          <div class="damage">
            @if (data.item.template.data.damageDice) {
              <span>{{data.item.template.data.damageDice}}
                <span class="ra ra-perspective-dice-random ra-mat-button-icon-24"></span>
              </span>
            }
            @if (item.template.data.damageDice && item.template.data.bonusDamage>0) {
              <span>+</span>
            }
            @if (item.template.data.bonusDamage) {
              <span>{{item.template.data.bonusDamage}}</span>
            }
            @if (item.template.data.damageType) {
              <span>({{item.template.data.damageType}})</span>
            }
          </div>
        </div>
      }

      @if (item.template.data.protection
        || item.template.data.magicProtection
        || item.template.data.protectionAgainstMagic) {
        <div class="icon-label">
          <mat-icon fontSet="ra" fontIcon="ra-shield" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            @if (item.template.data.protection) {
              <span>{{item.template.data.protection}}</span>
            }
            @if (item.template.data.protection && item.template.data.magicProtection) {
              <span>+</span>
            }
            @if (item.template.data.magicProtection) {
              <span>{{item.template.data.magicProtection}}(magique)</span>
            }
            @if ((item.template.data.protection || item.template.data.magicProtection) && item.template.data.protectionAgainstMagic) {
              <span>/</span>
            }
            @if (item.template.data.protectionAgainstMagic) {
              <span>{{item.template.data.protectionAgainstMagic}}
                @if (item.template.data.protectionAgainstType) {
                  <span>(contre {{item.template.data.protectionAgainstType}})</span>
                }
                @if (!item.template.data.protectionAgainstType) {
                  <span>(contre mag./myst.)</span>
                }
              </span>
            }
          </div>
        </div>
      }

      @if (item.template.data.charge) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-magic-swirl" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            <div>
              <span>Nombre d'utilisations:</span>
              {{item.data.charge}} / {{item.template.data.charge}}
            </div>
            @if (item.template.data?.actions?.length) {
              <div>
                Lors de l'utilisation:
                @for (action of item.template.data.actions; track action) {
                  <div style="3margin-left: 20px">
                    @if (!action.hidden) {
                      <nhbk-action [action]="action"></nhbk-action>
                    }
                  </div>
                }
              </div>
            }
          </div>
        </div>
      }

      @if (item.template.data.weight && !item.template.data.useUG) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-weight" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            Poids:
            @if (item.template.data.weight < 1) {
              <span>{{(item.template.data.weight * 1000) | number:'1.0-3'}} g</span>
            }
            @if (item.template.data.weight >= 1) {
              <span>{{(item.template.data.weight)  | number:'1.0-3'}} Kg</span>
            }
            @if (item.data.quantity) {
              <span>Total: {{item.data.quantity * item.template.data.weight | number:'1.0-3'}} Kg</span>
            }
          </div>
        </div>
      }
      @if (item.template.data.useUG) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-scales" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            <div>U.G: {{item.data.ug}}</div>
            <div>Poids: {{item.data.ug * item.template.data.weight * 1000  | number:'1.0-3' }} g</div>
          </div>
        </div>
      }

      @if (item.template.data.space) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-swap-bag" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            Encombrement: {{item.template.data.space}}
          </div>
        </div>
      }

      @if (item.template.data.rupture) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-cracked-shield" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            @if (item.template.data.rupture) {
              <div>
                Rupture:
                1 à {{item.template.data.rupture}}
              </div>
            }
            @if (item.template.data.rupture === 0) {
              <div>
                Rupture: Incassable
              </div>
            }
          </div>
        </div>
      }

      @if (item.price) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-two-coins" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            <span>Prix:</span>
            {{item.price}} P.O.
          </div>
        </div>
      }

      @if (item.template.modifiers && item.template.modifiers.length) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-skills" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            @for (modifier of item.template.modifiers; track modifier) {
              <div>
                <div>
                  @if (jobsName && modifier.jobId) {
                    <span>{{jobsName[modifier.jobId]}}:</span>
                  }
                  @if (originsName && modifier.originId) {
                    <span>{{originsName[modifier.originId]}}:</span>
                  }
                  {{modifier | modifier}}
                </div>
              </div>
            }
          </div>
        </div>
      }

      @if (data.item.template.skills?.length || data.item.template.unSkills?.length || data.item.template.skillModifiers?.length) {
        <div class="icon-label">
          <mat-icon fontSet="game-icon" fontIcon="game-icon-gears" class="ra-mat-button-icon-24"></mat-icon>
          <div>
            @for (skill of data.item.template.skills; track skill) {
              <div>Donne la compétence "{{skill.name}}"</div>
            }
            @for (skill of data.item.template.unSkills; track skill) {
              <div>Annule "{{skill.name}}"</div>
            }
            @for (modifier of data.item.template.skillModifiers; track modifier) {
              <div>{{modifier.skill.name}}
                @if (modifier.value > 0) {
                  <span>+</span>
                  }{{modifier.value}}
                </div>
              }
            </div>
          </div>
        }

        @if (data.item.template.requirements?.length) {
          <div class="icon-label">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-thumb-up" class="ra-mat-button-icon-24"></mat-icon>
            <div>
              @for (requirement of data.item.template.requirements; track requirement) {
                <div>
                  @if (requirement.min) {
                    <span>
                      Min {{requirement.stat}}: {{requirement.min}}
                    </span>
                  }
                  @if (requirement.max) {
                    <span>
                      Max {{requirement.stat}}: {{requirement.max}}
                    </span>
                  }
                </div>
              }
            </div>
          </div>
        }

        <!-- Origine -->
        @if (item.template.data.origin) {
          <div>
            Origine: {{item.template.data.origin}}
          </div>
        }

        <!-- Gun -->
        @if (item.template.data.gun) {
          <div class="icon-label">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-revolver" class="ra-mat-button-icon-24"></mat-icon>
            <div>
              Arme à poudre:
              <dl>
                <dt>Portée utile:</dt>
                <dd>{{item.template.data.gun.range}}</dd>
                <dt>Dégâts:</dt>
                <dd>{{item.template.data.gun.damages}}</dd>
                <dt>+Spécial:</dt>
                <dd>{{item.template.data.gun.special}}</dd>
                <dt>Cadence de tir:</dt>
                <dd>{{item.template.data.gun.rateOfFire}}</dd>
                <dt>Délai de rechargement:</dt>
                <dd>{{item.template.data.gun.reloadDelay}}</dd>
                <dt>Épreuve de tir:</dt>
                <dd>{{item.template.data.gun.shootTest}}</dd>
              </dl>
              <mat-divider></mat-divider>
              Munitions
              <dl>
                <dt>Combustion par coup:</dt>
                <dd>{{item.template.data.gun.fuelPerShot}}</dd>
                <dt>Munitions par coup:</dt>
                <dd>{{item.template.data.gun.ammunitionPerShot}}</dd>
              </dl>
              <mat-divider></mat-divider>
              <dl>
                <dt>Chances de fonctionnement:</dt>
                <dd>{{item.template.data.gun.workLuck}}</dd>
              </dl>
            </div>
          </div>
        }

        <!-- Instrument -->
        @if (item.template.data.instrument) {
          <div class="icon-label">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-musical-notes" class="ra-mat-button-icon-24"></mat-icon>
            <div>
              @if (item.template.data.instrument.specialMove) {
                <div>
                  Coup spécial: {{item.template.data.instrument.specialMove | plusminus}}
                </div>
              }
              @if (item.template.data.instrument.speechTheater) {
                <div>
                  Discours - Théâtre: {{item.template.data.instrument.speechTheater | plusminus}}
                </div>
              }
              @if (item.template.data.instrument.jugglingDance) {
                <div>
                  Jonglage - Danse: {{item.template.data.instrument.jugglingDance | plusminus}}
                </div>
              }
              @if (item.template.data.instrument.musicSinging) {
                <div>
                  Musique - Chant: {{item.template.data.instrument.musicSinging | plusminus}}
                </div>
              }
            </div>
          </div>
        }

        <!-- Indice de rareté -->
        @if (item.template.data.rarityIndicator) {
          <div>
            Indice de rareté: {{item.template.data.rarityIndicator}}
          </div>
        }

      </div>

      @if (item.data.lifetime?.durationType === 'time') {
        <div>
          <span class="game-icon game-icon-stopwatch"></span>Temps de conservation:
          @if (item.data.lifetime.timeDuration > 0) {
            <span
            >{{item.data.lifetime.timeDuration | nhbkDuration}}</span>
          }
          @if (item.data.lifetime.timeDuration === 0) {
            <span class="invalid-level">expiré</span>
          }
        </div>
      }

    </mat-card-content>
  </mat-dialog-content>
