@import '~@angular/material/theming';

@mixin group-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    @if (map_get($theme, is-dark)) {
        .current-fighter {
            background: #35502c;
        }
        .text-attack {
            color: #bf3737;
        }
        .text-prd {
            color: #9e643e;
        }
        .text-esq {
            color: #2d732f;
        }
    } @else {
        .current-fighter {
            background: #d7f5d0;
        }
        .text-attack {
            color: #c72b2b;
        }
        .text-prd {
            color: #633110;
        }
        .text-esq {
            color: #33a736;
        }
    }
    .combat-row-selected {
        background: linear-gradient(rgba(0,0,0,.12),rgba(0,0,0,.12));
    }
    .selected {
        background: linear-gradient(rgba(0,0,0,.12),rgba(0,0,0,.12));
    }
    .fighter-container {
        border-bottom-color: mat-color($foreground, hint-text);;
    }
}
