:host {
    .content {
        display: grid;
        align-items: center;
        grid-template-columns: auto;

        .search-input {
            width: 100%;
        }


        .customize-button {
            float: right;
        }

        .inventory {
            .mat-h2 {
                display: flex;
                justify-content: space-between;
                justify-items: center;
            }
        }
    }
}
