<ng-template #addItemDialog="cdkPortal" cdk-portal>
    <md-card>
        <md-card-title *ngIf="character">Ajouter un objet a {{character.name}}</md-card-title>
        <md-card-title *ngIf="loot">Ajouter un objet au loot {{loot.name}}</md-card-title>
        <md-card-title *ngIf="loot === null && monster">Ajouter un objet au monstre {{monster.name}}</md-card-title>
        <md-card-content style="display: flex; justify-content: space-around; flex-direction: column">
            <div class="new-item-template">
                <md-tab-group (selectedIndexChange)="onSelectTab($event)">
                    <md-tab label="Classique">
                        <md-card>
                            <md-card-subtitle>Modèle</md-card-subtitle>
                            <autocomplete-search-item-template (onSelect)="selectItemTemplate($event, newItemName)">
                            </autocomplete-search-item-template>
                        </md-card>
                    </md-tab>
                    <md-tab label="Pierre précieuse">
                        <md-card>
                            <md-card-subtitle>Modèle</md-card-subtitle>
                            <md-card-content>
                                <div>
                                    <md-button-toggle-group [ngModel]="gemOption['type']">
                                        <md-button-toggle [value]="'raw'" (click)="setGemOption('type', 'raw')">
                                            Brut
                                        </md-button-toggle>
                                        <md-button-toggle [value]="'cut'" (click)="setGemOption('type', 'cut')">
                                            Taillé
                                        </md-button-toggle>
                                    </md-button-toggle-group>

                                    <md-input-container>
                                        <input mdInput
                                               type="number"
                                               [(ngModel)]="gemOption['number']"
                                               class="form-control"
                                               placeholder="D20"/>
                                    </md-input-container>

                                </div>

                                <div>
                                    <md-input-container>
                                        <input mdInput
                                               type="number"
                                               [(ngModel)]="gemOption['ug']"
                                               class="form-control"
                                               placeholder="U.G."/>
                                    </md-input-container>
                                    <button md-mini-fab [color]="gemOption['maxUg'] == 2 ? 'accent' : 'primary'" (click)="setGemRandomUg(2)">D2</button>
                                    <button md-mini-fab [color]="gemOption['maxUg'] == 4 ? 'accent' : 'primary'" (click)="setGemRandomUg(4)">D4</button>
                                    <button md-mini-fab [color]="gemOption['maxUg'] == 6 ? 'accent' : 'primary'" (click)="setGemRandomUg(6)">D6</button>
                                    <button md-mini-fab [color]="gemOption['maxUg'] == 10 ? 'accent' : 'primary'" (click)="setGemRandomUg(10)">D10</button>
                                </div>
                            </md-card-content>
                            <md-card-actions align="end">
                                <button md-button
                                        color="primary"
                                        (click)="randomGem()">
                                    RANDOMISER
                                </button>
                            </md-card-actions>
                        </md-card>
                    </md-tab>
                </md-tab-group>
            </div>
            <md-card class="new-item-data">
                <md-card-subtitle>Résumé</md-card-subtitle>
                <md-card-content>
                    <md-input-container>
                        <input mdInput
                               #newItemName
                               placeholder="Nom"
                               [(ngModel)]="newItem.data.name"/>
                        <md-hint *ngIf="newItem.data.notIdentified" align="end">
                            {{newItem.template?.name}}
                        </md-hint>
                    </md-input-container>
                    <md-input-container>
                        <input mdInput
                               placeholder="Description"
                               [(ngModel)]="newItem.data.description"/>
                    </md-input-container>
                    <md-input-container *ngIf="newItem.template?.data?.quantifiable">
                        <input mdInput
                               type="number"
                               placeholder="Quantité"
                               [(ngModel)]="newItem.data.quantity"/>
                    </md-input-container>
                    <div>
                        <md-slide-toggle color="primary"
                                         [(ngModel)]="newItem.data.notIdentified"
                                         (change)="updateItemIdentified()">
                            Non-identifié
                        </md-slide-toggle>
                    </div>
                </md-card-content>
            </md-card>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    [disabled]="!newItem.template"
                    (click)=addItem(false)>
                AJOUTER
            </button>
            <button md-button
                    color="primary"
                    [disabled]="!newItem.template"
                    (click)=addItem(true)>
                AJOUTER ET CONTINUER
            </button>
            <button md-button
                    color="primary"
                    (click)=closeDialog()>ANNULER
            </button>
        </md-card-actions>
    </md-card>
</ng-template>

