:host {
    .ug {
        display: grid;
        grid-template-columns: 60px 140px;
        grid-gap: 8px;
        align-items: center;
        justify-content: space-between;

        .max-ug-selector {
            align-self: end;
            > mat-form-field {
                width: 140px;
            }
        }
    }

    .type-dice {
        display: grid;
        grid-template-columns: auto 30px auto;
        align-items: center;
        grid-gap: 8px;
        justify-content: space-between;

    }

    .new-item-data {
        .name-icon {
            display: grid;
            grid-gap: 8px;
            grid-template-columns: 32px 1fr;
            align-items: center;

            icon {
                cursor: pointer;
            }
        }

        .description {
            mat-form-field {
                width: 100%;
            }
        }
        .identifiable-quantifiable {
            display: grid;
            grid-gap: 8px;
            align-items: center;
            justify-content: space-between;
            grid-template-columns: auto auto;
        }
    }
}
