<ng-template #addItemDialog="cdkPortal" cdk-portal>
    <mat-card>
        <mat-card-title *ngIf="character">Ajouter un objet a {{character.name}}</mat-card-title>
        <mat-card-title *ngIf="loot">Ajouter un objet au loot {{loot.name}}</mat-card-title>
        <mat-card-title *ngIf="loot === null && monster">Ajouter un objet au monstre {{monster.name}}</mat-card-title>
        <mat-card-content style="display: flex; justify-content: space-around; flex-direction: column">
            <div class="new-item-template">
                <mat-tab-group (selectedIndexChange)="onSelectTab($event)">
                    <mat-tab label="Classique">
                        <mat-card>
                            <mat-card-subtitle>Modèle</mat-card-subtitle>
                            <autocomplete-search-item-template (onSelect)="selectItemTemplate($event, newItemName)">
                            </autocomplete-search-item-template>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Pierre précieuse">
                        <mat-card>
                            <mat-card-subtitle>Modèle</mat-card-subtitle>
                            <mat-card-content>
                                <div>
                                    <mat-button-toggle-group [ngModel]="gemOption['type']">
                                        <mat-button-toggle [value]="'raw'" (click)="setGemOption('type', 'raw')">
                                            Brut
                                        </mat-button-toggle>
                                        <mat-button-toggle [value]="'cut'" (click)="setGemOption('type', 'cut')">
                                            Taillé
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>

                                    <mat-form-field>
                                        <input matInput
                                               type="number"
                                               [(ngModel)]="gemOption['number']"
                                               class="form-control"
                                               placeholder="D20"/>
                                    </mat-form-field>

                                </div>

                                <div>
                                    <mat-form-field>
                                        <input matInput
                                               type="number"
                                               [(ngModel)]="gemOption['ug']"
                                               class="form-control"
                                               placeholder="U.G."/>
                                    </mat-form-field>
                                    <button mat-mini-fab [color]="gemOption['maxUg'] == 2 ? 'accent' : 'primary'" (click)="setGemRandomUg(2)">D2</button>
                                    <button mat-mini-fab [color]="gemOption['maxUg'] == 4 ? 'accent' : 'primary'" (click)="setGemRandomUg(4)">D4</button>
                                    <button mat-mini-fab [color]="gemOption['maxUg'] == 6 ? 'accent' : 'primary'" (click)="setGemRandomUg(6)">D6</button>
                                    <button mat-mini-fab [color]="gemOption['maxUg'] == 10 ? 'accent' : 'primary'" (click)="setGemRandomUg(10)">D10</button>
                                </div>
                            </mat-card-content>
                            <mat-card-actions align="end">
                                <button mat-button
                                        color="primary"
                                        (click)="randomGem()">
                                    RANDOMISER
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <mat-card class="new-item-data">
                <mat-card-subtitle>Résumé</mat-card-subtitle>
                <mat-card-content>
                    <span class="name-icon">
                        <icon (click)="openSelectIconDialog()" [icon]="newItem.data.icon"></icon>
                        <mat-form-field>
                            <input matInput
                                   #newItemName
                                   placeholder="Nom"
                                   [(ngModel)]="newItem.data.name"/>
                            <mat-hint *ngIf="newItem.data.notIdentified" align="end">
                                {{newItem.template?.name}}
                            </mat-hint>
                        </mat-form-field>
                    </span>
                    <mat-form-field>
                        <input matInput
                               placeholder="Description"
                               [(ngModel)]="newItem.data.description"/>
                    </mat-form-field>
                    <mat-form-field *ngIf="newItem.template?.data?.quantifiable">
                        <input matInput
                               type="number"
                               placeholder="Quantité"
                               [(ngModel)]="newItem.data.quantity"/>
                    </mat-form-field>
                    <div>
                        <mat-slide-toggle color="primary"
                                         [(ngModel)]="newItem.data.notIdentified"
                                         (change)="updateItemIdentified()">
                            Non-identifié
                        </mat-slide-toggle>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                    color="primary"
                    [disabled]="!newItem.template"
                    (click)=addItem(false)>
                AJOUTER
            </button>
            <button mat-button
                    color="primary"
                    [disabled]="!newItem.template"
                    (click)=addItem(true)>
                AJOUTER ET CONTINUER
            </button>
            <button mat-button
                    color="primary"
                    (click)=closeDialog()>ANNULER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>

