<md-card style="margin: 5px">
    <md-card-title>Créer un groupe</md-card-title>
    <md-card-content>
        <md-input-container style="width: 100%">
            <input mdInput
                   [(ngModel)]="groupName"
                   placeholder="Nom du groupe"/>
        </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
        <button md-button
                color="primary"
                (click)="create()">
            CREER
        </button>
    </md-card-actions>
</md-card>
