.new-item-template {

}

.new-item-data {
    margin: 5px;
    md-card-content {
        display: flex;
        flex-direction: column;
        .name-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            icon-selector{
                padding-right: 8px;
            }
            md-input-container {
                flex: 1 auto;
            }
        }
    }
}
.new-item-template {
    md-card {
        margin: 5px;
    }
}
