<div>
    <div class="fighter-container fighter-header">
        <div class="field-icon"></div>
        <div class="field-values">
            <div class="fighter-row">
                <div class="field-name">Nom</div>
                <div class="field">AT</div>
                <div class="field">PRD</div>
                <div class="field-large">EV</div>
                <div class="field-large">EA</div>
                <div class="field-medium">PR</div>
                <div class="field">RESM</div>
                <div class="field-large">DMG</div>
                <div class="field">COU</div>
                <div class="field">XP</div>
            </div>
        </div>
        <div class="field-button">
            <div *ngIf="currentFighterIndex != null">
                <button [disabled]="loadingNextLap" class="btn btn-primary glyphicon glyphicon-arrow-right" (click)="selectNextFighter()"></button>
            </div>
        </div>
    </div>
    <div *ngIf="currentFighterIndex != null && fighters[currentFighterIndex]" class="current-fighter">
        <fighter
                 [selected]="false"
                 [group]="group"
                 [fighter]="fighters[currentFighterIndex]"
                 [fighters]="fighters"
                 [i]="i"
                 (onSelect)="selectCombatRow($event)">
        </fighter>
    </div>
    <hr *ngIf="currentFighterIndex != null">
    <template ngFor let-fighter [ngForOf]="fighters" let-i=index>
        <fighter [selected]="(currentFighterIndex === null && selectedCombatRow === i) || currentFighterIndex == i"
                 [group]="group"
                 [fighter]="fighter"
                 [fighters]="fighters"
                 [i]="i"
                 (onSelect)="selectCombatRow($event)">
        </fighter>
    </template>
</div>

<div>
    <h3>Monstres morts</h3>
    <table class="table table-striped table-condensed text-center">
        <thead>
            <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">AT</th>
                <th class="text-center">PRD</th>
                <th class="text-center">EV</th>
                <th class="text-center">EA</th>
                <th class="text-center">PR</th>
                <th class="text-center">RESM</th>
                <th class="text-center">Damage</th>
                <th class="text-center">COU</th>
                <th class="text-center">XP</th>
                <th class="text-center">Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <template ngFor let-element [ngForOf]="deadMonsters">
            <tr>
                <td>{{element.name}}</td>
                <td>{{element.data.at}}</td>
                <td>{{element.data.prd}}</td>
                <td>{{element.data.ev}}</td>
                <td>{{element.data.ea}}</td>
                <td>{{element.data.pr}}</td>
                <td>{{element.data.resm}}</td>
                <td>{{element.data.dmg}}</td>
                <td>{{element.data.cou}}<span *ngIf="element.data.chercheNoise">*</span></td>
                <td>{{element.data.xp}}</td>
                <td>{{element.note}}</td>
            </tr>
        </template>
        </tbody>
    </table>
</div>
<a href="#" *ngIf="!allDeadMonstersLoaded" (click)="loadMoreDeadMonsters()">Plus</a>

<div>
    <h3>Ajouter un monstre</h3>
</div>
<div>

</div>
<div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-1 control-label">Nom</label>
            <div class="col-xs-11">
                <autocomplete-input [value]="newMonster.name"
                                    (onSelect)="selectMonsterInAutocompleteList($event)"
                                    [(callback)]="autocompleteMonsterListCallback"></autocomplete-input>
            </div>
        </div>
        <div class="form-group">
            <label for="inputMonsteAt" class="col-xs-1 control-label">AT</label>
            <div class="col-xs-2">
                <input type="number" class="form-control" id="inputMonsteAt"
                       [(ngModel)]="newMonster.data.at">
            </div>
            <label for="inputMonsterPrd" class="col-xs-1 control-label">PRD</label>
            <div class="col-xs-2">
                <input type="number" class="form-control" id="inputMonsterPrd"
                       [(ngModel)]="newMonster.data.prd">
            </div>
            <label for="inputMonsterPrd" class="col-xs-1 control-label">ESQ</label>
            <div class="col-xs-2">
                <input type="number" class="form-control" id="inputMonsterEsq"
                       [(ngModel)]="newMonster.data.esq">
            </div>
            <label for="inputMonsterPR" class="col-xs-1 control-label">PR</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="inputMonsterPR" [(ngModel)]="newMonster.data.pr">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMonsterEV" class="col-xs-1 control-label">EV</label>
            <div class="col-xs-3">
                <input type="number" class="form-control" id="inputMonsterEV"
                       [(ngModel)]="newMonster.data.ev">
            </div>
            <label for="inputMonsterEA" class="col-xs-1 control-label">EA</label>
            <div class="col-xs-3">
                <input type="number" class="form-control" id="inputMonsterEA"
                       [(ngModel)]="newMonster.data.ea">
            </div>
            <label for="inputMonsterResm" class="col-xs-1 control-label">RESM</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="inputMonsterResm"
                       [(ngModel)]="newMonster.data.resm">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMonsterDmg" class="col-xs-1 control-label">DMG</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="inputMonsterDmg"
                       [(ngModel)]="newMonster.data.dmg">
            </div>
            <label for="inputMonsterXp" class="col-xs-1 control-label">XP</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="inputMonsterXp"
                       [(ngModel)]="newMonster.data.xp">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMonsterCou" class="col-xs-1 control-label">COU</label>
            <div class="col-xs-3">
                <input type="number" class="form-control" id="inputMonsterCou"
                       [(ngModel)]="newMonster.data.cou">
            </div>
            <label for="inputMonsterNoise" class="col-xs-3 control-label">Chercher des noises</label>
            <div class="col-xs-1">
                <input type="checkbox" class="form-control" id="inputMonsterNoise"
                       [(ngModel)]="newMonster.data.chercheNoise">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMonsterNote" class="col-xs-1 control-label">Note</label>
            <div class="col-xs-11">
                <input type="text" class="form-control" id="inputMonsterNote"
                       [(ngModel)]="newMonster.data.note">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMonsterNote" class="col-xs-1 control-label">Inventaire</label>
            <div class="col-xs-1">
                <button class="btn btn-primary ra ra-perspective-dice-random" (click)="randomMonsterInventory()"></button>
            </div>
            <div class="col-xs-9" *ngIf="newMonster.items">
                <div *ngFor="let item of newMonster.items; let i=index">
                    <span *ngIf="item.data.quantity > 1">{{item.data.quantity}}</span> {{item.data.name}}
                    <span *ngIf="item.data.notIdentified" class="label label-warning">Non identifie</span>
                    <button (click)="item.data.notIdentified = !item.data.notIdentified" class="btn btn-primary glyphicon glyphicon-question-sign"></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-primary" (click)="addMonster()">Ajouter monstre
                </button>
                <button type="submit" class="btn btn-default" (click)="cleanMonster()">Vider
                </button>
            </div>
        </div>
    </div>
</div>

<create-item [character]="addItemTarget" (onAddItem)="onItemAdded($event)"></create-item>
