:host {
    .fighter {
        margin-bottom: 4px;
        display: grid;
        align-items: center;
        grid-gap: 8px;
        grid-template-columns: 48px minmax(50px, 1fr) minmax(64px, 85px) minmax(74px, 92px) 8px;
        grid-template-areas: "icon name name name name" "icon . at ev ."
            ". . prd esq ."
            "dmg dmg pr cou ."
            "dmg dmg resm ea ."
            "dmg dmg . . ."
            "effects effects effects effects effects"
            "note note note note note";

        .field-with-label {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;

            .label {
            }
        }

        .target {
            grid-area: target;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .icon {
            grid-area: icon;
            cursor: pointer;
        }

        .name {
            grid-area: name;
            display: grid;
            grid-template-columns: 1fr 40px;
            align-items: center;
            > span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .at {
            grid-area: at;
        }

        .prd {
            grid-area: prd;
        }

        .esq {
            grid-area: esq;
        }

        .ev {
            grid-area: ev;
        }

        .ea {
            grid-area: ea;
        }

        .pr {
            grid-area: pr;
        }

        .resm {
            grid-area: resm;
        }

        .dmg {
            text-align: center;
            grid-area: dmg;
            .damage-weapon-name {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .cou {
            grid-area: cou;
        }

        .cdn {
            text-align: center;
            grid-area: cdn;
        }

        .note {
            grid-area: note;
        }

        .effects {
            grid-area: effects;
            .effect {
                padding-left: 32px;
                align-items: center;
                display: grid;
                grid-template-columns: 1fr auto 40px;
                grid-template-areas: "name duration actions";
                grid-gap: 8px;

                .effect-name {
                    grid-area: name;
                }
                .effect-duration {
                    grid-area: duration;
                }
                .effect-actions {
                    grid-area: actions;
                }
            }
        }
    }

}
