.add-monster-dialog {
    .inputs {
        display: flex;
        align-items: center;
        md-radio-group {
            margin-left: 5px;
        }
        md-input-container {
            margin-left: 5px;
        }
        md-input-container:first-child {
            margin-right: 0;
        }
        input[type=number] {
            width: 50px;
        }
    }

    md-card-content {
        max-height: 75vh;
        overflow-x: auto;
    }
}

.next-fighter {
    text-align: right;
}

.dead-monsters-list {
    max-height: 75vh;
    overflow-x: auto;
}
