<div class="fighter-container"
     [class.even_row]="i % 2 == 0"
     [class.combat_row_selected]="selected"
     (click)="selectFighter()">

    <div class="field-icon">
        <monster-color-selector *ngIf="fighter.isMonster"
                                [monster]="fighter.monster"
                                (onNumberChange)='changeNumber(fighter, $event)'
                                (onColorChange)='changeColor(fighter, $event)'>
        </monster-color-selector>
        <character-color-selector *ngIf="!fighter.isMonster"
                                  [character]="fighter.character"
                                  (onColorChange)='changeColor(fighter, $event)'>
        </character-color-selector>
    </div>

    <div class="field-values">
        <ng-template [ngIf]="fighter.isMonster">
            <div class="fighter-row">
                <div class="field-name">
                    <monster-editable-field
                        [monster]="fighter.monster"
                        [isDataField]=false
                        [fieldName]="'name'">
                    </monster-editable-field>
                </div>
                <div class="field text-attack">
                    <value-editor [value]="fighter.monster.data.at"
                                  [title]="'AT'"
                                  (onChange)="updateMonsterField(fighter.monster, 'at', $event)">
                    </value-editor>
                </div>
                <div class="field">
                    <span class="text-prd">
                        <value-editor [value]="fighter.monster.data.prd"
                                      [title]="'Parade'"
                                      (onChange)="updateMonsterField(fighter.monster, 'prd', $event)">
                        </value-editor>
                    </span>
                </div>
                <div class="field">
                    <span class="text-esq">
                        <value-editor [value]="fighter.monster.data.esq"
                                      [title]="'Esquive'"
                                      (onChange)="updateMonsterField(fighter.monster, 'esq', $event)">
                        </value-editor>
                    </span>
                </div>
                <div class="field-large">
                    <value-editor [value]="fighter.monster.data.ev"
                                  [maxValue]="fighter.monster.data.maxEv"
                                  [title]="'EV Monstre'"
                                  (onChange)="updateMonsterField(fighter.monster, 'ev', $event)">
                    </value-editor>
                </div>
                <div class="field-large">
                    <value-editor [value]="fighter.monster.data.ea"
                                  [maxValue]="fighter.monster.data.maxEa"
                                  [title]="'EA Monstre'"
                                  (onChange)="updateMonsterField(fighter.monster, 'ea', $event)">
                    </value-editor>
                </div>
                <div class="field-medium">
                    <value-editor [value]="fighter.monster.data.pr"
                                  [title]="'Protection'"
                                  (onChange)="updateMonsterField(fighter.monster, 'pr', $event)">
                    </value-editor>
                    (<value-editor [value]="fighter.monster.data.pr_magic"
                                  [title]="'Protection magique'"
                                  (onChange)="updateMonsterField(fighter.monster, 'pr_magic', $event)">
                    </value-editor>)
                </div>
                <div class="field">
                    <value-editor [value]="fighter.monster.data.resm"
                                  [title]="'Resistance Magique'"
                                  (onChange)="updateMonsterField(fighter.monster, 'resm', $event)">
                    </value-editor>
                </div>
                <div class="field-large">
                    <monster-editable-field
                        [monster]="fighter.monster"
                        [isDataField]=true
                        [fieldName]="'dmg'">
                    </monster-editable-field>
                </div>
                <div class="field">
                    <value-editor [value]="fighter.monster.data.cou"
                                  [title]="'Courage'"
                                  (onChange)="updateMonsterField(fighter.monster, 'cou', $event)">
                    </value-editor>
                </div>
                <div class="field-fixed-small">
                    <md-checkbox [checked]="fighter.monster.data.chercheNoise"
                                 (change)="updateMonsterField(fighter.monster, 'chercheNoise', $event.checked)">
                    </md-checkbox>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between">
                <div style="min-width: 180px;">
                    <target-selector [fighter]=fighter
                                     [targets]=fighters
                                     (onTargetChange)='changeTarget(fighter, $event)'>
                    </target-selector>
                </div>
                <div style="margin-left: 10px; margin-right: 10px">Note</div>
                <div style="flex: 2; text-align: center">
                    <monster-editable-field
                        [monster]="fighter.monster"
                        [isDataField]=true
                        [fieldName]="'note'">
                    </monster-editable-field>
                </div>
            </div>
            <div class="fighter-row">
                <div>
                    <div class="row">
                        <div>
                            <button md-button (click)="fighter.monster.viewInventory = !fighter.monster.viewInventory" *ngIf="fighter.monster.items?.length"><md-icon>plus</md-icon></button>
                        </div>
                        <div *ngFor="let item of fighter.monster.items">
                            <div *ngIf="fighter.monster.viewInventory || itemHasSlot(item.template, 'WEAPON')">
                                {{item.data.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="!fighter.isMonster">
            <div class="fighter-row">
                <div class="field-name">{{fighter.name}}</div>
                <div class="field text-attack">{{fighter.stats.at}}</div>
                <div class="field"><span class="text-prd">{{fighter.stats.prd}}</span></div>
                <div class="field"><span class="text-esq">{{fighter.stats.esq}}</span></div>
                <div class="field-large" [class.text-danger]="fighter.stats.ev < 4">{{fighter.stats.ev}}/{{fighter.stats.maxEv}}</div>
                <div class="field-large">
                    <span *ngIf="fighter.stats.maxEa">{{fighter.stats.ea}}/{{fighter.stats.maxEa}}</span>
                    <span *ngIf="!fighter.stats.maxEa">-</span>
                </div>
                <div class="field-medium">{{fighter.stats.pr}}({{fighter.stats.pr_magic}})</div>
                <div class="field">
                    {{fighter.stats.resm}}
                </div>
                <div class="field-large"></div>
                <div class="field">{{fighter.stats.cou}}</div>
                <div class="field-fixed-small"><md-checkbox [checked]="fighter.chercheNoise" disabled></md-checkbox></div>
            </div>
            <div style="display: flex; justify-content: flex-start">
                <target-selector [fighter]=fighter
                                 [targets]=fighters
                                 (onTargetChange)='changeTarget(fighter, $event)'>
                </target-selector>
            </div>
        </ng-template>
    </div>

    <div *ngIf="!fighter.isMonster" class="field-button">
        <button md-icon-button [mdMenuTriggerFor]="menuCharacter" aria-label="Open basic menu">
            <md-icon>more_vert</md-icon>
        </button>

        <md-menu #menuCharacter="mdMenu">
            <button md-menu-item
                    (click)="displayCharacterSheet(fighter.character)">
                Voir la fiche
            </button>
            <button md-menu-item
                    (click)=addItemTo(fighter.character)>
                Ajouter un objet
            </button>
        </md-menu>
    </div>
    <div *ngIf="fighter.isMonster" class="field-button">
        <button md-icon-button [mdMenuTriggerFor]="menuMonster" aria-label="Open basic menu">
            <md-icon>more_vert</md-icon>
        </button>

        <md-menu #menuMonster="mdMenu">
            <button md-menu-item
                    (click)=killMonster(fighter.monster)>
                Tuer le monstre
            </button>
            <button md-menu-item
                    (click)=deleteMonster(fighter.monster)>
                Supprimer le monstre
            </button>
        </md-menu>
    </div>
</div>
