:host {
    position: relative;
    text-align: left;
    width: 32px;
    height: 32px;

    .number {
        position: absolute;
        left: 0;
        width: 32px;
        font-size: 32px;
        opacity: 0.75;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
}
