.fighter-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
}
.fighter-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.field-icon {
    flex: 0 45px;
}
.field-button {
    flex: 0 36px;
}
.field-values {
    flex: 1 auto;
}
.field {
    flex: 1 auto;
    width: 20px;
    text-align: center;
}
.field-fixed-small {
    flex: 0 36px;
    text-align: center;
}

.field-medium {
    text-align: center;
    flex: 1 auto;
    width: 30px;
}
.field-large {
    text-align: center;
    flex: 1 auto;
    width: 40px;
}
.field-name {
    flex: 3 auto;
    width: 80px;
}
.text-attack {
    font-weight: bold;
    letter-spacing: .08em;
}
.text-prd {
    font-weight: bold;
    letter-spacing: .08em;
}
.text-esq {
    font-weight: bold;
    letter-spacing: .08em;
}
.fighter-header {
    font-weight: bold;
}

.expanded-data-card {
    margin: 5px;
}

.expanded-data {
    display: flex;
    .fighter-note {
        flex: 1 auto;
        width: 100px;
    }
    .fighter-advanced-datas {
        flex: 1 auto;
        width: 40px;
    }
    .fighter-inventory-item {
        display: flex;
        align-items: center;
        >icon {
            padding-left: 4px;
        }
    }

}
