<div>
    <div class="fighter-container fighter-header">
        <div class="field-icon"></div>
        <div class="field-values">
            <div class="fighter-row">
                <div class="field-name">Nom</div>
                <div class="field">AT</div>
                <div class="field">PRD</div>
                <div class="field">ESQ</div>
                <div class="field-large">EV</div>
                <div class="field-large">EA</div>
                <div class="field-medium">PR</div>
                <div class="field">RESM</div>
                <div class="field-large">DMG</div>
                <div class="field">COU</div>
                <div class="field-fixed-small">CdN</div>
                <div class="field-button"></div>
            </div>
        </div>
    </div>
    <div *ngIf="group.data.inCombat && currentFighterIndex !== null && group.fighters[currentFighterIndex]" class="current-fighter">
        <fighter [selected]="false"
                 [group]="group"
                 [fighter]="group.fighters[currentFighterIndex]"
                 [expandedView]="true"
                 [fighters]="group.fighters">
        </fighter>
    </div>
    <div *ngIf="group.data.inCombat && currentFighterIndex !== null && group.fighters[currentFighterIndex]" class="next-fighter">
        <button md-raised-button
                color="primary"
                [disabled]="loadingNextLap"
                (click)="selectNextFighter()">
            Suivant
        </button>
    </div>
    <hr *ngIf="group.data.inCombat && currentFighterIndex !== null && group.fighters[currentFighterIndex]">
    <ng-template ngFor let-fighter [ngForOf]="group.fighters" let-i=index>
        <fighter [selected]="(currentFighterIndex === null && selectedCombatRow === i) || currentFighterIndex == i"
                 [group]="group"
                 [fighter]="fighter"
                 [fighters]="group.fighters"
                 [expandedView]="selectedCombatRow === i"
                 (onSelect)="selectFighter($event)">
        </fighter>
    </ng-template>
</div>

<ng-template #deadMonstersDialog="cdkPortal" cdk-portal>
    <md-card class="dead-monsters-dialog">
        <md-card-title>Monstres morts</md-card-title>
        <md-card-content class="dead-monsters-list">
            <table class="table table-striped table-condensed text-center">
                <thead>
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">XP</th>
                    <th class="text-center">Notes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-element [ngForOf]="deadMonsters">
                        <tr>
                            <td>{{element.name}}</td>
                            <td>{{element.data.xp}}</td>
                            <td>{{element.note}}</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    [disabled]="allDeadMonstersLoaded"
                    (click)="loadMoreDeadMonsters()">CHARGER PLUS</button>
            <button md-button
                    color="primary"
                    (click)="closeDeadMonstersDialog()">FERMER</button>
        </md-card-actions>
    </md-card>
</ng-template>


<ng-template #addMonsterDialog="cdkPortal" cdk-portal>
    <md-card class="add-monster-dialog">
        <md-card-title>Ajouter un monstre</md-card-title>
        <md-card-content>
            <autocomplete-input [value]="newMonster.name"
                                [placeholder]="'Nom'"
                                (onSelect)="selectMonsterInAutocompleteList($event)"
                                [(callback)]="autocompleteMonsterListCallback">
            </autocomplete-input>
            <div class="inputs">
                <md-input-container>
                    <input mdInput
                           placeholder="AT"
                           type="number"
                           [(ngModel)]="newMonster.data.at"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           placeholder="PRD"
                           type="number"
                           [(ngModel)]="newMonster.data.prd"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           placeholder="ESQ"
                           type="number"
                           [(ngModel)]="newMonster.data.esq"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           type="number"
                           placeholder="PR"
                           [(ngModel)]="newMonster.data.pr">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           type="number"
                           placeholder="PR_MAGIC"
                           [(ngModel)]="newMonster.data.pr_magic">
                </md-input-container>
            </div>

            <div class="inputs">
                <md-input-container>
                    <input mdInput
                           placeholder="EV"
                           type="number"
                           [(ngModel)]="newMonster.data.ev"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           placeholder="EA"
                           type="number"
                           [(ngModel)]="newMonster.data.ea"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           placeholder="RESM"
                           type="number"
                           [(ngModel)]="newMonster.data.resm"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           placeholder="Degat"
                           [(ngModel)]="newMonster.data.dmg"/>
                </md-input-container>
            </div>

            <div class="inputs">
                <md-input-container>
                    <input mdInput
                           placeholder="XP"
                           type="number"
                           [(ngModel)]="newMonster.data.xp"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           placeholder="COU"
                           type="number"
                           [(ngModel)]="newMonster.data.cou"/>
                </md-input-container>
                <md-slide-toggle [(ngModel)]="newMonster.data.chercheNoise"
                                  color="primary">
                    Chercher des noises
                </md-slide-toggle>
            </div>
            <div class="inputs">
                Sexe
                <md-radio-group name="sex" [(ngModel)]="newMonster.data.sex">
                    <md-radio-button name="sex" [value]="null">
                        Non défini
                    </md-radio-button>
                    <md-radio-button name="sex" [value]="'f'">
                        Femme
                    </md-radio-button>
                    <md-radio-button name="sex" [value]="'h'">
                        Homme
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div class="inputs">
                <md-input-container style="width: 100%">
                    <input mdInput
                           placeholder="Note"
                           type="text"
                           [(ngModel)]="newMonster.data.note"/>
                </md-input-container>
            </div>
            <div class="form-group">
                <h4>
                    Inventaire/Loot
                    <button md-raised-button (click)="randomMonsterInventory()">Random</button>
                </h4>
                <div class="col-xs-9" *ngIf="newMonster.items">
                    <div *ngFor="let item of newMonster.items; let i=index">
                        <span *ngIf="item.data.quantity > 1">{{item.data.quantity}}</span> {{item.data.name}}
                        <span *ngIf="item.data.notIdentified" class="label label-warning">Non identifie</span>
                        <button (click)="item.data.notIdentified = !item.data.notIdentified" class="btn btn-primary glyphicon glyphicon-question-sign"></button>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="closeAddMonsterDialog()">FERMER</button>
            <button md-button
                    color="primary"
                    (click)="cleanMonster()">RESET</button>
            <button md-button
                    color="accent"
                    (click)="addMonster()">AJOUTER</button>
        </md-card-actions>
    </md-card>
</ng-template>

<create-item #createItemComponent (onAddItem)="onItemAdded($event)"></create-item>
