:host {
    .fighter-card {
        > h2 {
            display: flex;
            justify-content: space-between;
            margin-left: 8px;
        }
        padding: 16px 8px 8px;
        margin: 8px;
    }
    .next-button {
        display: flex;
        flex-direction: row-reverse;
        margin: 8px;
    }
}

fighter {
    width: 100%;
}
