<ng-template #selectorDialog ="cdkPortal" cdk-portal>
    <mat-card class="fighter-selector">
        <mat-card-title>{{label}}</mat-card-title>

        <mat-card-content>
            <mat-selection-list (selectionChange)="fighterSelectionChange($event.source.selectedOptions.selected)">
                <mat-list-option *ngFor="let fighter of group.fighters" [value]="fighter">
                    {{fighter.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button
                    color="primary"
                    (click)="close()">
                ANNULER
            </button>
            <button mat-button
                    color="primary"
                    (click)="valid()">
                VALIDER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
