<div *ngIf="group" class="group-container">
    <md-tab-group (selectChange)=selectTab($event) [selectedIndex]="currentTabIndex">
        <md-tab label="Infos">
            <div class="info-tab">
                <md-card>
                    <md-card-title>{{group.name}}
                        <button md-icon-button (click)="refreshData()"><md-icon>refresh</md-icon></button>
                    </md-card-title>
                    <dl>
                        <dt>Mankdebol</dt>
                        <dd>
                            <value-editor [value]="group.data.mankdebol"
                                          [title]="'Mankdebol du groupe'"
                                          (onChange)="changeGroupValue('mankdebol', $event)">
                            </value-editor>
                        </dd>

                        <dt>Débilibeuk</dt>
                        <dd>
                            <value-editor [value]="group.data.debilibeuk"
                                          [title]="'Débilibeuk du groupe'"
                                          (onChange)="changeGroupValue('debilibeuk', $event)">
                            </value-editor>
                        </dd>

                        <dt>Date</dt>
                        <dd>
                            <date-selector [date]="group.data.date"
                                           (onChange)="changeGroupValue('date', $event)">
                            </date-selector>
                            <date-modifier *ngIf="group.data.date"
                                           [title]="'Modification de la date'"
                                           (onChange)="addTime($event)">
                            </date-modifier>
                            <date [date]="group.data.date"></date>
                        </dd>

                        <dt>Lieu</dt>
                        <dd>
                            <autocomplete-input [value]="group.location.name"
                                                (onSelect)="changeGroupLocation($event)"
                                                [(callback)]="autocompleteLocationsCallback">
                            </autocomplete-input>
                        </dd>
                    </dl>
                </md-card>
                <md-card>
                    <md-card-title>Évènements</md-card-title>
                    <md-card-content>
                        <events #events [group]="group"></events>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button
                                color="primary"
                                (click)="events.openAddEventDialog()">
                            AJOUTER UN ÉVÈNEMENT
                        </button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-tab>

        <md-tab label="Personnages">
            <div class="characters-tab">
                <md-card>
                    <md-card-title>Joueurs</md-card-title>
                    <md-card-content class="characters-cards">
                        <ng-template ngFor let-character [ngForOf]="characters">
                            <md-card *ngIf="!character.isNpc" class="character-summary-card">
                                <md-card-header>
                                    <md-card-title>{{character.name}} - Lvl{{character.level}}</md-card-title>
                                    <md-card-subtitle>
                                        {{character.origin.name}}
                                        <span *ngIf="character.job"> - {{character.job.name}} </span>
                                    </md-card-subtitle>
                                    <button md-icon-button [mdMenuTriggerFor]="characterActions">
                                        <md-icon>more_vert</md-icon>
                                    </button>
                                    <md-menu x-position="before" #characterActions="mdMenu">
                                        <button md-menu-item
                                                (click)="displayCharacterSheet(character)">
                                            Voir la fiche
                                        </button>
                                        <button md-menu-item
                                                *ngIf="character.user && character.user !== _loginService.currentLoggedUser.id"
                                                (click)="takeOwnership(character)">
                                            Devenir propriétaire
                                        </button>
                                        <button md-menu-item
                                                *ngIf="!character.user || character.user === _loginService.currentLoggedUser.id"
                                                (click)="openChangeOwnershipDialog(character)">
                                            Définir le propriétaire
                                        </button>
                                    </md-menu>
                                </md-card-header>
                                <md-card-actions align="end">
                                    <button
                                        md-button
                                        color="primary"
                                        *ngIf="!character.active"
                                        (click)="toggleActiveCharacter(character)">
                                        ACTIVER
                                    </button>
                                    <button
                                        md-button
                                        *ngIf="character.active"
                                        color="accent"
                                        (click)="toggleActiveCharacter(character)">
                                        DESACTIVER
                                    </button>
                                </md-card-actions>
                            </md-card>
                        </ng-template>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button
                                color="primary"
                                (click)="activeAllCharacter(false)">
                            DESACTIVER TOUS
                        </button>
                        <button md-button
                                color="primary"
                                (click)="activeAllCharacter(true)">
                            ACTIVER TOUS
                        </button>
                    </md-card-actions>
                </md-card>

                <md-card>
                    <md-card-title>PNJs</md-card-title>
                    <md-card-content class="characters-cards">
                        <ng-template ngFor let-character [ngForOf]="characters">
                            <md-card *ngIf="character.isNpc" class="character-summary-card">
                                <md-card-header>
                                    <md-card-title>{{character.name}}</md-card-title>
                                    <md-card-subtitle>{{character.origin.name}}
                                        <span *ngIf="character.job"> - {{character.job.name}} </span> - Lvl{{character.level}}
                                    </md-card-subtitle>
                                </md-card-header>
                                <md-card-actions align="end">
                                    <button
                                        md-button
                                        color="primary"
                                        *ngIf="!character.active"
                                        (click)="toggleActiveCharacter(character)">
                                        ACTIVER
                                    </button>
                                    <button
                                        md-button
                                        *ngIf="character.active"
                                        color="accent"
                                        (click)="toggleActiveCharacter(character)">
                                        DESACTIVER
                                    </button>
                                </md-card-actions>
                            </md-card>
                        </ng-template>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button
                                color="primary"
                                (click)="createNpc()">
                            AJOUTER PNJ
                        </button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <md-card-title>Invitations</md-card-title>
                    <md-card-content>
                        <div *ngIf="group.invites.length">
                            <h4>Invitation à valider</h4>
                            <div class="list-group">
                                <ng-template ngFor let-character [ngForOf]="group.invites">
                                    <div class="list-group-item">
                                        <button class="glyphicon glyphicon-remove btn btn-danger pull-right"
                                                (click)="cancelInvite(character)"></button>
                                        <button class="glyphicon glyphicon-remove btn btn-success pull-right"
                                                (click)="acceptInvite(character)"></button>
                                        <h4 class="list-group-item-heading">{{character.name}}</h4>
                                        <p class="list-group-item-text">{{character.origin}} <span *ngIf="character.job">- {{character.job}}</span>
                                        </p>
                                    </div>
                                </ng-template>
                            </div>
                            <hr>
                        </div>
                        <div *ngIf="group.invited.length">
                            <h4>Invitation en attente</h4>
                            <div class="list-group">
                                <ng-template ngFor let-character [ngForOf]="group.invited">
                                    <div class="list-group-item">
                                        <button class="glyphicon glyphicon-remove btn btn-danger pull-right"
                                                (click)="cancelInvite(character)"></button>
                                        <h4 class="list-group-item-heading">{{character.name}}</h4>
                                        <p class="list-group-item-text">{{character.origin}} <span *ngIf="character.job">- {{character.job}}</span>
                                        </p>
                                    </div>
                                </ng-template>
                            </div>
                            <hr>
                        </div>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button
                                (click)="openInviteCharacterModal()"
                                color="primary">
                            INVITER UN JOUEUR
                        </button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-tab>

        <md-tab label="Combat">
            <div class="combat-tab-header">
                <button md-raised-button
                        color="primary"
                        *ngIf="!group?.data?.inCombat"
                        (click)="startCombat()">
                    Debut combat
                </button>
                <button md-raised-button
                        color="primary"
                        *ngIf="group.data.inCombat"
                        (click)="endCombat()">
                    Fin combat
                </button>
                <button md-raised-button
                        color="primary"
                        (click)="fighterPanel.openAddMonsterDialog()">
                    Ajouter un monstre
                </button>
                <button md-raised-button
                        color="primary"
                        (click)="fighterPanel.openDeadMonstersDialog()">
                    Monstres morts
                </button>
            </div>

            <fighter-panel #fighterPanel [group]="group" [characters]="characters"></fighter-panel>
        </md-tab>

        <md-tab label="Loot">
            <group-loot-panel [group]="group"></group-loot-panel>
        </md-tab>

        <md-tab label="Historique">
            <group-history [group]="group"></group-history>
        </md-tab>
    </md-tab-group>
</div>

<div *ngIf="group">
    <ng-template ngFor let-character [ngForOf]="characters">
        <ng-template *ngIf="character.active" #characters="cdkPortal" cdk-portal>
            <div class="character-sheet">
                <md-card>
                    <md-card-title>
                        {{character.name}}
                        <button md-button color="primary" (click)="closeCharacterSheet()">FERMER</button>
                    </md-card-title>
                    <md-card-content>
                        <character [character]="character"></character>
                    </md-card-content>
                </md-card>
            </div>
        </ng-template>
    </ng-template>
</div>


<!-- Modal -->
<ng-template #changeOwnershipDialog="cdkPortal" cdk-portal>
    <md-card class="change-ownership-dialog">
        <md-card-title>Définir le propriétaire</md-card-title>
        <md-card-subtitle>{{selectedCharacter?.name}}</md-card-subtitle>
        <md-card-content>
            <div class="modal-body">
                <md-input-container>
                    <input mdInput
                           placeholder="Chercher un utilisateur"
                           type="text"
                           [(ngModel)]="filterSearchUser"
                           (ngModelChange)="updateSearchUser()" />
                </md-input-container>
                <div *ngIf="!filteredUsers.length">
                    Aucun utilisateur trouvé
                </div>
                <md-radio-group [(ngModel)]="changeOwnershipNewOwner">
                    <ng-template ngFor let-user [ngForOf]="filteredUsers">
                        <md-radio-button [value]="user">
                            {{user.displayName}}
                        </md-radio-button>
                    </ng-template>
                </md-radio-group>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    (click)="closeChangeOwnershipDialog()"
                    color="primary">
                ANNULER
            </button>
            <button md-button
                    (click)="changeOwnershipConfirm()"
                    color="primary">
                VALIDER
            </button>
        </md-card-actions>
    </md-card>
</ng-template>

<ng-template #inviteCharacterModal="cdkPortal" cdk-portal>
    <md-card class="invite-character-modal">
        <md-card-title>Inviter un personnage</md-card-title>
        <md-card-content>
            <md-input-container>
                <input mdInput
                       [(ngModel)]="searchNameInvite"
                       (ngModelChange)="updateFilteredPlayer()"
                       placeholder="Nom du personnage"/>
            </md-input-container>

            <div *ngIf="!filteredInvitePlayers?.length">
                Aucun personnage trouvé
            </div>
            <md-radio-group [(ngModel)]="selectedInviteCharacter">
                <ng-template ngFor let-character [ngForOf]="filteredInvitePlayers">
                    <md-radio-button [value]="character">
                        {{character.name}} - {{character.origin}} <span *ngIf="character.job">- {{character.job}}</span>
                        Joueur: {{character.owner}}
                    </md-radio-button>
                </ng-template>
            </md-radio-group>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    (click)="closeInviteCharacterModal()"
                    color="primary">
                ANNULER
            </button>
            <button md-button
                    color="primary"
                    (click)="inviteCharacter(selectedInviteCharacter)">
                INVITER
            </button>
        </md-card-actions>
    </md-card>
</ng-template>

<usefull-data></usefull-data>
