<div>
    <div class="pull-right">
        <input type="text" [(ngModel)]="newLootName"/>
        <button class="btn btn-success" (click)="createLoot()" [disabled]="!newLootName">Creer</button>
    </div>
    <h3>Loot</h3>
</div>
<div class="row">
    <div *ngFor="let loot of loots" class="panel panel-default" [class.panel-success]="loot.visibleForPlayer">
        <div class="panel-heading">
            {{loot.name}}
            <button class="btn btn-success" (click)="selectLootToAddItem(loot)">Ajouter item</button>
            <button class="btn btn-danger" (click)="deleteLoot(loot)">Delete loot</button>
            <button class="btn btn-primary" *ngIf="!loot.visibleForPlayer" (click)="openLoot(loot)">Open</button>
            <button class="btn btn-info" *ngIf="loot.visibleForPlayer"  (click)="closeLoot(loot)">Close</button>
            <button class="btn btn-warning" (click)="addRandomItemFromCategoryToLoot(loot, 'USELESS_ITEM')">Ajouter item inutile</button>
            <button class="btn btn-warning" (click)="addRandomItemFromCategoryToLoot(loot, 'MAGICAL_INGREDIENT')">Ajouter ingredient magique</button>
            <span class="pull-right" *ngIf="loot.computedXp">XP: {{loot.computedXp}}</span>
        </div>
        <div class="panel-body">
            <ul>
                <li *ngFor="let item of loot.items">
                    <button class="glyphicon glyphicon-trash btn btn-danger" (click)="removeItemFromLoot(loot, item)"></button>
                    <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}</span>
                    {{item.data.name}}
                    <span *ngIf="item.data.notIdentified">({{item.template.name}})</span>
                    <span *ngIf="item.template.data.price">{{item.template.data.price}} P.O.</span>
                </li>
            </ul>
            <ul>
                <li *ngFor="let monster of loot.monsters">
                    {{monster.name}}
                    <button class="btn btn-success" (click)="selectMonsterToAddItem(loot, monster)">Ajouter item</button>
                    <button class="btn btn-warning" (click)="addRandomItemFromCategoryToMonster(loot, monster, 'USELESS_ITEM')">Ajouter item inutile</button>
                    <button class="btn btn-warning" (click)="addRandomItemFromCategoryToMonster(loot, monster, 'MAGICAL_INGREDIENT')">Ajouter ingredient magique</button>
                    <ul>
                        <li *ngFor="let item of monster.items">
                            <button class="glyphicon glyphicon-trash btn btn-danger" (click)="removeItemFromMonster(monster, item)"></button>
                            <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}</span>
                            {{item.data.name}}
                            <span *ngIf="item.data.notIdentified">({{item.template.name}})</span>
                            <span *ngIf="item.template.data.price">{{item.template.data.price}} P.O.</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<template [ngIf]="!monsterTargetForNewItem && lootTargetForNewItem">
    <create-item [loot]="lootTargetForNewItem" (onAddItem)="addItemToLoot(lootTargetForNewItem, $event)"></create-item>
</template>
<template [ngIf]="monsterTargetForNewItem && lootTargetForNewItem">
    <create-item [loot]="lootTargetForNewItem" (onAddItem)="addItemToMonster(lootTargetForNewItem, monsterTargetForNewItem, $event)"></create-item>
</template>
