<div class="col-xs-12">
    <h4>Ajouter une entrée</h4>
</div>
<div class="col-xs-10">
    <input type="text" class="form-control" [(ngModel)]=historyNewEntryText/>
</div>
<div class="col-xs-1">
    <div class="checkbox">
        <label>
            <input [(ngModel)]=historyNewEntryGm type="checkbox"> GM
        </label>
    </div>
</div>
<div class="col-xs-1">
    <button class="btn btn-primary glyphicon glyphicon-plus" (click)="addLog()"></button>
</div>
<div class="col-xs-12">
    <h4>Historique</h4>
</div>
<div class="col-xs-12">
    <div *ngFor="let loggroup of history">
        {{loggroup.date | date:'mediumDate'}}
        <div
            style="padding-bottom: 5px; margin-left: 10px; padding-left: 10px; padding-top: 5px; border-left: 1px solid #E2D7D7">
            <div *ngFor="let log of loggroup.logs">
                {{log.date | date:'shortTime'}}:
                <span [ngSwitch]="log.action">
                    <template [ngSwitchCase]="'EVENT_RP'">
                        Event: {{log.info}}
                    </template>
                    <template [ngSwitchCase]="'TIME_CHANGE'">
                        Avance temps: {{log.info}}
                    </template>
                    <template [ngSwitchCase]="'DEBILIBEUK'">
                        Débilibeuk: {{log.data.oldValue}} -> {{log.data.newValue}}
                    </template>
                    <template [ngSwitchCase]="'MANKDEBOL'">
                        Mankdebol: {{log.data.oldValue}} -> {{log.data.newValue}}
                    </template>
                    <template [ngSwitchCase]="'END_COMBAT'">
                        Fin de combat
                    </template>
                    <template [ngSwitchCase]="'START_COMBAT'">
                        Debut d'un combat
                    </template>
                    <template [ngSwitchCase]="'ADD_TIME'">
                        Modification du temps: {{log.data.offset | nhbkDuration}}
                    </template>
                    <template [ngSwitchCase]="'CHANGE_DATE'">
                        Modification de la date
                        <div *ngIf="log.data.oldValue" style="padding-left: 20px">Ancienne date: <date [date]="log.data.oldValue"></date></div>
                        <div style="padding-left: 20px">Nouvelle date: <date [date]="log.data.newValue"></date></div>
                    </template>
                    <template *ngSwitchDefault>{{log.action}}</template>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="loadMore">
        <a href="#" (click)="loadHistory(1)">Charger plus</a>
    </div>
</div>
