.group-component-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .usefull-data {
        flex: 0;
    }
}

.group-container {
    flex: 1 auto;

    .character-summary-card {
        mat-card-header {
            button {
                margin-left: auto;
            }
        }
        margin-bottom: 5px;
        white-space: nowrap;
    }
}

.character-sheet {
    height: 90vh;
    width: 90vw;
    overflow-y: auto;
    mat-card {
        min-height: 100%;
        margin: 5px;
        mat-card-title {
            display: flex;
            justify-content: space-between;
        }
    }
}

.info-tab {
    mat-card {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.characters-tab {
    mat-card {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}
.characters-cards {
    display: flex;
    flex-wrap: wrap;
    mat-card {
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 200px;
    }
}

.change-ownership-dialog {
    mat-radio-button {
        display: block;
    }
    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.combat-tab-header {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 7px;
}

.invite-character-modal {
    max-width: 85vw;
    mat-radio-group {
        display: flex;
        flex-direction: column;
    }
    mat-radio-button {
        overflow: hidden;
        height: 32px;
        .mat-radio-label-content {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    mat-card-content {
        display: flex;
        flex-direction: column;
    }
}

.loading {
    margin: auto;
}
