<div class="row" *ngIf="group">
    <div class="col-xs-12">
        <button class="btn btn-default pull-right glyphicon glyphicon-refresh" (click)="refreshData()"></button>
        <button *ngIf="!group.data.inCombat" class="btn btn-default pull-right btn-success" (click)="startCombat()">Debut combat</button>
        <button *ngIf="group.data.inCombat" class="btn btn-default pull-right btn-danger" (click)="endCombat()">Fin combat</button>
        <h3>{{group.name}}</h3>
    </div>
</div>

<div class="row" *ngIf="group" [hidden]="currentPanel">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#characters" aria-controls="characters" role="tab" data-toggle="tab">
                    Joueurs
                </a>
            </li>
            <li role="presentation">
                <a href="#invites" aria-controls="invites" role="tab" data-toggle="tab">
                    Invitations <span *ngIf="group.invites.length || group.invited.length" class="badge">{{group.invites.length}} - {{group.invited.length}}</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#combat" aria-controls="invites" role="tab" data-toggle="tab">
                    Combat
                </a>
            </li>
            <li role="presentation">
                <a class="bg-success" href="#tab-history" aria-controls="history" role="tab" data-toggle="tab"
                   (click)="loadHistory()">
                    Historique
                </a>
            </li>
            <template ngFor let-character [ngForOf]="characters">
                <li role="presentation">
                    <a [class.bg-warning]="character.isNpc" [class.bg-info]="!character.isNpc" *ngIf="character.active"
                       href="#character_{{character.id}}" [attr.aria-controls]="'character_' + character.id" role="tab"
                       data-toggle="tab">
                        {{character.name}}
                    </a>
                </li>
            </template>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <template ngFor let-character [ngForOf]="characters">
                <div *ngIf="character.active" role="tabpanel" class="list-group tab-pane"
                     id="character_{{character.id}}">
                    <character [character]="character"></character>
                </div>
            </template>
            <div role="tabpanel" class="tab-pane" id="tab-history">
                <div class="col-xs-12">
                    <h4>Ajouter une entrée</h4>
                </div>
                <div class="col-xs-10">
                    <input type="text" class="form-control" [(ngModel)]=historyNewEntryText />
                </div>
                <div class="col-xs-1">
                    <div class="checkbox">
                        <label>
                            <input [(ngModel)]=historyNewEntryGm type="checkbox"> GM
                        </label>
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-primary glyphicon glyphicon-plus" (click)="addLog()"></button>
                </div>
                <div class="col-xs-12">
                    <h4>Historique</h4>
                </div>
                <div class="col-xs-12">
                    <div *ngFor="let loggroup of history">
                        {{loggroup.date | date:'mediumDate'}}
                        <div
                            style="padding-bottom: 5px; margin-left: 10px; padding-left: 10px; padding-top: 5px; border-left: 1px solid #E2D7D7">
                            <div *ngFor="let log of loggroup.logs">
                                {{log.date | date:'shortTime'}}:
                                <span [ngSwitch]="log.action">
								<template [ngSwitchCase]="'EVENT_RP'">
									Event: {{log.info}}
								</template>
								<template [ngSwitchCase]="'TIME_CHANGE'">
									Avance temps: {{log.info}}
								</template>
								<template [ngSwitchCase]="'DEBILIBEUK'">
									Débilibeuk: {{log.data.oldValue}} -> {{log.data.newValue}}
								</template>
								<template [ngSwitchCase]="'MANKDEBOL'">
									Mankdebol: {{log.data.oldValue}} -> {{log.data.newValue}}
								</template>
                                <template [ngSwitchCase]="'END_COMBAT'">
                                    Fin de combat
                                </template>
                                <template [ngSwitchCase]="'START_COMBAT'">
                                    Debut d'un combat
                                </template>
                                <template [ngSwitchCase]="'ADD_TIME'">
                                    Modification du temps: {{log.data.offset | nhbkDuration}}
                                </template>
                                <template [ngSwitchCase]="'CHANGE_DATE'">
                                    Modification de la date
                                    <div *ngIf="log.data.oldValue" style="padding-left: 20px">Ancienne date: <date [date]="log.data.oldValue"></date></div>
                                    <div style="padding-left: 20px">Nouvelle date: <date [date]="log.data.newValue"></date></div>
                                </template>
								<template ngSwitchDefault>{{log.action}}</template>
							</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loadMore">
                        <a href="#" (click)="loadHistory(1)">Charger plus</a>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="list-group tab-pane active" id="characters">
                <div class="col-lg-4 col-md-3 col-sm-6">
                    <div>
                        <h3>Informations</h3>
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 col-md-4">
                                <strong>Mankdebol</strong>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-8">
                                <value-editor [value]="group.data.mankdebol" [title]="'Mankdebol du groupe'"
                                              (onChange)="changeGroupValue('mankdebol', $event)"></value-editor>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 col-md-4">
                                <strong>Débilibeuk</strong>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-8">
                                <value-editor [value]="group.data.debilibeuk" [title]="'Débilibeuk du groupe'"
                                              (onChange)="changeGroupValue('debilibeuk', $event)"></value-editor>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 col-md-4">
                                <strong>Date</strong>
                            </div>
                            <div class="pull-right col-xs-8 col-sm-9 col-md-8">
                                <date-selector [date]="group.data.date" (onChange)="changeGroupValue('date', $event)"></date-selector>
                                <date-modifier *ngIf="group.data.date" (onChange)="addTime($event)"></date-modifier>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-8 col-xs-offset-4 col-sm-offset-3 col-md-offset-4">
                                <date [date]="group.data.date"></date>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 col-md-4">
                                <strong>Lieu</strong>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-8">
                                <autocomplete-input [value]="group.location.name" (onSelect)="changeGroupLocation($event)"
                                                    [(callback)]="autocompleteLocationsCallback"></autocomplete-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div>
                        <h3>
                            Joueurs
                            <button
                                class="btn glyphicon glyphicon-off btn-danger pull-right"
                                (click)="activeAllCharacter(false)">
                            </button>
                            <button
                                class="btn glyphicon glyphicon-off btn-success pull-right"
                                (click)="activeAllCharacter(true)">
                            </button>
                        </h3>
                    </div>
                    <template ngFor let-character [ngForOf]="characters">
                        <div *ngIf="!character.isNpc" class="list-group-item">
                            <h3>
                                {{character.name}} - Lvl{{character.level}}
                                <span class="pull-right">
									<button
                                        *ngIf="character.user && character.user !=  _loginService.loggedUser.id"
                                        class="btn glyphicon glyphicon-user btn-primary"
                                        (click)="takeOwnership(character)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button
                                        *ngIf="!character.user || character.user ==  _loginService.loggedUser.id"
                                        class="btn glyphicon glyphicon-user btn-primary"
                                        data-toggle="modal" data-target="#assignOwnerModal"
                                        (click)="selectedCharacter = character">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button
                                        class="btn glyphicon glyphicon-off"
                                        [class.btn-success]="character.active"
                                        [class.btn-danger]="!character.active"
                                        (click)="toggleActiveCharacter(character)">
									</button>
								</span>
                            </h3>
                            <div>
                                {{character.origin.name}} <span *ngIf="character.job"> - {{character.job.name}} </span>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <template ngFor let-character [ngForOf]="characters">
                        <div *ngIf="character.isNpc" class="list-group-item">
                            <h3>
                                {{character.name}} - Lvl{{character.level}}
                                <span class="pull-right">
									<button
                                        class="btn glyphicon glyphicon-off"
                                        [class.btn-success]="character.active"
                                        [class.btn-danger]="!character.active"
                                        (click)="toggleActiveCharacter(character)">
									</button>
								</span>
                            </h3>
                            <div>
                                {{character.origin.name}} <span *ngIf="character.job"> - {{character.job.name}} </span>
                            </div>
                        </div>
                    </template>
                    <a href="#" (click)="createNpc()" class="list-group-item">
                        Ajouter un npc
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="list-group tab-pane" id="combat">
                <fighter-panel [group]="group" [characters]="characters"></fighter-panel>
            </div>
            <div role="tabpanel" class="tab-pane" id="invites">
                <div>
                    <h4>Invitation à valider</h4>
                    <div class="list-group">
                        <template ngFor let-character [ngForOf]="group.invites">
                            <div class="list-group-item">
                                <button class="glyphicon glyphicon-remove btn btn-danger pull-right"
                                        (click)="cancelInvite(character)"></button>
                                <button class="glyphicon glyphicon-remove btn btn-success pull-right"
                                        (click)="acceptInvite(character)"></button>
                                <h4 class="list-group-item-heading">{{character.name}}</h4>
                                <p class="list-group-item-text">{{character.origin}} <span *ngIf="character.job">- {{character.job}}</span>
                                </p>
                            </div>
                        </template>
                    </div>
                </div>
                <hr>
                <div>
                    <h4>Invitation en attente</h4>
                    <div class="list-group">
                        <template ngFor let-character [ngForOf]="group.invited">
                            <div class="list-group-item">
                                <button class="glyphicon glyphicon-remove btn btn-danger pull-right"
                                        (click)="cancelInvite(character)"></button>
                                <h4 class="list-group-item-heading">{{character.name}}</h4>
                                <p class="list-group-item-text">{{character.origin}} <span *ngIf="character.job">- {{character.job}}</span>
                                </p>
                            </div>
                        </template>
                    </div>
                </div>
                <hr>
                <div>
                    <h4>Inviter un joueur</h4>
                    <div class="form-group">
                        <label for="searchNameInvite">Nom</label>
                        <input type="text" class="form-control" [(ngModel)]="searchNameInvite"
                               (ngModelChange)="updateFilteredPlayer()" id="searchNameInvite"
                               placeholder="Nom">
                    </div>
                    <div class="list-group">
                        <template ngFor let-character [ngForOf]="filteredInvitePlayers">
                            <a href="#" class="list-group-item" (click)="selectInviteCharacter(character)"
                               [class.active]="selectedInviteCharacter && character.id == selectedInviteCharacter.id">
                                <h4 class="list-group-item-heading">{{character.name}}</h4>
                                <p class="list-group-item-text">{{character.origin}} <span *ngIf="character.job">- {{character.job}}</span>
                                <p class="list-group-item-text">Joueur: {{character.owner}}
                                </p>
                            </a>
                        </template>
                    </div>

                    <button (click)="inviteCharacter(selectedInviteCharacter)" class="btn btn-primary">Inviter</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="assignOwnerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Changement de proprietaire de {{selectedCharacter?.name}}</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" [(ngModel)]="filterSearchUser"
                       (ngModelChange)="updateSearchUser()">
                <template ngIf [ngIf]="!filteredUsers.length">
                    Aucun utilisateur trouve
                </template>
                <div class="list-group">
                    <template ngFor let-user [ngForOf]="filteredUsers">
                        <button type="button" data-dismiss="modal" class="list-group-item" (click)="setOwnership(user)">
                            {{user.displayName}}
                        </button>
                    </template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<usefull-data></usefull-data>
