<div class="groups">
    <mat-card class="loading-groups" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </mat-card>
    <mat-card *ngIf="!loading && (!groups || groups.length === 0)">
        Vous ne possédez aucun group.
    </mat-card>
    <mat-card matRipple *ngFor="let group of groups" (click)="selectGroup(group)" class="clickable">
        <mat-card-title>{{group.name}}</mat-card-title>
        <mat-card-subtitle>{{group.characterCount}} joueurs</mat-card-subtitle>
    </mat-card>
    <mat-card matRipple  (click)="createGroup()" class="create-group clickable">
        <mat-icon>add</mat-icon>Créer un groupe
    </mat-card>
</div>
