@import "~app/style/responsive-utils";

:host {
    display: block;
    $padding-useful-data-button: 72px;

    padding-bottom: $padding-useful-data-button;

    /* For safari.. useful-data button is hidden if component is too small. */
    /* So compute viewport height - toolbar - padding */
    min-height: calc(100vh - 64px - 32px - #{$padding-useful-data-button});
    @include for-phone-only {
        min-height: calc(100vh - 16px - 56px - #{$padding-useful-data-button});
    }

    .loading {
        width: 100vw;
        height: 90vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .useful-data-fab {
        z-index: 1;
        position: fixed;
        right: 16px;
        bottom: 16px;
    }

    .group-container {
        flex: 1 auto;

        .character-summary-card {
            mat-card-header {
                button {
                    margin-left: auto;
                }
            }

            margin-bottom: 5px;
            white-space: nowrap;
        }
    }

    .info-tab {
        mat-card {
            margin-bottom: 5px;

            mat-card {
                margin-right: 5px;
            }
        }
    }

    .characters-tab {
        mat-card {
            margin-bottom: 5px;
        }

        mat-card-title {
            display: grid;
            grid-template-columns: 1fr 40px;
            align-items: center;
        }
    }

    .characters-cards {
        mat-list {
            width: 100%;
        }

        .name {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}



.change-ownership-dialog {
    mat-radio-button {
        display: block;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.invite-character-modal {
    max-width: 85vw;

    mat-radio-group {
        display: flex;
        flex-direction: column;
    }

    mat-radio-button {
        overflow: hidden;
        height: 32px;

        .mat-radio-label-content {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
    }
}
