<div style='width:100%;height:100%;text-align:left'>
    <i cdk-overlay-origin #targetSelectorOrigin="cdkOverlayOrigin" class="ra ra-targeted ra-lg" (click)="displaySelector()"></i>
    <div *ngIf="fighter.target" style="display:inline-block; position: relative" (click)="displaySelector()">
        <div style="display: inline-block; width: 20px; height: 12px">
            <i [style.color]="'#' + fighter.target.color"
               [class.ra-player]="!fighter.target.isMonster"
               [class.ra-monster-skull]="fighter.target.isMonster"
               style="position: absolute"
               class="ra ra-lg"></i>
            <span *ngIf="fighter.target.number"
                  style="position: absolute;
                  color: white;
                  text-shadow: 2px    0       0 #000
                              , -2px  0       0 #000
                              , 0     2px     0 #000
                              , 0     -2px    0 #000
                              , 1px   1px     0 #000
                              , -1px  -1px    0 #000
                              , 1px   -1px    0 #000
                              , -1px  1px     0 #000;
                  font-size:16px; width:20px; text-align: center">
                {{fighter.target.number}}
            </span>
        </div>
        {{fighter.target.name}}
    </div>
</div>

<ng-template cdk-connected-overlay
          [positions]="positions"
          [origin]="targetSelectorOrigin"
          [open]="showSelector"
          [height]="selectorHeight"
          [minHeight]="selectorMinHeight"
          hasBackdrop
          (backdropClick)="hideSelector()">
    <md-card style="padding: 0">
        <md-tab-group [selectedIndex]="selectedTabIndex">
            <md-tab label="Monstres">
                <div class="target-list">
                    <ng-template ngFor let-target [ngForOf]="targets">
                        <div *ngIf="target.isMonster" class=target-element (click)="selectTarget(target)">
                            <div class="target-icon">
                                <i [style.color]="'#' + target.color"
                                   [class.ra-player]="!target.isMonster"
                                   [class.ra-monster-skull]="target.isMonster"
                                   style="position: absolute"
                                   class="ra ra-3x"></i>
                                <span *ngIf="target.number" class="target-number">
                                {{target.number}}
                            </span>
                            </div>
                            <div *ngIf="target.name" class="target-name">
                                {{target.name}}
                            </div>
                        </div>
                    </ng-template>
                </div>
            </md-tab>
            <md-tab label="Joueurs">
                <div class="target-list">
                    <ng-template ngFor let-target [ngForOf]="targets">
                        <div *ngIf="!target.isMonster" class=target-element (click)="selectTarget(target)">
                            <div class="target-icon">
                                <i [style.color]="'#' + target.color"
                                   [class.ra-player]="!target.isMonster"
                                   [class.ra-monster-skull]="target.isMonster"
                                   style="position: absolute"
                                   class="ra ra-3x"></i>
                                <span *ngIf="target.number" class="target-number">
                            {{target.number}}
                        </span>
                            </div>
                            <div *ngIf="target.name" class="target-name">
                                {{target.name}}
                            </div>
                        </div>
                    </ng-template>
                </div>
            </md-tab>
        </md-tab-group>
    </md-card>
</ng-template>
