<div class="row tab-content" [class.tab-hidden]="currentPanel != 'critic'">
    <div class="tab-inner-content">
        <div class="col-xs-12">
            <h3>Attaque et parade critique</h3>
            <ul>
                <li><strong>Attaque critique</strong> L'attaquant tire <strong>1</strong> au jet d'ATTAQUE sur un ennemi
                </li>
                <li><strong>Parade critique</strong> le défenseur tire <strong>1 ou 2</strong> au jet de PARADE pour contrer
                    une attaque réussie
                </li>
                <li>L'Attaque critique IGNORE L'ARMURE et ne peut être parée ou esquivée</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h4>
                <span (click)="selectSubPanel('sword')">
                    <span class="ra ra-sword ra-2x"></span>
                    <span [hidden]="currentSubPanel!='sword'">Attaque critique arme tranchante</span>
                </span>
                <span (click)="selectSubPanel('hammer')">
                    <span class="ra ra-large-hammer ra-2x"></span>
                    <span [hidden]="currentSubPanel!='hammer'">Attaque critique arme contondante</span>
                </span>
                <span (click)="selectSubPanel('protect')">
                    <span class="ra ra-shield ra-2x"></span>
                    <span [hidden]="currentSubPanel!='protect'">Parade critique</span>
                </span>
                <span (click)="selectSubPanel('hand')">
                    <span class="ra ra-hand ra-2x"></span>
                    <span [hidden]="currentSubPanel!='hand'">Attaque critique à mains nues</span>
                </span>
                <span (click)="selectSubPanel('arrow')">
                    <span class="ra ra-arrow-flights ra-2x"></span>
                    <span [hidden]="currentSubPanel!='arrow'">Attaque critique aux projectiles</span>
                </span>
            </h4>
        </div>

        <div class="col-xs-12" [hidden]="currentSubPanel!='sword'">
            <p>épées, lances, lames diverses, haches...</p>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Effet sur l'ennemi</th>
                    <th>Modif. dégâts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Incision profonde</td>
                    <td>Degâts +1</td>
                </tr>
                <tr>
                    <td>3-4</td>
                    <td>Incision vraiment profonde</td>
                    <td>Degâts +2</td>
                </tr>
                <tr>
                    <td>5-6</td>
                    <td>Plaie impressionnante et dommages à l'armure</td>
                    <td>Degâts +3 pièce d'armure PR -1</td>
                </tr>
                <tr>
                    <td>7-8</td>
                    <td>Coup précis et dommages à l'armure</td>
                    <td>Degâts +4 pièce d'armure PR -2</td>
                </tr>
                <tr>
                    <td>9-10</td>
                    <td>Coup précis de bourrin et dommages à l'armure</td>
                    <td>Degâts +5 pièce d'armure PR -3</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Une partie de l'armure est détruite Pièce d'armure concernée</td>
                    <td>PR=O</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Œil crevé</td>
                    <td>Dégâts +5 et modifs*</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Main tranchée droite (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +6 et modifs*</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Pied tranché droit (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +6 et modifs*</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Bras tranché droit (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +7 et modifs*</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Jambe tranchée droite (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +8 et modifs*</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Organes génitaux endommagés</td>
                    <td>Dégâts +5 et durée**</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Organe vital endommagé</td>
                    <td>Dégâts +9 et durée**</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Blessure au coeur</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Blessure grave à la tête</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td colspan=3>* voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>
                <tr>
                    <td colspan=3>** Hémorragie, dégâts sur la durée : la victime perd 1 D6 PV chaque minute jusqu'à ce
                        qu'on la soigne
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='hammer'">
            <p>massues, bâtons, marteaux, masses, fléaux, nunchakus...</p>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Effet sur l'ennemi</th>
                    <th>Modif. dégâts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Ématome impressionnant</td>
                    <td>Degâts +1</td>
                </tr>
                <tr>
                    <td>3-4</td>
                    <td>Ématome et luxation d'un membre</td>
                    <td>Degâts +2</td>
                </tr>
                <tr>
                    <td>5-6</td>
                    <td>Fracture de côte</td>
                    <td>Degâts +3</td>
                </tr>
                <tr>
                    <td>7-8</td>
                    <td>Coup précis et dommages à l'armure</td>
                    <td>Degâts +4 pièce d'armure PR -1</td>
                </tr>
                <tr>
                    <td>9-10</td>
                    <td>Coup précis de bourrin et dommages à l'armure</td>
                    <td>Degâts +5 pièce d'armure PR -2</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Une partie de l'armure est détruite</td>
                    <td>Pièce d'armure concernée PR=O</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Luxation du genou</td>
                    <td>Dégâts +3 et modifs*</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Main cassée droite (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +3 et modifs*</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Pied écrasé droit (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +3 et modifs*</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Bras cassé droit (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +4 et modifs*</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Jambe cassée droite (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +5 et modifs*</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Organes génitaux écrasés</td>
                    <td>Dégâts +5 et modifs*</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Assommé</td>
                    <td> Inconscient</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Fracture ouverte du crâne</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Ecrasement violent d'un organe vital</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td colspan=3>* voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='protect'">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Effet sur l'ennemi</th>
                    <th>Modif. dégâts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Mais non en fait : la parade était normale</td>
                    <td>Résolution normale de parade</td>
                </tr>
                <tr>
                    <td>3-5</td>
                    <td>L'ennemi est repoussé</td>
                    <td>Il rate un assaut</td>
                </tr>
                <tr>
                    <td>6-7</td>
                    <td>L'ennemi trébuche</td>
                    <td>Il subit 1 attaque imparable</td>
                </tr>
                <tr>
                    <td>8-9</td>
                    <td>L'ennemi tombe</td>
                    <td>Il subit 2 attaques imparables</td>
                </tr>
                <tr>
                    <td>10-12</td>
                    <td>L'ennemi lâche son arme à 1 D6 mètres</td>
                    <td>Il combat à mains nues</td>
                </tr>
                <tr>
                    <td>13-15</td>
                    <td>L'ennemi casse son arme</td>
                    <td>Il combat à mains nues</td>
                </tr>
                <tr>
                    <td>16-18</td>
                    <td>L'ennemi reçoit un coup de votre arme</td>
                    <td>Il subit des dégâts</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>L'ennemi subit un coup critique avec votre arme</td>
                    <td>Il subit des dégâts : table critique</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>L'ennemi, ce loser, subit un coup critique avec son arme</td>
                    <td>II subit des dégâts : table critique</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='hand'">
            <p>A utiliser si jamais le héros s'engage dans un combat à mains nues</p>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Effet sur l'ennemi</th>
                    <th>Modif. dégâts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Ématome impressionnant</td>
                    <td>Degâts +1</td>
                </tr>
                <tr>
                    <td>3-4</td>
                    <td>Ématome et luxation d'un membre</td>
                    <td>Degâts +2</td>
                </tr>
                <tr>
                    <td>5-6</td>
                    <td>Fracture du nez, hémorragie nasale</td>
                    <td>Degâts +3</td>
                </tr>
                <tr>
                    <td>7-8</td>
                    <td>Fracture de côte</td>
                    <td>Degâts +4</td>
                </tr>
                <tr>
                    <td>9-10</td>
                    <td>Coup précis de bourrin dans la tempe</td>
                    <td>Degâts +2, cible étourdie 3 assauts</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Coup précis au sternum</td>
                    <td>Cible étourdie 4 assauts</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Luxation du genou</td>
                    <td>Dégâts +3 et modifs*</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Main cassée droite (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +3 et modifs*</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Mâchoire brisée</td>
                    <td>Dégâts +3, incapacité à parler</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Bras cassé droit (au D6 - 1-3) ou gauche (au D6 - 4-6)</td>
                    <td>Dégâts +4 et modifs*</td>
                </tr>
                <tr>
                    <td>16/17</td>
                    <td>Organes génitaux écrasés, houlala</td>
                    <td>Dégâts +5 et modifs*</td>
                </tr>
                <tr>
                    <td>18/19</td>
                    <td>Assommé</td>
                    <td>Inconscient</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Enfoncement du nez dans le cerveau</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td colspan=3>* voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='arrow'">
            <p>Projectiles : flèches, carreaux, javelots, poignards, dagues...</p>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Effet sur l'ennemi</th>
                    <th>Modif. dégâts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1 ou 2</td>
                    <td>Projectile bien placé</td>
                    <td>Degâts +1</td>
                </tr>
                <tr>
                    <td>3 à 4</td>
                    <td>Projectile magistralement placé</td>
                    <td>Degâts +2</td>
                </tr>
                <tr>
                    <td>5 à 6</td>
                    <td>Projectile dans une articulation du bras</td>
                    <td>Degâts +3, AT/PRD-2</td>
                </tr>
                <tr>
                    <td>7 à 8</td>
                    <td>Projectile dans une articulation de la jambe</td>
                    <td>Degâts +3, MV-50%</td>
                </tr>
                <tr>
                    <td>9 à 11</td>
                    <td>Projectile dans un poumon</td>
                    <td>Degâts +3, toutes caracs -1</td>
                </tr>
                <tr>
                    <td>12 à 16</td>
                    <td>Projectile de maître</td>
                    <td>Dégâts +5</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>En plein dans les organes génitaux, bien fait !</td>
                    <td>Dégâts +5 et durée**</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Organe vital endommagé</td>
                    <td>Dégâts +6 et durée**</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Coeur transpercé</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Oeil et cerveau transpercé, bien fait !</td>
                    <td>Décès</td>
                </tr>
                <tr>
                    <td colspan=3>* voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>
                <tr>
                    <td colspan=3>** Hémorragie, dégâts sur la durée : la victime perd 1 D6 PV chaque minute jusqu'à ce
                        qu'on la soigne
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row tab-content" [class.tab-hidden]="currentPanel != 'epicfail'">
    <div class="tab-inner-content">
        <div class="col-xs-12">
            <h3>Maladresses</h3>
            <ul>
                <li>Maladresse attaque-parade : tirer 20 au jet d'ATTAQUE ou PARADE</li>
                <li>Maladresse du sortilège : tirer 20 à l'épreuve au lancement du sort</li>
                <li>Maladresse à l'arme de jet : tirer 20 au jet d'ADRESSE</li>
                <li>Maladresse à mains nues : tirer 20 au jet d'ATTAQUE</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h4>
                <span (click)="selectSubPanel('combat')">
                    <span class="ra ra-sword ra-2x"></span>
                    <span [hidden]="currentSubPanel!='combat'">Maladresse attaque ou parade</span>
                </span>
                <span (click)="selectSubPanel('magic')">
                    <span class="ra ra-lightning-bolt ra-2x"></span>
                    <span [hidden]="currentSubPanel!='magic'">Maladresse au lancement du sort</span>
                </span>
                <span (click)="selectSubPanel('arrow')">
                    <span class="ra ra-arrow-flights ra-2x"></span>
                    <span [hidden]="currentSubPanel!='arrow'">Maladresse à l'arme de jet</span>
                </span>
                <span (click)="selectSubPanel('hand')">
                    <span class="ra ra-hand ra-2x"></span>
                    <span [hidden]="currentSubPanel!='hand'">Maladresse à mains nues</span>
                </span>
            </h4>
        </div>

        <div class="col-xs-12" [hidden]="currentSubPanel!='combat'">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Maladresse du combattant</th>
                    <th>Effets</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Rattrape son erreur in extremis</td>
                    <td>L'attaque échoue seulement</td>
                </tr>
                <tr>
                    <td>3-5</td>
                    <td>Trébuche et chute maladroitement</td>
                    <td>Le maladroit rate 2 assauts</td>
                </tr>
                <tr>
                    <td>6-7</td>
                    <td>Frappe un allié proche vers la gauche</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>8-9</td>
                    <td>Frappe un allié proche vers la droite</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>10-12</td>
                    <td>Lâche son arme comme un loser</td>
                    <td>Combat mains nues, change d'arme</td>
                </tr>
                <tr>
                    <td>13-15</td>
                    <td>Casse son arme (ou pas, voir point de rupture)</td>
                    <td>Combat mains nues, change d'arme</td>
                </tr>
                <tr>
                    <td>16-18</td>
                    <td>Se blesse tout seul comme un cake</td>
                    <td>Tirer des dégâts sur le combattant</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Se blesse très sévèrement de façon atroce et douloureuse</td>
                    <td>Dégâts sur le combattant (critique)</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Perd un oeil (au D6, 1-2) ou un doigt (au D6, 3-6)</td>
                    <td>Blessure grave**</td>
                </tr>
                <tr>
                    <td colspan=3>* Tirer 1 D6 pour savoir si l'arme résiste au choc — voir point de rup ure dans le tableau
                        de l'armement
                    </td>
                </tr>
                <tr>
                    <td colspan=3>** voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='magic'">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Effets sur le sortilège</th>
                    <th>Effets</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Rattrapage de dernière minute, sacré veinard</td>
                    <td>Le sort échoue simplement</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Le sort s'évapore et 50% des PA investis également</td>
                    <td>50% des PA sont perdus</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Le sort s'évapore et tous les PA investis sont perdus</td>
                    <td>100% des PA sont perdus</td>
                </tr>
                <tr>
                    <td>5-6</td>
                    <td>Le sort frappe la personne la plus proche vers la droite</td>
                    <td>Voir effets du sort</td>
                </tr>
                <tr>
                    <td>7-8</td>
                    <td>Le sort frappe la personne la plus proche vers la gauche</td>
                    <td>Voir effets du sort</td>
                </tr>
                <tr>
                    <td>9-10</td>
                    <td>Le sort frappe la personne la plus proche vers l'arrière</td>
                    <td>Voir effets du sort</td>
                </tr>
                <tr>
                    <td>11-12</td>
                    <td>Le sort frappe la personne la plus proche à l'avant</td>
                    <td>Voir effets du sort</td>
                </tr>
                <tr>
                    <td>13-16</td>
                    <td>Choc en retour : le sort revient vers le lanceur</td>
                    <td>Voir effets du sort</td>
                </tr>
                <tr>
                    <td>17-18</td>
                    <td>Zone d'effet multipiée par 1D10 - sort multidirectionnel*</td>
                    <td>Voir effets du sort</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Sort entropique à destination d'un ennemi**</td>
                    <td><a href='#' (click)="toggleDisplayPanel('entropic')">Voir sorts entropiques</a></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Sort entropique à destination d'un allié**</td>
                    <td><a href='#' (click)="toggleDisplayPanel('entropic')">Voir sorts entropiques</a></td>
                </tr>
                <tr>
                    <td colspan=3>*Le sortilège devient fou et frappe tout le monde dans une zone énorme</td>
                </tr>
                <tr>
                    <td colspan=3>** Un sort surgit de nulle part, et qui peut être n'importe quoi - le MJ décide</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='arrow'">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Maladresse du combattant</th>
                    <th>Effets</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Rattrape son erreur in extremis</td>
                    <td>Le projectile n'atteint pas la cible</td>
                </tr>
                <tr>
                    <td>3-5</td>
                    <td>Lâche son arme comme un loser</td>
                    <td>Combat mains nues, change d'arme</td>
                </tr>
                <tr>
                    <td>6-7</td>
                    <td>Frappe un allié proche vers la gauche</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>8-9</td>
                    <td>Frappe un allié proche vers la droite</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>10-12</td>
                    <td>Frappe l'allié le plus lointain</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>13-15</td>
                    <td>Casse son arme (ou pas, selon point de rupture*)</td>
                    <td>Combat à mains nues</td>
                </tr>
                <tr>
                    <td>16-18</td>
                    <td>Se tire dans le pied</td>
                    <td>Dégâts de l'arme +2</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Se blesse très sévèrement dans un grand cri haineux</td>
                    <td>Dégâts sur le combattant (critique)</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Crève l'oeil de l'allié le plus proche</td>
                    <td>Blessure grave**</td>
                </tr>
                <tr>
                    <td colspan=3>* Tirer 1 D6 pour savoir si l'arme résiste au choc — voir point de rup ure dans le tableau
                        de l'armement
                    </td>
                </tr>
                <tr>
                    <td colspan=3>** voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12" [hidden]="currentSubPanel!='hand'">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>D20</th>
                    <th>Maladresse du combattant</th>
                    <th>Effets</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1-2</td>
                    <td>Rattrape son erreur in extremis</td>
                    <td>L'attaque échoue seulement</td>
                </tr>
                <tr>
                    <td>3-10</td>
                    <td>Tombe et s'écrase le nez par terre</td>
                    <td>Perd 2 assauts, 2BL</td>
                </tr>
                <tr>
                    <td>11-12</td>
                    <td>Frappe un allié proche vers la gauche</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>13-14</td>
                    <td>Frappe un allié proche vers la droite</td>
                    <td>Tirer des dégâts sur l'allié</td>
                </tr>
                <tr>
                    <td>15-16</td>
                    <td>Se brise la main tout seul comme une tanche</td>
                    <td>3BL, blessure grave**</td>
                </tr>
                <tr>
                    <td>17-19</td>
                    <td>Se casse un bras bêtement</td>
                    <td>6BL, blessure grave**</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Tombe en arrière et s'assomme</td>
                    <td>Perte de connaissance</td>
                </tr>
                <tr>
                    <td colspan=3>** voir <a href='#' (click)=showEffects(4)>table des modifications liées aux blessures
                        graves</a></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row tab-content" [class.tab-hidden]="currentPanel != 'effects'">
    <div class="tab-inner-content">
        <effect-list [inputCategoryId]=effectsCategoryId></effect-list>
    </div>
</div>

<div class="row tab-content" [class.tab-hidden]="currentPanel != 'skills'">
    <div class="tab-inner-content">
        <div class="col-xs-12">
            <h3>Compétences</h3>
        </div>
        <div class="col-xs-12">
            <skill-list></skill-list>
        </div>
    </div>
</div>

<div class="row tab-content" [class.tab-hidden]="currentPanel != 'entropic'">
    <div class="tab-inner-content">
        <div class="col-xs-12">
            <h3>Tableau des sorts et prodiges entropiques</h3>
            <ul>
                <li>Les conséquences des sorts bizarres sont laissés à la discrétion du MJ</li>
                <li>1 personnage = celui qui fait le plus haut score au D6</li>
            </ul>
        </div>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Effet</th>
                <th>D100</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Pluie d'or</td>
                <td>2000 pièces d'or tombent du ciel en rafale, causant 1 D6 de BL à tout le monde, et ce dans un rayon de
                    50m — elles peuvent être ensuite ramassées mais ça prend du temps.
                </td>
                <td>1 à 5</td>
            </tr>
            <tr>
                <td>Pop corn mystique</td>
                <td>Toute la zone est noyée dans un énorme flot de pop corn, tout à fait comestible.</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Poussin géant</td>
                <td>Un ennemi, au choix du MJ, est changé en poussin géant, inoffensif. Sans ennemi, aucun effet.</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Chaussettes !</td>
                <td>Les armes des ennemis sont changées en chaussettes rouges. Sans ennemi, aucun effet.</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Les 'niellas</td>
                <td>Sans savoir pourquoi, les membres du groupe gagnent +2 en intelligence, pendant 24 heures.</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Baillement de Dlul</td>
                <td>Dlul se penche sur la scène et plonge tout le monde dans le sommeil, pour 1 D6 heures (tirer un D6 pour
                    chaque personne sur la zone, afin de savoir qui s'éveille en premier).
                </td>
                <td>10 à 15</td>
            </tr>
            <tr>
                <td>Guérison massive de Youclidh</td>
                <td>Tout le monde, dans un rayon de 50m, est soigné de toutes ses blessures (sauf les morts).</td>
                <td>16</td>
            </tr>
            <tr>
                <td>L'éveil de Chakhom</td>
                <td>Le dieu s'énerve. 2D6 chats furieux débarquent sur la zone et font n'importe quoi.</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Babouches !</td>
                <td>Toutes les lames (sauf reliques), sont changées en babouches dans un rayon de 50 mètres.</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Goldfinger</td>
                <td>Larme principale d'un personnage se change en or pur. Si c'est un Nain, il s'évanouit.</td>
                <td>19</td>
            </tr>
            <tr>
                <td>Tornade</td>
                <td>Une tornade glacée se déclenche et tout le monde perd 2D PV dans un rayon de 100m.</td>
                <td>20 à 25</td>
            </tr>
            <tr>
                <td>Déconcentration de Slanoush</td>
                <td>Toutes les créatures pensantes dans la zones sont le jouet d'hallucinations salaces. Ils doivent réussir
                    un jet d'intelligence ou bien se retrouver au sol, en position foetale. Durée :10
                    minutes.
                </td>
                <td>26</td>
            </tr>
            <tr>
                <td>Désirs de Lafoune</td>
                <td>Deux personnages veulent soudainement copuler. Ils ne cesseront que si on les assomme.</td>
                <td>27</td>
            </tr>
            <tr>
                <td>Auto-terreur</td>
                <td>Le mage se jette à lui-même le sort "terreur et il est effrayé par lui-même pendant 15 min.</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Influence de Keskonspwale</td>
                <td>Toutes les créatures pensantes dans la zone sont prises de fou-rire. Ils perdent 2 points de vie et ne
                    peuvent rien faire d'autre que rire pendant 5 minutes. Non, les animaux ne rient
                    pas.
                </td>
                <td>29</td>
            </tr>
            <tr>
                <td>Immolation</td>
                <td>Les vêtements d'l personnage (D6, pair) ou d'l ennemi (D6, impair) prennent feu, -2D6 PV. Tout ce qui
                    n'est pas "enchanté" ou "relique" est perdu.
                </td>
                <td>30</td>
            </tr>
            <tr>
                <td>Choc en retour</td>
                <td>Le mage se prend dans la tête une gifle de Namzar de haut niveau, il tombe et perd 10 PV.</td>
                <td>31</td>
            </tr>
            <tr>
                <td>L'homme-ballon</td>
                <td>1 personnage du groupe commence à gonfler comme un ballon, et ne tarde pas à s'envoler (il perd 1 D6
                    PV). On peut stopper le processus avec un dispel magic ou une blessure perforante. On
                    peut aussi l'attacher, il dégonfle au bout de 15 minutes. S'il s'envole, il mourra en tombant.
                </td>
                <td>32</td>
            </tr>
            <tr>
                <td>Vapeurs de Picrate</td>
                <td>La déesse Picrate génère un brouillard d'alcool, qui plonge tout le monde dans l'ivresse. Il faut
                    plusieurs heures pour récupérer, avec des caracs à -2 (et +4 en COU).
                </td>
                <td>33</td>
            </tr>
            <tr>
                <td>Expérience de Tzinntch</td>
                <td>L'un des aventuriers est frappé par un rayon noir de Tzinntch. Il perd 3D6 PV.</td>
                <td>34</td>
            </tr>
            <tr>
                <td>Soirée mousse</td>
                <td>Une zone de 100 mètres se couvre de mousse rose qui pique les yeux, à hauteur d'homme. Il est presque
                    impossible de combattre et il faut réussire des épreuves AD pour se mouvoir.
                </td>
                <td>35</td>
            </tr>
            <tr>
                <td>Pastèques</td>
                <td>Les chaussures de tous les aventuriers se transforment en pastèques, et ce n'est vraiment pas pratique !
                    -3 CHA et -4 AD jusqu'au changement (nouvelles chaussures ou dispel magic).
                </td>
                <td>36</td>
            </tr>
            <tr>
                <td>Vision débilitante</td>
                <td>Une vieille dame, nue sous un imperméable transparent, apparaît et danse en chantant. Le groupe perd 2
                    points en INT pendant 1H.
                </td>
                <td>37</td>
            </tr>
            <tr>
                <td>Débordement de Caddyro</td>
                <td>Des champignons géants poussent un peu partout, en quelques secondes.Ils explosent après 1 minute en
                    libérant des spores qui donnent les crampes de Burzum ! Les symptômes apparaissent immédiatement si les
                    aventuriers n'ont pas fui.
                </td>
                <td>38</td>
            </tr>
            <tr>
                <td>Cactus virulents</td>
                <td>Des cactus géant poussent un peu partout dans la zone. Épreuves AD pour les éviter, en cas d'échec la
                    cible encaisse 1 BL + poison Kirmu. La zone doit être évacuée rapidement.
                </td>
                <td>39</td>
            </tr>
            <tr>
                <td>Arme enchantée</td>
                <td>Si le groupe possède des flèches, l'une d'elle se met à briller. Elle est enchantée +4 PI, et désormais
                    indestructible. Il leur faudra la tester pour le découvrir, ou la faire examiner.
                </td>
                <td>40</td>
            </tr>
            <tr>
                <td>Mutation mineure</td>
                <td>Un personnage du groupe subit <a href='#' (click)=showEffects(1)>une mutation mineure</a>.</td>
                <td>41 à 50</td>
            </tr>
            <tr>
                <td>Le brouillard</td>
                <td>Il tombe un brouillard étrange, enchanté par un dieu. La visibilité devient presque nulle ! Les sorts et
                    prodiges ne fonctionnent plus. Durée :1 heure.
                </td>
                <td>51</td>
            </tr>
            <tr>
                <td>Expérience de Niourgl</td>
                <td>Le mage est touché par les miasmes de Niourgl et attrape la boustifilasse.</td>
                <td>52</td>
            </tr>
            <tr>
                <td>Expérience de Niourgl</td>
                <td>Le mage est touché par les miasmes de Niourgl et attrape la myxomarrante.</td>
                <td>53</td>
            </tr>
            <tr>
                <td>Démon sanglier</td>
                <td>Un démon sanglier apparaît, énervé (voir tableau des invocations).</td>
                <td>54</td>
            </tr>
            <tr>
                <td>Arme de feu</td>
                <td>L'arme d'un ennemi se transforme en arme de feu, avec +2 PI. Sans ennemi, pas d'effet.</td>
                <td>55</td>
            </tr>
            <tr>
                <td>Truiccube</td>
                <td>Une truiccube de Slanoush apparaît, énervée (voir tableau des invocations).</td>
                <td>56</td>
            </tr>
            <tr>
                <td>Injustice</td>
                <td>S'il y a au moins un innocent (passant, serviteur, etc.) à portée de vue du groupe, il est frappé par un
                    éclair de foudre (-4D6 PV). S'ils sont plusieurs, 1 D6 innocents sont frappés.
                    S'il n'y en a pas, le sort tombe sur le/les moins charismatiques héros du groupe.
                </td>
                <td>57</td>
            </tr>
            <tr>
                <td>Expérience de Niourgl</td>
                <td>Un personnage est touché par les miasmes de Niourgl et attrape la tremblotite.</td>
                <td>58</td>
            </tr>
            <tr>
                <td>Mauvais choix</td>
                <td>L'ennemi visé par le sort, si c'était le cas, devient géant. Fuyez ! Sans ennemi, c'est un personnage du
                    groupe qui devient géant (10 m de haut). Son équipement grandit avec lui.
                </td>
                <td>59</td>
            </tr>
            <tr>
                <td>Mutation majeure</td>
                <td>Un personnage du groupe subit une <a href='#' (click)=showEffects(2)>mutation majeure</a>.</td>
                <td>60 à 65</td>
            </tr>
            <tr>
                <td>Shalibukk</td>
                <td>Un démon Shalibukk apparaît, énervé (voir tableau des invocations).</td>
                <td>66</td>
            </tr>
            <tr>
                <td>Ère glaciaire</td>
                <td>La température s'abaisse soudain sur une zone de plusieurs kilomètres carrés, descendant jusqu'à faire
                    geler tous les liquides. Il faut s'abriter et se réchauffer. Durée : 6 heures.
                </td>
                <td>67</td>
            </tr>
            <tr>
                <td>Sans gravité</td>
                <td>L'influence de la gravité disparaît pratiquement sur une large zone. Les aventuriers et ennemis ne
                    seront plus que moyennement soumis à la gravité : ils peuvent sauter haut et loin, ne se
                    blessent pas s'ils tombent, et les tirs sont plus précis, etc. Durée : 1 heure.
                </td>
                <td>68</td>
            </tr>
            <tr>
                <td>La grande injustice</td>
                <td>Le personnage le moins fort du groupe est frappé par un petit météore : 5D de dégât. Si ex-aequo faites
                    la moyenne de FO, COU et CHA. Départagez au dé.
                </td>
                <td>69</td>
            </tr>
            <tr>
                <td>Mage malchanceux</td>
                <td>Le mage ayant lancé le sortilège subit 1 <a href='#' (click)=showEffects(2)>mutation majeure</a> et 1 <a
                    href='#' (click)=showEffects(1)>mineure</a>. Il perd également 1 D6 points de vie.
                </td>
                <td>70</td>
            </tr>
            <tr>
                <td>Sables mouvants</td>
                <td>Le sol se change en bourbier de sables mouvants, et tout le monde est lentement absorbé. Réussissez 1
                    épreuve (moyenne FO /AD) pour en sortir, ou périssez.
                </td>
                <td>71</td>
            </tr>
            <tr>
                <td>Nuée de Niourgl</td>
                <td>Des milliers de mouches, provenant d'un plan putréfié, envahissent la zone. Visibilité nulle et épreuve
                    de COU pour ne pas perdre les pédales.
                </td>
                <td>72</td>
            </tr>
            <tr>
                <td>La disparition</td>
                <td>Le sac à dos d'un aventurier se volatilise, avec tout ce qu'il contenait !</td>
                <td>73</td>
            </tr>
            <tr>
                <td>Changement de sexe</td>
                <td>Tous les aventuriers changent subitement de sexe (transformation :1 minute). Certains de leurs
                    vêtements/armure doivent être changés. Seul un exorcisme chez un prêtre de Slanoush pourra
                    régler ça (information à récupérer chez un sage).
                </td>
                <td>74</td>
            </tr>
            <tr>
                <td>Erreur de Youclidh</td>
                <td>L'avatar de Youclidh se penche par-dessus un nuage. Si les aventuriers ont des ennemis, il soigne
                    ceux-ci complètement, à la suite d'une erreur de jugement. Sinon, il rit et s'en va.
                </td>
                <td>75</td>
            </tr>
            <tr>
                <td>Touché d'Adathie</td>
                <td>Les bras d'un aventurier se transforment en merguez, sans doigts. 1 perd 1 D6 PV et -4 CHA. Il n'a plus
                    de mains et doit être exorcisé par un prêtre d'Adathie ou de Youclidh.
                </td>
                <td>76</td>
            </tr>
            <tr>
                <td>À poil !</td>
                <td>Un personnage est frappé d'un éclair mauve. Tout son équipement disparaît, le laissant nu. S'il
                    possèdait des reliques ou objets enchantés, il ne lui restera que ça.
                </td>
                <td>77</td>
            </tr>
            <tr>
                <td>Le grand malade</td>
                <td>Un personnage du groupe attrape une maladie, au D6 : 1=maldorantose, 2=gratouillette 3=flemitase dorée,
                    4=bubonite purulente, 5=peste de Kéleem, 6=zaibola.
                </td>
                <td>78</td>
            </tr>
            <tr>
                <td>Injustice</td>
                <td>S'il y a au moins un innocent à portée de vue du groupe, il reçoit le sort à la place de la cible. S'ils
                    sont plusieurs, 1 D6 innocents reçoivent le sort. S'il n'y en a pas, le sort tombe
                    sur le moins charismatique héros du groupe.
                </td>
                <td>79</td>
            </tr>
            <tr>
                <td>Mutations en chaîne</td>
                <td>Tous les personnages du groupe subissent <a href='#' (click)=showEffects(1)>une mutation mineure</a>.
                </td>
                <td>80 à 85</td>
            </tr>
            <tr>
                <td>Expérience de Niourgl</td>
                <td>Le mage est touché par les miasmes de Niourgl et reçoit la Bubonite Purulente.</td>
                <td>86</td>
            </tr>
            <tr>
                <td>Et vlan, un gorgauth</td>
                <td>Un gorgauth apparaît, il veut manger (voir tableau des invocations).</td>
                <td>87</td>
            </tr>
            <tr>
                <td>Dalmorg</td>
                <td>Un dalmorg apparaît, et il n'aime pas qu'on l'invoque (voir tableau des invocations).</td>
                <td>88</td>
            </tr>
            <tr>
                <td>Le Golbargh</td>
                <td>Le sort raté fait apparaître un Golbargh, et il n'est pas content (voir tableau des invocations).</td>
                <td>89</td>
            </tr>
            <tr>
                <td>Mutations en folie</td>
                <td>Chaque personnage du groupe subit une <a href='#' (click)=showEffects(2)>mutation majeure</a>.</td>
                <td>90 à 95</td>
            </tr>
            <tr>
                <td>Cataclysme de Tzinntch</td>
                <td>Un sort de masse de Tzinntch touche tout le monde dans une zone de 50m, causant 3D6 BL à chaque cible.
                    Ignore l'armure et les protections magiques.
                </td>
                <td>96</td>
            </tr>
            <tr>
                <td>Mage vraiment maudit</td>
                <td>Le mage ayant lancé le sortilège subit 2 <a href='#' (click)=showEffects(2)>mutations majeures</a> et <a
                    href='#' (click)=showEffects(1)>1 mineure</a>. Il perd également 2D6 points de vie (voir tableau des
                    mutations pour le reste).
                </td>
                <td>97</td>
            </tr>
            <tr>
                <td>Tempête électrique</td>
                <td>Une tempête électrique de grande ampleur touche la zone, causant 1 D6 BL ignorant l'armure à chaque
                    assaut, touchant tout le monde. Mieux vaut prendre la fuite rapidement ! Rayon de 50 m,
                    environnement détruit à moins qu'il ne s'agissvalue de pierre.
                </td>
                <td>98</td>
            </tr>
            <tr>
                <td>Tempête de feu majeure</td>
                <td>Une pluie de météores enflammés s'abat sur une zone de 10 hectares, détruisant tout sur son passage. À
                    moins de trouver rapidement un abri profond sous terre, chaque héros lance 1 d6 :
                    sur 1 ou 2, il meurt écrasé et brûlé.
                </td>
                <td>99</td>
            </tr>
            <tr>
                <td>L'Ange de la Mort</td>
                <td>L'Ange de la mort, invoqué par le sortilège entropique, apparaît et tue un aventurier. Puis il s'en
                    retourne en ricanant, en faisant voler sa cape.
                </td>
                <td>100</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="tabs-category">
    <div [class.tab-icon-critic-selected]="currentPanel==='critic'"
         class="tab-icon game-icon tab-icon-critic game-icon-spiky-eclipse"
         (click)="toggleDisplayPanel('critic')"></div>
    <div [class.tab-icon-epicfail-selected]="currentPanel==='epicfail'"
         class="tab-icon game-icon tab-icon-epicfail game-icon-dripping-blade"
         (click)="toggleDisplayPanel('epicfail')"></div>
    <div [class.tab-icon-effects-selected]="currentPanel==='effects'"
         class="tab-icon game-icon tab-icon-effects game-icon-pierced-body"
         (click)="toggleDisplayPanel('effects')"></div>
    <div [class.tab-icon-entropic-selected]="currentPanel==='entropic'"
         class="tab-icon game-icon tab-icon-entropic game-icon-bolt-spell-cast"
         (click)="toggleDisplayPanel('entropic')"></div>
    <div [class.tab-icon-skills-selected]="currentPanel==='skills'" class="tab-icon game-icon tab-icon-skills game-icon-gears"
         (click)="toggleDisplayPanel('skills')"></div>
</div>
