<mat-toolbar color="primary">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <span>
    Créer un modèle de monstre
  </span>
  <span class="add-button-with-loader">
    @if (saving) {
      <mat-spinner color="accent" diameter="32"></mat-spinner>
    }
    @if (!data.monsterTemplate) {
      <button mat-button (click)="save()" [disabled]="!form.valid || saving">
        AJOUTER
      </button>
    }
    @if (data.monsterTemplate) {
      <button mat-button (click)="save()" [disabled]="!form.valid || saving">
        ÉDITER
      </button>
    }
  </span>
</mat-toolbar>

<div class="content mat-typography">
  <mat-card>
    <mat-card-content>
      <div class="category-selection">
        <mat-form-field class="type-selector">
          <mat-select [ngModel]="selectedType" (selectionChange)="selectType($event.value);" placeholder="Catégorie">
            @for (type of monsterTemplateTypes; track type) {
              <mat-option [value]="type">{{type.name}}</mat-option>
            }
            <mat-option [value]="'new'">
              <span class="secondary-text">
                Ajouter...
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        @if (selectedType) {
          <mat-form-field class="category-selector">
            <mat-select [ngModel]="selectedSubCategory" (selectionChange)="selectSubCategory($event.value)"
              placeholder="Sous-catégorie">
              @for (subCategory of selectedType.subCategories; track subCategory) {
                <mat-option [value]="subCategory">
                  {{subCategory.name}}
                </mat-option>
              }
              <mat-option [value]="'new'">
                <span class="secondary-text">
                  Ajouter...
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        }
      </div>

      <h2>Informations générales</h2>

      <form [formGroup]="form">
        <div class="name">
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput
              required
              autocomplete="off"
              autocapitalize="off"
              formControlName="name"
              />
          </mat-form-field>
        </div>

        <ng-container formGroupName="data">

          <div class="at">
            <mat-form-field>
              <mat-label>Attaque</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="at"
                />
            </mat-form-field>
          </div>
          <div class="prd">
            <mat-form-field>
              <mat-label>Parade</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="prd"
                />
            </mat-form-field>
          </div>
          <div class="esq">
            <mat-form-field>
              <mat-label>Esquive</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="esq"
                />
            </mat-form-field>
          </div>
          <div class="ev">
            <mat-form-field>
              <mat-label>E.Vitale</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="ev"
                />
            </mat-form-field>
          </div>
          <div class="ea">
            <mat-form-field>
              <mat-label>E.Astrale</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="ea"
                />
            </mat-form-field>
          </div>
          <div class="xp">
            <mat-form-field>
              <mat-label>Experience</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="xp"
                />
            </mat-form-field>
          </div>
          <div class="pr">
            <mat-form-field>
              <mat-label>Protection</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="pr"
                />
            </mat-form-field>
          </div>
          <div class="pr_magic">
            <mat-form-field>
              <mat-label>Protec.Magique</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="pr_magic"
                />
            </mat-form-field>
          </div>
          <div class="resm">
            <mat-form-field>
              <mat-label>Resist.Magique</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="resm"
                />
            </mat-form-field>
          </div>
          <div class="dmg">
            <mat-form-field>
              <mat-label>Dégats</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                formControlName="dmg"
                />
            </mat-form-field>
          </div>
          <div class="cou">
            <mat-form-field>
              <mat-label>Courage</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="cou"
                />
            </mat-form-field>
          </div>
          <div class="chercheNoise">
            <mat-checkbox formControlName="chercheNoise">
              Chercher des noises
            </mat-checkbox>
          </div>
          <div class="page">
            <mat-form-field>
              <mat-label>Page (bestiaire)</mat-label>
              <input matInput
                autocomplete="off"
                autocapitalize="off"
                type="number"
                formControlName="page"
                />
            </mat-form-field>
          </div>
          <div class="note">
            <mat-form-field>
              <mat-label>Note</mat-label>
              <textarea matInput
                formControlName="note"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5">
              </textarea>
            </mat-form-field>
          </div>

        </ng-container>
      </form>

      <h2>Traits</h2>
      <div class="traits">
        @for (trait of selectedTraits; track trait) {
          <div>
            {{traitsById[trait.traitId].name}}{{traitsById[trait.traitId].levels ? ' - ' + trait.level :''}}
          </div>
        }
        <button mat-raised-button (click)="openSelectTraitsDialog()">
          <mat-icon>edit</mat-icon>
          Sélectionner
        </button>
      </div>
      <!--
      TODO: Will do this later, when map is done. Only ways I see to do this interface are all too complex and boring
      <h2>Localisations</h2>
      <div class="locations">
        <button mat-raised-button>
          <mat-icon>add</mat-icon>
          Ajouter
        </button>
      </div>
      -->
      <h2>Inventaire</h2>
      <div class="inventory">
        @for (inventoryElement of monsterInventory; track inventoryElement) {
          <div class="inventory-element">
            <icon [icon]="inventoryElement.itemTemplate.data.icon"></icon>
            <span>
              @if (inventoryElement.minCount === inventoryElement.maxCount && inventoryElement.minCount !== 1) {
                <span>{{inventoryElement.minCount}}</span>
              }
              @if (inventoryElement.minCount !== inventoryElement.maxCount) {
                <span>{{inventoryElement.minCount}} - {{inventoryElement.maxCount}}</span>
              }
              {{inventoryElement.itemTemplate.name}}
              @if (inventoryElement.minUg !== undefined && inventoryElement.minUg !== inventoryElement.maxUg) {
                <span>({{inventoryElement.minUg}} - {{inventoryElement.maxUg}} U.G.)</span>
              }
              @if (inventoryElement.minUg !== undefined && inventoryElement.minUg === inventoryElement.maxUg) {
                <span>({{inventoryElement.minUg}} U.G.)</span>
              }
            </span>
            <span>{{inventoryElement.chance * 100 | number:'1.0-2'}}%</span>
            <span>
              <button mat-icon-button [matMenuTriggerFor]="inventoryElementMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #inventoryElementMenu="matMenu">
                <button mat-menu-item (click)="openEditInventoryElementDialog(inventoryElement)">
                  <mat-icon>edit</mat-icon> Modifier
                </button>
                <button mat-menu-item (click)="removeInventoryElement(inventoryElement)">
                  <mat-icon>delete</mat-icon> Supprimer
                </button>
              </mat-menu>
            </span>
          </div>
        }
        <button mat-raised-button (click)="openAddItemToInventoryDialog()">
          <mat-icon>add</mat-icon>
          Ajouter
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
