@use "../../app/style/responsive-utils" as responsive;

:host {
    mat-card-header {
        display: grid;
        grid-template-columns: 1fr 40px;
        gap: 8px;
    }

    mat-card-content {
        .field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .label {
            }

            .value {

            }

            .label::after {
            }
        }

        .monster-stats-row {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: minmax(15px, 150px)  minmax(15px, 150px)  minmax(15px, 150px) minmax(15px, 150px)
            minmax(15px, 150px) minmax(26px, 150px) minmax(15px, 150px) minmax(15px, 150px);
            grid-template-areas: "at prd esq ev ea pr cou xp";

            .at {
                grid-area: at;
            }
            .prd {
                grid-area: prd;
            }
            .esq {
                grid-area: esq;
            }
            .ev {
                grid-area: ev;
            }
            .ea {
                grid-area: ea;
            }
            .pr {
                grid-area: pr;
            }
            .cou {
                grid-area: cou;
            }
            .xp {
                grid-area: xp;
            }
            .xp {
                grid-area: xp;
            }
        }
    }

    .section-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .section-content {
        margin-left: 16px;
    }

    .inventory-element {
        cursor: pointer;
        align-items: center;
        display: grid;
        grid-template-columns: 32px 1fr auto;
        grid-gap: 8px;
    }

    .monster-traits-row {
        display: flex;
        flex-wrap: wrap;

        > div {
            flex: 0 0 auto;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
