<h2>Bestiaires</h2>
@if (isAdmin) {
  <div class="add-button">
    <button mat-fab (click)="openCreateMonsterTemplateDialog()">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
}
<div class="monster-category-selector">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedMonsterType" (selectionChange)="selectMonsterType($event.value)">
      @for (monsterType of monsterTypes; track monsterType) {
        <mat-option [value]="monsterType">
          {{monsterType.name}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (selectedMonsterType) {
    <mat-form-field>
      <mat-select [(ngModel)]="selectedMonsterSubCategory">
        @for (monsterSubCategory of selectedMonsterType.subCategories; track monsterSubCategory) {
          <mat-option [value]="monsterSubCategory">
            {{monsterSubCategory.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</div>
<div class="monster-templates">
  @if (selectedMonsterSubCategory) {
    @for (monster of monsterBySubCategory[selectedMonsterSubCategory.id]; track monster) {
      <div>
        <monster-template (edit)="editMonster($event)" [isAdmin]="isAdmin" [monsterTemplate]="monster"></monster-template>
      </div>
    }
  }
</div>
