<h2>Bestiaires</h2>
<div class="add-button" *ngIf="isAdmin">
    <button mat-fab (click)="openCreateMonsterTemplateDialog()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>
<div class="monster-category-selector">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedMonsterType" (selectionChange)="selectMonsterType($event.value)">
            <mat-option *ngFor="let monsterType of monsterTypes" [value]="monsterType">
                {{monsterType.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedMonsterType">
        <mat-select [(ngModel)]="selectedMonsterSubCategory">
            <mat-option *ngFor="let monsterSubCategory of selectedMonsterType.subCategories" [value]="monsterSubCategory">
                {{monsterSubCategory.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="monster-templates">
    <ng-container *ngIf="selectedMonsterSubCategory">
        <div *ngFor="let monster of monsterBySubCategory[selectedMonsterSubCategory.id]">
            <monster-template (edit)="editMonster($event)" [isAdmin]="isAdmin" [monsterTemplate]="monster"></monster-template>
        </div>
    </ng-container>
</div>
