@import '~@angular/material/theming';

@mixin value-selector-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .ve-value {
        background: linear-gradient(mat-color($primary, default, 0.12), mat-color($primary, default, 0.20));
    }
    .ve-value:hover {
        background: linear-gradient(mat-color($primary, default, 0.30), mat-color($primary, default, 0.30));
    }

    .ve-keyboard-container {;
        .ve-title {
            background: mat-color($background, card);
            color: mat-color($foreground, base);
            border-color: mat-color($foreground, divider);
        }
    }
    .ve-mobile-container {
        .ve-summary,
        .ve-title {
            background: mat-color($background, card);
            color: mat-color($foreground, base);
        }

        .ve-delta-value {
            background: mat-color($background, background);
            color: mat-color($foreground, base);
        }

        .ve-button {
            &.ve-button-valid {
                background: mat-color($accent);
                color: mat-color($accent, default-contrast);
            }

            &.ve-button-s500,
            &.ve-button-s50,
            &.ve-button-s5,
            &.ve-button-s1 {
                background: mat-color($primary, 400);
                color: mat-color($primary, default-contrast);
            }

            &.ve-button-reset,
            &.ve-button-max,
            &.ve-button-zero,
            {
                background: mat-color($primary);
                color: mat-color($primary, default-contrast);

                [disabled] {
                    background: mat-color($background, disabled-button);
                    color: mat-color($foreground, disabled-button);
                }
            }

            &.ve-button-a500,
            &.ve-button-a50,
            &.ve-button-a5,
            &.ve-button-a1 {
                background: mat-color($primary, 600);
                color: mat-color($primary, default-contrast);
            }

            &.disabled {
                background: mat-color($background, disabled-button);
                color: mat-color($foreground, disabled-button);
            }
        }

    }
}
