<span class="autocomplete-container">
    <md-input-container #autocompleteOrigin="cdkOverlayOrigin" cdk-overlay-origin>
        <input mdInput
               #inputField
               [disabled]="disabled"
               [placeholder]="placeholder"
               (keydown)="onKey($event)"
               [(ngModel)]="value"
               (ngModelChange)="updateList()"
               (click)="updateList()"
               autocomplete="false"/>
    </md-input-container>

    <ng-template cdk-connected-overlay
              [origin]="autocompleteOrigin"
              [open]="value && matchingValues !== null && matchingValues?.length > 0"
              [offsetY]="-20"
              hasBackdrop
              backdropClass="cdk-overlay-transparent-backdrop"
              (backdropClick)="matchingValues = null">
        <md-nav-list dense class="autocomplete-overlay">
            <ng-template ngFor let-item [ngForOf]="matchingValues" let-i="index">
                <md-list-item (click)="selectValue(item)" [class.selected]="preSelectedValueIndex === i">
                    <span *ngIf="item.icon" md-list-avatar><icon [size]="'40px'" [icon]="item.icon"></icon></span>
                    <span md-line>{{item.text}}</span>
                    <span md-line *ngIf="item.secondaryText" class="secondary-text">{{item.secondaryText}}</span>
                </md-list-item>
            </ng-template>
        </md-nav-list>
    </ng-template>
</span>
