<span class="autocomplete-container">
    <md-input-container #autocompleteOrigin="cdkOverlayOrigin" cdk-overlay-origin>
        <input mdInput
               #inputField
               [disabled]="disabled"
               [placeholder]="placeholder"
               (keydown)="onKey($event)"
               [(ngModel)]="value"
               (ngModelChange)="updateList()"
               (click)="updateList()"
               autocomplete="false"/>
    </md-input-container>

    <ng-template cdk-connected-overlay
              [origin]="autocompleteOrigin"
              [open]="matchingValues !== null && matchingValues?.length > 0"
              hasBackdrop
              backdropClass="cdk-overlay-transparent-backdrop"
              (backdropClick)="matchingValues = null">
        <md-nav-list dense class="autocomplete-overlay">
            <ng-template ngFor let-item [ngForOf]="matchingValues" let-i="index">
                <md-list-item (click)="selectValue(item)" [class.active]="preSelectedValueIndex === i">
                    {{item.text}}
                </md-list-item>
            </ng-template>
        </md-nav-list>
    </ng-template>
</span>
