.selector-panel {
    max-width: 85vw;
    mat-card-content {
        max-width: 700px;
        max-height: 75vh;
        overflow-y: auto;
        mat-card {
            margin-bottom: 5px;
        }
    }
}

.summary {
    display: flex;
    align-items: center;
}

.color-list {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.icon-list {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.clickable {
    cursor: pointer;
}
