.selector-panel {
    max-width: 85vw;
    md-card-content {
        max-width: 700px;
        max-height: 75vh;
        overflow-y: auto;
        md-card {
            margin-bottom: 5px;
        }
    }
}

.summary {
    display: flex;
    align-items: center;
}
