<span (click)="openIconSelectorDialog(); $event.stopPropagation()">
    <icon [class.clickable]="!readonly" [size]="size" [icon]="icon"></icon>
</span>
<ng-template #iconSelectorDialog="cdkPortal" cdk-portal>
    <mat-card class="selector-panel">
        <mat-card-title>Selection de l'icone</mat-card-title>
        <mat-card-content>
            <mat-card>
                <mat-card-subtitle>Icône</mat-card-subtitle>
                <div>
                    <div>
                        <mat-form-field align="end">
                            <input matInput
                                   placeholder="Icone"
                                   type="text"
                                   [(ngModel)]="filter"
                                   (ngModelChange)="updateFiltered()">
                            <mat-hint align="end">
                                Actuelle: {{icon.name}}
                            </mat-hint>
                        </mat-form-field>
                        <button mat-icon-button (click)="selectRandom()"><span class="ra ra-perspective-dice-random ra-2x"></span></button>
                    </div>
                </div>
                <div style="font-size: 32px;">
                    <ng-template ngFor let-iconName [ngForOf]="filteredIcons">
                        <span class="game-icon" [ngClass]="'game-icon-' + iconName" (click)="selectIcon(iconName)"></span>
                    </ng-template>
                </div>
            </mat-card>
            <mat-card>
                <mat-card-subtitle>Couleur</mat-card-subtitle>
                <div style="font-size: 32px; ">
                    <ng-template ngFor let-color [ngForOf]="colors">
                        <span class="game-icon" [ngClass]="'game-icon-' + newIcon.name" (click)="selectColor(color)" [style.color]="color"></span>
                    </ng-template>
                </div>
            </mat-card>
            <mat-card>
                <mat-card-subtitle>Orientation</mat-card-subtitle>
                <span (click)="selectRotation(0)"><icon [size]="'32px'" [icon]="iconRot0"></icon></span>
                <span (click)="selectRotation(90)"><icon [size]="'32px'" [icon]="iconRot90"></icon></span>
                <span (click)="selectRotation(180)"><icon [size]="'32px'" [icon]="iconRot180"></icon></span>
                <span (click)="selectRotation(270)"><icon [size]="'32px'" [icon]="iconRot270"></icon></span>
            </mat-card>
            <mat-card>
                <mat-card-subtitle>Changement</mat-card-subtitle>
                <div class="summary">
                    <icon [size]="'32px'" [icon]="icon" (click)="resetNewIcon()"></icon>
                    ->
                    <icon [size]="'32px'" [icon]="newIcon"></icon>
                </div>
            </mat-card>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="closeIconSelectorDialog()">FERMER</button>
            <button mat-button color="primary" (click)="resetNewIcon()">RESET</button>
            <button mat-button color="accent" (click)="saveChange()">VALIDER</button>
        </mat-card-actions>
    </mat-card>
</ng-template>
