<div *ngIf="modifiers && modifiers.length > 0" class="row">
	<div class="col-md-2">
		<button md-icon-button (click)="clear()"><md-icon>delete_forever</md-icon></button>
	</div>
</div>
<div *ngFor="let modifier of modifiers; let i=index" class="row" [class.bg-success]="modifier.value > 0" [class.bg-danger]="modifier.value < 0">
    <button md-icon-button (click)="removeModifier(i)"><md-icon>delete</md-icon></button>
	<span>{{modifier | modifier}}</span>
	<span *ngIf="options.indexOf('job') !== -1" class="col-xs-2">
		<select #jobSelector [(ngModel)] ="modifier.job">
			<option></option>
			<option *ngFor="let job of jobs" [attr.value]="job.id">{{job.name}}</option>
		</select>
	</span >
	<span *ngIf="options.indexOf('origin') !== -1" class="col-xs-3">
		<select #originSelector [(ngModel)] ="modifier.origin">
			<option></option>
			<option *ngFor="let origin of origins" [attr.value]="origin.id">{{origin.name}}</option>
		</select>
	</span>
	<span *ngIf="options.indexOf('special') !== -1"  class="col-xs-3">
		<div *ngIf="!modifier.special" (click)="modifier.special = []">Add special</div>
		<div *ngIf="modifier.special" (click)="modifier.special = null">Remove special</div>
		<div *ngIf="modifier.special">
			<div *ngFor="let v of specialsValue">
				<input type="checkbox" [checked]="modifier.special.indexOf(v) !== -1" (click)="toggleSpecial(i, v)"/> {{v}}
			</div>
		</div>
	</span>
</div>
<div class="large-editor">
    <div>Stat:</div>
    <md-button-toggle-group [(ngModel)]="basicSelectedStat" (change)="updateSelectedStat('basic')">
        <md-button-toggle *ngFor="let stat of basicStats" [value]="stat">
            {{stat}}
        </md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group [(ngModel)]="lifeSelectedStat" (change)="updateSelectedStat('life')">
        <md-button-toggle *ngFor="let stat of lifeStats" [value]="stat">
            {{stat}}
        </md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group [(ngModel)]="combatSelectedStat" (change)="updateSelectedStat('combat')">
        <md-button-toggle *ngFor="let stat of combatStats" [value]="stat">
            {{stat}}
        </md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group [(ngModel)]="magicSelectedStat" (change)="updateSelectedStat('magic')">
        <md-button-toggle *ngFor="let stat of magicStats" [value]="stat">
            {{stat}}
        </md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group [(ngModel)]="otherSelectedStat" (change)="updateSelectedStat('other')">
        <md-button-toggle *ngFor="let stat of stats" [value]="stat">
            {{stat}}
        </md-button-toggle>
    </md-button-toggle-group>

    <div>Modification type:</div>
    <md-button-toggle-group [(ngModel)]="selectedType">
        <md-button-toggle [value]="'ADD'">ADD</md-button-toggle>
        <md-button-toggle [value]="'MUL'">MUL</md-button-toggle>
        <md-button-toggle [value]="'DIV'">DIV</md-button-toggle>
        <md-button-toggle [value]="'SET'">SET</md-button-toggle>
        <md-button-toggle [value]="'PERCENTAGE'">PERCENTAGE</md-button-toggle>
    </md-button-toggle-group>

    <div>Valeur:</div>
    <md-button-toggle-group [(ngModel)]="value" (change)="addModifier()">
        <md-button-toggle [value]="-5">-5</md-button-toggle>
        <md-button-toggle [value]="-4">-4</md-button-toggle>
        <md-button-toggle [value]="-3">-3</md-button-toggle>
        <md-button-toggle [value]="-2">-2</md-button-toggle>
        <md-button-toggle [value]="-1">-1</md-button-toggle>
        <md-button-toggle [value]="0">0</md-button-toggle>
        <md-button-toggle [value]="1">1</md-button-toggle>
        <md-button-toggle [value]="2">2</md-button-toggle>
        <md-button-toggle [value]="3">3</md-button-toggle>
        <md-button-toggle [value]="4">4</md-button-toggle>
        <md-button-toggle [value]="5">5</md-button-toggle>
        <md-button-toggle [value]="6">6</md-button-toggle>
        <md-button-toggle [value]="7">7</md-button-toggle>
        <md-button-toggle [value]="8">8</md-button-toggle>
        <md-button-toggle [value]="9">9</md-button-toggle>
        <md-button-toggle [value]="10">10</md-button-toggle>
    </md-button-toggle-group>
    <md-input-container>
        <input mdInput placeholder="Valeur" [(ngModel)]="value" />
    </md-input-container>
</div>

<div class="small-editor">
    <md-select placeholder="Stat" [(ngModel)]="selectedStat" (change)="selectStat($event.value)">
        <md-option *ngFor="let stat of basicStats" [value]="stat">
            {{stat}}
        </md-option>
        <md-divider></md-divider>
        <md-option *ngFor="let stat of lifeStats" [value]="stat">
            {{stat}}
        </md-option>
        <md-divider></md-divider>
        <md-option *ngFor="let stat of combatStats" [value]="stat">
            {{stat}}
        </md-option>
        <md-divider></md-divider>
        <md-option *ngFor="let stat of magicStats" [value]="stat">
            {{stat}}
        </md-option>
        <md-divider></md-divider>
        <md-option *ngFor="let stat of stats" [value]="stat">
            {{stat}}
        </md-option>
    </md-select>

    <md-select placeholder="Modification type" [(ngModel)]="selectedType">
        <md-option [value]="'ADD'">ADD</md-option>
        <md-option [value]="'MUL'">MUL</md-option>
        <md-option [value]="'DIV'">DIV</md-option>
        <md-option [value]="'SET'">SET</md-option>
        <md-option [value]="'PERCENTAGE'">PERCENTAGE</md-option>
    </md-select>

    <span class="editor-value">
        <div class="label secondary-text">Valeur</div>
        <div class="value">
            <value-editor [value]="value" (onChange)="selectValue($event)"></value-editor>
        </div>
    </span>
</div>
