<h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>
<mat-dialog-content>
    <p class="mat-body" *ngIf="data.text">
        {{data.text}}
    </p>
    <mat-form-field>
        <input [placeholder]="data.placeholder" matInput #input/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="=end">
    <button mat-button color="primary" mat-dialog-close>{{data.cancelText}}</button>
    <button mat-button color="primary" (click)="confirm(input.value)">{{data.confirmText}}</button>
</mat-dialog-actions>
