<div class="stat-requirements">
    <div *ngIf="requirements && requirements.length > 0" class="delete_all_button">
        <button md-icon-button
                (click)="clear()"
                color="warn">
            <md-icon>delete_forever</md-icon>
        </button>
    </div>

    <div class="requirements-list">
        <div *ngFor="let requirement of requirements; let i=index" class="requirement-line">
            <button md-icon-button
                    (click)="removeRequirement(i)"
                    color="accent">
                <md-icon>delete_forever</md-icon>
            </button>
            <div *ngIf="requirement.min">
                Min {{requirement.stat}}: {{requirement.min}}
            </div>
            <div *ngIf="requirement.max">
                Max {{requirement.stat}}: {{requirement.max}}
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <md-input-container>
            <input md-input
                   [(ngModel)]="minValue"
                   type="number"
                   min="0"
                   placeholder="min"/>
        </md-input-container>
        <md-input-container>
            <input md-input
                   [(ngModel)]="maxValue"
                   type="number"
                   min="0"
                   placeholder="max"/>
        </md-input-container>
    </div>
    <md-button-toggle-group [(ngModel)]="selectedStat">
        <md-button-toggle *ngFor="let stat of stats"
                          (click)="setStat(stat)"
                          class="btn btn-primary">
            {{stat.name}}
        </md-button-toggle>
    </md-button-toggle-group>
</div>
