<div class="stat-requirements">
    <div *ngIf="requirements && requirements.length > 0" class="delete_all_button">
        <button mat-icon-button
                (click)="clear()"
                color="warn">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>

    <div class="requirements-list">
        <div *ngFor="let requirement of requirements; let i=index" class="requirement-line">
            <button mat-icon-button
                    (click)="removeRequirement(i)"
                    color="accent">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <div *ngIf="requirement.min">
                Min {{requirement.stat}}: {{requirement.min}}
            </div>
            <div *ngIf="requirement.max">
                Max {{requirement.stat}}: {{requirement.max}}
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <mat-form-field>
            <input matInput
                   [(ngModel)]="minValue"
                   type="number"
                   min="0"
                   placeholder="min"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   [(ngModel)]="maxValue"
                   type="number"
                   min="0"
                   placeholder="max"/>
        </mat-form-field>
    </div>
    <mat-button-toggle-group [(ngModel)]="selectedStat">
        <mat-button-toggle *ngFor="let stat of stats"
                          (click)="setStat(stat)"
                          class="btn btn-primary">
            {{stat.name}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
