<span cdk-overlay-origin #trigger="cdkOverlayOrigin" (click)="showEditor()" class="ve-value">
    {{value|number}}<span *ngIf="maxValue">/{{maxValue}}</span>
</span>

<template cdk-connected-overlay [origin]="trigger" hasBackdrop [open]="displayEditor"
          (backdropClick)="hideEditor()" (attach)="onDisplayed($event)">
    <div style="position: relative">
        <div class="ve-container"
             [style.bottom]="(-15 - yOffset) + 'px'"
             [style.left]="(40 + xOffset)+ 'px'">

            <div class="ve-delta-value">
                {{valueDelta ? valueDelta : "0"}}
            </div>
            <div class="ve-summary">
                <div>
                    {{value}} <span *ngIf="maxValue">/{{maxValue}}</span> -> {{newValue}} <span *ngIf="maxValue">/{{maxValue}}</span>
                </div>
            </div>
            <div *ngIf="title" class="ve-title">
                <div>{{title}}</div>
            </div>
            <div class="ve-actions">
                <div class="minus-buttons">
                    <button (click)="changeValue('-50')">
                        -50
                    </button>
                    <button (click)="changeValue('-5')">
                        -5
                    </button>
                    <button (click)="changeValue('-1')">
                        -1
                    </button>
                </div>
                <div class="plus-buttons">
                    <button (click)="changeValue('+50')">
                        +50
                    </button>
                    <button (click)="changeValue('+5')">
                        +5
                    </button>
                    <button (click)="changeValue('+1')">
                        +1
                    </button>
                </div>
                <div class="max-zero-buttons">
                    <button (click)="changeValue('max')" [disabled]="!maxValue">
                        Max
                    </button>
                    <button (click)="changeValue('zero')">
                        0
                    </button>
                </div>
                <div class="valid-button">
                    <button (click)="commitValue()"><md-icon>check</md-icon></button>
                </div>
            </div>
        </div>
    </div>
</template>
