<span md-ripple cdk-overlay-origin #trigger="cdkOverlayOrigin" (click)="showEditor($event)" class="ve-value">
    {{value|number}}<span *ngIf="maxValue && !hideMaxValue">/{{maxValue}}</span
></span
><ng-template cdk-connected-overlay [origin]="trigger" hasBackdrop [open]="displayEditor"
          (backdropClick)="hideEditor()" (attach)="onDisplayed()">
    <div style="position: relative">
        <div class="ve-container"
             [style.bottom]="(-15 - yOffset) + 'px'"
             [style.left]="(40 + xOffset)+ 'px'">

            <div class="ve-delta-value">
                {{newValue}}
            </div>
            <div class="ve-summary">
                <div>
                    {{value}} <span *ngIf="maxValue">/{{maxValue}}</span> -> {{newValue}} <span *ngIf="maxValue">/{{maxValue}}</span> ({{valueDelta ? valueDelta : "0"}})
                </div>
            </div>
            <div *ngIf="title" class="ve-title">
                <div>{{title}}</div>
            </div>
            <div class="ve-actions">
                <div class="minus-buttons" [class.disabled]="newValue === minValue">
                    <button md-ripple [disabled]="newValue === minValue" [mdRippleColor]="'primary'" (click)="changeValue('-500')">
                        -500
                    </button>
                    <button md-ripple [disabled]="newValue === minValue" [mdRippleColor]="'primary'" (click)="changeValue('-50')">
                        -50
                    </button>
                    <button md-ripple [disabled]="newValue === minValue" [mdRippleColor]="'primary'" (click)="changeValue('-5')">
                        -5
                    </button>
                    <button md-ripple [disabled]="newValue === minValue" [mdRippleColor]="'primary'" (click)="changeValue('-1')">
                        -1
                    </button>
                </div>
                <div class="plus-buttons">
                    <button md-ripple [mdRippleColor]="'primary'" (click)="changeValue('+500')">
                        +500
                    </button>
                    <button md-ripple [mdRippleColor]="'primary'" (click)="changeValue('+50')">
                        +50
                    </button>
                    <button md-ripple [mdRippleColor]="'primary'" (click)="changeValue('+5')">
                        +5
                    </button>
                    <button md-ripple [mdRippleColor]="'primary'" (click)="changeValue('+1')">
                        +1
                    </button>
                </div>
                <div class="max-zero-buttons">
                    <button md-ripple [mdRippleColor]="'primary'" class="btn-reset" (click)="changeValue('reset')">
                        RESET
                    </button>
                    <button md-ripple [mdRippleColor]="'primary'" class="btn-max" (click)="changeValue('max')" [disabled]="!maxValue">
                        MAX
                    </button>
                    <button md-ripple [mdRippleColor]="'primary'" (click)="changeValue('zero')">
                        0
                    </button>
                </div>
                <div class="valid-button">
                    <button md-ripple [mdRippleColor]="'primary'" (click)="commitValue()"><md-icon>check</md-icon></button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
