
<ng-template #addEffectDialog="cdkPortal" cdk-portal>
    <mat-card class="add-effect-dialog">
        <mat-card-title>Ajouter un effet</mat-card-title>
        <mat-card-content>
            <mat-tab-group (selectedIndexChange)="addEffectTypeSelectedTab = $event">
                <mat-tab label="Prédéfini">
                    <active-effect-editor #activeEffectEditor
                                          (onValidate)="addEffect($event)">
                    </active-effect-editor>
                </mat-tab>

                <mat-tab label="Custom">
                    <stats-modifier-editor [modifier]="newStatsModifier">
                    </stats-modifier-editor>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                    color="primary"
                    (click)="close()">
                ANNULER
            </button>
            <button mat-button
                    color="primary"
                    *ngIf="addEffectTypeSelectedTab === 0"
                    (click)="activeEffectEditor.addEffect()">
                AJOUTER
            </button>
            <button mat-button
                    color="primary"
                    *ngIf="addEffectTypeSelectedTab === 1"
                    (click)="addCustomModifier()">
                AJOUTER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
