<mat-dialog-content>

    <mat-form-field>
        <mat-select placeholder="Stat" [(ngModel)]="selectedStat">
            <mat-option *ngFor="let stat of basicStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of lifeStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of combatStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of magicStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of stats" [value]="stat">
                {{stat}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Operation" [(ngModel)]="selectedType">
            <mat-option [value]="'ADD'">+</mat-option>
            <mat-option [value]="'MUL'">*</mat-option>
            <mat-option [value]="'DIV'">/</mat-option>
            <mat-option [value]="'SET'">=</mat-option>
            <mat-option [value]="'PERCENTAGE'">%</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               [(ngModel)]="value"
               type="number"
               placeholder="Valeur"/>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">ANNULER</button>
    <button mat-button color="primary" [disabled]="!canAddModifier()" (click)="addModifier()">AJOUTER</button>
</mat-dialog-actions>
