
<ng-template #addEffectDialog="cdkPortal" cdk-portal>
    <md-card class="add-effect-dialog">
        <md-card-title>Ajouter un effet</md-card-title>
        <md-card-content>
            <md-tab-group (selectedIndexChange)="addEffectTypeSelectedTab = $event">
                <md-tab label="Prédéfini">
                    <active-effect-editor #activeEffectEditor
                                          (onValidate)="addEffect($event)">
                    </active-effect-editor>
                </md-tab>

                <md-tab label="Custom">
                    <stats-modifier-editor [modifier]="newStatsModifier">
                    </stats-modifier-editor>
                </md-tab>
            </md-tab-group>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="close()">
                ANNULER
            </button>
            <button md-button
                    color="primary"
                    *ngIf="addEffectTypeSelectedTab === 0"
                    (click)="activeEffectEditor.addEffect()">
                AJOUTER
            </button>
            <button md-button
                    color="primary"
                    *ngIf="addEffectTypeSelectedTab === 1"
                    (click)="addCustomModifier()">
                AJOUTER
            </button>
        </md-card-actions>
    </md-card>
</ng-template>
