<md-tab-group (selectChange)="selectChange($event)" [selectedIndex]="currentTabIndex">
    <template ngFor let-category [ngForOf]="categories">
    <md-tab [label]="category.name">
        <template ngFor [ngForOf]="effects[category.id]" let-effect>
        <md-card style="margin-bottom: 10px">
            <md-card-title-group>
                <md-card-title>
                    {{effect.name}}
                    <button md-button *ngIf="editable" (click)=editEffect(effect)>
                        EDIT
                    </button>
                </md-card-title>
                <md-card-subtitle>
                    {{effect.description}}
                </md-card-subtitle>
                <div *ngIf="category.diceCount" style="font-size: 24px; position: relative; width: 40px; height: 40px">
                    <span style="font-size: 40px; color: #aaa; position: absolute" class="game-icon game-icon-perspective-dice-six-faces-random"></span>
                    <span style="vertical-align: center; margin-top: 10px" class="number-shadow-24">{{effect.dice}}</span>
                </div>
            </md-card-title-group>
            <md-card-content>
                <span *ngFor="let modifier of effect.modifiers">{{modifier | modifier}} </span>
                <span *ngIf="effect.duration" fxLayout="row" fxLayoutAlign="start center">
                    <span class="game-icon game-icon-hourglass font-20px"></span>
                    {{effect.duration}}
                </span>
                <span *ngIf="effect.timeDuration" fxLayout="row" fxLayoutAlign="start center">
                    <span class="game-icon game-icon-hourglass font-20px"></span>
                    {{effect.timeDuration | nhbkDuration}}
                </span>
                <span *ngIf="effect.combatCount" fxLayout="row" fxLayoutAlign="start center">
                    <span class="game-icon game-icon-hourglass font-20px"></span>
                    {{effect.combatCount}} combats
                </span>
                <span *ngIf="effect.lapCount" fxLayout="row" fxLayoutAlign="start center">
                    <span class="game-icon game-icon-hourglass font-20px"></span>
                    {{effect.lapCount}} tours
                </span>
                <span *ngIf="!effect.lapCount && !effect.combatCount && !effect.timeDuration && !effect.duration" fxLayout="row" fxLayoutAlign="start center">
                    <span class="game-icon game-icon-hourglass font-20px"></span>
                    permanent
                </span>
            </md-card-content>
        </md-card>
        </template>
    </md-tab>
    </template>
</md-tab-group>


