<div>
    <md-card>
        <md-card-subtitle>
            Informations de base
        </md-card-subtitle>
        <md-card-content>
            <md-form-field style="width: 100%">
                <input mdInput
                       [(ngModel)]="effect.name"
                       placeholder="Nom">
            </md-form-field>
            <md-form-field style="width: 100%">
                <input mdInput
                       [(ngModel)]="effect.description"
                       placeholder="Description">
            </md-form-field>
            <md-form-field style="width: 100%">
                <input mdInput
                       [(ngModel)]="effect.dice"
                       placeholder="Dé">
            </md-form-field>

            <div *ngIf="types">
                <md-select class="type-selector"
                           [ngModel]="selectedType"
                           (change)="selectType($event.value)"
                           placeholder="Catégorie">
                    <md-option *ngFor="let type of types" [value]="type">{{type.name}}</md-option>
                    <md-option [value]="undefined">
                        <span class="secondary-text">
                            Ajouter...
                        </span>
                    </md-option>
                </md-select>
                <md-select class="category-selector"
                           *ngIf="selectedType"
                           [ngModel]="effect.category"
                           (change)="selectCategory($event.value)"
                           placeholder="Sous-catégorie">
                    <md-option *ngFor="let category of selectedType.categories" [value]="category">
                        {{category.name}}
                    </md-option>
                    <md-option [value]="undefined">
                        <span class="secondary-text">
                            Ajouter...
                        </span>
                    </md-option>
                </md-select>
            </div>

        </md-card-content>
    </md-card>

    <md-card>
        <md-card-subtitle>
            Durée
        </md-card-subtitle>
        <md-card-content>
            <duration-selector [durable]="effect"></duration-selector>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-subtitle>
            Modificateurs
        </md-card-subtitle>
        <md-card-content>
            <modifiers-editor [(modifiers)]="effect.modifiers"></modifiers-editor>
        </md-card-content>
    </md-card>
</div>


<ng-template cdk-portal #createCategoryDialog="cdkPortal">
    <md-card>
        <md-card-title>Créer une sous-catégorie de {{selectedType.name}}</md-card-title>
        <md-card-content>
            <md-form-field style="width: 100%">
                <input mdInput placeholder="Nom" #newCategoryName (keydown.enter)="createCategory(newCategoryName.value)"/>
            </md-form-field>
        </md-card-content>
        <md-card-actions align="right">
            <button md-button (click)="closeCreateCategoryDialog()" color="primary">Annuler</button>
            <button md-button (click)="createCategory(newCategoryName.value)" color="primary">Créer</button>
        </md-card-actions>
    </md-card>
</ng-template>

<ng-template cdk-portal #createTypeDialog="cdkPortal">
    <md-card>
        <md-card-title>Créer une catégorie</md-card-title>
        <md-card-content>
            <md-form-field style="width: 100%">
                <input mdInput placeholder="Nom" #newTypeName (keydown.enter)="createType(newTypeName.value)"/>
            </md-form-field>
        </md-card-content>
        <md-card-actions align="right">
            <button md-button (click)="closeCreateTypeDialog()" color="primary">Annuler</button>
            <button md-button (click)="createType(newTypeName.value)" color="primary">Créer</button>
        </md-card-actions>
    </md-card>
</ng-template>
