<div>
    <mat-card>
        <mat-card-subtitle>
            Informations de base
        </mat-card-subtitle>
        <mat-card-content>
            <div class="basic-effect-infos">
                <mat-form-field>
                    <input matInput
                           [(ngModel)]="effect.name"
                           placeholder="Nom">
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                           [(ngModel)]="effect.description"
                           placeholder="Description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                           [(ngModel)]="effect.dice"
                           placeholder="Dé">
                </mat-form-field>
            </div>

            <div *ngIf="types">
               <mat-form-field class="type-selector">
                    <mat-select [ngModel]="selectedType"
                               (change)="selectType($event.value)"
                               placeholder="Catégorie">
                        <mat-option *ngFor="let type of types" [value]="type">{{type.name}}</mat-option>
                        <mat-option [value]="undefined">
                            <span class="secondary-text">
                                Ajouter...
                            </span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
               <mat-form-field *ngIf="selectedType"  class="category-selector">
                    <mat-select [ngModel]="effect.category"
                               (change)="selectCategory($event.value)"
                               placeholder="Sous-catégorie">
                        <mat-option *ngFor="let category of selectedType.categories" [value]="category">
                            {{category.name}}
                        </mat-option>
                        <mat-option [value]="undefined">
                            <span class="secondary-text">
                                Ajouter...
                            </span>
                        </mat-option>
                    </mat-select>
               </mat-form-field>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>
            Durée
        </mat-card-subtitle>
        <mat-card-content>
            <duration-selector [durable]="effect"></duration-selector>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>
            Modificateurs
        </mat-card-subtitle>
        <mat-card-content>
            <modifiers-editor [(modifiers)]="effect.modifiers"></modifiers-editor>
        </mat-card-content>
    </mat-card>
</div>


<ng-template cdk-portal #createCategoryDialog="cdkPortal">
    <mat-card>
        <mat-card-title>Créer une sous-catégorie de {{selectedType.name}}</mat-card-title>
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Nom" #newCategoryName (keydown.enter)="createCategory(newCategoryName.value)"/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="right">
            <button mat-button (click)="closeCreateCategoryDialog()" color="primary">Annuler</button>
            <button mat-button (click)="createCategory(newCategoryName.value)" color="primary">Créer</button>
        </mat-card-actions>
    </mat-card>
</ng-template>

<ng-template cdk-portal #createTypeDialog="cdkPortal">
    <mat-card>
        <mat-card-title>Créer une catégorie</mat-card-title>
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Nom" #newTypeName (keydown.enter)="createType(newTypeName.value)"/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="right">
            <button mat-button (click)="closeCreateTypeDialog()" color="primary">Annuler</button>
            <button mat-button (click)="createType(newTypeName.value)" color="primary">Créer</button>
        </mat-card-actions>
    </mat-card>
</ng-template>
