.effect-category-selector {
    display: flex;
    flex-direction: row;
    .selector {
        margin: 0 8px;
        flex: 1 auto;
        width: 100px;
        > mat-form-field {
            width: 100%;
        }
    }
}
mat-card {
    margin: 5px;
}

.create-effect {
    display: flex;
    align-items: center;
}

