<mat-card>
    <mat-card-content class="effect-category-selector">
        <div class="selector">
            <mat-form-field>
                <mat-select
                    [(ngModel)]="selectedType"
                    (change)="selectType($event.value)">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="selector">
            <mat-form-field *ngIf="selectedType">
                <mat-select [(ngModel)]="selectedCategory"
                           (change)="selectCategory($event.value)">
                    <mat-option *ngFor="let category of selectedType.categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="selectedCategory && (editable || selectedCategory.note)">
    <mat-card-subtitle>Note</mat-card-subtitle>
    <mat-card-content>
        {{selectedCategory.note}}
    </mat-card-content>
</mat-card>

<ng-template [ngIf]="effects && selectedCategory">

    <ng-template ngFor [ngForOf]="effects[selectedCategory.id]" let-effect>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title class="effect-title">
                    <button mat-raised-button
                            color="primary"
                            *ngIf="hasOption('applyButton')"
                            (click)="emitAction('applyEffect', effect)">
                        APPLIQUER
                    </button>
                    {{effect.name}}
                    <button mat-button
                            *ngIf="editable"
                            (click)=editEffect(effect)>
                        EDIT
                    </button>
                </mat-card-title>
                <mat-card-subtitle>
                    {{effect.description}}
                </mat-card-subtitle>
                <div *ngIf="selectedCategory.diceCount"
                     style="font-size: 24px; position: relative; width: 40px; height: 40px">
                <span style="font-size: 40px; color: #aaa; position: absolute"
                      class="game-icon game-icon-perspective-dice-six-faces-random"></span>
                    <span style="vertical-align: center; margin-top: 10px"
                          class="number-shadow-24">{{effect.dice}}</span>
                </div>
            </mat-card-title-group>
            <mat-card-content>
                <span *ngFor="let modifier of effect.modifiers">{{modifier | modifier}} </span>
                <span *ngIf="effect.duration">
            <mat-icon>timelapse</mat-icon>
            {{effect.duration}}
        </span>
                <span *ngIf="effect.timeDuration">
            <mat-icon>timelapse</mat-icon>
            {{effect.timeDuration | nhbkDuration}}
        </span>
                <span *ngIf="effect.combatCount">
            <mat-icon>timelapse</mat-icon>
            {{effect.combatCount}} combats
        </span>
                <span *ngIf="effect.lapCount">
            <mat-icon>timelapse</mat-icon>
            {{effect.lapCount}} tours
        </span>
                <span *ngIf="!effect.lapCount && !effect.combatCount && !effect.timeDuration && !effect.duration">
            <mat-icon>timelapse</mat-icon>
            permanent
        </span>
            </mat-card-content>
        </mat-card>
    </ng-template>

</ng-template>

<mat-card *ngIf=editable (click)="createEffect()" class="create-effect">
    <mat-icon>add</mat-icon>Créer un effet
</mat-card>
