<mat-card>
    <mat-card-title>
        {{modifier.name}}
    </mat-card-title>
    <mat-card-subtitle>
        {{modifier.type}}
    </mat-card-subtitle>
    <mat-card-content>
        <p>{{modifier.description}}</p>
        <div class="effect-total-duration">
            <span [ngSwitch]="modifier.durationType">
                <ng-template [ngSwitchCase]="'lap'">
                    Durée totale: {{modifier.lapCount | i18nPlural: ({'=1': '# tour', 'other': '# tours'})}}
                </ng-template>
                <ng-template [ngSwitchCase]="'combat'">
                    Durée totale: {{modifier.combatCount | i18nPlural: ({'=1': '# combat', 'other': '# combats'})}}
                </ng-template>
                <ng-template [ngSwitchCase]="'time'">
                    Durée totale: {{modifier.timeDuration | nhbkDuration}}
                </ng-template>
            </span>
        </div>
        <div class="effect-duration">
            Durée:
            <span [ngSwitch]="modifier.durationType">
                <ng-template [ngSwitchCase]="'lap'">
                    {{modifier.currentLapCount | i18nPlural: ({'=1': '# tour', 'other': '# tours'})}}
                </ng-template>
                <ng-template [ngSwitchCase]="'combat'">
                    {{modifier.currentCombatCount | i18nPlural: ({'=1': '# combat', 'other': '# combats'})}}
                </ng-template>
                <ng-template [ngSwitchCase]="'custom'">
                    {{modifier.duration}}
                </ng-template>
                <ng-template [ngSwitchCase]="'time'">
                    {{modifier.currentTimeDuration | nhbkDuration}}
                </ng-template>
                <ng-template [ngSwitchCase]="'forever'">
                    permanent
                </ng-template>
            </span>
        </div>
        <div *ngFor="let mod of modifier.values">
            {{mod | modifier}}
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent" (click)="onRemove.emit(modifier)">SUPPRIMER</button>
    </mat-card-actions>
</mat-card>
