<ng-template ngFor [ngForOf]="modifiers" let-modifier let-last="last" let-i="index">
    <div class="stat-modifier mat-typography">
        <span>{{modifier | modifier}}</span>

        <span [hidden]="!advancedModifiers" class="advanced-modifier">
            <span *ngIf="jobsByIds && modifier.job">{{jobsByIds[modifier.job]?.name}}</span>
            <span *ngIf="originsByIds && modifier.origin">{{originsByIds[modifier.origin]?.name}}</span>
            <span *ngFor="let special of modifier.special">
                {{specialValueDescriptionByValues[special]}}
            </span>
        </span>

        <span [hidden]="!advancedModifiers">
            <button mat-icon-button (click)="openAdvanceStatModifierDialog(modifier)">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </span>

        <button mat-icon-button (click)="removeModifier(i)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <mat-divider *ngIf="!last"></mat-divider>
</ng-template>

<div class="actions">
    <button mat-button (click)="openAddStatModifierDialog()">AJOUTER UN MODIFICATEUR</button>
</div>
