<div *ngIf="modifiers && modifiers.length > 0">
	<div>
		<button mat-icon-button (click)="clear()"><mat-icon>delete_forever</mat-icon></button>
	</div>
</div>
<div *ngFor="let modifier of modifiers; let i=index" class="stat-modifier">
    <button mat-icon-button (click)="removeModifier(i)"><mat-icon>delete</mat-icon></button>
	<span>{{modifier | modifier}}</span>
	<span *ngIf="options.indexOf('job') !== -1">
        <mat-form-field>
            <mat-select #jobSelector [(ngModel)] ="modifier.job" placeholder="Métier">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let job of jobs" [value]="job.id">
                    {{job.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
	</span>
	<span *ngIf="options.indexOf('origin') !== -1">
        <mat-form-field>
            <mat-select #originSelector [(ngModel)] ="modifier.origin" placeholder="Origine">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let origin of origins" [value]="origin.id">
                    {{origin.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
	</span>
	<div *ngIf="options.indexOf('special') !== -1">
		<button mat-button color="primary" *ngIf="!modifier.special" (click)="modifier.special = []">
            Add special
        </button>
        <button mat-button color="primary" *ngIf="modifier.special" (click)="modifier.special = null">
            Remove special
        </button>
		<div *ngIf="modifier.special">
			<div *ngFor="let v of specialsValue">
                <mat-checkbox [checked]="modifier.special.indexOf(v) !== -1" (change)="toggleSpecial(i, v, $event)">
                    {{v}}
                </mat-checkbox>
			</div>
		</div>
	</div>
</div>
<div class="large-editor">
    <div>Stat:</div>
    <mat-button-toggle-group [(ngModel)]="basicSelectedStat" (change)="updateSelectedStat('basic')">
        <mat-button-toggle *ngFor="let stat of basicStats" [value]="stat">
            {{stat}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="lifeSelectedStat" (change)="updateSelectedStat('life')">
        <mat-button-toggle *ngFor="let stat of lifeStats" [value]="stat">
            {{stat}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="combatSelectedStat" (change)="updateSelectedStat('combat')">
        <mat-button-toggle *ngFor="let stat of combatStats" [value]="stat">
            {{stat}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="magicSelectedStat" (change)="updateSelectedStat('magic')">
        <mat-button-toggle *ngFor="let stat of magicStats" [value]="stat">
            {{stat}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="otherSelectedStat" (change)="updateSelectedStat('other')">
        <mat-button-toggle *ngFor="let stat of stats" [value]="stat">
            {{stat}}
        </mat-button-toggle>
    </mat-button-toggle-group>

    <div>Modification type:</div>
    <mat-button-toggle-group [(ngModel)]="selectedType">
        <mat-button-toggle [value]="'ADD'">ADD</mat-button-toggle>
        <mat-button-toggle [value]="'MUL'">MUL</mat-button-toggle>
        <mat-button-toggle [value]="'DIV'">DIV</mat-button-toggle>
        <mat-button-toggle [value]="'SET'">SET</mat-button-toggle>
        <mat-button-toggle [value]="'PERCENTAGE'">PERCENTAGE</mat-button-toggle>
    </mat-button-toggle-group>

    <div>Valeur:</div>
    <mat-button-toggle-group [(ngModel)]="value" (change)="addModifier()">
        <mat-button-toggle [value]="-5">-5</mat-button-toggle>
        <mat-button-toggle [value]="-4">-4</mat-button-toggle>
        <mat-button-toggle [value]="-3">-3</mat-button-toggle>
        <mat-button-toggle [value]="-2">-2</mat-button-toggle>
        <mat-button-toggle [value]="-1">-1</mat-button-toggle>
        <mat-button-toggle [value]="0">0</mat-button-toggle>
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="2">2</mat-button-toggle>
        <mat-button-toggle [value]="3">3</mat-button-toggle>
        <mat-button-toggle [value]="4">4</mat-button-toggle>
        <mat-button-toggle [value]="5">5</mat-button-toggle>
        <mat-button-toggle [value]="6">6</mat-button-toggle>
        <mat-button-toggle [value]="7">7</mat-button-toggle>
        <mat-button-toggle [value]="8">8</mat-button-toggle>
        <mat-button-toggle [value]="9">9</mat-button-toggle>
        <mat-button-toggle [value]="10">10</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field>
        <input matInput placeholder="Valeur" [(ngModel)]="value" />
    </mat-form-field>
</div>

<div class="small-editor">
    <mat-form-field>
        <mat-select placeholder="Stat" [(ngModel)]="selectedStat" (selectionChange)="selectStat($event.value)">
            <mat-option *ngFor="let stat of basicStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of lifeStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of combatStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of magicStats" [value]="stat">
                {{stat}}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let stat of stats" [value]="stat">
                {{stat}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Modification type" [(ngModel)]="selectedType">
            <mat-option [value]="'ADD'">ADD</mat-option>
            <mat-option [value]="'MUL'">MUL</mat-option>
            <mat-option [value]="'DIV'">DIV</mat-option>
            <mat-option [value]="'SET'">SET</mat-option>
            <mat-option [value]="'PERCENTAGE'">PERCENTAGE</mat-option>
        </mat-select>
    </mat-form-field>

    <span class="editor-value">
        <div class="label secondary-text">Valeur</div>
        <div class="value">
            <value-editor [value]="value" (onChange)="selectValue($event)"></value-editor>
        </div>
    </span>
</div>
