<div>
    <md-card>
        <md-card-content>
            <div>
                <md-form-field>
                    <input mdInput placeholder="Nom" [(ngModel)]="modifier.name" required>
                </md-form-field>
                <md-form-field>
                    <input mdInput placeholder="Type" [(ngModel)]="modifier.type">
                </md-form-field>
                <md-slide-toggle *ngIf="reusableToggle" color="primary" [(ngModel)]="modifier.reusable">
                    Ré-utilisable
                </md-slide-toggle>
            </div>
            <div>
                <md-form-field>
                    <input mdInput placeholder="Description" [(ngModel)]="modifier.description">
                </md-form-field>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-subtitle>
            Durée
        </md-card-subtitle>
        <md-card-content>
            <duration-selector [durable]="modifier"></duration-selector>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-subtitle>
            Modificateurs
        </md-card-subtitle>
        <md-card-content>
            <modifiers-editor [(modifiers)]="modifier.values"></modifiers-editor>
        </md-card-content>
    </md-card>
</div>
