mat-card {
    margin: 5px;
}

.basic-effect-infos {
    mat-card-content {
        display: flex;
        flex-direction: column;
        mat-form-field {
            flex: 1 auto;
        }
    }
}
