@if (!preSelectedEffect) {
  <div>
    <autocomplete-input [value]="effectFilterName"
      [placeholder]="'Effet'"
      (selected)="selectEffectInAutocompleteList($event)"
      [callback]="autocompleteEffectListCallback">
    </autocomplete-input>
  </div>
}

@if (preSelectedEffect) {
  <mat-card class="effect-selected">
    <mat-card-title class="effect-name">
      {{preSelectedEffect.name}}
      <button mat-icon-button (click)="unselectEffect()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      {{preSelectedEffect.subCategory.name}}
    </mat-card-subtitle>
    <mat-card-content>
      <div class="effect-description">
        {{preSelectedEffect.description}}
      </div>
      <div class="effect-duration">
        Durée:
        <span>
          @switch (preSelectedEffect.durationType) {
            @case ('lap') {
              {{preSelectedEffect.lapCount}}
            }
            @case ('combat') {
              {{preSelectedEffect.combatCount}}
            }
            @case ('custom') {
              {{preSelectedEffect.duration}}
            }
            @case ('time') {
              {{preSelectedEffect.timeDuration | nhbkDuration}}
            }
            @case ('forever') {
              permanent
            }
          }
        </span>
      </div>
      <div>
        @for (modifier of preSelectedEffect.modifiers; track modifier) {
          <span>
            {{modifier | modifier}}
          </span>
        }
      </div>
    </mat-card-content>
  </mat-card>
}

@if (preSelectedEffect) {
  <mat-card>
    <mat-card-subtitle>Customisation</mat-card-subtitle>
    <div class="effect-reusable">
      @if (reusableToggle) {
        <mat-slide-toggle color="primary"
          [(ngModel)]="newEffectReusable">
          Ré-utilisable
        </mat-slide-toggle>
      }
    </div>
    <div class="effect-custom-duration">
      @if (!newEffectCustomDuration) {
        <button mat-button
          (click)="newEffectCustomDuration = true"
          color="primary">
          Durée personnalisée
        </button>
      }
    </div>
  </mat-card>
}

@if (preSelectedEffect && newEffectCustomDuration) {
  <mat-card>
    <mat-card-header class="custom-duration-header">
      <mat-card-subtitle>Durée personnalisée</mat-card-subtitle>
      <button mat-icon-button (click)="newEffectCustomDuration = false">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <duration-selector [durable]="customDuration"></duration-selector>
    </mat-card-content>
  </mat-card>
}
