:host {
    .name {
        mat-form-field {
            width: 100%;
        }
    }

    .dice {
        display: grid;
        grid-template-columns: minmax(40px, 1fr) minmax(40px, 1fr);
    }

    .note {
        mat-form-field {
            width: 100%;
        }
    }
}
