<h2 mat-dialog-title>{{data.modifier.name}}</h2>
@if (data.modifier.type) {
  <div class="secondary-text">{{data.modifier.type!}}</div>
}
<mat-dialog-content class="mat-typography">
  @if (data.modifier.description) {
    <p>{{data.modifier.description!}}</p>
  }

  @if (data.modifier.durationType === 'lap' || data.modifier.durationType === 'combat' || data.modifier.durationType === 'time') {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-duration " class="ra-mat-button-icon-24"></mat-icon>
      <div>
        <div>
          Durée totale
        </div>
        <span>
          @switch (data.modifier.durationType) {
            @case ('lap') {
              {{data.modifier.lapCount | i18nPlural: ({
              '=1': '# tour',
              'other': '# tours'
              })}}
            }
            @case ('combat') {
              {{data.modifier.combatCount | i18nPlural: ({
              '=1': '# combat',
              'other': '# combats'
              })}}
            }
            @case ('time') {
              {{data.modifier.timeDuration! | nhbkDuration}}
            }
          }
        </span>
      </div>
    </div>
  }

  @if (data.modifier.durationType) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-sands-of-time " class="ra-mat-button-icon-24"></mat-icon>
      <div>
        <div>Durée restante</div>
        <span>
          @switch (data.modifier.durationType) {
            @case ('lap') {
              {{data.modifier.currentLapCount! | i18nPlural: ({
              '=1': '# tour',
              'other': '# tours'
              })}}
            }
            @case ('combat') {
              {{data.modifier.currentCombatCount! | i18nPlural: ({
              '=1': '# combat',
              'other': '# combats'
              })}}
            }
            @case ('custom') {
              {{data.modifier.duration!}}
            }
            @case ('time') {
              {{data.modifier.currentTimeDuration! | nhbkDuration}}
            }
            @case ('forever') {
              permanent
            }
          }
        </span>
      </div>
    </div>
  }

  @if (data.modifier.values?.length) {
    <div class="icon-label">
      <mat-icon fontSet="game-icon" fontIcon="game-icon-skills" class="ra-mat-button-icon-24"></mat-icon>
      <div class="stats">
        <div>Caractéristiques affectées</div>
        @for (modifier of data.modifier.values; track modifier) {
          <div>
            {{modifier | modifier}}
          </div>
        }
      </div>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    type="button"
    color="primary"
    mat-dialog-close>
    FERMER
  </button>
</mat-dialog-actions>
