:host {
    .stat-modifier {
        display: grid;
        grid-template-columns: 100px 1fr minmax(auto, 40px) 40px;
        grid-template-areas: ". . . delete-button";
        grid-gap: 8px;
        align-items: center;

        .advanced-modifier {
            margin: 8px 0;
            display: grid;
            grid-gap: 8px;
        }
        .delete-button {
            grid-area: delete-button;
        }
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-template-areas: ". add-button";
        align-items: center;

        .add-button {
            grid-area: add-button;
        }
    }
}
