.icon-label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: center;

    .stats {
        > * {
            white-space: nowrap;
        }
    }

    mat-divider {
        position: relative;
    }
}

.usage-actions {
    .usage-action {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 8px;
        padding-left: 8px;
    }
}


.damage {
    > span {
        display: flex;
        align-items: center;
    }

    display: flex;
    align-items: center;
}
