<mat-card>
    <mat-card-content>
        <p>
            Les joueurs n'achètent JAMAIS le matériel en piochant eux-mêmes dans les tableaux.
        </p>
        <p *ngIf="showHeaderInfo">
            Vous pouvez créer vos propre objets grace à l'éditeur. Ce dernier pouvant être complexe il est conseillé de copié un autre objets,
            à l'aide du bouton <mat-icon>content_copy</mat-icon>, puis de le modifier. Si vous souhaitez seulement changer
            le nom, cet option est déjà disponible lors de l'ajout d'un objet sur un personnage.
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button color="primary" mat-button (click)="showHeaderInfo =! showHeaderInfo">INFOS</button>
        <button color="primary" mat-button (click)="openCreateItemTemplateDialog()">CREER UN OBJET</button>
    </mat-card-actions>
</mat-card>
<mat-card class="section-selector">
    <mat-form-field class="category">
        <mat-select [ngModel]="selectedSection"
                    (selectionChange)="selectSection($event.value)"
                    placeholder="Section">
            <mat-option *ngFor="let section of itemSections" [value]="section">
                {{section.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedSection" class="sub-category">
        <mat-select [ngModel]="selectedItemCategory"
                    (selectionChange)="selectCategory($event.value)"
                    placeholder="Sous-section">
            <mat-option *ngFor="let category of selectedSection.categories" [value]="category">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>

<mat-card *ngIf="selectedSection && selectedSection.note" class="panel panel-default">
    <mat-card-subtitle>Note</mat-card-subtitle>
    <mat-card-content>
        <div class="panel-body" [innerHTML]="selectedSection.note|textFormatter">
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content class="filters">
        <autocomplete-search-item-template [clearOnSelect]=true (onSelect)="selectItemTemplate($event)" class="search">
        </autocomplete-search-item-template>

        <mat-form-field class="filter">
            <input matInput placeholder="Filtre" [(ngModel)]="filter.name" (change)="updateVisibleItems()"/>
            <button matSuffix mat-icon-button *ngIf="filter.name !== undefined" (click)="resetNameFilter()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field *ngIf="hasSpecial('DICE_DROP')" class="dice-drop">
            <input matInput placeholder="Dé" [(ngModel)]="filter.dice" type="number" (change)="updateVisibleItems()"/>
            <button matSuffix mat-icon-button *ngIf="filter.dice !== undefined" (click)="resetDiceFilter()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
</mat-card>
<span id="first-item"></span>
<ng-template ngFor let-item [ngForOf]="visibleItems" [ngForTrackBy]="trackById">
    <div class="item-element">
        <item-template class="item-element"
                       *ngIf="isVisible(item)"
                       [originsName]="originsName"
                       [jobsName]="jobsName"
                       [godsByTechName]="godsByTechName"
                       [editable]="isEditable(item) && !inTab"
                       [copyable]="_loginService.currentLoggedUser != undefined"
                       [actions]="inTab ? ['addItem'] : []"
                       (onAction)="emitAction($event.action, $event.data)"
                       [itemTemplate]="item">
        </item-template>
    </div>
</ng-template>
<div *ngIf="nextSubCategory && previousSubCategory" class="prev-next-buttons">
    <button mat-raised-button
            (click)="selectCategory(previousSubCategory)">
        <mat-icon>navigate_before</mat-icon>
        {{previousSubCategory.name}}
    </button>
    <button mat-raised-button
            (click)="selectCategory(nextSubCategory)">
        {{nextSubCategory.name}}
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>
