<template ngFor [ngForOf]="origins" let-origin>
    <md-card *ngIf="viewNotAvailable || isAvailable(origin)" [class.disabled]="!isAvailable(origin)">
        <button md-mini-fab color="primary" (click)="toggleDetail(origin)">
            <md-icon *ngIf="displayDetail(origin)">remove</md-icon>
            <md-icon *ngIf="!displayDetail(origin)">add</md-icon>
        </button>
        <md-card-title>{{origin.name}}</md-card-title>
        <md-card-subtitle>
            Prérequis:
            <template ngFor [ngForOf]="origin.requirements" let-req let-last="last">
                <span class="invalid-stat"    *ngIf="req.min && stats[req.stat.toLowerCase()] < req.min">
                    {{req.stat|uppercase}} &ge; {{req.min}}
                </span>
                <span class="invalid-stat"    *ngIf="req.max && stats[req.stat.toLowerCase()] > req.max">
                    {{req.stat|uppercase}} &le; {{req.max}}
                </span>
                <span class="valid-stat" *ngIf="req.min && stats[req.stat.toLowerCase()] >= req.min">
                    {{req.stat|uppercase}} &ge; {{req.min}}
                </span>
                <span class="valid-stat" *ngIf="req.max && stats[req.stat.toLowerCase()] <= req.max">
                    {{req.stat|uppercase}} &le; {{req.max}}
                </span>
                <span *ngIf="!last">,</span>
            </template>
            <span *ngIf="!origin.requirements.length">aucun</span>
        </md-card-subtitle>
        <md-card-content *ngIf="displayDetail(origin)">
            <div class="description" [innerHTML]="origin.playerDescription | textFormatter"></div>
            <div class="skills" *ngIf="origin.skills.length">
                Je suis né avec les compétences suivantes :
                <ul>
                    <li *ngFor="let skill of origin.skills">
                        <span class="skill-name">{{skill.name}}</span>
                        <span *ngIf="skill.playerDescription"> : {{skill.playerDescription}}</span>
                    </li>
                </ul>
            </div>
        </md-card-content>
        <md-card-actions *ngIf="isAvailable(origin)" align="end">
            <button color="primary" md-button (click)="selectOrigin(origin)">CHOISIR</button>
        </md-card-actions>
    </md-card>
</template>
