<md-accordion [multi]="false">
    <ng-template ngFor [ngForOf]="origins" let-origin>
        <md-expansion-panel>
            <md-expansion-panel-header>
                <div class="origin-title">
                    <span *ngIf="originsStates[origin.id].state === 'ok'" class="icon-available">
                        <md-icon>check</md-icon>
                    </span>
                    <span *ngIf="originsStates[origin.id].state === 'ko'" class="icon-available">
                        <md-icon>close</md-icon>
                    </span>
                    <span *ngIf="originsStates[origin.id].state === 'swap'" class="icon-available">
                        <md-icon>sync</md-icon>
                    </span>
                    <span>
                        {{origin.name}}
                    </span>
                </div>
            </md-expansion-panel-header>

            <p class="prereq">
                Prérequis:
                <ng-template ngFor [ngForOf]="origin.requirements" let-req let-last="last">
                    <span class="invalid-stat" *ngIf="req.min && stats[req.stat.toLowerCase()] < req.min">
                        {{req.stat|uppercase}} &ge; {{req.min}}
                    </span>
                    <span class="invalid-stat" *ngIf="req.max && stats[req.stat.toLowerCase()] > req.max">
                        {{req.stat|uppercase}} &le; {{req.max}}
                    </span>
                    <span class="valid-stat" *ngIf="req.min && stats[req.stat.toLowerCase()] >= req.min">
                        {{req.stat|uppercase}} &ge; {{req.min}}
                    </span>
                    <span class="valid-stat" *ngIf="req.max && stats[req.stat.toLowerCase()] <= req.max">
                        {{req.stat|uppercase}} &le; {{req.max}}
                    </span>
                    <span *ngIf="!last">,</span>
                </ng-template>
                <span *ngIf="!origin.requirements.length">aucun</span>
            </p>
            <p class="description" [innerHTML]="origin.playerDescription | textFormatter"></p>
            <div class="skills" *ngIf="origin.skills.length">
                Je suis né avec les compétences suivantes :
                <ul>
                    <li *ngFor="let skill of origin.skills">
                        <div class="skill-name">{{skill.name}}</div>
                        <span *ngIf="skill.playerDescription"> {{skill.playerDescription}}</span>
                    </li>
                </ul>
            </div>

            <md-action-row *ngIf="originsStates[origin.id].state === 'ok'" align="end">
                <button color="primary" md-button (click)="selectOrigin(origin)">CHOISIR</button>
            </md-action-row>
            <md-action-row *ngIf="originsStates[origin.id].state === 'swap'" align="end" class="swap-buttons">
                <ng-template ngFor [ngForOf]="originsStates[origin.id].changes" let-change>
                    <button class="swap-button" color="primary" md-button (click)="doSwapStats(change)">INVERSER {{change[0]}} et {{change[1]}}</button>
                </ng-template>
            </md-action-row>
        </md-expansion-panel>
    </ng-template>
</md-accordion>
