.rupture- {
	background-color: #3deb3d;
	font-weight: bold;
}

.rupture-1 {
    font-weight: bold;
    background-color: #3deb3d;
}

.rupture-2 {
	font-weight: bold;
	background-color: #3deb3d;
}

.rupture-3 {
	background-color: #ffd320;
	font-weight: bold;
}

.rupture-4 {
	background-color: #ff9966;
	font-weight: bold;
}

.rupture-5 {
	background-color: #ff0000;
	font-weight: bold;
}

.rupture-6 {
	background-color: #ff0000;
	font-weight: bold;
}

.category-header {
	background-color: #99ccff;
}
