<md-card>
    <div class="name-line">
        <md-input-container>
            <input mdInput
                   placeholder="Nom de l'objet"
                   [(ngModel)]="itemTemplate.name"
                   type="text"/>
        </md-input-container>
        <icon-selector [icon]="itemTemplate.data.icon" (onChange)="itemTemplate.data.icon = $event"></icon-selector>
    </div>
    <div class="not-identified-name-line">
        <md-input-container>
            <input mdInput
                   placeholder="Nom quand non identifié"
                   [(ngModel)]="itemTemplate.data.notIdentifiedName"
                   type="text"/>
        </md-input-container>
        <button md-icon-button (click)="itemTemplate.data.notIdentifiedName = itemTemplate.name"><md-icon>content_copy</md-icon></button>
        <button md-icon-button (click)="automaticNotIdentifiedName()"><md-icon>refresh</md-icon></button>
    </div>
    <div>
        <md-input-container align="end">
            <input mdInput
                   placeholder="Prix"
                   [(ngModel)]="itemTemplate.data.price"
                   type="number"/>
            <span mdSuffix>P.O.</span>
        </md-input-container>
        <md-input-container>
            <input mdInput
                   placeholder="Description"
                   [(ngModel)]="itemTemplate.data.description"
                   type="text"/>
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <input mdInput
                   placeholder="Note"
                   [(ngModel)]="itemTemplate.data.note"
                   type="text"/>
        </md-input-container>
    </div>
</md-card>

<md-card>
    <md-card-subtitle>Section</md-card-subtitle>
    <md-card-content class="section-list" *ngIf="sections">
        <md-select [(ngModel)]="selectedSection" placeholder="Section">
            <md-option *ngFor="let section of sections" [value]="section">
                {{section.name}}
            </md-option>
        </md-select>
        <md-select [(ngModel)]="itemTemplate.category" placeholder="Sous section" *ngIf="selectedSection">
            <md-option *ngFor="let category of selectedSection.categories" [value]="category.id">
                {{category.name}}
            </md-option>
        </md-select>
    </md-card-content>
</md-card>

<ng-template ngFor let-moduleName [ngForOf]="modules">
    <item-template-editor-module [itemTemplate]="itemTemplate"
                                 [slots]="slots"
                                 [skills]="skills"
                                 [skillsById]="skillsById"
                                 (onDelete)="removeModule(moduleName)"
                                 [moduleName]="moduleName">
    </item-template-editor-module>
</ng-template>

<md-card>
    Ajouter un module
    <autocomplete-input [clearOnSelect]="true"
                        [placeholder]="'Module'"
                        (onSelect)="addModule($event)"
                        [(callback)]="autocompleteModuleCallback">
    </autocomplete-input>
</md-card>
<ng-template cdk-portal #addModuleDialog="cdkPortal">
    <md-card>
        Ajouter un module
        <autocomplete-input #autocompleteModuleModalTextField
                            [clearOnSelect]="true"
                            [placeholder]="'Module'"
                            (onSelect)="addModule($event)"
                            [(callback)]="autocompleteModuleCallback">
        </autocomplete-input>
    </md-card>
</ng-template>
<md-card>
	<div class="form-group">
		<label for="inputDuration" class="col-sm-2 control-label">Durée</label>
		<div class="col-sm-4">
			<input id="inputDuration" [(ngModel)]="itemTemplate.data.duration" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputAvailableLocation" class="col-sm-2 control-label">Possibilités de récolte</label>
		<div class="col-sm-10">
			<input id="inputAvailableLocation" [(ngModel)]="itemTemplate.data.availableLocation" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputLoad" class="col-sm-2 control-label">Encombrement</label>
		<div class="col-sm-10">
			<input id="inputLoad" [(ngModel)]="itemTemplate.data.space" type="text" class="form-control" />
		</div>
	</div>
</md-card>
Preview
<item-template [jobsName]="jobsName" [originsName]="originsName" [item]="itemTemplate"></item-template>

