<md-card>
    <md-card-title *ngIf="title">
        {{title}}
    </md-card-title>
    <div class="name-line">
        <md-input-container>
            <input mdInput
                   placeholder="Nom de l'objet"
                   [(ngModel)]="itemTemplate.name"
                   type="text"/>
        </md-input-container>
        <icon-selector [icon]="itemTemplate.data.icon" (onChange)="itemTemplate.data.icon = $event"></icon-selector>
    </div>
    <div class="not-identified-name-line">
        <md-input-container>
            <input mdInput
                   placeholder="Nom quand non identifié"
                   [(ngModel)]="itemTemplate.data.notIdentifiedName"/>
        </md-input-container>
        <button md-icon-button (click)="itemTemplate.data.notIdentifiedName = itemTemplate.name"><md-icon>content_copy</md-icon></button>
        <button md-icon-button (click)="automaticNotIdentifiedName()"><md-icon>refresh</md-icon></button>
        <md-select placeholder="Source" [(ngModel)]="itemTemplate.source" (change)="changeSource($event.value)" required>
            <md-option value="official" *ngIf="_loginService.currentLoggedUser.admin">Officiel</md-option>
            <md-option value="community">Communautaire</md-option>
            <md-option value="private">Privé</md-option>
        </md-select>
    </div>
    <div style="display: flex; flex-direction: row">
        <md-input-container>
            <input mdInput
                   placeholder="Prix"
                   [(ngModel)]="itemTemplate.data.price"
                   type="number"/>
            <span mdSuffix>P.O.</span>
        </md-input-container>
        <md-input-container style="flex: 1 auto; margin-left: 10px">
            <input mdInput
                   placeholder="Description"
                   [(ngModel)]="itemTemplate.data.description"/>
        </md-input-container>
    </div>
    <div>
        <md-input-container style="width: 100%">
            <input mdInput
                   placeholder="Note"
                   [(ngModel)]="itemTemplate.data.note"/>
        </md-input-container>
    </div>
</md-card>

<md-card>
    <md-card-subtitle>Section</md-card-subtitle>
    <md-card-content class="section-list">
        <md-select [(ngModel)]="selectedSection" placeholder="Section" *ngIf="sections" style="width: 50%">
            <md-option *ngFor="let section of sections" [value]="section">
                {{section.name}}
            </md-option>
        </md-select>
        <md-select [(ngModel)]="itemTemplate.category" placeholder="Sous section" *ngIf="selectedSection">
            <md-option *ngFor="let category of selectedSection.categories" [value]="category.id">
                {{category.name}}
            </md-option>
        </md-select>
    </md-card-content>
</md-card>

<ng-template ngFor let-moduleName [ngForOf]="modules">
    <item-template-editor-module [itemTemplate]="itemTemplate"
                                 [slots]="slots"
                                 [itemTypes]="itemTypes"
                                 [skills]="skills"
                                 [skillsById]="skillsById"
                                 (onDelete)="removeModule(moduleName)"
                                 [moduleName]="moduleName">
    </item-template-editor-module>
</ng-template>

<md-card class="add-module-card">
    Ajouter un module
    <autocomplete-input [clearOnSelect]="true"
                        [placeholder]="'Module'"
                        (onSelect)="addModule($event)"
                        [(callback)]="autocompleteModuleCallback">
    </autocomplete-input>
</md-card>
<ng-template cdk-portal #addModuleDialog="cdkPortal">
    <md-card>
        Ajouter un module
        <autocomplete-input #autocompleteModuleModalTextField
                            [clearOnSelect]="true"
                            [placeholder]="'Module'"
                            (onSelect)="addModule($event)"
                            [(callback)]="autocompleteModuleCallback">
        </autocomplete-input>
    </md-card>
</ng-template>

<h3>Preview</h3>
<item-template [jobsName]="jobsName" [originsName]="originsName" [itemTemplate]="itemTemplate"></item-template>

