<ul class="nav nav-pills">
    <template ngFor let-section [ngForOf]="itemSections">
        <li role="presentation"
            (click)="selectSection($event, section)"
            [class.active]="selectedSection && selectedSection.id == section.id">
            <a href="#">{{section.name}}</a>
        </li>
    </template>
</ul>

<div *ngIf="selectedSection && selectedSection.note" class="panel panel-default">
    <div class="panel-body" [innerHTML]="selectedSection.note|textFormatter">
    </div>
</div>

<div clas="row">
    <div *ngIf="hasSpecial('DICE_DROP')" class="cold-md-2">
        <input class="input-lg form-control" placeholder="dice" [(ngModel)]="filter.dice" type=number min=1 max=100>
    </div>
    <input class="input-lg form-control" placeholder="Filtre" [(ngModel)]="filter.name" type="text">
</div>
<template ngFor let-category [ngForOf]="selectedSection?.categories">
    <div *ngIf="itemsByCategory && isItemVisibleInList(itemsByCategory[category.id])">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    {{category.name}}
                </h3>
                <p>
                    {{category.note}}
                </p>
            </div>
        </div>
        <template [ngIf]="itemsByCategory">
            <template ngFor let-item [ngForOf]="itemsByCategory[category.id]">
                <div class="item-element">
                    <item-template class="item-element"
                                   *ngIf="isVisible(item)"
                                   [editable]="editable"
                                   [item]="item"></item-template>
                </div>
            </template>
        </template>
        <hr>
    </div>
</template>
