:host {
    display: block;

    .multi-select-header {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;

        border-bottom-width: 1px;
        border-bottom-style: solid;

        > mat-checkbox {
            padding-right: 12px;
        }
    }

    .item {
        position: relative;
        display: grid;
        align-items: center;
        grid-column-gap: 8px;
        grid-template-columns: 1fr 40px;
        grid-template-areas: "info action";

        &.with-selector {
            grid-template-columns: auto 1fr 40px;
            grid-template-areas: "selector info action";
        }

        .selector {
            grid-area: selector;
        }

        .info {
            padding: 4px 8px;
            cursor: pointer;
            grid-area: info;
            grid-column-gap: 8px;
            display: grid;
            align-items: center;
            grid-template-columns: 32px 1fr minmax(0, auto);

            -webkit-user-drag: none;
            -webkit-tap-highlight-color: transparent;

            .name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .action {
            grid-area: action;
        }
    }

    .item:nth-child(4n+0) {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}
