mat-card {
    .delete-button {
        float: right;
    }
    margin: 5px;
}

.slots-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    mat-checkbox {
        flex: 0 0 120px;
        min-width: 120px;
    }
}

.input-center-align {
    text-align: center;
}
