<md-card class="section-selector">
    <md-select [ngModel]="selectedSection" (change)="selectSection($event.value)" style="width: 100%" placeholder="Section">
        <md-option *ngFor="let section of itemSections" [value]="section">
            {{section.name}}
        </md-option>
    </md-select>
</md-card>

<md-card *ngIf="selectedSection && selectedSection.note" class="panel panel-default">
    <md-card-subtitle>Note</md-card-subtitle>
    <md-card-content>
        <div class="panel-body" [innerHTML]="selectedSection.note|textFormatter">
        </div>
    </md-card-content>
</md-card>

<md-card>
    <md-card-subtitle>Filtre</md-card-subtitle>
    <md-card-content class="filters">
        <md-input-container class="name">
            <input mdInput placeholder="Filtre" [(ngModel)]="filter.name" (change)="updateFilter()"/>
        </md-input-container>
        <md-input-container *ngIf="hasSpecial('DICE_DROP')" class="dice-drop">
            <input mdInput placeholder="Dé" [(ngModel)]="filter.dice" type="number" (change)="updateFilter()"/>
        </md-input-container>
        <md-select *ngIf="selectedSection"
                   class="category"
                   [ngModel]="filter.category"
                   (change)="selectCategory($event.value)"
                   placeholder="Sous-section">
            <md-option [value]="null"></md-option>
            <md-option *ngFor="let category of selectedSection.categories" [value]="category">
                {{category.name}}
            </md-option>
        </md-select>
    </md-card-content>
</md-card>

<ng-template ngFor let-category [ngForOf]="selectedSection?.categories" [ngForTrackBy]="trackById">
    <div *ngIf="itemsByCategory && itemsByCategory[category.id]">
        <div itemCategory [category]="category">
            <h3>
                {{category.name}}
            </h3>
            <p>
                {{category.note}}
            </p>
        </div>
        <ng-template ngFor let-item [ngForOf]="itemsByCategory[category.id]" [ngForTrackBy]="trackById">
            <div class="item-element">
                <item-template class="item-element"
                               *ngIf="isVisible(item)"
                               [originsName]="originsName"
                               [jobsName]="jobsName"
                               [editable]="editable"
                               [item]="item">
                </item-template>
            </div>
        </ng-template>
    </div>
</ng-template>

<ng-template #stickyContainer="cdkPortal" cdk-portal>
    <md-toolbar>
        <h3>
            {{stickyCategory.name}}
        </h3>
    </md-toolbar>
</ng-template>
