<div class="form-horizontal">
	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-4 col-md-5">
            <input id="inputName" [(ngModel)]="item.name" type="text" class="form-control"/>
        </div>
		<label for="inputRelic" class="col-xs-8 col-sm-1 control-label">Relique</label>
		<div class="col-xs-4 col-sm-1">
			<input id="inputRelic" type="checkbox" [(ngModel)]="item.data.relic" class="form-control">
		</div>
		<label class="col-xs-4 col-sm-1 col-md-1 control-label">Sexe</label>
		<div class="col-xs-8 col-sm-3 col-md-2 btn-group" data-toggle="buttons">
			<button class="btn btn-primary" (click)="item.data.sex = null" [class.active]="!item.data.sex">?</button>
			<button class="btn btn-primary" (click)="item.data.sex = 'h'" [class.active]="item.data.sex=='h'">H</button>
			<button class="btn btn-primary" (click)="item.data.sex = 'f'" [class.active]="item.data.sex=='f'">F</button>
		</div>
	</div>
    <div class="form-group">
        <label for="inputNotIdentifiedName" class="col-sm-2 control-label">Nom non identifie</label>
        <div class="col-sm-4 col-md-5">
            <input id="inputNotIdentifiedName" [(ngModel)]="item.data.notIdentifiedName" type="text" class="form-control"/>
        </div>
        <div class="col-sm-1 col-xs-4">
            <button class="btn btn-primary glyphicon glyphicon-refresh" (click)="automaticNotIdentifiedName()"></button>
        </div>
        <label for="inputContainer" class="col-xs-8 col-md-1 col-sm-2 control-label">Conteneur</label>
        <div class="col-sm-1 col-xs-4">
            <input id="inputContainer" type="checkbox" [(ngModel)]="item.data.container" class="form-control">
        </div>
    </div>

	<div class="form-group">
		<label for="inputDescription" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-4 col-md-6">
			<input id="inputDescription" [(ngModel)]="item.data.description" type="text" class="form-control" />
		</div>
		<label for="inputQuantifiable" class="col-xs-8 col-md-1 col-sm-2 control-label">Quantifiable</label>
		<div class="col-sm-1 col-xs-4">
			<input id="inputQuantifiable" type="checkbox" [(ngModel)]="item.data.quantifiable" class="form-control">
		</div>
		<label for="inputUG" class="col-xs-8 col-md-1 col-sm-2 control-label">U.G.</label>
		<div class="col-sm-1 col-xs-4">
			<input id="inputUG" type="checkbox" [(ngModel)]="item.data.useUG" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label for="inputNote" class="col-sm-2 control-label">Note</label>
		<div class="col-sm-10">
			<input id="inputNote" [(ngModel)]="item.data.note" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputPrice" class="col-sm-2 control-label">Prix</label>
		<div class="col-sm-2">
			<input id="inputPrice" [(ngModel)]="item.data.price" type="number" class="form-control"/>
		</div>
		<div class="col-sm-6 btn-group" data-toggle="buttons">
			<button class="btn btn-warning" (click)="item.data.price = 0">0</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price + 50">+50</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price - 50">-50</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price + 100">+100</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price - 100">-100</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price + 500">+500</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price - 500">-500</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price + 1000">+1000</button>
			<button class="btn btn-warning" (click)="item.data.price = item.data.price - 1000">-1000</button>
		</div>

        <label for="inputskillBook" class="col-xs-8 col-md-1 col-sm-1 control-label">Livre de competences</label>
        <div class="col-sm-1 col-xs-4">
            <input id="inputskillBook" type="checkbox" [(ngModel)]="item.data.skillBook" class="form-control">
        </div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Type</label>
		<div class="col-sm-10 btn-group" data-toggle="buttons">
			<button *ngFor="let section of sections" class="btn btn-primary"
                    (click)="selectedSection = section"
                    [class.active]="selectedSection && selectedSection.id === section.id">
                {{section.name}}
            </button>
		</div>
	</div>

	<div class="form-group" *ngIf="selectedSection">
		<label class="col-sm-2 control-label">Categorie</label>
		<div class="col-sm-10 btn-group" data-toggle="buttons">
			<button *ngFor="let category of selectedSection.categories" class="btn btn-primary"
                    (click)="item.category = category.id"
                    [class.active]="item.category === category.id">
                {{category.name}}
            </button>
		</div>
	</div>

	<div class="form-group" *ngIf="slots && slots.length">
		<label class="col-sm-2 control-label">Slots</label>
		<div class="col-sm-8 btn-group" data-toggle="buttons">
			<button *ngFor="let slot of slots"
					class="btn"
					(click)="toggleSlot(slot)"
					[class.active]="isInSlot(slot)"
					[class.btn-primary]="!isInSlot(slot)"
					[class.btn-success]="isInSlot(slot)">
						{{slot.name}}
			</button>
		</div>
	</div>

	<div class="form-group">
		<label for="inputLevel" class="col-sm-2 control-label">Niveau requis</label>
		<div class="col-sm-8 btn-group" data-toggle="buttons">
			<button class="btn btn-info" (click)="item.data.requireLevel = null" [class.active]="!item.data.requireLevel">0</button>
			<button *ngFor="let lvl of form.levels" class="btn btn-info" (click)="item.data.requireLevel = lvl" [class.active]="item.data.requireLevel == lvl">{{lvl}}</button>
		</div>
		<div class="col-sm-2">
			<input id="inputLevel" [(ngModel)]="item.data.requireLevel" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group" *ngIf="skills">
		<label for="inputSkill" class="col-sm-2 control-label">Competences</label>
		<div class="col-sm-4">
			<div *ngIf="item.skills">
				<div *ngFor="let skill of item.skills">
					<span>{{skill.name}}</span>
					<span><button class="btn btn-danger glyphicon glyphicon-remove" (click)="removeSkill(skill.id)"></button></span>
				</div>
			</div>
			<div>
				<select id="inputSkill" [(ngModel)]="selectedSkill" (change)=addSkill($event.target.value)>
					 <option></option>
					 <option *ngFor="let skill of skills" [value]="skill.id" >{{skill.name}}</option>
				</select>
			</div>
		</div>
		<label for="inputUnskill" class="col-sm-2 control-label">Competences annulées</label>
		<div class="col-sm-4">
			<div *ngIf="item.skills">
				<div *ngFor="let skill of item.unskills">
					<span>{{skill.name}}</span>
					<span><button class="btn btn-danger glyphicon glyphicon-remove" (click)="removeUnskill(skill.id)"></button></span>
				</div>
			</div>
			<div>
				<select id="inputUnskill" [(ngModel)]="selectedSkill" (change)=addUnskill($event.target.value)>
					 <option></option>
					 <option *ngFor="let skill of skills" [value]="skill.id" >{{skill.name}}</option>
				</select>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="inputDiceDrop" class="col-sm-2 control-label">Dé</label>
		<div class="col-sm-2">
			<input id="inputDiceDrop" [(ngModel)]="item.data.diceDrop" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputCharge" class="col-sm-2 control-label">Charges</label>
		<div class="col-sm-2">
			<input id="inputCharge" [(ngModel)]="item.data.charge" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputDuration" class="col-sm-2 control-label">Durée</label>
		<div class="col-sm-4">
			<input id="inputDuration" [(ngModel)]="item.data.duration" type="text" class="form-control" />
		</div>
		<label for="inputWeight" class="col-sm-2 control-label">Poids</label>
		<div class="col-sm-4">
			<input id="inputWeight" [(ngModel)]="item.data.weight" type="number" step="0.01" class="form-control" />
		</div>
	</div>


	<div class="form-group">
		<label for="inputProtection" class="col-sm-2 control-label">Protection</label>
		<div class="col-sm-5 btn-group" data-toggle="buttons">
			<button class="btn btn-primary" (click)="item.data.protection = null" [class.active]="!item.data.protection">0</button>
			<button *ngFor="let p of form.protection" class="btn btn-primary" (click)="item.data.protection = p" [class.active]="item.data.protection == p">{{p}}</button>
		</div>
		<div class="col-sm-5">
			<input id="inputProtection" [(ngModel)]="item.data.protection" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputMagicProtection" class="col-sm-2 control-label">Protection magique</label>
		<div class="col-sm-5 btn-group" data-toggle="buttons">
			<button class="btn btn-success" (click)="item.data.magicProtection = null" [class.active]="!item.data.magicProtection">0</button>
			<button *ngFor="let p of form.protection" class="btn btn-success" (click)="item.data.magicProtection = p" [class.active]="item.data.magicProtection == p">{{p}}</button>
		</div>
		<div class="col-sm-5">
			<input id="inputMagicProtection" [(ngModel)]="item.data.magicProtection" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputProtectionAgainstMagic" class="col-sm-2 control-label">Protection dégâts magiques ou mystiques</label>
		<div class="col-sm-5 btn-group" data-toggle="buttons">
			<button class="btn btn-success" (click)="item.data.protectionAgainstMagic = null" [class.active]="!item.data.protectionAgainstMagic">0</button>
			<button *ngFor="let p of form.protection" class="btn btn-success" (click)="item.data.protectionAgainstMagic = p" [class.active]="item.data.protectionAgainstMagic == p">{{p}}</button>
		</div>
		<div class="col-sm-2">
			<input id="inputProtectionAgainstMagic" [(ngModel)]="item.data.protectionAgainstMagic" type="number" class="form-control" />
		</div>
		<label for="inputProtectionAgainstType" class="col-sm-1 control-label">Type</label>
		<div class="col-sm-2">
			<input id="inputProtectionAgainstType" [(ngModel)]="item.data.protectionAgainstType" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputThrowable" class="col-xs-8 col-sm-2 control-label">Lançable</label>
		<div class="col-xs-4 col-sm-10">
			<input id="inputThrowable" type="checkbox" [(ngModel)]="item.data.throwable" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label for="inputDamageDiceCount" class="col-sm-2 control-label">Nombre de dé de dégat</label>
		<div class="col-sm-5 btn-group" data-toggle="buttons">
			<button class="btn btn-primary" (click)="item.data.damageDice = null" [class.active]="!item.data.damageDice">0</button>
			<button *ngFor="let d of form.dices" class="btn btn-primary" (click)="item.data.damageDice = d" [class.active]="item.data.damageDice == d">{{d}}</button>
		</div>
		<div class="col-sm-5">
			<input id="inputDamageDiceCount" [(ngModel)]="item.data.damageDice" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputDamage" class="col-sm-2 control-label">Dégat</label>
		<div class="col-sm-5 btn-group" data-toggle="buttons">
			<button *ngFor="let d of form.damage" class="btn btn-danger" (click)="item.data.bonusDamage = d" [class.active]="item.data.bonusDamage == d">{{d}}</button>
		</div>
		<div class="col-sm-5">
			<input id="inputDamage" [(ngModel)]="item.data.bonusDamage" type="number" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputAvailableLocation" class="col-sm-2 control-label">Possibilités de récolte</label>
		<div class="col-sm-10">
			<input id="inputAvailableLocation" [(ngModel)]="item.data.availableLocation" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputLoad" class="col-sm-2 control-label">Encombrement</label>
		<div class="col-sm-10">
			<input id="inputLoad" [(ngModel)]="item.data.space" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label for="inputDamageType" class="col-sm-2 control-label">DamageType</label>
		<div class="col-sm-10">
			<input id="inputDamageType" [(ngModel)]="item.data.damageType" type="text" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Modificateur</label>
		<div class="col-sm-10">
			<modifiers-editor [options]="['job','origin','special']" [(modifiers)]="item.modifiers"></modifiers-editor>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Modificateur de competences</label>
		<div class="col-sm-10">
			<skill-modifiers-editor [(modifiers)]="item.skillModifiers"></skill-modifiers-editor>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Prerequis</label>
		<div class="col-sm-10">
			<stat-requirements-editor [(requirements)]="item.requirements"></stat-requirements-editor>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Effet</label>
		<div class="col-sm-10">
			<div *ngIf="item.data.effect">
				{{item.data.effect.name}}
				<button class="btn btn-danger glyphicon glyphicon-remove" (click)="item.data.effect = null"></button>
			</div>

			<div *ngIf="!item.data.effect">
				<input #searchEffectInput (keyup)="searchEffect(searchEffectInput.value)" type="text" class="form-control" />
			</div>
			<div *ngIf="!item.data.effect" class="list-group">
			  <button *ngFor="let effect of filteredEffects" type="button" (click)="item.data.effect = effect" class="list-group-item">{{effect.name}}</button>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Rupture</label>
		<div class="col-sm-10 btn-group" data-toggle="buttons">
			<button class="btn btn-info" (click)="setRupture(null)" [class.active]="!item.data.rupture">null</button>
			<button class="btn btn-success" (click)="setRupture(1)" [class.active]="item.data.rupture == 1">non</button>
			<button class="btn btn-success" (click)="setRupture(2)" [class.active]="item.data.rupture == 2">1 à 2</button>
			<button class="btn btn-warning" (click)="setRupture(3)" [class.active]="item.data.rupture == 3">1 à 3</button>
			<button class="btn btn-warning" (click)="setRupture(4)" [class.active]="item.data.rupture == 4">1 à 4</button>
			<button class="btn btn-danger" (click)="setRupture(5)" [class.active]="item.data.rupture == 5">1 à 5</button>
			<button class="btn btn-danger" (click)="setRupture(6)" [class.active]="item.data.rupture == 6">Toujours</button>
		</div>
	</div>
	<div *ngIf="selectedSection && item.category">
		<item-element [items]="[item]" [type]="selectedSection" [restrictCategory]="item.category"></item-element>
	</div>
</div>
