<div *ngFor="let item of items" class="item separator">
    <div class="info" (click)="selectItem.emit(item)" mat-ripple>
        <icon [icon]="item.data.icon"></icon>
        <span class="name">
            <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}&nbsp;</span>
            {{item.data.name}}
            <span *ngIf="item.data.notIdentified">({{item.template.name}})</span>
        </span>
        <span>
            <span *ngIf="item.price">&nbsp;{{item.price}}&nbsp;P.O.</span>
        </span>
    </div>
    <button class="action"
            mat-icon-button
            [matMenuTriggerFor]="actionMenu"
            aria-label="Ouvre le menu de l'action">
        <mat-icon>{{actionIcon}}</mat-icon>
    </button>
    <mat-menu xPosition="before" #actionMenu="matMenu">
        <button mat-menu-item (click)="onAction.emit(item)">
            <mat-icon>{{actionIcon}}</mat-icon>
            {{actionName}}
        </button>
    </mat-menu>
</div>
