<md-card>
    <md-card-header>
        <icon md-card-avatar [icon]="item.data.icon" [size]="'32px'"></icon>
        <md-card-title>
            {{item.name}}
        </md-card-title>
        <md-card-subtitle>
            <span *ngIf="item.data.requireLevel">Niveau {{item.data.requireLevel}} </span>
            <span *ngIf="item.data.relic">Relique </span>
            <span *ngIf="item.data.sex == 'h'">Homme uniq. </span>
            <span *ngIf="item.data.sex == 'f'">Femme uniq. </span>
        </md-card-subtitle>
        <span class="padding"></span>
        <button md-icon-button color="primary" *ngIf="editable" (click)=editItem(item)><md-icon>edit</md-icon></button>
    </md-card-header>

    <!-- Dice drop -->
    <div *ngIf="item.data.diceDrop">
        <span class="ra ra-perspective-dice-random ra-lg">{{item.data.diceDrop}}</span>
    </div>

    <!-- Throwable -->
    <div *ngIf="item.data.throwable">
        <span>Arme prévue pour le jet</span>
    </div>

    <!-- Slots -->
    <div *ngIf="item.slots?.length > 0">
        <span>
            Slot:
        </span>
        <template ngFor let-slot [ngForOf]="item.slots">
            <span>{{slot.name}}</span>
        </template>
    </div>

    <!-- Description -->
    <div *ngIf="item.data.description">
        <span>Description:</span>
        {{item.data.description}}
    </div>


    <!-- Note -->
    <div *ngIf="item.data.note">
        <span>Note:</span>
        {{item.data.note}}
    </div>

    <!-- Encombrement -->
    <div *ngIf="item.data.space">
        <span>
            Encombrement:
        </span>
        {{item.data.space}}
    </div>

    <!-- Possibilités de récolte -->
    <div *ngIf="item.data.availableLocation">
        <span>
            Possibilités de récolte:
        </span>
        {{item.data.availableLocation}}
    </div>

    <!-- Prix/Charge/Durée -->
    <div>
        <div *ngIf="item.data.price">
            <span>Prix:</span>
            <template [ngIf]="item.data.price >= 1">
                {{item.data.price | number}} P.O.
            </template>

            <template [ngIf]="item.data.price < 1 && item.data.price >= 0.1">
                {{item.data.price * 10}} P.A.
            </template>

            <template [ngIf]="item.data.price < 0.1">
                {{item.data.price * 100}} P.C.
            </template>
        </div>
        <div *ngIf="item.data.duration">
            <span>Durée:</span>
            {{item.data.duration}}
        </div>
        <div *ngIf="item.data.charge">
            <span>Charge:</span>
            {{item.data.charge}}
        </div>
    </div>

    <div *ngIf="item.data.weight">
        <span>
            Poid:
        </span>
        <span *ngIf="item.data.weight < 1">{{(item.data.weight * 1000)}}g</span>
        <span *ngIf="item.data.weight >= 1">{{(item.data.weight)}}Kg</span>
    </div>

    <!-- Degat -->
    <div class="row" *ngIf="item.data.bonusDamage || item.data.damageDice">
        <div class="col-xs-12">
            <span class="ra ra-broadsword ra-lg"></span>
            <span *ngIf="item.data.damageDice">{{item.data.damageDice}}<span
                class="ra ra-perspective-dice-random"></span></span>
            <span *ngIf="item.data.damageDice && item.data.bonusDamage>0">+</span>
            <span *ngIf="item.data.bonusDamage">{{item.data.bonusDamage}}</span>
            <span *ngIf="item.data.damageType">({{item.data.damageType}})</span>
        </div>
    </div>

    <!-- Protection -->
    <div *ngIf="item.data.protection || item.data.magicProtection || item.data.protectionAgainstMagic">
        <span class="ra ra-shield ra-lg"></span>
        <span *ngIf="item.data.protection">{{item.data.protection}}</span>
        <span *ngIf="item.data.protection && item.data.magicProtection">+</span>
        <span *ngIf="item.data.magicProtection">{{item.data.magicProtection}} (magique)</span>
        <span *ngIf="(item.data.protection || item.data.magicProtection) && item.data.protectionAgainstMagic">/</span>
        <span *ngIf="item.data.protectionAgainstMagic">{{item.data.protectionAgainstMagic}}>
            <span *ngIf="item.data.protectionAgainstType">(contre {{item.data.protectionAgainstType}})</span>
            <span *ngIf="!item.data.protectionAgainstType">(contre mag./myst.)</span>
        </span>
    </div>

    <!-- Rupture -->
    <div class="row" *ngIf="item.data.rupture">
        <div class="col-xs-12">
            <span class="ra ra-broken-shield ra-lg"></span>
            1 à {{item.data.rupture}}
        </div>
    </div>

    <!-- Modificateurs -->
    <template [ngIf]="item.modifiers && item.modifiers.length">
        <template ngFor let-modifier [ngForOf]="item.modifiers">
            <div>
                <span *ngIf="jobsName && modifier.job">{{jobsName[modifier.job]}}:</span>
                <span *ngIf="originsName && modifier.origin">{{originsName[modifier.origin]}}:</span>
                {{modifier | modifier}}
            </div>
        </template>
    </template>

    <!-- Compétences ajouté/annulé -->
    <template ngFor let-skill [ngForOf]="item.skills">
        <div>Donne la compétence "{{skill.name}}"</div>
    </template>
    <template ngFor let-skill [ngForOf]="item.unskills">
        <div>Annule la compétence "{{skill.name}}"</div>
    </template>
    <template ngFor let-modifier [ngForOf]="item.skillModifiers">
        <div>
            {{modifier.skill.name}} <span *ngIf="modifier.value > 0">+</span>{{modifier.value}}
        </div>
    </template>


    <!-- Prérequis -->
    <template ngFor let-requirement [ngForOf]="item.requirements">
        <div>
            <span *ngIf="requirement.min">Min {{requirement.stat}}: {{requirement.min}}</span>
            <span *ngIf="requirement.max">Max {{requirement.stat}}: {{requirement.max}}</span>
        </div>
    </template>
</md-card>
