md-card {
    margin: 5px 0;
}

.filters {
    .name {
        width: 200px;
    }
    .dice-drop {
        width: 50px;
    }
    .category {
        width: 200px;
    }
}
.section-selector {
    padding-top: 20px;
}
.item-section {
    font-weight: bold;
}
