<md-card [ngSwitch]="moduleName">
    <button class="delete-button" md-icon-button (click)="deleteModule()"><md-icon>delete</md-icon></button>
    <ng-template [ngSwitchCase]="'charge'">
        <md-card-subtitle>Charges / Utilisations</md-card-subtitle>
        <md-card-content>
            <div>
                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Nombre de charges"
                           [(ngModel)]="itemTemplate.data.charge"
                           type="number"/>
                    <span mdPrefix>Cet objet a un nombre limité de </span>
                    <span mdSuffix> utilisation(s)</span>
                </md-input-container>
            </div>
            <div>
                Lors de l'utilisation:
            </div>
            <div *ngFor="let action of itemTemplate.data.actions; let i = index" style="display: flex; align-items: center">
                <button md-icon-button
                        color="accent"
                        (click)="removeChargeAction(i)">
                    <md-icon>delete</md-icon>
                </button>
                <span *ngIf="action.hidden">[Caché]</span>
                <nhbk-action [action]="action"></nhbk-action>
            </div>
            <div>
                <button md-button color="primary" (click)="openAddChargeActionModal()">AJOUTER UNE ACTION</button>
            </div>
        </md-card-content>
        <ng-template #addChargeActionModal="cdkPortal" cdk-portal>
            <nhbk-action-editor (onValidate)="addChargeAction($event)" (onClose)="closeAddChargeActionModal()">
            </nhbk-action-editor>
        </ng-template>
    </ng-template>
    <ng-template [ngSwitchCase]="'collect'">
        <md-card-subtitle>Possibilités de récolte</md-card-subtitle>
        <md-card-content>
            <md-input-container style="width: 100%">
                <input mdInput
                       [(ngModel)]="itemTemplate.data.availableLocation"/>
            </md-input-container>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'container'">
        <md-card-subtitle>Conteneur</md-card-subtitle>
        <md-card-content>
            Cet objet permet de stocker d'autres objets
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'currency'">
        <md-card-subtitle>Monnaie</md-card-subtitle>
        <md-card-content>
            Cet objet est comptabiliser dans le total de piece d'or du joueur.
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'damage'">
        <md-card-subtitle>Dégât de l'objet</md-card-subtitle>
        <md-card-content>
            <div>
                Cet objet permet d'infliger
                <span *ngIf="itemTemplate.data.damageDice">{{itemTemplate.data.damageDice}}<span
                    class="ra ra-perspective-dice-random"></span></span>
                <span *ngIf="itemTemplate.data.damageDice && itemTemplate.data.bonusDamage > 0">+</span>
                <span *ngIf="itemTemplate.data.bonusDamage">{{itemTemplate.data.bonusDamage}}</span>
                points de dégât
                <span *ngIf="itemTemplate.data.damageType">de {{itemTemplate.data.damageType}}</span>.
            </div>
            <div>
                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Nombre de dé"
                           [(ngModel)]="itemTemplate.data.damageDice"
                           type="number"/>
                    <span mdSuffix>D6</span>
                </md-input-container>

                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Dégât fixe"
                           [(ngModel)]="itemTemplate.data.bonusDamage"
                           type="number"/>
                </md-input-container>

                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Type de dégât"
                           [(ngModel)]="itemTemplate.data.damageType"
                           type="text"/>
                </md-input-container>
            </div>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'diceDrop'">
        <md-card-subtitle>Dé</md-card-subtitle>
        <md-card-content>
            Cet objet s'obtient en lançant un dé avec une valeur de
            <md-input-container>
                <input mdInput
                       class="input-center-align"
                       placeholder="Valeur du dé"
                       [(ngModel)]="itemTemplate.data.diceDrop"
                       type="number"/>
            </md-input-container>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'enchantment'">
        <md-card-subtitle>Enchanté</md-card-subtitle>
        <md-card-content>
            Cet objet est enchanté
            <md-input-container>
                <input mdInput
                       class="input-center-align"
                       placeholder="Details"
                       [(ngModel)]="itemTemplate.data.enchantment"/>
            </md-input-container>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'gem'">
        <md-card-subtitle>Gemmes</md-card-subtitle>
        <md-card-content>
            Cet objet est une gemme pouvant avoir un poix en U.G.
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'lifetime'">
        <md-card-subtitle>Duree de conservation</md-card-subtitle>
        <duration-selector [durable]="itemTemplate.data.lifetime"></duration-selector>
    </ng-template>
    <ng-template [ngSwitchCase]="'level'">
        <md-card-subtitle>Niveau requis</md-card-subtitle>
        <md-card-content>
            Cet objet est utilisable a partir du niveaux:
            <md-input-container>
                <input mdInput placeholder="Niveau requis" [(ngModel)]="itemTemplate.data.requireLevel" />
            </md-input-container>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'modifiers'">
        <md-card-subtitle>Modificateurs</md-card-subtitle>
        <md-card-content>
            <modifiers-editor [options]="['job','origin','special']" [(modifiers)]="itemTemplate.modifiers">
            </modifiers-editor>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'prereq'">
        <md-card-subtitle>Prérequis</md-card-subtitle>
        <md-card-content>
            <stat-requirements-editor [(requirements)]="itemTemplate.requirements">
            </stat-requirements-editor>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'protection'">
        <md-card-subtitle>Protection</md-card-subtitle>
        <md-card-content>
            <div>
                L'objet augmente le score de protection de {{itemTemplate.data.protection}}
                <span *ngIf="itemTemplate.data.magicProtection">
                    et la protection magique de {{itemTemplate.data.magicProtection}}
                </span>
            </div>
            <div *ngIf="itemTemplate.data.protectionAgainstMagic && itemTemplate.data.protectionAgainstType">
                L'objet protege de {{itemTemplate.data.protectionAgainstMagic}} points
                contre la magie de type {{itemTemplate.data.protectionAgainstType}}
            </div>
            <div>
                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Protection"
                           [(ngModel)]="itemTemplate.data.protection"
                           type="number"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Protection magique"
                           [(ngModel)]="itemTemplate.data.magicProtection"
                           type="number"/>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Protection contre une magie"
                           [(ngModel)]="itemTemplate.data.protectionAgainstMagic"
                           type="number"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput
                           class="input-center-align"
                           placeholder="Type de protection"
                           [(ngModel)]="itemTemplate.data.protectionAgainstType"
                           type="number"/>
                </md-input-container>
            </div>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'quantifiable'">
        <md-card-subtitle>Quantifiable</md-card-subtitle>
        <md-card-content>
            Il est possible de posséder cet objet dans une certaines quantité dans un seul slot de l'inventaire (piece d'or, ingredient magique...)
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'relic'">
        <md-card-subtitle>Relique</md-card-subtitle>
        <md-card-content>
            C'est objet est une relique, qui permet a un paladin d'acceder a ses pouvoir<br>
            FIXME: Définir le dieu associe
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'rupture'">
        <md-card-subtitle>Rupture</md-card-subtitle>
        <md-card-content>
            <div *ngIf="itemTemplate.data.rupture > 1">
                En cas d'echec critique ou de coup critique de l'énemis l'objet casse sur un score de
                1 à {{itemTemplate.data.rupture}} au lancé d'un D6
            </div>
            <div *ngIf="itemTemplate.data.rupture === 1">
                En cas d'echec critique ou de coup critique de l'énemis l'objet casse sur un score de
                1 au lancé d'un D6
            </div>
            <div *ngIf="itemTemplate.data.rupture === 0">
                L'objet est incassable
            </div>
            <md-button-toggle-group [(ngModel)]="itemTemplate.data.rupture">
                <md-button-toggle [value]="0">Incassable</md-button-toggle>
                <md-button-toggle [value]="1">1</md-button-toggle>
                <md-button-toggle [value]="2">1 à 2</md-button-toggle>
                <md-button-toggle [value]="3">1 à 3</md-button-toggle>
                <md-button-toggle [value]="4">1 à 4</md-button-toggle>
                <md-button-toggle [value]="5">1 à 5</md-button-toggle>
                <md-button-toggle [value]="6">1 à 6</md-button-toggle>
            </md-button-toggle-group>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'sex'">
        <md-card-subtitle>Sexe</md-card-subtitle>
        <md-card-content>
            Cet objet est réservé aux personnage de sexe
            <md-radio-group [(ngModel)]="itemTemplate.data.sex">
                <md-radio-button [value]="'h'">Masculin</md-radio-button>
                <md-radio-button [value]="'f'">Féminin</md-radio-button>
            </md-radio-group>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'skill'">
        <md-card-subtitle>Compétences</md-card-subtitle>
        <md-card-content *ngIf="skills">
            <div>
                <div *ngFor="let skill of itemTemplate.skills">
                    <button md-icon-button color="accent" (click)="removeSkill(skill.id)"><md-icon>delete</md-icon></button>
                    Permet de gagner la compétence <em>{{skill.name}}</em>
                </div>

                Permet de gagner la compétence
                <md-select (change)=addSkill($event.target.value) style="min-width: 300px">
                    <md-option></md-option>
                    <md-option *ngFor="let skill of skills" [value]="skill.id" >{{skill.name}}</md-option>
                </md-select>
            </div>

            <div>
                <div *ngFor="let skill of itemTemplate.unskills">
                    <button md-icon-button color="accent" (click)="removeUnskill(skill.id)"><md-icon>delete</md-icon></button>
                    Permet d'annuler la compétence <em>{{skill.name}}</em>
                </div>

                Permet d'annuler la compétence
                <md-select (change)=addUnskill($event.target.value) style="min-width: 300px">
                    <md-option></md-option>
                    <md-option *ngFor="let skill of skills" [value]="skill.id" >{{skill.name}}</md-option>
                </md-select>
            </div>

            <div>
                <skill-modifiers-editor [(modifiers)]="itemTemplate.skillModifiers"></skill-modifiers-editor>
            </div>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'skillBook'">
        <md-card-subtitle>Livre de compétence</md-card-subtitle>
        <md-card-content>
            Cet objet permet d'obtenir une compétence après avoir ete lu.
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'slots'">
        <md-card-subtitle>Équipement</md-card-subtitle>
        <md-card-content>
            Cet objet peut être équipé, et occupe les emplacement suivant:
            <div class="slots-list">
                <md-checkbox *ngFor="let slot of slots" [checked]="isInSlot(slot)" (change)="toggleSlot(slot)">
                    {{slot.name}}
                </md-checkbox>
            </div>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'space'">
        <md-card-subtitle>Encombrement</md-card-subtitle>
        <md-card-content>
            <md-input-container style="width: 100%">
                <input mdInput
                       [(ngModel)]="itemTemplate.data.space"/>
            </md-input-container>
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'throwable'">
        <md-card-subtitle>Arme prévue pour le jet</md-card-subtitle>
        <md-card-content>
            Cet objet est une arme prévue pour le jet.
        </md-card-content>
    </ng-template>
    <ng-template [ngSwitchCase]="'weight'">
        <md-card-subtitle>Poids</md-card-subtitle>
        <md-card-content>
            <md-input-container>
                <input mdInput
                       class="input-center-align"
                       placeholder="Poids"
                       [(ngModel)]="itemTemplate.data.weight"
                       type="number"/>
                <span mdPrefix>Cet objet pèse </span>
                <span mdSuffix>Kg</span>
            </md-input-container>
        </md-card-content>
    </ng-template>
    <ng-template ngSwitchDefault>
        <div>Unknow module {{moduleName}}</div>
    </ng-template>
</md-card>
