<div>
    <location-editor [(location)]="location" [(maps)]="maps"></location-editor>
    <button (click)="editLocation()">Editer</button>
</div>
<div>
    <h3>Fils</h3>
    <div *ngIf="location">
        <ng-template ngFor let-son [ngForOf]="location.sons">
            <div>
                {{son.name}}
            </div>
        </ng-template>
    </div>
</div>
<div>
    <div>
        <div>
            <legend>Ajouter un lieu</legend>
        </div>

        <div>
            <label for="newLocationName">Nom</label>
            <div>
                <input [(ngModel)]="newLocationName" type="text" id="newLocationName" placeholder="Nom">
            </div>
        </div>

        <button (click)="addLocation()">Ajouter</button>
        <button (click)="addLocationAndEdit()">Ajouter & Editer</button>
    </div>
</div>
