<ng-template [ngIf]="location">
    <div action="" method="post" class="form-horizontal" role="form">

        <div>
            <legend>Editeur de lieu</legend>
        </div>
        <div>
            <label for="inputLocationName">Nom</label>
            <div>
                <input type="text" id="inputLocationName" [(ngModel)]="location.name"/>
            </div>
        </div>

        <div>
            <label for="inputParent">Parent</label>
            <div>
                <select id="inputParent" [(ngModel)]="location.parent">
                    <option value="0"></option>
                    <ng-template ngFor let-loc [ngForOf]="locations">
                        <option value="{{loc.id}}" *ngIf="loc.id != location.id">
                            {{loc.name}}
                        </option>
                    </ng-template>
                </select>
            </div>
        </div>

        <div>
            <label for="inputLocationDescription">Description</label>
            <div>
                <button *ngIf="!previewDescription" (click)="previewDescription=true">Preview</button>
                <button *ngIf="previewDescription" (click)="previewDescription=false">Edit</button>
                <textarea *ngIf="!previewDescription" autosize id="inputLocationDescription"
                       [(ngModel)]="location.data.description"></textarea>
                <div *ngIf="previewDescription" [innerHTML]="location.data.description | textFormatter">
                </div>
            </div>
        </div>

        <div>
            <label>Cartes</label>
            <div>
                <ng-template ngFor let-map [ngForOf]="maps">
                    <div>
                        {{map.name}}
                        {{map.file}}
                        {{map.gm}}
                    </div>
                </ng-template>
                <div>
                    <div>

                        <div>
                            <input type="text" [(ngModel)]="newMap.name" placeholder="Nom">
                            <autocomplete-input [value]="newMap.file" (onSelect)="newMap.file = $event"
                                                [(callback)]="autocompleteFilesCallback"></autocomplete-input>
                            <label>GM
                                <input [(ngModel)]="newMap.gm" type="checkbox">
                            </label>
                            <button (click)="addMap()">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>
