<div class="stat-modifiers">
    <div *ngIf="modifiers && modifiers.length > 0" class="delete_all_button">
        <button md-icon-button
                (click)="clear()"
                color="warn">
            <md-icon>delete_forever</md-icon>
        </button>
    </div>

    <div class="modifiers-list">
        <div *ngFor="let modifier of modifiers; let i=index" class="modifier-line">
            <button md-icon-button
                    (click)="removeModifier(i)"
                    color="accent">
                <md-icon>delete_forever</md-icon>
            </button>

            <div *ngIf="modifier.value > 0">{{modifier.skill.name}} +{{modifier.value}}</div>
            <div *ngIf="modifier.value < 0">{{modifier.skill.name}} {{modifier.value}}</div>
        </div>
    </div>
</div>

<div>
    Modifie la competence
    <select [(ngModel)] ="selectedSkill">
        <option *ngFor="let skill of skills" [value]="skill.id">{{skill.name}}</option>
    </select>
    de
    <md-input-container>
        <input md-input
               type="number"
               [(ngModel)]="value"/>
    </md-input-container>
    <button md-button color="primary" [disabled]="!value || !selectedSkill" (click)="addModifier()">
        AJOUTER
    </button>
</div>
