<ng-template ngFor [ngForOf]="skills" let-skill>
    <md-card>
        <div fxLayout="row">
            <md-icon *ngIf="isSelected(skill)" fxFlex="nogrow">check_circle</md-icon>
            <md-card-title fxFlex="auto">{{skill.name}}</md-card-title>
        </div>
        <md-card-subtitle *ngIf="skill.playerDescription">
            {{skill.playerDescription}}
        </md-card-subtitle>
        <md-card-actions align="end">
            <button *ngIf=!isSelected(skill) color="primary" md-button (click)="selectSkill(skill)">SÉLECTIONNER</button>
            <button *ngIf=isSelected(skill) color="primary" md-button (click)="unselectSkill(skill)">DE-SÉLECTIONNER</button>
        </md-card-actions>
    </md-card>
</ng-template>
