<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Naheulbook</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a [routerLink]="['/database/skills']">Compétences</a></li>
						<li><a [routerLink]="['/database/origins']">Origines</a></li>
						<li><a [routerLink]="['/database/jobs']">Metiers</a></li>
						<li><a [routerLink]="['/database/items']">Objets</a></li>
						<li *ngIf="loggedUser && loggedUser.admin"><a [routerLink]="['/create-item']">Créer un objet</a></li>
						<li><a [routerLink]="['/database/effects']">Effets</a></li>
						<li *ngIf="loggedUser && loggedUser.admin"><a [routerLink]="['/create-effect']">Créer un effet</a></li>
						<li><a [routerLink]="['/database/monsters']">Bestiaire</a></li>
						<li><a [routerLink]="['/database/locations']">Cartographie</a></li>
					</ul>
				</li>
				<li *ngIf="loggedUser" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personnage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a [routerLink]="['/character/create']">Créer</a></li>
						<li><a [routerLink]="['/character/list']">Liste</a></li>
						<li><a [routerLink]="['/create-group']">Créer un groupe</a></li>
						<li><a [routerLink]="['/group-list']">Groupes</a></li>
					</ul>
				</li>
			</ul>
			<login (redirect)="redirectTo($event)"></login>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<div class="container">
	<router-outlet></router-outlet>
    <simple-notifications></simple-notifications>
</div>

