:host {
    .job-summary {
        text-align: justify;
    }
    .job-description {
        text-align: justify;
    }
    .skills-list {
        padding-left: 1.5em;
        text-indent:-1.5em;
        .skill-name {
            font-weight: bold;
        }
    }
}
