@for (availability of availabilities; track availability) {
  <div>
    @if (availability.jobs?.length) {
      <h3 class="mat-h3 availability-title">{{availability.title}}</h3>
      <mat-accordion [multi]="false">
        @if (displayNoJobOption && availability.state === 'ok') {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="job-title">
                <span class="icon-available">
                  <mat-icon>check</mat-icon>
                </span>
                <span>
                  Aucun
                </span>
              </div>
            </mat-expansion-panel-header>
            <mat-action-row align="end">
              <button color="primary" mat-button (click)="selectJob(undefined)">CHOISIR</button>
            </mat-action-row>
          </mat-expansion-panel>
        }
        @for (job of availability.jobs; track job) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="job-title">
                <span class="icon-available">
                  <mat-icon>{{availability.icon}}</mat-icon>
                </span>
                <span>
                  {{job.name}}
                </span>
              </div>
            </mat-expansion-panel-header>
            <p class="prereq">
              Prérequis:
              @for (req of job.requirements; track req; let last = $last) {
                @if (req.min && stats[req.stat.toLowerCase()] < req.min) {
                  <span class="invalid-stat">
                    {{req.stat|uppercase}} &ge; {{req.min}}
                  </span>
                }
                @if (req.max && stats[req.stat.toLowerCase()] > req.max) {
                  <span class="invalid-stat">
                    {{req.stat|uppercase}} &le; {{req.max}}
                  </span>
                }
                @if (req.min && stats[req.stat.toLowerCase()] >= req.min) {
                  <span class="valid-stat">
                    {{req.stat|uppercase}} &ge; {{req.min}}
                  </span>
                }
                @if (req.max && stats[req.stat.toLowerCase()] <= req.max) {
                  <span class="valid-stat">
                    {{req.stat|uppercase}} &le; {{req.max}}
                  </span>
                }
                @if (!last) {
                  <span>,</span>
                }
              }
              @if (!job.requirements.length) {
                <span>aucun</span>
              }
            </p>
            <p class="summary" [innerHTML]="job.playerSummary | textFormatter"></p>
            <p class="description" [innerHTML]="job.playerDescription | textFormatter"></p>
            @if (job.skills.length) {
              <div class="skills">
                Je suis né avec les compétences suivantes :
                <ul>
                  @for (skill of job.skills; track skill) {
                    <li>
                      <div class="skill-name">{{skill.name}}</div>
                      @if (skill.playerDescription) {
                        <span> {{skill.playerDescription}}</span>
                      }
                    </li>
                  }
                </ul>
              </div>
            }
            @if (availabilityOk.state === 'ok') {
              <mat-action-row align="end">
                <button color="primary" mat-button (click)="selectJob(job)">CHOISIR</button>
              </mat-action-row>
            }
            @if (availabilityOk.state === 'ko') {
              <mat-action-row align="end">
                <button color="warn" mat-button (click)="selectJob(job)">CHOISIR (Prérequis non rempli)</button>
              </mat-action-row>
            }
            @if (availabilityOk.state === 'swap') {
              <mat-action-row align="end" class="swap-buttons">
                @for (change of jobsStates[job.id].changes; track change) {
                  <button class="swap-button" color="primary" mat-button (click)="doSwapStats(change)">INVERSER {{change[0]}} avec {{change[1]}}</button>
                }
              </mat-action-row>
            }
          </mat-expansion-panel>
        }
      </mat-accordion>
    }
  </div>
}
