<div class="mat-typography">
  @if (job.requirements && job.requirements.length > 0) {
    <div>
      <b>Critères: </b>
      @for (requirement of job.requirements; track requirement; let lastReq = $last) {
        <span>
          @if (requirement.min) {
            <span>
              {{requirement.stat}} minimum: {{requirement.min}}
            </span>
          }
          @if (requirement.max) {
            <span>
              {{requirement.stat}} maximum: {{requirement.max}}
            </span>
          }
          @if (!lastReq) {
            <span> et </span>
          }
        </span>
      }
    </div>
  }

  @if (!job.data.forOrigin['all'].baseEv && !job.data.forOrigin['all'].factorEv && !job.data.forOrigin['all'].bonusEv) {
    <div
      >
      EV initiale : selon origine
    </div>
  }
  @if (!job.data.forOrigin['all'].baseEv && job.data.forOrigin['all'].factorEv && !job.data.forOrigin['all'].bonusEv) {
    <div
      >
      EV initiale : EV initiale -{{ (1 - job.data.forOrigin['all'].factorEv) | percent}}
    </div>
  }
  @if (!job.data.forOrigin['all'].baseEv && !job.data.forOrigin['all'].factorEv && (job.data.forOrigin['all'].bonusEv || 0) > 0) {
    <div
      >
      EV initiale : EV initiale + {{job.data.forOrigin['all'].bonusEv}}
    </div>
  }
  @if (job.data.forOrigin['all'].baseEv && !job.data.forOrigin['all'].factorEv && !job.data.forOrigin['all'].bonusEv) {
    <div
      >
      EV initiale : {{job.data.forOrigin['all'].baseEv}}
    </div>
  }

  @if (job.data.forOrigin['all'].baseEa != null) {
    <div>
      EA initiale (mana) : {{job.data.forOrigin['all'].baseEa}} (+1D{{job.data.forOrigin['all'].diceEaLevelUp}} par
      niveau)
    </div>
  }

  @if (job.data.forOrigin['all'].baseAt != null || job.data.forOrigin['all'].basePrd != null) {
    <div>
      Valeur ATTAQUE initiale : {{job.data.forOrigin['all'].baseAt}} – Valeur PARADE initiale
      : {{job.data.forOrigin['all'].basePrd}}
    </div>
  }

  @for (bonus of job.bonuses; track bonus) {
    <div>
      {{bonus.description}}
    </div>
  }

  @if (job.skills && job.skills.length > 0) {
    <div>
      Compétences de naissance:
      <ul>
        @for (skill of job.skills; track skill) {
          <li>
            <strong>{{skill.name}}</strong>: {{skill.playerDescription}}
          </li>
        }
      </ul>
    </div>
  }

  @if (job.availableSkills && job.availableSkills.length > 0) {
    <div>
      Compétences au choix:
      <ul>
        @for (skill of job.availableSkills; track skill) {
          <li>
            <strong>{{skill.name}}</strong>: {{skill.playerDescription}}
          </li>
        }
      </ul>
    </div>
  }

  @if (job.restrictions && job.restrictions.length > 0) {
    <div>
      Restrictions:
      <ul>
        @for (restrict of job.restrictions; track restrict) {
          <li>
            {{restrict.description}}
          </li>
        }
      </ul>
    </div>
  }
</div>
