<div class="mat-typography">
  <h2>Résumé</h2>
  <p class="job-summary" [innerHTML]="job.playerSummary | textFormatter"></p>
  <h2>Description</h2>
  <p class="job-description" [innerHTML]="job.playerDescription | textFormatter"></p>
  @if (job.skills.length) {
    <div class="skills">
      <h2>Compétences</h2>
      <p>
        Je suis né avec les compétences suivantes:
      </p>
      <div class="skills-list">
        @for (skill of job.skills; track skill) {
          <div>
            <span class="skill-name">{{skill.name}}</span>
            @if (skill.playerDescription) {
              <span> {{skill.playerDescription}}</span>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
