<template ngFor let-item [ngForOf]="items"  let-indexItem="index" let-lastItem="last">
    <template ngFor let-l [ngForOf]="ends" let-i="index" let-last="last">
        <div style="float:left;margin-bottom:-1px">
            <template [ngIf]="lastItem && last">
                <img src="/img/tree-top-left.png"/>
            </template>
            <template [ngIf]="!lastItem && last">
                <img src="/img/tree-top-bot-left.png"/>
            </template>

            <template [ngIf]="!last">
                <template [ngIf]="ends[i + 1]">
                    <img src="/img/tree-empty.png"/>
                </template>
                <template [ngIf]="!ends[i + 1]">
                    <img src="/img/tree-top-bot.png"/>
                </template>
            </template>
        </div>
    </template>
    <a href="#" class="list-group-item"
       [style.margin-left]="(level * 20) + 'px'"
       (click)="selectItem(item)"
       [class.active]="selectedItem && selectedItem.id == item.id">
        <span *ngIf="item.data.quantity">{{item.data.quantity}}</span>
        {{item.data.name}}
        <template [ngIf]="item == selectedItem">
            <swipable-item-detail [gmView]="gmView" [character]="character" [item]="item"></swipable-item-detail>
        </template>
    </a>
    <template [ngIf]="item.content">
        <bag-item-view
            [ends]="ends"
            [level]="level + 1"
            [end]="lastItem ? 1 : 0"
            [items]="item.content"
            [character]="character"
            [gmView]="gmView"
            [selectedItem]="selectedItem"
            (itemSelected)="selectItem($event)">
        </bag-item-view>
    </template>
</template>
