<ng-template [ngIf]="iconMode">
    <ng-template ngFor let-item [ngForOf]="itemsContained" let-lastItem="last">
        <div class="item-icon"
             md-ripple
             mdRippleCentered="true"
             mdRippleUnbounded="true"
             mdRippleRadius="24"
             cdk-overlay-origin
             #itemLine="cdkOverlayOrigin"
             [class.selected]="item === selectedItem"
             (click)="selectItem(item)">
            <icon [icon]="item.data.icon" [size]="'32px'"></icon>
            <swipeable-item-detail *ngIf="item === selectedItem"
                                   [gmView]="gmView"
                                   [character]="character"
                                   [origin]="itemLine"
                                   [item]="item">
            </swipeable-item-detail>
        </div>
    </ng-template>
    <md-divider *ngIf="itemsContained.length"></md-divider>
    <ng-template ngFor let-item [ngForOf]="itemsContainer" let-lastItem="last">
        <div class="item-bag-line"
             cdk-overlay-origin
             #itemLine="cdkOverlayOrigin"
             (click)="selectItem(item)"
             [class.selected]="selectedItem && selectedItem.id === item.id">
            <icon [icon]="item.data.icon" [size]="'32px'"></icon>
            <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
            {{item.data.name}}
            <span class="padding"></span>
            <ng-template [ngIf]="item === selectedItem">
                <swipeable-item-detail [gmView]="gmView"
                                       [character]="character"
                                       [item]="item"
                                       [origin]="itemLine">
                </swipeable-item-detail>
            </ng-template>
        </div>
        <div class="item-icon-container">
            <bag-item-view
                [ends]="ends"
                [level]="level + 1"
                [iconMode]="iconMode"
                [end]="lastItem ? 1 : 0"
                [items]="item.content"
                [character]="character"
                [gmView]="gmView"
                [selectedItem]="selectedItem"
                (itemSelected)="selectItem($event)">
            </bag-item-view>
        </div>
    </ng-template>
</ng-template>
<ng-template [ngIf]="!iconMode">
    <ng-template ngFor let-item [ngForOf]="items" let-lastItem="last">
        <div class="item-bag-line">
            <ng-template ngFor let-l [ngForOf]="ends" let-i="index" let-last="last">
                <span style="display: flex">
                    <ng-template [ngIf]="lastItem && last">
                        <img src="/assets/img/tree-top-left.png"/>
                    </ng-template>
                    <ng-template [ngIf]="!lastItem && last">
                        <img src="/assets/img/tree-top-bot-left.png"/>
                    </ng-template>

                    <ng-template [ngIf]="!last">
                        <ng-template [ngIf]="ends[i + 1]">
                            <img src="/assets/img/tree-empty.png"/>
                        </ng-template>
                        <ng-template [ngIf]="!ends[i + 1]">
                            <img src="/assets/img/tree-top-bot.png"/>
                        </ng-template>
                    </ng-template>
                </span>
            </ng-template>
            <div
                class="item-line"
                md-ripple
                (click)="selectItem(item)"
                cdk-overlay-origin
                #itemLine="cdkOverlayOrigin"
                [class.selected]="selectedItem && selectedItem.id === item.id">
                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                <span *ngIf="item.data.quantity || item.template.data.quantifiable">{{item.data.quantity}}&nbsp;</span>
                {{item.data.name}}
                <span class="padding"></span>
                <swipeable-item-detail *ngIf="item === selectedItem"
                                       [gmView]="gmView"
                                       [character]="character"
                                       [origin]="itemLine"
                                       [item]="item">
                </swipeable-item-detail>
            </div>
        </div>
        <ng-template [ngIf]="item.content">
            <bag-item-view
                [ends]="ends"
                [level]="level + 1"
                [iconMode]="iconMode"
                [end]="lastItem ? 1 : 0"
                [items]="item.content"
                [character]="character"
                [gmView]="gmView"
                [selectedItem]="selectedItem"
                (itemSelected)="selectItem($event)">
            </bag-item-view>
        </ng-template>
    </ng-template>
</ng-template>
