<div class="characters">
    <md-card class="loading-characters" *ngIf="loading">
        <md-spinner></md-spinner>
    </md-card>
	<md-card *ngIf="!loading && (!characters || characters.length === 0)">
        Vous ne possédez aucun personnage.
    </md-card>
    <md-card  md-ripple *ngFor="let character of characters" (click)="selectCharacter(character)" class="clickable">
        <md-card-title>{{character.name}} - lvl {{character.level}}</md-card-title>
        <md-card-subtitle>{{character.origin}} {{character.job}}</md-card-subtitle>
    </md-card>
    <md-card md-ripple (click)="createCharacter()" class="create-character clickable">
        <md-icon>add</md-icon>Créer un personnage
    </md-card>
</div>
