mat-card {
    margin: 5px;
}

mat-card.clickable {
    cursor: pointer;
}

.create-character {
    display: flex;
    align-items: center;
    flex-direction: row;
    > mat-icon {
        margin-right: 8px;
    }
}

.loading-characters {
    display: flex;
    justify-content: space-around;
}
