<div class="loot-tab">
    <div class="loot-list">
        <md-card *ngFor="let loot of loots">
            <md-card-title>{{loot.name}}</md-card-title>
            <md-card-content>
                <ul>
                    <li *ngFor="let item of loot.items"
                       (click)="selectItem(item)" [class.active]="item.id == selectedItem?.id">
                        <button md-icon-button
                                (click)="openTakeItemLootDialog(loot, item)">
                            <md-icon>add_shopping_cart</md-icon>
                        </button>
                        <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}</span>
                        {{item.data.name}}
                        <swipeable-item-detail *ngIf="item.id === selectedItem?.id"
                                               [character]="character"
                                               [item]="item"
                                               [readonly]="true">
                        </swipeable-item-detail>
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let monster of loot.monsters">
                        {{monster.name}}
                        <ul>
                            <li *ngFor="let item of monster.items"
                                (click)="selectItem(item)"
                                [class.active]="item.id == selectedItem?.id">
                                <button md-icon-button
                                        (click)="openTakeItemMonsterDialog(loot, monster, item)">
                                    <md-icon>add_shopping_cart</md-icon>
                                </button>

                                <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}</span>
                                {{item.data.name}}
                                <swipeable-item-detail *ngIf="item.id === selectedItem?.id"
                                                       [character]="character"
                                                       [item]="item"
                                                       [readonly]="true">
                                </swipeable-item-detail>
                            </li>
                        </ul>
                    </li>
                </ul>

            </md-card-content>
        </md-card>
    </div>
    <div *ngIf="selectedItem" class="item-detail">
        <item-detail [gmView]="inGroupTab"
                     [character]="character"
                     [item]="selectedItem"
                     [readonly]="true"></item-detail>
    </div>
</div>

<ng-template cdk-portal #takeItemDialog="cdkPortal">
    <md-card>
        <md-card-title>Loot</md-card-title>
        <md-card-content *ngIf="!takingItem.data.quantity || takingItem.data.quantity < 2">
            Prendre l'objet {{takingItem.data.name}} ?
        </md-card-content>
        <md-card-content *ngIf="takingItem.data.quantity > 1">
            Prendre l'objet
            <value-editor [title]="'Quantité'"
                          [hideMaxValue]="true"
                          [value]="takingQuantity"
                          (onChange)="takingQuantity = $event"
                          [maxValue]="takingItem.data.quantity">
            </value-editor>
            {{takingItem.data.name}} ?
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="closeTakeItemDialog()">
                ANNULER
            </button>
            <button md-button
                    color="primary"
                    (click)="validTakeItem()">
                PRENDRE
            </button>
        </md-card-actions>
    </md-card>
</ng-template>

