<i cdk-overlay-origin
   #colorSelectorOrigin="cdkOverlayOrigin"
   [style.color]="'#' + character.color"
   class="ra ra-player ra-3x"
   (click)="toggleSelector()">
</i>

<ng-template cdk-connected-overlay
          hasBackdrop
          (backdropClick)="hideSelector()"
          [open]="showSelector"
          [origin]="colorSelectorOrigin">
    <md-card style="width:194px; display: flex; flex-direction: row; flex-wrap: wrap; padding: 0">
        <div *ngFor="let color of colors" style="width: 48px; height: 48px">
            <i [style.color]=color
               class="ra ra-3x ra-player"
               (click)="changeColor(color)">
            </i>
        </div>
    </md-card>
</ng-template>
