<div *ngIf="character" class="character-component">
    <md-tab-group (selectChange)=selectTab($event) [selectedIndex]="currentTabIndex">
        <md-tab label="Info">
            <!-- Start of info tab -->
            <div class="info-tab">
                <md-card>
                    <md-card-title>{{character.name}}</md-card-title>
                    <md-card-content>
                        <dl>
                            <dt>Origine</dt>
                            <dd>{{character.origin.name}}</dd>

                            <dt>Metier</dt>
                            <dd *ngIf="character.job">{{character.job.name}}</dd>
                            <dd *ngIf="!character.job">aucun</dd>

                            <dt>Specialité</dt>
                            <dd *ngFor="let speciality of character.specialities">
                                {{speciality.name}}
                            </dd>

                            <dt>Groupe</dt>
                            <dd *ngIf="character.group">{{character.group.name}}</dd>
                            <dd *ngIf="!character.group">aucun</dd>


                            <dt>Sexe</dt>
                            <dd>{{character.sex}}</dd>

                            <dt>Point de destins</dt>
                            <dd>
                                <value-editor [title]="'Point de destin'"
                                              [value]=character.fatePoint
                                              (onChange)="changeCharacterStat('fatePoint', $event)">
                                </value-editor>
                            </dd>

                            <dt>Niveau</dt>
                            <dd>{{character.level}}
                                <button *ngIf="canLevelUp()" (click)="initLevelUp()" type="button"
                                        class="btn btn-success btn-xs" data-toggle="modal" data-target="#modalLevelUp">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> Ding !
                                </button>
                            </dd>

                            <dt>Experience</dt>
                            <dd>
                                <value-editor [title]="'Experience'"
                                              [value]=character.experience
                                              (onChange)="changeCharacterStat('experience', $event)">
                                </value-editor>
                            </dd>

                            <dt *ngIf="inGroupTab">Debilibeuk</dt>
                            <dd *ngIf="inGroupTab">
                                <value-editor [title]="'Debilibeuk du joueur'" [value]=character.gmData.debilibeuk
                                              (onChange)="changeGmData('debilibeuk', $event)"></value-editor>
                            </dd>

                            <dt *ngIf="inGroupTab">Mankdebol</dt>
                            <dd *ngIf="inGroupTab">
                                <value-editor [title]="'Mankdebol du joueur'" [value]=character.gmData.mankdebol
                                              (onChange)="changeGmData('mankdebol', $event)"></value-editor>
                            </dd>
                        </dl>
                    </md-card-content>
                </md-card>
            </div>
            <!-- End of infos tab -->
        </md-tab>

        <md-tab label="Combat">
            <!-- Start of combat tab -->
            <div class="combat-tab">
                <md-card class="life-mana stats-card">
                    <div class="stat">
                        <div class="stat-icon">
                            <span class="game-icon game-icon-hearts"></span>
                        </div>
                        <div class="stat-value">
                            <div [class.life-danger]="character.ev > character.computedData.stats['EV']">
                                <value-editor [title]="'Energie vitale'"
                                              [value]="character.ev"
                                              [maxValue]="character.computedData.stats['EV']"
                                              (onChange)="changeCharacterStat('ev', $event)">
                                </value-editor>
                            </div>
                            <div class="stat-label">E.Vitale</div>
                        </div>
                    </div>
                    <div *ngIf="character.ea != undefined" class="stat">
                        <div class="stat-icon">
                            <span class="game-icon game-icon-abstract-061"></span>
                        </div>
                        <div class="stat-value">
                            <div [class.bg-danger]="character.ea > character.computedData.stats['EA']">
                                <value-editor [title]="'Energie astrale'"
                                              [value]="character.ea"
                                              [maxValue]="character.computedData.stats['EA']"
                                              (onChange)="changeCharacterStat('ea', $event)">
                                </value-editor>
                            </div>
                            <div class="stat-label">E.Astrale</div>
                        </div>
                    </div>
                </md-card>

                <md-card class="combat-stats stats-card">
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-sword"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['AT']}}</div>
                                <div class="stat-label">Attaque</div>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-shield"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['PRD']}}</div>
                                <div class="stat-label">Parade</div>
                            </div>
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-vest"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['PR']}}</div>
                                <div class="stat-label">Protection</div>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-aura"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['PR_MAGIC']}}</div>
                                <div class="stat-label">Pr magique</div>
                            </div>
                        </div>
                    </div>
                </md-card>

                <md-card class="basic-stats stats-card">
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                COU
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['COU']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                FO
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['FO']}}
                            </div>
                        </div>
                    </div>

                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                AD
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['AD']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                CHA
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['CHA']}}
                            </div>
                        </div>
                    </div>

                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                PI Bonus
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['PI']}}
                            </div>
                        </div>
                    </div>
                </md-card>
                <md-card class="magic-stat stats-card">
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                RESM
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['RESM']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                INT
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['INT']}}
                            </div>
                        </div>
                    </div>
                    <div class="stat-row" *ngIf="character.job && character.job.isMagic">
                        <div class="stat">
                            <div class="stat-name">
                                MPHYS
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['MPHYS']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                MPSY
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['MPSY']}}
                            </div>
                        </div>
                    </div>
                </md-card>

                <md-card class="stats-card">
                    <md-card-title>Déplacement tactique</md-card-title>
                    <md-card-content>
                        <ul>
                            <li>
                                <strong>Normal</strong>
                                {{character.computedData.tacticalMovement.distance.toPrecision(2)}} m/s pendant {{character.computedData.tacticalMovement.maxDuration}} secondes
                            </li>
                            <li>
                                <strong>Sprint</strong> (Après un déplacement normal):
                                {{character.computedData.tacticalMovement.sprintDistance.toPrecision(2)}} m/s pendant {{character.computedData.tacticalMovement.sprintMaxDuration}} secondes
                            </li>
                        </ul>
                    </md-card-content>
                </md-card>
                <md-card class="stats-card">
                    <md-card-title>Armes</md-card-title>
                    <md-card-content>
                        <div *ngIf="character.computedData.itemsBySlotsAll[1]">
                            <template ngFor let-item [ngForOf]="character.computedData.itemsBySlotsAll[1]" let-i="index" let-last="last">
                                <button type="button" class="list-group-item btn btn-default" (click)="selectedItem = item" [class.btn-primary]="selectedItem && selectedItem.id == item.id"
                                        [class.active]="selectedItem && selectedItem.id == item.id">
                                    <span *ngIf="item.data.equiped != null" class="glyphicon glyphicon-ok"></span> {{item.data.name}}
                                    <template [ngIf]="item === selectedItem">
                                        <swipeable-item-detail [gmView]="inGroupTab"  [character]="character" [item]="item"></swipeable-item-detail>
                                    </template>
                                </button>
                            </template>
                        </div>
                        <div *ngIf="selectedItem">
                            <div class="bg-info">
                                <item-detail [gmView]="inGroupTab" [character]="character" [item]="selectedItem"></item-detail>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <!-- End of combat tab -->
        </md-tab>
        <md-tab label="Stat">
            <!-- Start of stats tab -->
            <div class="stat-tab">
                <md-card>
                    <md-card-content>
                        <div class="stat-header">
                            <div class="stat-element">EV</div>
                            <div class="stat-element" *ngIf="character.job && character.job.isMagic">EA</div>
                        </div>
                        <div class="stat-values">
                            <div class="stat-row">
                                <div class="stat-element">{{character.computedData.stats['EV']}}</div>
                                <div *ngIf="character.job && character.job.isMagic" class="stat-element">{{character.computedData.stats['EA']}}</div>
                            </div>
                            <div class="stat-details" *ngIf="character.computedData.details.show.evea">
                                <div class="detail-row" *ngFor="let detail of character.computedData.details.evea">
                                    <div class="stat-detail-reason">
                                        {{detail.name}}
                                    </div>
                                    <div class="stat-row">
                                        <div class="stat-element">{{detail.data.EV}}</div>
                                        <div *ngIf="character.job && character.job.isMagic" class="stat-element">{{detail.data.EA}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button [color]="'primary'" (click)="character.computedData.details.show.evea = !character.computedData.details.show.evea">
                            <span *ngIf="!character.computedData.details.show.evea">Voir details</span>
                            <span *ngIf="character.computedData.details.show.evea">Cacher details</span>
                        </button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <md-card-content>
                        <div class="stat-header">
                            <div class="stat-element">AT</div>
                            <div class="stat-element">PRD</div>
                            <div class="stat-element">PR</div>
                            <div class="stat-element" *ngIf="character.computedData.stats['PR_MAGIC']">PR_MAGIC</div>
                        </div>
                        <div class="stat-values">
                            <div class="stat-row">
                                <div class="stat-element">{{character.computedData.stats['AT']}}</div>
                                <div class="stat-element">{{character.computedData.stats['PRD']}}</div>
                                <div class="stat-element">{{character.computedData.stats['PR']}}</div>
                                <div class="stat-element" *ngIf="character.computedData.stats['PR_MAGIC']">{{character.computedData.stats['PR_MAGIC']}}</div>
                            </div>
                            <div class="stat-details" *ngIf="character.computedData.details.show.atprd">
                                <div class="detail-row" *ngFor="let detail of character.computedData.details.atprd">
                                    <div class="stat-detail-reason">
                                        {{detail.name}}
                                    </div>
                                    <div class="stat-row">
                                        <div class="stat-element">{{detail.data.AT}}</div>
                                        <div class="stat-element">{{detail.data.PRD}}</div>
                                        <div class="stat-element">{{detail.data.PR}}</div>
                                        <div class="stat-element" *ngIf="character.computedData.stats['PR_MAGIC']">{{detail.data.PR_MAGIC}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button [color]="'primary'" (click)="character.computedData.details.show.atprd = !character.computedData.details.show.atprd">
                            <span *ngIf="!character.computedData.details.show.atprd">Voir details</span>
                            <span *ngIf="character.computedData.details.show.atprd">Cacher details</span>
                        </button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <md-card-content>
                        <div class="stat-header">
                            <div class="stat-element">COU</div>
                            <div class="stat-element">INT</div>
                            <div class="stat-element">CHA</div>
                            <div class="stat-element">AD</div>
                            <div class="stat-element">FO</div>
                        </div>
                        <div class="stat-values">
                            <div class="stat-row">
                                <div class="stat-element">{{character.computedData.stats['COU']}}</div>
                                <div class="stat-element">{{character.computedData.stats['INT']}}</div>
                                <div class="stat-element">{{character.computedData.stats['CHA']}}</div>
                                <div class="stat-element">{{character.computedData.stats['AD']}}</div>
                                <div class="stat-element">{{character.computedData.stats['FO']}}</div>
                            </div>
                            <div class="stat-details" *ngIf="character.computedData.details.show.stat">
                                <div class="detail-row" *ngFor="let detail of character.computedData.details.stat">
                                    <div class="stat-detail-reason">
                                        {{detail.name}}
                                    </div>
                                    <div class="stat-row">
                                        <div class="stat-element">{{detail.data.COU}}</div>
                                        <div class="stat-element">{{detail.data.INT}}</div>
                                        <div class="stat-element">{{detail.data.CHA}}</div>
                                        <div class="stat-element">{{detail.data.AD}}</div>
                                        <div class="stat-element">{{detail.data.FO}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button [color]="'primary'" (click)="character.computedData.details.show.stat = !character.computedData.details.show.stat">
                            <span *ngIf="!character.computedData.details.show.stat">Voir details</span>
                            <span *ngIf="character.computedData.details.show.stat">Cacher details</span>
                        </button>
                    </md-card-actions>
                </md-card>

                <md-card>
                    <md-card-content>
                        <div class="stat-header">
                            <div class="stat-element-large" *ngIf="character.job && character.job.isMagic">MagiePhys</div>
                            <div class="stat-element-large" *ngIf="character.job && character.job.isMagic">MagiePsy</div>
                            <div class="stat-element">RESM</div>
                        </div>
                        <div class="stat-values">
                            <div class="stat-row">
                                <div class="stat-element-large" *ngIf="character.job && character.job.isMagic">{{character.computedData.stats['MPHYS']}}</div>
                                <div class="stat-element-large" *ngIf="character.job && character.job.isMagic">{{character.computedData.stats['MPSY']}}</div>
                                <div class="stat-element">{{character.computedData.stats['RESM']}}</div>
                            </div>
                            <div class="stat-details" *ngIf="character.computedData.details.show.magic">
                                <div class="detail-row" *ngFor="let detail of character.computedData.details.magic">
                                    <div class="stat-detail-reason">
                                        {{detail.name}}
                                    </div>
                                    <div class="stat-row">
                                        <div class="stat-element-large" *ngIf="character.job && character.job.isMagic" [innerHTML]="detail.data.MPHYS || ''"></div>
                                        <div class="stat-element-large" *ngIf="character.job && character.job.isMagic" [innerHTML]="detail.data.MPSY || ''"></div>
                                        <div class="stat-element" [innerHTML]="detail.data.RESM || ''"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button [color]="'primary'" (click)="character.computedData.details.show.magic = !character.computedData.details.show.magic">
                            <span *ngIf="!character.computedData.details.show.magic">Voir details</span>
                            <span *ngIf="character.computedData.details.show.magic">Cacher details</span>
                        </button>
                    </md-card-actions>
                </md-card>

                <md-card *ngIf="character.computedData.stats['MV'] != 100
                                || character.computedData.stats['THROW_MODIFIER']
                                || character.computedData.stats['DISCRETION_MODIFIER']
                                || character.computedData.stats['DANSE_MODIFIER']
                                || character.computedData.stats['PI']">
                    <md-card-content>
                        <div class="stat-header">
                            <div class="stat-element" *ngIf="character.computedData.stats['MV'] !== 100">MV</div>
                            <div class="stat-element" *ngIf="character.computedData.stats['THROW_MODIFIER']">Lancer</div>
                            <div class="stat-element" *ngIf="character.computedData.stats['DISCRETION_MODIFIER']">Discretion</div>
                            <div class="stat-element" *ngIf="character.computedData.stats['DANSE_MODIFIER']">Danse</div>
                            <div class="stat-element" *ngIf="character.computedData.stats['PI']">PI</div>
                        </div>
                        <div class="stat-values">
                            <div class="stat-row">
                                <div class="stat-element" *ngIf="character.computedData.stats['MV'] !== 100">
                                    {{character.computedData.stats['MV']}}%
                                </div>
                                <div class="stat-element" *ngIf="character.computedData.stats['THROW_MODIFIER']">
                                    {{character.computedData.stats['THROW_MODIFIER'] | plusminus}}
                                </div>
                                <div class="stat-element" *ngIf="character.computedData.stats['DISCRETION_MODIFIER']">
                                    {{character.computedData.stats['DISCRETION_MODIFIER'] | plusminus}}
                                </div>
                                <div class="stat-element" *ngIf="character.computedData.stats['DANSE_MODIFIER']">
                                    {{character.computedData.stats['DANSE_MODIFIER'] | plusminus}}
                                </div>
                                <div class="stat-element" *ngIf="character.computedData.stats['PI']">
                                    {{character.computedData.stats['PI']}}
                                </div>
                            </div>
                            <div class="stat-details" *ngIf="character.computedData.details.show.other">
                                <div class="detail-row" *ngFor="let detail of character.computedData.details.other">
                                    <div class="stat-detail-reason">
                                        {{detail.name}}
                                    </div>
                                    <div class="stat-row">
                                        <div class="stat-element" *ngIf="character.computedData.stats['MV'] !== 100">
                                            {{detail.data.MV}}
                                        </div>
                                        <div class="stat-element" *ngIf="character.computedData.stats['THROW_MODIFIER']">
                                            {{detail.data.THROW_MODIFIER}}
                                        </div>
                                        <div class="stat-element" *ngIf="character.computedData.stats['DISCRETION_MODIFIER']">
                                            {{detail.data.DISCRETION_MODIFIER}}
                                        </div>
                                        <div class="stat-element" *ngIf="character.computedData.stats['DANSE_MODIFIER']">
                                            {{detail.data.DANSE_MODIFIER}}
                                        </div>
                                        <div class="stat-element" *ngIf="character.computedData.stats['PI']">
                                            {{detail.data.PI}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions align="end">
                        <button md-button [color]="'primary'" (click)="character.computedData.details.show.other = !character.computedData.details.show.other">
                            <span *ngIf="!character.computedData.details.show.other">Voir details</span>
                            <span *ngIf="character.computedData.details.show.other">Cacher details</span>
                        </button>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <div>
                        <strong>Compétence</strong>
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let skill of character.computedData.skills">
                                <span [class.canceled]="skill.canceled">{{skill?.skillDef?.name}}</span> (<span *ngFor="let from of skill.from; let lastFrom=last">{{from}}<span *ngIf="!lastFrom">, </span></span>)
                            </li>
                        </ul>
                    </div>
                </md-card>
            </div>
            <!-- End of stats tab -->
        </md-tab>
        <md-tab label="Inventaire">
            <!-- Start of inventory tab -->
            <inventory-panel [inGroupTab]="inGroupTab" [character]="character"></inventory-panel>
            <!-- End of inventory tab -->
        </md-tab>
        <md-tab label="Effet">
            <!-- Start of effects tab -->
            <effect-panel [character]="character"></effect-panel>
            <!-- End of effects tab -->
        </md-tab>
        <md-tab label="Loot">
            <!-- Start of effects tab -->
            <character-loot-panel [character]="character" [inGroupTab]="inGroupTab"></character-loot-panel>
            <!-- End of effects tab -->
        </md-tab>
        <md-tab label="Autre">
            <!-- Start of other tab -->
            <div *ngIf="character.computedData.stats['AD'] > 12" class="row">
                <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                    <strong>Bonus AD</strong>
                </div>
                <div class="col-xs-5">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-primary" (click)="setStatBonusAD(character.id, 'AT')" [class.active]="character.statBonusAD == 'AT'">AT</button>
                        <button class="btn btn-primary" (click)="setStatBonusAD(character.id, 'PRD')" [class.active]="character.statBonusAD == 'PRD'">PRD</button>
                    </div>
                </div>
            </div>

            <div *ngIf="character.computedData.stats['AD'] < 9" class="row">
                <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                    <strong>Malus AD</strong>
                </div>
                <div class="col-xs-5">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-primary" (click)="setStatBonusAD(character.id, 'AT')" [class.active]="character.statBonusAD == 'AT'">AT</button>
                        <button class="btn btn-primary" (click)="setStatBonusAD(character.id, 'PRD')" [class.active]="character.statBonusAD == 'PRD'">PRD</button>
                    </div>
                </div>
            </div>
            <div *ngIf="character.computedData.stats['INT'] > 12" class="row">
                <div class="col-xs-7 col-sm-5 col-md-3 col-lg-2">
                    <strong>Bonus Degat magique</strong>
                </div>
                <div class="col-xs-5">{{(character.computedData.stats['INT'] - 12)}}</div>
            </div>
            <!-- End of other tab -->
        </md-tab>
        <md-tab label="Historique">
            <character-history *ngIf="currentTab === 'history'" [character]="character"></character-history>
        </md-tab>
    </md-tab-group>




	<div class="row">
		<div *ngFor="let invite of character.invites">
			<div class="alert alert-info">
				<button class="glyphicon glyphicon-remove btn btn-danger pull-right" (click)="cancelInvite(invite)"></button>
				<button class="glyphicon glyphicon-ok btn btn-success pull-right" (click)="acceptInvite(invite)"></button>
				<strong>Invitation: </strong>
				{{invite.name}}
			</div>
		</div>
	</div>


	<!-- Levelup modal -->
	<div *ngIf="canLevelUp()">

		<!-- Modal -->
		<div class="modal fade" id="modalLevelUp" tabindex="-1" role="dialog" aria-labelledby="modalLevelUpLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modalLevelUpLabel">Gain d'un niveau</h4>
					</div>
					<div class="modal-body">
						<div *ngIf="character.job && character.job.isMagic">
							Augmenter:
							<div class="btn-group" data-toggle="buttons">
								<button class="btn btn-primary" (click)="levelUpInfo.EVorEA = 'EV'" [class.active]="levelUpInfo.EVorEA == 'EV'">EV</button>
								<button class="btn btn-primary" (click)="levelUpInfo.EVorEA = 'EA'" [class.active]="levelUpInfo.EVorEA == 'EA'">EA</button>
							</div>
							<div></div>
						</div>
						<div>
							Augmentation de {{levelUpInfo.EVorEA}} de <span *ngIf="levelUpInfo.EVorEA == 'EV'">1d{{character.origin.diceEVLevelUp}} <span *ngIf="characterHasToken('LEVELUP_DICE_EV_-1')"> -1 </span>
							</span>
							<div>
								<span *ngIf="levelUpInfo.EVorEA == 'EA'">1d{{character.job.diceEaLevelUp}}</span> Nombre de {{levelUpInfo.EVorEA}} a augmente: <input [(ngModel)]="levelUpInfo.EVorEAValue" type="number" />
								<button class="btn btn-primary" (click)="rollLevelUp()">Roll</button>
							</div>
						</div>
						<div *ngIf="(levelUpInfo.targetLevelUp % 2) == 0">
							<div class="btn-group" data-toggle="buttons">
								<button class="btn btn-primary" (click)="setLevelUpStatToUp('FO')" [class.active]="levelUpInfo.statToUp == 'FO'">FORCE</button>
								<button class="btn btn-primary" (click)="setLevelUpStatToUp('AD')" [class.active]="levelUpInfo.statToUp == 'AD'">ADRESSE</button>
								<button class="btn btn-primary" (click)="setLevelUpStatToUp('COU')" [class.active]="levelUpInfo.statToUp == 'COU'">COURAGE</button>
								<button class="btn btn-primary" (click)="setLevelUpStatToUp('INT')" [class.active]="levelUpInfo.statToUp == 'INT'">INTELLIGENCE</button>
							</div>
						</div>
						<div *ngIf="(levelUpInfo.targetLevelUp % 2) == 1">
							<div class="btn-group" data-toggle="buttons">
								<button class="btn btn-primary" (click)="setLevelUpStatToUp('AT')" [class.active]="levelUpInfo.statToUp == 'AT'">AT</button>
								<button class="btn btn-primary" (click)="setLevelUpStatToUp('PRD')" [class.active]="levelUpInfo.statToUp == 'PRD'">PRD</button>
							</div>
						</div>
						<div *ngIf="levelUpShouldSelectSkill()">
							<skill-selector [selectedOrigin]="character.origin" [selectedJob]="character.job" [knownSkills]="character.skills" [skillCount]=1 (skillsSelected)="onLevelUpSelectSkills($event)"></skill-selector>
						</div>
						<div *ngIf="levelUpShouldSelectSpeciality()">
							<div *ngIf="!levelUpInfo.speciality">
								<speciality-selector (specialityChange)="levelUpSelectSpeciality($event)" [knownSpecialities]="character.specialities" [specialities]="character.job.specialities"></speciality-selector>
							</div>
							<div *ngIf="levelUpInfo.speciality">Spécialité: {{levelUpInfo.speciality.name}}</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button [disabled]="!levelUpFormReady()" (click)="levelUp()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
