.loot-tab {
    display: flex;

    .loot-list {
        flex: 1 1 0;
        md-card {
            margin: 5px;
        }

        .loot-item {
            display: flex;
            align-items: center;
            >icon {
                padding-right: 10px;
            }
        }

        .loot-monsters {
            .monster-name {
                font-weight: bold;
            }
            .monster-item {
                margin-left: 20px;
                padding-left: 5px;
                border-left-style: solid;
                border-left-width: 1px;
            }
        }
    }
    .item-detail {
        flex: 1 1 0;
    }

    @media screen and (max-width: 599px) {
        .item-detail {
            display: none;
        }
    }
}
