md-card {
    margin: 5px;
}

md-card.clickable {
    cursor: pointer;
}

.create-character {
    display: flex;
    align-items: center;
}

.loading-characters {
    display: flex;
    justify-content: space-around;
}
