<mat-tab-group #mainTabGroup (selectedTabChange)=selectTab($event)>
    <mat-tab label="Info">
        <!-- Start of info tab -->
        <div class="info-tab">
            <mat-card *ngFor="let invite of character.invites">
                <mat-card-title>Invitation</mat-card-title>
                <mat-card-content>
                    Rejoindre le groupe <em>{{invite.groupName}}</em> ?
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="cancelInvite(invite)">REFUSER</button>
                    <button mat-button color="primary" (click)="acceptInvite(invite)">ACCEPTER</button>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-title style="display: flex; justify-content: space-between; align-items: center">
                    {{character.name}}
                    <button mat-icon-button [matMenuTriggerFor]="characterBasicChange">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card-title>

                <mat-menu xPosition="before" #characterBasicChange="matMenu">
                    <button mat-menu-item (click)="openChangeNameDialog()">
                        Changer le nom
                    </button>
                    <button mat-menu-item (click)="openChangeSexDialog()">
                        Changer de sexe
                    </button>
                    <button mat-menu-item (click)="openChangeJobDialog()">
                        Changer de métier
                    </button>
                </mat-menu>
                <mat-card-content>
                    <dl>
                        <dt>Origine</dt>
                        <dd style="display: flex; align-items: center">
                            {{character.origin.name}}
                            <button mat-icon-button (click)="openOriginInfoDialog()">
                                <mat-icon>info</mat-icon>
                            </button>
                        </dd>

                        <dt>Metier</dt>
                        <dd *ngFor="let job of character.jobs" style="display: flex; align-items: center">
                            {{job.name}}
                            <button mat-icon-button (click)="openJobInfoDialog(job)">
                                <mat-icon>info</mat-icon>
                            </button>
                        </dd>
                        <dd *ngIf="!character.jobs.length">aucun</dd>

                        <ng-template [ngIf]="character.specialities?.length">
                            <dt>Specialité</dt>
                            <dd *ngFor="let speciality of character.specialities">
                                {{speciality.name}}
                            </dd>
                        </ng-template>

                        <dt>Groupe</dt>
                        <dd *ngIf="character.group">{{character.group.name}}</dd>
                        <dd *ngIf="!character.group">aucun</dd>


                        <dt>Sexe</dt>
                        <dd>{{character.sex}}</dd>

                        <dt>Point de destins</dt>
                        <dd>
                            <value-editor [title]="'Point de destin'"
                                          [value]=character.fatePoint
                                          (onChange)="changeStat('fatePoint', $event)">
                            </value-editor>
                        </dd>

                        <dt>Niveau</dt>
                        <dd>{{character.level}}
                            <button class="level-up-button"
                                    mat-raised-button
                                    *ngIf="canLevelUp()"
                                    color="primary"
                                    (click)="openLevelUpDialog()">
                                Ding !
                            </button>
                        </dd>

                        <dt>Experience</dt>
                        <dd>
                            <value-editor [title]="'Experience'"
                                          [value]=character.experience
                                          (onChange)="changeStat('experience', $event)">
                            </value-editor> / {{character.computedData.xpToNextLevel}}
                        </dd>

                        <dt>Fortune</dt>
                        <dd>
                            {{character.computedData.totalMoney | number}} Pieces d'or
                        </dd>

                        <dt *ngIf="inGroupTab">Debilibeuk</dt>
                        <dd *ngIf="inGroupTab">
                            <value-editor [title]="'Debilibeuk du joueur'" [value]=character.gmData.debilibeuk
                                          (onChange)="changeGmData('debilibeuk', $event)"></value-editor>
                        </dd>

                        <dt *ngIf="inGroupTab">Mankdebol</dt>
                        <dd *ngIf="inGroupTab">
                            <value-editor [title]="'Mankdebol du joueur'" [value]=character.gmData.mankdebol
                                          (onChange)="changeGmData('mankdebol', $event)"></value-editor>
                        </dd>
                    </dl>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="character.computedData.stats['AD'] > 12">
                <mat-card-title>Adresse exceptionnelle</mat-card-title>
                <mat-card-content>
                    <p>
                        Un score d'adresse (AD) exceptionnelle confère un point <em>bonus</em> en attaque (AT) ou en parade (PRD)
                    </p>
                    <mat-button-toggle-group [(ngModel)]="character.statBonusAD">
                        <mat-button-toggle value="AT" (click)="setStatBonusAD(character.id, 'AT')">AT</mat-button-toggle>
                        <mat-button-toggle value="PRD" (click)="setStatBonusAD(character.id, 'PRD')">PRD</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="character.computedData.stats['AD'] < 9" class="row">
                <mat-card-title>Adresse pourri</mat-card-title>
                <mat-card-content>
                    <p>
                        Un score d'adresse (AD) inférieur ou égale à 8 induit un point <em>malus</em> en attaque (AT) ou en parade (PRD)
                    </p>
                    <mat-button-toggle-group [(ngModel)]="character.statBonusAD">
                        <mat-button-toggle value="AT" (click)="setStatBonusAD(character.id, 'AT')">AT</mat-button-toggle>
                        <mat-button-toggle value="PRD" (click)="setStatBonusAD(character.id, 'PRD')">PRD</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="character.computedData.stats['INT'] > 12">
                <mat-card-title>Intelligence exceptionnelle</mat-card-title>
                <mat-card-content>
                    <p>
                        Un score d'inteligence (INT) exceptionnelle confère un point de dégâts des sorts
                        (selon sortilège) pour chaque point d'inteligence supérieur à 12.
                    </p>
                    <div>Bonus dégâts des sorts: {{(character.computedData.stats['INT'] - 12)}}</div>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="character.computedData.stats['FO'] > 12">
                <mat-card-title>Force exceptionnelle</mat-card-title>
                <mat-card-content>
                    <p>
                        Un score exceptionnel offre forcément des avantages dans ce monde violent...
                    </p>
                    <p>
                        Pour chaque point de force (FO) supérieur à 12 : +1 point d’impact (dégâts des armes améliorés au corps à corps ou à distance)
                    </p>
                    <div>Bonus point d'impact: {{(character.computedData.stats['FO'] - 12)}}</div>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="character.computedData.stats['FO'] <= 8">
                <mat-card-title>Force de mauviette</mat-card-title>
                <mat-card-content>
                    <p>
                        Un score exceptionnel offre forcément des avantages dans ce monde violent...
                        Et au contraire sur une carac. de force (FO) de 8 ou inférieure : -1 point d’impact (dégâts des armes diminués, car mauviette)
                    </p>
                    <div>Malus point d'impact: 1</div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Compétences
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let skill of character.computedData.skills" class="skill-list-item">
                            <h4 matLine [class.canceled]="skill.canceled">{{skill?.skillDef?.name}}</h4>
                            <span *ngIf="skill.canceled">{{skill.canceled}}</span>
                            <p matLine>
                                <span *ngFor="let from of skill.from; let lastFrom=last">{{from}}<span *ngIf="!lastFrom">, </span></span>
                            </p>
                            <button mat-icon-button (click)="openSkillInfoDialog(skill.skillDef)">
                                <mat-icon>info</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- End of infos tab -->
    </mat-tab>

    <mat-tab label="Combat">
        <!-- Start of combat tab -->
        <div class="combat-tab">
            <mat-card class="life-mana stats-card">
                <mat-card-content>
                    <div class="stat">
                        <div class="stat-icon">
                            <span class="game-icon game-icon-hearts"></span>
                        </div>
                        <div class="stat-value">
                            <div [class.life-danger]="character.ev > character.computedData.stats['EV']">
                                <value-editor [title]="'Energie vitale'"
                                              [value]="character.ev"
                                              [maxValue]="character.computedData.stats['EV']"
                                              (onChange)="changeStat('ev', $event)">
                                </value-editor>
                            </div>
                            <div class="stat-label">E.Vitale</div>
                        </div>
                    </div>
                    <div *ngIf="character.computedData.stats['EA']" class="stat">
                        <div class="stat-icon">
                            <span class="game-icon game-icon-abstract-061"></span>
                        </div>
                        <div class="stat-value">
                            <div [class.bg-danger]="character.ea > character.computedData.stats['EA']">
                                <value-editor [title]="'Energie astrale'"
                                              [value]="character.ea"
                                              [maxValue]="character.computedData.stats['EA']"
                                              (onChange)="changeStat('ea', $event)">
                                </value-editor>
                            </div>
                            <div class="stat-label">E.Astrale</div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="combat-stats stats-card">
                <mat-card-content>
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-sword"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['AT']}}</div>
                                <div class="stat-label">Attaque</div>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-shield"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['PRD']}}</div>
                                <div class="stat-label">Parade</div>
                            </div>
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-vest"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['PR']}}</div>
                                <div class="stat-label">Protection</div>
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-icon">
                                <span class="ra ra-aura"></span>
                            </div>
                            <div class="stat-value">
                                <div>{{character.computedData.stats['PR_MAGIC']}}</div>
                                <div class="stat-label">Pr magique</div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="character.computedData.weaponsDamages.length" class="equiped-weapons-stats stats-card">
                <mat-card-subtitle>Dégat des armes (bonus compris)</mat-card-subtitle>
                <mat-card-content>
                    <div *ngFor="let dmg of character.computedData.weaponsDamages" class="equiped-weapons-damages">
                        <mat-icon *ngIf="dmg.incompatible" color="warn">warning</mat-icon>
                        <span>
                                <span>
                                    {{dmg.damage}}
                                </span>
                                <span class="damage-weapon-name secondary-text">
                                    {{dmg.name}}
                                </span>
                            </span>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="basic-stats stats-card">
                <mat-card-content>
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                COU
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['COU']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                FO
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['FO']}}
                            </div>
                        </div>
                    </div>

                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                AD
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['AD']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                CHA
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['CHA']}}
                            </div>
                        </div>
                    </div>

                    <div class="stat-row" *ngIf="character.computedData.stats['THROW_MODIFIER']">
                        <div class="stat">
                            <div class="stat-name">
                                Lancer
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['AD'] + character.computedData.stats['THROW_MODIFIER']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                            </div>
                            <div class="stat-value">
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="stats-card" *ngIf="character.computedData.stats['INT'] > 12">
                <mat-card-content>
                    <div class="stat-row" *ngIf="character.computedData.stats['INT'] > 12">
                        <div *ngIf="character.computedData.stats['INT'] > 12" class="stat large-stat">
                            <div class="stat-name">
                                Bonus dégâts des sorts
                            </div>
                            <div class="stat-value small-stat-value">
                                {{(character.computedData.stats['INT'] - 12)}}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="magic-stat stats-card">
                <mat-card-content>
                    <div class="stat-row">
                        <div class="stat">
                            <div class="stat-name">
                                RESM
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['RESM']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                INT
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['INT']}}
                            </div>
                        </div>
                    </div>
                    <div class="stat-row" *ngIf="character.hasMagic()">
                        <div class="stat">
                            <div class="stat-name">
                                MPHYS
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['MPHYS']}}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">
                                MPSY
                            </div>
                            <div class="stat-value">
                                {{character.computedData.stats['MPSY']}}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="stats-card movement-card">
                <mat-card-title>Déplacement tactique</mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>
                            <strong>Normal</strong>
                            {{character.computedData?.tacticalMovement?.distance?.toPrecision(2)}} m/s pendant
                            {{character.computedData?.tacticalMovement?.maxDuration?.toFixed(0)}} secondes
                        </li>
                        <li>
                            <strong>Sprint</strong> (Après un déplacement normal):
                            {{character.computedData?.tacticalMovement?.sprintDistance?.toPrecision(2)}} m/s pendant
                            {{character.computedData?.tacticalMovement?.sprintMaxDuration?.toFixed(0)}} secondes
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card class="stats-card weapons-card">
                <mat-card-title>Armes</mat-card-title>
                <mat-card-content>
                    <div *ngIf="character.computedData.itemsBySlotsAll[1]" class="weapons-list">
                        <div class="separator weapon"
                             *ngFor="let item of character.computedData.itemsBySlotsAll[1]">
                            <app-item-line [gmView]="inGroupTab"
                                           [item]="item"
                                           [itemMenu]="itemMenu"
                                           [hideShouldPutIntoContainerMarker]="true"
                                           [character]="character">
                            </app-item-line>
                        </div>
                    </div>
                </mat-card-content>
                <mat-menu #itemMenu="matMenu">
                    <ng-template matMenuContent let-item="item">
                        <button mat-menu-item
                                *ngIf="!item.data.equiped"
                                (click)="itemActionService.onAction('equip', item)">
                            <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
                            Équiper
                        </button>
                        <button mat-menu-item
                                *ngIf="!item.data.equiped"
                                (click)="unEquipAllAndEquip(item)">
                            <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
                            Équiper à la place des autres
                        </button>
                        <button mat-menu-item
                                *ngIf="item.data.equiped"
                                (click)="itemActionService.onAction('unequip', item)">
                            <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
                            Déséquipé
                        </button>
                    </ng-template>
                </mat-menu>
            </mat-card>
            <div #combatWeaponDetail></div>
        </div>
        <!-- End of combat tab -->
    </mat-tab>
    <mat-tab label="Stat">
        <!-- Start of stats tab -->
        <div class="stat-tab">
            <mat-card>
                <mat-card-content>
                    <div class="stat-header">
                        <div class="stat-element">EV</div>
                        <div class="stat-element" *ngIf="character.hasMagic()">EA</div>
                    </div>
                    <div class="stat-values">
                        <div class="stat-row">
                            <div class="stat-element">{{character.computedData.stats['EV']}}</div>
                            <div *ngIf="character.hasMagic()" class="stat-element">{{character.computedData.stats['EA']}}</div>
                        </div>
                        <div class="stat-details" *ngIf="character.computedData.details.show.evea">
                            <div class="detail-row" *ngFor="let detail of character.computedData.details.evea">
                                <div class="stat-detail-reason">
                                    {{detail.name}}
                                </div>
                                <div class="stat-row">
                                    <div class="stat-element">{{detail.data.EV}}</div>
                                    <div *ngIf="character.hasMagic()" class="stat-element">{{detail.data.EA}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="'primary'" (click)="character.computedData.details.show.evea = !character.computedData.details.show.evea">
                        <span *ngIf="!character.computedData.details.show.evea">Voir details</span>
                        <span *ngIf="character.computedData.details.show.evea">Cacher details</span>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="stat-header">
                        <div class="stat-element">AT</div>
                        <div class="stat-element">PRD</div>
                        <div class="stat-element">PR</div>
                        <div class="stat-element" *ngIf="character.computedData.stats['PR_MAGIC']">PR_MAGIC</div>
                    </div>
                    <div class="stat-values">
                        <div class="stat-row">
                            <div class="stat-element">{{character.computedData.stats['AT']}}</div>
                            <div class="stat-element">{{character.computedData.stats['PRD']}}</div>
                            <div class="stat-element">{{character.computedData.stats['PR']}}</div>
                            <div class="stat-element" *ngIf="character.computedData.stats['PR_MAGIC']">{{character.computedData.stats['PR_MAGIC']}}</div>
                        </div>
                        <div class="stat-details" *ngIf="character.computedData.details.show.atprd">
                            <div class="detail-row" *ngFor="let detail of character.computedData.details.atprd">
                                <div class="stat-detail-reason">
                                    {{detail.name}}
                                </div>
                                <div class="stat-row">
                                    <div class="stat-element">{{detail.data.AT}}</div>
                                    <div class="stat-element">{{detail.data.PRD}}</div>
                                    <div class="stat-element">{{detail.data.PR}}</div>
                                    <div class="stat-element" *ngIf="character.computedData.stats['PR_MAGIC']">{{detail.data.PR_MAGIC}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="'primary'" (click)="character.computedData.details.show.atprd = !character.computedData.details.show.atprd">
                        <span *ngIf="!character.computedData.details.show.atprd">Voir details</span>
                        <span *ngIf="character.computedData.details.show.atprd">Cacher details</span>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="stat-header">
                        <div class="stat-element-small">COU</div>
                        <div class="stat-element-small">INT</div>
                        <div class="stat-element-small">CHA</div>
                        <div class="stat-element-small">AD</div>
                        <div class="stat-element-small">FO</div>
                    </div>
                    <div class="stat-values">
                        <div class="stat-row">
                            <div class="stat-element-small">{{character.computedData.stats['COU']}}</div>
                            <div class="stat-element-small">{{character.computedData.stats['INT']}}</div>
                            <div class="stat-element-small">{{character.computedData.stats['CHA']}}</div>
                            <div class="stat-element-small">{{character.computedData.stats['AD']}}</div>
                            <div class="stat-element-small">{{character.computedData.stats['FO']}}</div>
                        </div>
                        <div class="stat-details" *ngIf="character.computedData.details.show.stat">
                            <div class="detail-row" *ngFor="let detail of character.computedData.details.stat">
                                <div class="stat-detail-reason">
                                    {{detail.name}}
                                </div>
                                <div class="stat-row">
                                    <div class="stat-element-small">{{detail.data.COU}}</div>
                                    <div class="stat-element-small">{{detail.data.INT}}</div>
                                    <div class="stat-element-small">{{detail.data.CHA}}</div>
                                    <div class="stat-element-small">{{detail.data.AD}}</div>
                                    <div class="stat-element-small">{{detail.data.FO}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="'primary'" (click)="character.computedData.details.show.stat = !character.computedData.details.show.stat">
                        <span *ngIf="!character.computedData.details.show.stat">Voir details</span>
                        <span *ngIf="character.computedData.details.show.stat">Cacher details</span>
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-content>
                    <div class="stat-header">
                        <div class="stat-element-large" *ngIf="character.hasMagic()">MagiePhys</div>
                        <div class="stat-element-large" *ngIf="character.hasMagic()">MagiePsy</div>
                        <div class="stat-element-large">RESM</div>
                    </div>
                    <div class="stat-values">
                        <div class="stat-row">
                            <div class="stat-element-large" *ngIf="character.hasMagic()">{{character.computedData.stats['MPHYS']}}</div>
                            <div class="stat-element-large" *ngIf="character.hasMagic()">{{character.computedData.stats['MPSY']}}</div>
                            <div class="stat-element-large">{{character.computedData.stats['RESM']}}</div>
                        </div>
                        <div class="stat-details" *ngIf="character.computedData.details.show.magic">
                            <div class="detail-row" *ngFor="let detail of character.computedData.details.magic">
                                <div class="stat-detail-reason">
                                    {{detail.name}}
                                </div>
                                <div class="stat-row">
                                    <div class="stat-element-large" *ngIf="character.hasMagic()" [innerHTML]="detail.data.MPHYS || ''"></div>
                                    <div class="stat-element-large" *ngIf="character.hasMagic()" [innerHTML]="detail.data.MPSY || ''"></div>
                                    <div class="stat-element-large" [innerHTML]="detail.data.RESM || ''"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="'primary'" (click)="character.computedData.details.show.magic = !character.computedData.details.show.magic">
                        <span *ngIf="!character.computedData.details.show.magic">Voir details</span>
                        <span *ngIf="character.computedData.details.show.magic">Cacher details</span>
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card *ngIf="character.computedData.stats['MV'] != 100
                                || character.computedData.stats['THROW_MODIFIER']
                                || character.computedData.stats['DISCRETION_MODIFIER']
                                || character.computedData.stats['DANSE_MODIFIER']
                                || character.computedData.stats['PI']">
                <mat-card-content>
                    <div class="stat-header">
                        <div class="stat-element" *ngIf="character.computedData.stats['MV'] !== 100">MV</div>
                        <div class="stat-element" *ngIf="character.computedData.stats['THROW_MODIFIER']">Lancer</div>
                        <div class="stat-element" *ngIf="character.computedData.stats['DISCRETION_MODIFIER']">Discretion</div>
                        <div class="stat-element" *ngIf="character.computedData.stats['DANSE_MODIFIER']">Danse</div>
                        <div class="stat-element" *ngIf="character.computedData.stats['PI']">PI</div>
                    </div>
                    <div class="stat-values">
                        <div class="stat-row">
                            <div class="stat-element" *ngIf="character.computedData.stats['MV'] !== 100">
                                {{character.computedData.stats['MV']}}%
                            </div>
                            <div class="stat-element" *ngIf="character.computedData.stats['THROW_MODIFIER']">
                                {{character.computedData.stats['THROW_MODIFIER'] | plusminus}}
                            </div>
                            <div class="stat-element" *ngIf="character.computedData.stats['DISCRETION_MODIFIER']">
                                {{character.computedData.stats['DISCRETION_MODIFIER'] | plusminus}}
                            </div>
                            <div class="stat-element" *ngIf="character.computedData.stats['DANSE_MODIFIER']">
                                {{character.computedData.stats['DANSE_MODIFIER'] | plusminus}}
                            </div>
                            <div class="stat-element" *ngIf="character.computedData.stats['PI']">
                                {{character.computedData.stats['PI']}}
                            </div>
                        </div>
                        <div class="stat-details" *ngIf="character.computedData.details.show.other">
                            <div class="detail-row" *ngFor="let detail of character.computedData.details.other">
                                <div class="stat-detail-reason">
                                    {{detail.name}}
                                </div>
                                <div class="stat-row">
                                    <div class="stat-element" *ngIf="character.computedData.stats['MV'] !== 100">
                                        {{detail.data.MV}}
                                    </div>
                                    <div class="stat-element" *ngIf="character.computedData.stats['THROW_MODIFIER']">
                                        {{detail.data.THROW_MODIFIER}}
                                    </div>
                                    <div class="stat-element" *ngIf="character.computedData.stats['DISCRETION_MODIFIER']">
                                        {{detail.data.DISCRETION_MODIFIER}}
                                    </div>
                                    <div class="stat-element" *ngIf="character.computedData.stats['DANSE_MODIFIER']">
                                        {{detail.data.DANSE_MODIFIER}}
                                    </div>
                                    <div class="stat-element" *ngIf="character.computedData.stats['PI']">
                                        {{detail.data.PI}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="'primary'" (click)="character.computedData.details.show.other = !character.computedData.details.show.other">
                        <span *ngIf="!character.computedData.details.show.other">Voir details</span>
                        <span *ngIf="character.computedData.details.show.other">Cacher details</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <effect-panel [character]="character"></effect-panel>
        <!-- End of stats tab -->
    </mat-tab>
    <mat-tab label="Inventaire">
        <!-- Start of inventory tab -->
        <inventory-panel #inventoryPanel [inGroupTab]="inGroupTab" [character]="character"></inventory-panel>
        <!-- End of inventory tab -->
    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            <span [matBadgeOverlap]="false" [matBadge]="character?.loots?.length ? character.loots.length.toString() : undefined" >Loot</span>
        </ng-template>
        <!-- Start of effects tab -->
        <character-loot-panel #lootPanel [character]="character" [inGroupTab]="inGroupTab"></character-loot-panel>
        <!-- End of effects tab -->
    </mat-tab>
    <mat-tab label="Historique">
        <character-history [character]="character"></character-history>
    </mat-tab>
</mat-tab-group>

<!-- Skill info dialog -->
<ng-template #skillInfoDialog="cdkPortal" cdk-portal>
    <mat-card class="skill-info-dialog">

        <mat-card-title *ngIf="!viewGmSkillInfo && selectedSkillInfo">{{selectedSkillInfo.name}}</mat-card-title>
        <mat-card-content *ngIf="!viewGmSkillInfo && selectedSkillInfo">
            {{selectedSkillInfo.playerDescription}}
        </mat-card-content>
        <skill *ngIf="viewGmSkillInfo && selectedSkillInfo" [skill]="selectedSkillInfo"></skill>

        <mat-card-actions align="end">
            <button *ngIf="!viewGmSkillInfo" mat-button color="primary" (click)="viewGmSkillInfo = true">
                INFO GM
            </button>
            <button *ngIf="viewGmSkillInfo" mat-button color="primary" (click)="viewGmSkillInfo = false">
                INFO JOUEUR
            </button>
            <button mat-button color="primary" (click)="closeSkillInfoDialog()">
                FERMER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>


<!-- Levelup modal -->
<ng-template #levelUpDialog="cdkPortal" cdk-portal>
    <mat-card class="level-up-dialog">
        <mat-card-title>
            Gain d'un niveau
        </mat-card-title>
        <mat-card-content class="level-up-dialog-content">
            <mat-card>
                <mat-card-subtitle>
                    Énergie vitale/Énergie Astrale
                </mat-card-subtitle>
                <mat-card-content>
                    <p>Pour chaque niveau gagné, on ajoute
                        1D{{character.origin.data.diceEvLevelUp}}<span *ngIf="characterHasToken('LEVELUP_DICE_EV_-1')"> -1 </span>
                        à son énergie vitale (EV)
                        <span *ngIf="character.hasMagicJob()">
                    <strong>OU</strong> 1D{{character.diceEaLevelUp}} astrale (EA)
                </span>
                    </p>

                    <div *ngIf="character.hasMagicJob()">
                        Je choisi d'augmenter mon:
                        <mat-button-toggle-group [(ngModel)]="levelUpInfo.evOrEa">
                            <mat-button-toggle value="EV">E.Vitale</mat-button-toggle>
                            <mat-button-toggle value="EA">E.Astrale</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div>
                        <div *ngIf="levelUpInfo.evOrEa === 'EV'">
                            Augmentation de l'energie vitale (EV) de 1D{{character.origin.data.diceEvLevelUp}}
                        </div>
                        <div *ngIf="levelUpInfo.evOrEa === 'EA'">
                            Augmentation de l'energie astrale (EA) de 1D{{character.diceEaLevelUp}}
                        </div>

                        <div class="level-up-ea-ev">
                            <mat-form-field align="end">
                                <input matInput placeholder="Valeur" type="number" [(ngModel)]="levelUpInfo.evOrEaValue">
                                <mat-hint align="end" *ngIf="levelUpInfo.evOrEa === 'EV'">
                                    Lancer 1D{{character.origin.data.diceEvLevelUp}}<span *ngIf="characterHasToken('LEVELUP_DICE_EV_-1')">-1</span>
                                </mat-hint>
                                <mat-hint align="end" *ngIf="levelUpInfo.evOrEa === 'EA'">
                                    Lancer 1D{{character.diceEaLevelUp}}
                                </mat-hint>
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="rollLevelUp()">LANCER DÉ</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="(levelUpInfo.targetLevelUp % 2) === 0">
                <mat-card-subtitle>
                    Augmenter une caractéristique
                </mat-card-subtitle>
                <mat-card-content>
                    Je choisi:
                    <mat-button-toggle-group [(ngModel)]="levelUpInfo.statToUp">
                        <mat-button-toggle value="FO">FO</mat-button-toggle>
                        <mat-button-toggle value="AD">AD</mat-button-toggle>
                        <mat-button-toggle value="COU">COU</mat-button-toggle>
                        <mat-button-toggle value="INT">INT</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="(levelUpInfo.targetLevelUp % 2) === 1">
                <mat-card-subtitle>
                    Augmenter Attaque ou parade
                </mat-card-subtitle>
                <mat-card-content>
                    Je choisi d'augmenter de 1 point:
                    <mat-button-toggle-group [(ngModel)]="levelUpInfo.statToUp">
                        <mat-button-toggle value="AT">AT</mat-button-toggle>
                        <mat-button-toggle value="PRD">PRD</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="levelUpShouldSelectSkill()">
                <mat-card-subtitle>Compétence supplémentaire</mat-card-subtitle>
                <mat-card-content>
                    <skill-selector *ngIf="!levelUpInfo.skill"
                                    [selectedOrigin]="character.origin"
                                    [selectedJobs]="character.jobs"
                                    [knownSkills]="character.skills"
                                    [skillCount]=1
                                    (skillsSelected)="onLevelUpSelectSkills($event)">
                    </skill-selector>
                    <p *ngIf="levelUpInfo.skill">J'apprends la compétence: {{levelUpInfo.skill.name}}</p>
                </mat-card-content>
                <mat-card-actions *ngIf="levelUpInfo.skill" align="end">
                    <button mat-button
                            color="primary"
                            (click)="levelUpInfo.skill = null">
                        CHANGER
                    </button>
                </mat-card-actions>
            </mat-card>
            <ng-template ngFor [ngForOf]="character.jobs" let-job>
                <mat-card *ngIf="levelUpShouldSelectSpeciality(job)">
                    <mat-card-subtitle>Spécialisation supplémentaire</mat-card-subtitle>
                    <mat-card-content>
                        <div *ngIf="!levelUpInfo.specialities[job.id]">
                            <speciality-selector (specialityChange)="levelUpSelectSpeciality(job, $event)" [knownSpecialities]="character.getJobsSpecialities(job)" [specialities]="job.specialities"></speciality-selector>
                        </div>
                        <div *ngIf="levelUpInfo.specialities[job.id]">Spécialité: {{levelUpInfo.specialities[job.id].name}}</div>
                    </mat-card-content>
                    <mat-card-actions *ngIf="levelUpInfo.specialities[job.id]" align="end">
                        <button mat-button
                                color="primary"
                                (click)="levelUpInfo.specialities[job.id] = null">
                            CHANGER
                        </button>
                    </mat-card-actions>
                </mat-card>
            </ng-template>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="closeLevelUpDialog()">
                ANNULER
            </button>
            <button mat-button color="primary"  [disabled]="!levelUpFormReady()" (click)="levelUp()">
                VALIDER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>



<!-- Change name dialog -->
<ng-template #changeNameDialog="cdkPortal" cdk-portal>
    <mat-card>
        <mat-card-title>
            Changer de nom
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput
                       placeholder="Nouveau nom"
                       [(ngModel)]="newCharacterName"/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="closeChangeNameDialog()">
                ANNULER
            </button>
            <button mat-button [disabled]="character.name === newCharacterName" color="primary" (click)="changeName()">
                VALIDER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>

<!-- Change job dialog -->
<ng-template #changeJobDialog="cdkPortal" cdk-portal>
    <mat-card class="modal-max-height">
        <mat-card-title>
            Changer de métier
        </mat-card-title>
        <mat-card-content style="display: flex; flex-direction: column">
            <div *ngIf="character.hasFlag('CAN_CHANGE_JOB')" class="text-warning">
                Ne peux pas changer de métier
            </div>
            <mat-list>
                <mat-list-item *ngFor="let job of character.jobs" style="display: flex; align-items: center">
                    <button mat-icon-button (click)="removeJob(job)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{job.name}}
                </mat-list-item>
            </mat-list>
            <job-selector *ngIf="addingJob"
                          [ad]="character.computedData.baseStat['AD']"
                          [fo]="character.computedData.baseStat['FO']"
                          [int]="character.computedData.baseStat['INT']"
                          [cha]="character.computedData.baseStat['CHA']"
                          [cou]="character.computedData.baseStat['COU']"
                          [displayNoJobOption]="false"
                          [selectedOrigin]="character.origin"
                          [selectedJobs]="character.jobs"
                          [allowSwapStats]="false"
                          (jobChange)="addJob($event)">
            </job-selector>

            <button mat-raised-button (click)="addingJob = true" class="clickable" *ngIf="!addingJob">
                <div style="display: flex; align-items: center">
                    <mat-icon>add</mat-icon>
                    Ajouter un métier
                </div>
            </button>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="closeChangeJobDialog()">
                FERMER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
<!-- Origin info panel -->
<ng-template #originInfoDialog="cdkPortal" cdk-portal>
    <mat-card class="modal-max-height">
        <mat-card-title>
            {{character.origin.name}}
        </mat-card-title>
        <mat-card-content>
            <p class="origin-summary" [innerHTML]="character.origin.playerSummary | textFormatter"></p>
            <p class="origin-description" [innerHTML]="character.origin.playerDescription | textFormatter"></p>
            <div class="skills" *ngIf="character.origin.skills.length">
                Je suis né avec les compétences suivantes :
                <ul>
                    <li *ngFor="let skill of character.origin.skills">
                        <div class="skill-name">{{skill.name}}</div>
                        <span *ngIf="skill.playerDescription"> {{skill.playerDescription}}</span>
                    </li>
                </ul>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="closeOriginInfoDialog()">
                FERMER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
<!-- Job info panel -->
<ng-template #jobInfoDialog="cdkPortal" cdk-portal>
    <mat-card class="modal-max-height">
        <mat-card-title>
            {{selectedJobInfo.name}}
        </mat-card-title>
        <mat-card-content>
            <p class="job-summary" [innerHTML]="selectedJobInfo.playerSummary | textFormatter"></p>
            <p class="job-description" [innerHTML]="selectedJobInfo.playerDescription | textFormatter"></p>
            <div class="skills" *ngIf="selectedJobInfo.skills.length">
                Je suis né avec les compétences suivantes :
                <ul>
                    <li *ngFor="let skill of selectedJobInfo.skills">
                        <div class="skill-name">{{skill.name}}</div>
                        <span *ngIf="skill.playerDescription"> {{skill.playerDescription}}</span>
                    </li>
                </ul>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="closeJobInfoDialog()">
                FERMER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
