<div class="loot-tab">
    <div class="loot-list">
        <md-card *ngFor="let loot of character.loots">
            <md-card-title>{{loot.name}}</md-card-title>
            <md-card-content>
                    <div class="loot-items">
                        <div *ngFor="let item of loot.items"
                              (click)="selectItem(item)"
                              class="loot-item"
                              [class.active]="item.id == selectedItem?.id">
                        <button md-icon-button
                                (click)="openTakeItemLootDialog(loot, item)">
                            <md-icon fontSet="game-icon" fontIcon="game-icon-snatch" class="ra-md-button-icon-32">
                            </md-icon>
                        </button>
                        <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                        <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}&nbsp;</span>
                        {{item.data.name}}
                        <swipeable-item-detail *ngIf="item.id === selectedItem?.id"
                                               [character]="character"
                                               [item]="item"
                                               [readonly]="true">
                        </swipeable-item-detail>
                    </div>
                </div>
                <div class="loot-monsters" *ngFor="let monster of loot.monsters">
                    <div class="monster-name">
                        {{monster.name}}
                    </div>
                    <div class="monster-item loot-item" *ngFor="let item of monster.items"
                         (click)="selectItem(item)"
                         [class.active]="item.id == selectedItem?.id">
                        <button md-icon-button
                                (click)="openTakeItemMonsterDialog(monster, item)">
                            <md-icon fontSet="game-icon" fontIcon="game-icon-snatch" class="ra-md-button-icon-32">
                            </md-icon>
                        </button>

                        <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                        <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}</span>
                        {{item.data.name}}
                        <swipeable-item-detail *ngIf="item.id === selectedItem?.id"
                                               [character]="character"
                                               [item]="item"
                                               [readonly]="true">
                        </swipeable-item-detail>
                    </div>
                </div>

            </md-card-content>
        </md-card>
    </div>
    <div *ngIf="selectedItem" class="item-detail">
        <item-detail [gmView]="inGroupTab"
                     [character]="character"
                     [item]="selectedItem"
                     [readonly]="true"></item-detail>
    </div>
</div>

<ng-template cdk-portal #takeItemDialog="cdkPortal">
    <md-card>
        <md-card-title>Loot</md-card-title>
        <md-card-content *ngIf="!takingItem.data.quantity || takingItem.data.quantity < 2">
            Prendre l'objet {{takingItem.data.name}} ?
        </md-card-content>
        <md-card-content *ngIf="takingItem.data.quantity > 1">
            Prendre l'objet
            <value-editor [title]="'Quantité'"
                          [hideMaxValue]="true"
                          [value]="takingQuantity"
                          (onChange)="takingQuantity = $event"
                          [maxValue]="takingItem.data.quantity">
            </value-editor>
            {{takingItem.data.name}} ?
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="closeTakeItemDialog()">
                ANNULER
            </button>
            <button md-button
                    color="primary"
                    (click)="validTakeItem()">
                PRENDRE
            </button>
        </md-card-actions>
    </md-card>
</ng-template>

