:host {

    font-size: large;
    display: flex;
    flex-wrap: wrap;

    .stat-label {
        font-size: 14px;
    }

    .movement-card {
        display: block;
    }


    mat-card {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        mat-card-header {
            justify-content: space-between;

            div.mat-card-header-text {
                margin: 0;
            }
        }

        .game-icon, .ra {
            font-size: 40px;
        }

        &.stats-card {
            flex: 1 auto;

            mat-card-content {
                font-size: large;
                display: flex;
                flex-direction: column;
            }
            .stat-row {
                display: flex;
                align-content: space-around;
                justify-content: space-around;
                flex-direction: row;
            }

            .stat {
                flex: 1 auto;
                display: flex;
                align-content: space-around;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: nowrap;

                .stat-icon {
                    flex: 0 40px;
                }
                .stat-name {
                    min-width: 60px;
                    flex: 1 60px;
                    font-weight: bold;
                }
                .stat-value {
                    flex: 0 auto;
                    width: 60px;
                    flex-flow: column;
                    display: flex;
                    justify-content: space-around;
                    text-align: center;

                    div {
                        flex: 0 0 auto;
                    }
                }
                .small-stat-value {
                    width: 40px;
                }
            }

            .large-stat {
                .stat-name {
                    flex: 1 auto;
                }
                .stat-value {
                    flex: 0 auto;
                }
            }
        }

        &.combat-stats {

        }

        &.life-mana {
            justify-content: space-around;

            @media (max-width: 475px) {
                flex-direction: row;

                .stat {
                    flex: 0 auto;
                }
            }
        }
    }
    .equiped-weapons-stats {
        overflow:hidden;
        white-space:nowrap;
        .equiped-weapons-damages {
            display: flex;
            overflow:hidden;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            >mat-icon {
                flex-shrink: 0;
                margin-right: 4px;
            }
            >span {
                overflow:hidden;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                >span {
                    flex: 1 1 auto
                }
            }
        }

        .damage-weapon-name {
            font-size: small;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
    }
}
