<h2 mat-dialog-title>Edition de l'objet</h2>

<form [formGroup]="form">
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="&#x2063;Nom" formControlName="name" autocomplete="off">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" autocomplete="off">
        </mat-form-field>
    </mat-dialog-content>
</form>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close
            color="primary">
        ANNULER
    </button>
    <button mat-button
            cdkFocusInitial
            color="primary"
            (click)="valid()">
        VALIDER
    </button>
</mat-dialog-actions>
