md-card {
    margin: 5px;
}

@media (min-width: 700px) {
    .effect-panel {
        flex-direction: row;
    }
}

@media (max-width: 699px) {
    .effect-panel{
        flex-direction: column;
    }
}

.effect-panel {
    display: flex;
    .effect-list-panel {
        flex: 1 50px;
        min-width: 0;
    }
    .effect-detail-panel {
        flex: 1 50px;
        min-width: 0;
    }
}

.effect-list {
    .effect-element {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        padding: 8px;
        height: 32px;

        .modifier-type {
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }

        .modifier-toggle {
            flex: 0 auto;
            width: 32px;
            min-width: 32px;
            display: flex;
            align-items: center;
        }

        .modifier-info {
            padding-right: 8px;
            flex: 1 auto;
            min-width: 0;
            display: flex;
            flex-direction: column;
        }

        .modifier-duration {
            flex: 0 auto;
            width: 32px;
            min-width: 32px;
            display: flex;
            flex-direction: column;
        }
    }
}
