<div>
    <h4 style="width:100%">{{characterEffect.effect.name}}
        <button type="button" class="glyphicon glyphicon-trash btn btn-danger pull-right" (click)="onRemove.emit(characterEffect)"></button>
        <span class="label label-default">{{effectCategoriesById[characterEffect.effect.category].name}}</span>
    </h4>
    <p>{{characterEffect.effect.description}}</p>
    <p *ngIf="characterEffect.effect.duration">Durée: {{characterEffect.effect.duration}}</p>
    <p *ngIf="characterEffect.effect.combatCount">Durée: {{characterEffect.effect.combatCount}} combat</p>
    <p *ngIf="characterEffect.currentCombatCount">Actif encore {{characterEffect.currentCombatCount}} combat</p>
    <p *ngIf="characterEffect.effect.timeDuration">Durée: {{characterEffect.effect.timeDuration | nhbkDuration}}</p>
    <p *ngIf="characterEffect.currentTimeDuration">Actif encore {{characterEffect.currentTimeDuration | nhbkDuration}}</p>

    <div *ngFor="let modifier of characterEffect.effect.modifiers">
        {{modifier | modifier}}
    </div>
</div>
