<div class="effect-panel">
    <md-card class="effect-list-panel">
        <md-card-title>
            Effets
        </md-card-title>
        <md-card-content>
            <div class="effect-list">
                <template ngFor let-characterEffect [ngForOf]="character.computedData.effects" let-i="index" let-last="last">
                    <div (click)="selectEffect(characterEffect)"
                         class="effect-element"
                         [class.selected]="selectedEffect === characterEffect">
                        <span *ngIf="characterEffect.reusable">
                            <md-slide-toggle color="primary"
                                             (change)="updateReusableEffect(characterEffect)"
                                             [ngModel]="characterEffect.active">
                            </md-slide-toggle>
                        </span>
                        <span *ngIf="!characterEffect.reusable" class="toggle-padding"></span>
                        <span class="padding"
                              (click)="selectModifier(modifier)">
                            {{characterEffect.effect.name}}
                        </span>
                        <span *ngIf="characterEffect.currentCombatCount !== null">
                            <span class="ra ra-sword duration-icon"></span>{{characterEffect.currentCombatCount}}
                        </span>
                        <span *ngIf="characterEffect.currentTimeDuration">
                            <span class="ra ra-clockwork duration-icon"></span> {{characterEffect.currentTimeDuration | nhbkDuration}}
                        </span>
                        <span *ngIf="characterEffect.currentLapCount">
                            <span class="game-icon game-icon-clockwise-rotation duration-icon"></span> {{characterEffect.currentLapCount}}
                        </span>
                    </div>
                </template>
                <template ngFor let-modifier [ngForOf]="character.computedData.modifiers" let-i="index" let-last="last">
                    <div *ngIf="!modifier.permanent"
                         class="effect-element"
                         [class.selected]="selectedModifier === modifier">
                        <span *ngIf="modifier.reusable">
                            <md-slide-toggle color="primary"
                                             (change)="updateReusableModifier(modifier)"
                                             [ngModel]="modifier.active">
                            </md-slide-toggle>
                        </span>
                        <span *ngIf="!modifier.reusable" class="toggle-padding"></span>
                        <span class="padding"
                              (click)="selectModifier(modifier)">
                            {{modifier.name}}
                        </span>
                        <span *ngIf="modifier.combatCount">
                            <span class="ra ra-sword duration-icon"></span> {{modifier.currentCombatCount}}
                        </span>
                        <span *ngIf="modifier.currentTimeDuration">
                            <span class="ra ra-clockwork duration-icon"></span> {{modifier.currentTimeDuration | nhbkDuration}}
                        </span>
                        <span *ngIf="modifier.currentLapCount">
                            <span class="game-icon game-icon-clockwise-rotation duration-icon"></span> {{modifier.currentLapCount}}
                        </span>
                    </div>
                </template>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button color="primary" (click)="openAddEffectModal()">AJOUTER</button>
        </md-card-actions>
    </md-card>
    <div *ngIf="selectedEffect" class="effect-detail-panel">
        <effect-detail [characterEffect]="selectedEffect" [effectCategoriesById]="effectCategoriesById" (onRemove)="removeEffect($event)"></effect-detail>
    </div>
    <div *ngIf="selectedModifier" class="effect-detail-panel">
        <modifier-detail [characterModifier]="selectedModifier" (onRemove)="removeModifier($event)"></modifier-detail>
    </div>
</div>


<template #addEffectDialog="cdkPortal" cdk-portal>
    <md-card class="add-effect-dialog">
        <md-card-title>Ajouter un effet</md-card-title>
        <md-card-content>
            <md-tab-group class="demo-tab-group">
                <md-tab label="Prédéfini">
                    <div>
                        <autocomplete-input [value]="effectFilterName"
                                            [placeholder]="'Effet'"
                                            (onSelect)="selectEffectInAutocompleteList($event)"
                                            [(callback)]="autocompleteEffectListCallback"></autocomplete-input>
                    </div>
                    <div>
                        <md-slide-toggle color="primary"
                                         [ngModel]="newEffectReusable">
                            Ré-utilisable
                        </md-slide-toggle>
                    </div>

                    <div *ngIf="preSelectedEffect">
                        <div *ngIf="preSelectedEffect.duration">
                            <label class="col-sm-3 control-label">Durée</label>
                            <div class="col-sm-9">
                                {{preSelectedEffect.duration}}
                            </div>
                        </div>
                        <div *ngIf="preSelectedEffect.combatCount">
                            <label class="col-sm-3 control-label">Durée</label>
                            <div class="col-sm-9">
                                {{preSelectedEffect.combatCount}} combat
                            </div>
                        </div>
                        <div *ngIf="preSelectedEffect.timeDuration">
                            <label class="col-sm-3 control-label">Durée</label>
                            <div class="col-sm-9">
                                {{preSelectedEffect.timeDuration | nhbkDuration}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="preSelectedEffect" class="form-group">
                        <md-checkbox [(ngModel)]="newEffectCustomDuration">
                            Durée personnalisée
                        </md-checkbox>
                    </div>
                    <div *ngIf="preSelectedEffect && newEffectCustomDuration">
                        <h4>Durée</h4>
                        <md-button-toggle-group name="alignment" [(ngModel)]="newEffectDurationType">
                            <md-button-toggle value="combat">Nombre de combat</md-button-toggle>
                            <md-button-toggle value="time">Temps</md-button-toggle>
                            <md-button-toggle value="custom">Autre</md-button-toggle>
                            <md-button-toggle value="forever">Toujours</md-button-toggle>
                        </md-button-toggle-group>

                        <div *ngIf="newEffectDurationType === 'custom'">
                            <md-input placeholder="Durée" [(ngModel)]="newEffectDuration"></md-input>
                        </div>

                        <div *ngIf="newEffectDurationType === 'time'">
                            <div>
                                <span>Temps</span>
                                <span>
                                    {{newEffectTimeDuration | nhbkDuration}}
                                </span>
                                <span>
                                    <date-modifier [resetOnChange]=false
                                                   [dateOffset]="newEffectTimeDurationDate"
                                                   (onChange)="setNewEffectTimeDuration($event)">
                                    </date-modifier>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="newEffectDurationType === 'combat'">
                            <md-input-container align="end">
                                <input md-input type="number" min=0 placeholder="Durée" [(ngModel)]="newEffectCombatCount">
                                <span md-suffix> combat(s)</span>
                            </md-input-container>
                        </div>
                    </div>
                </md-tab>

                <md-tab label="Custom">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div>
                                <md-input placeholder="Nom" [(ngModel)]="customAddModifier.name"></md-input>
                            </div>
                            <h4>Durée</h4>
                            <md-button-toggle-group name="alignment" [(ngModel)]="newModifierDurationType">
                                <md-button-toggle value="combat">Nombre de combat</md-button-toggle>
                                <md-button-toggle value="lap">Nombre de tours</md-button-toggle>
                                <md-button-toggle value="time">Temps</md-button-toggle>
                                <md-button-toggle value="custom">Autre</md-button-toggle>
                                <md-button-toggle value="forever">Toujours</md-button-toggle>
                            </md-button-toggle-group>

                            <div class="form-group">
                                <div *ngIf="newModifierDurationType === 'custom'">
                                    <md-input placeholder="Durée" [(ngModel)]="customAddModifier.duration"></md-input>
                                </div>
                                <div *ngIf="newModifierDurationType === 'time'">
                                    <div class="input-group">
                                        <span class="input-group-addon">Temps</span>
                                        <span class="input-group-addon">
                                            {{customAddModifier.timeDuration | nhbkDuration}}
                                        </span>
                                        <span class="input-group-addon">
                                            <date-modifier [resetOnChange]=false [dateOffset]="customAddModifierDateOffset" (onChange)="setCustomAddModifierTimeDuration($event)"></date-modifier>
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="newModifierDurationType === 'lap'">
                                    <md-input-container align="end">
                                        <input md-input type="number" min=0 placeholder="Durée" [(ngModel)]="customAddModifier.lapCount">
                                        <span md-suffix> tour(s)</span>
                                    </md-input-container>
                                </div>
                                <div *ngIf="newModifierDurationType === 'combat'">
                                    <md-input-container align="end">
                                        <input md-input type="number" min=0 placeholder="Durée" [(ngModel)]="customAddModifier.combatCount">
                                        <span md-suffix> combat(s)</span>
                                    </md-input-container>
                                </div>
                            </div>

                            <md-slide-toggle color="primary" [(ngModel)]="customAddModifier.reusable">
                                Ré-utilisable
                            </md-slide-toggle>

                            <h4>Modificateurs</h4>
                            <modifiers-editor [(modifiers)]="customAddModifier.values"></modifiers-editor>
                        </div>
                    </div>
                </md-tab>
            </md-tab-group>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="closeAddEffectDialog()">
                ANNULER
            </button>
            <button md-button
                    [disabled]="!preSelectedEffect"
                    color="primary"
                    (click)="addEffect(preSelectedEffect, newEffectReusable)">
                AJOUTER
            </button>
            <button md-button
                    [disabled]="!customAddModifier.name"
                    color="primary"
                    (click)="addCustomModifier()">
                AJOUTER
            </button>
        </md-card-actions>
    </md-card>
</template>
