<md-card class="inventory-card">
    <md-toolbar color="primary">
        <span>Inventaire</span>
        <button md-mini-fab color=accent (click)="openAddItemModal()">
            <md-icon>add</md-icon>
        </button>
    </md-toolbar>
    <div class="buttons-header">
        <md-button-toggle-group [(ngModel)]="selectedInventoryTab">
            <md-button-toggle value="all">
                Tout
            </md-button-toggle>
            <md-button-toggle value="bags">
                Sacs
            </md-button-toggle>
            <md-button-toggle value="equiped">
                Equipé
            </md-button-toggle>
            <md-button-toggle value="currency">
                Monnaie
            </md-button-toggle>
        </md-button-toggle-group>

        <md-button-toggle-group [(ngModel)]="sortType" (click)="sortInventory()">
            <md-button-toggle *ngIf="!sortType || sortType === 'desc'" [value]="'asc'">
                <md-icon>sort_by_alpha</md-icon>
            </md-button-toggle>
            <md-button-toggle *ngIf="sortType && sortType !== 'desc'" [value]="'desc'">
                <md-icon>sort_by_alpha</md-icon>
            </md-button-toggle>
            <md-button-toggle [value]="'not_identified_first'">
                <md-icon>sort</md-icon>
            </md-button-toggle>
        </md-button-toggle-group>

        <button md-raised-button (click)="toggleIconMode()" *ngIf="selectedInventoryTab === 'all' || selectedInventoryTab === 'bags'">
            <md-icon *ngIf="iconMode" class="md-24">list</md-icon>
            <md-icon *ngIf="!iconMode" class="md-24">view_module</md-icon>
        </button>

        <md-input-container *ngIf="selectedInventoryTab === 'all'">
            <input md-input
                      placeholder="Filtre"
                      [(ngModel)]="itemFilterName"
                      (keydown.esc)="itemFilterName = null">
            <span md-suffix>&nbsp;
                <md-icon>search</md-icon>
            </span>
        </md-input-container>
    </div>

    <div class="inventory">
        <div *ngIf="selectedInventoryTab === 'all'" class="inventory-content">
            <div *ngIf="!iconMode">
                <div class="items-list">
                    <template ngFor let-item [ngForOf]="character.items">
                        <div class="items-list-element" *ngIf="isItemFilteredByName(item)">
                            <div class="item-line"
                                 [class.selected]="selectedItem && selectedItem.id === item.id"
                                 (click)="selectItem(item)">
                                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                                <md-icon *ngIf="item.data.notIdentified">help</md-icon>
                                <md-icon *ngIf="item.data.equiped !== undefined">check_circle</md-icon>
                                <md-icon *ngIf="item.data.equiped === undefined && !item.container">reorder</md-icon>
                                <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
                                {{item.data.name}}
                            </div>
                            <template [ngIf]="item === selectedItem">
                                <swipeable-item-detail style="position: absolute; right: 0"
                                                       [gmView]="inGroupTab"
                                                       [character]="character"
                                                       [item]="item">
                                </swipeable-item-detail>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
            <div *ngIf="iconMode">
                <template ngFor let-item [ngForOf]="character.items">
                    <div class="item-icon"
                         [class.selected]="item === selectedItem"
                         (click)="selectItem(item)"
                         *ngIf="isItemFilteredByName(item)">
                        <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                    </div>
                    <template [ngIf]="item === selectedItem">
                        <swipeable-item-detail style="position: absolute; right: 0"
                                               [gmView]="inGroupTab"
                                               [character]="character"
                                               [item]="item">
                        </swipeable-item-detail>
                    </template>
                </template>
            </div>
        </div>

        <div *ngIf="selectedInventoryTab === 'currency'" class="inventory-content">
            <div *ngIf="!iconMode">
                <div class="items-list">
                    <template ngFor let-item [ngForOf]="character.computedData.currencyItems">
                        <div class="items-list-element">
                            <div class="item-line"
                                 [class.selected]="selectedItem && selectedItem.id === item.id"
                                 (click)="selectItem(item)">
                                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                                <md-icon *ngIf="item.data.notIdentified">help</md-icon>
                                <md-icon *ngIf="item.data.equiped !== undefined">check_circle</md-icon>
                                <md-icon *ngIf="item.data.equiped === undefined && !item.container">reorder</md-icon>
                                <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
                                {{item.data.name}}
                            </div>
                            <template [ngIf]="item === selectedItem">
                                <swipeable-item-detail style="position: absolute; right: 0"
                                                       [gmView]="inGroupTab"
                                                       [character]="character"
                                                       [item]="item">
                                </swipeable-item-detail>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
            <div *ngIf="iconMode">
                <template ngFor let-item [ngForOf]="character.items">
                    <div class="item-icon"
                         [class.selected]="item === selectedItem"
                         (click)="selectItem(item)">
                        <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                    </div>
                    <template [ngIf]="item === selectedItem">
                        <swipeable-item-detail style="position: absolute; right: 0"
                                               [gmView]="inGroupTab"
                                               [character]="character"
                                               [item]="item">
                        </swipeable-item-detail>
                    </template>
                </template>
            </div>
        </div>

        <div *ngIf="selectedInventoryTab === 'bags'" class="inventory-content">
            <div *ngIf="character.computedData.topLevelContainers">
                <div class="list-group">
                    <bag-item-view [iconMode]="iconMode" [items]="character.computedData.topLevelContainers" [character]="character" [gmView]="inGroupTab" [selectedItem]="selectedItem" (itemSelected)="selectItem($event)">Loading</bag-item-view>
                </div>
            </div>
        </div>

        <div *ngIf="selectedInventoryTab === 'equiped'" class="inventory-content">
            <div *ngFor="let slot of character.computedData.itemSlots">
                {{slot.name}}:
                <div class="items-list equiped-items">
                    <template ngFor let-item [ngForOf]="character.computedData.itemsBySlots[slot.id]" let-i="index" let-last="last">
                        <div class="items-list-element">
                            <div class="item-line"
                                 [class.selected]="selectedItem && selectedItem.id === item.id"
                                 (click)="selectItem(item)">
                                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                                <md-icon *ngIf="item.data.notIdentified">help</md-icon>
                                <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
                                {{item.data.name}}

                                <button md-icon-button *ngIf="i > 0 && character.computedData.itemsBySlots[slot.id].length > 1" type="button" class="btn btn-default col-md-1 col-xs-2" (click)="_itemActionService.onAction('equip', item, {level: 1})">
                                    <md-icon>keyboard_arrow_up</md-icon>
                                </button>
                                <button md-icon-button *ngIf="!last && character.computedData.itemsBySlots[slot.id].length > 1" type="button" class="btn btn-default col-md-1 col-xs-2" (click)="_itemActionService.onAction('equip', item, {level: -1})">
                                    <md-icon>keyboard_arrow_down</md-icon>
                                </button>
                            </div>

                            <template [ngIf]="item === selectedItem">
                                <swipeable-item-detail [gmView]="inGroupTab" [character]="character" [item]="item"></swipeable-item-detail>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div class="item-detail" *ngIf="selectedItem">
            <div #itemDetailTop class="detail-padding-height" [style.height]="itemDetailOffset + 'px'" ></div>
            <div #itemDetail>
                <item-detail [gmView]="inGroupTab"  [character]="character" [item]="selectedItem"></item-detail>
            </div>
        </div>

    </div>
</md-card>

<template #addItemDialog="cdkPortal" cdk-portal>
    <md-card class="add-item-dialog">
        <md-card-title>Ajouter un objet</md-card-title>
        <md-card-content>
            <autocomplete-input [value]="addItemSearch"
                                [placeholder]="'Rechercher'"
                                (onSelect)="selectAddItem($event)"
                                [(callback)]="autocompleteAddItemListCallback">
            </autocomplete-input>

            <div *ngIf="selectedAddItem">
                <md-input-container style="width: 100%">
                    <input md-input type="text"
                           placeholder="Nom personnalisé"
                           [(ngModel)]="itemAddCustomName"/>
                </md-input-container>
                <md-input-container style="width: 100%">
                    <input md-input type="text"
                           placeholder="Description personnalisé"
                           [(ngModel)]="itemAddCustomDescription"/>
                </md-input-container>

                <md-input-container *ngIf="selectedAddItem.data.quantifiable" style="width: 100%">
                    <input md-input type="number"
                           placeholder="Quantité"
                           [(ngModel)]="itemAddQuantity"/>
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    type="button"
                    (click)="closeAddItemDialog()">
                FERMER
            </button>
            <button md-button
                    color="primary"
                    type="button"
                    [disabled]="!selectedAddItem"
                    (click)="addItem()">
                AJOUTER
            </button>
        </md-card-actions>
    </md-card>
</template>
