<mat-card class="inventory-card">
    <mat-toolbar color="primary">
        <span>Inventaire</span>
        <button mat-mini-fab color=accent (click)="openAddItemModal()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
    <div class="buttons-header">
        <mat-button-toggle-group [(ngModel)]="selectedInventoryTab">
            <mat-button-toggle value="all">
                Tout
            </mat-button-toggle>
            <mat-button-toggle value="bags">
                Sacs
            </mat-button-toggle>
            <mat-button-toggle value="equiped">
                Equipé
            </mat-button-toggle>
            <mat-button-toggle value="currency">
                Monnaie
            </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group [(ngModel)]="sortType" (click)="sortInventory()">
            <mat-button-toggle *ngIf="!sortType || sortType === 'desc'" [value]="'asc'">
                <mat-icon>sort_by_alpha</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="sortType && sortType !== 'desc'" [value]="'desc'">
                <mat-icon>sort_by_alpha</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="'not_identified_first'">
                <mat-icon>sort</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button mat-raised-button (click)="toggleIconMode()" *ngIf="selectedInventoryTab === 'all' || selectedInventoryTab === 'bags' || selectedInventoryTab === 'currency'">
            <mat-icon *ngIf="iconMode" class="md-24">list</mat-icon>
            <mat-icon *ngIf="!iconMode" class="md-24">view_module</mat-icon>
        </button>

        <mat-form-field *ngIf="selectedInventoryTab === 'all'">
            <input matInput
                      placeholder="Filtre"
                      [(ngModel)]="itemFilterName"
                      (keydown.esc)="itemFilterName = null">
            <span matSuffix>&nbsp;
                <mat-icon>search</mat-icon>
            </span>
        </mat-form-field>
    </div>

    <div class="inventory">
        <div *ngIf="selectedInventoryTab === 'all'" class="inventory-content">
            <div *ngIf="!iconMode">
                <div class="items-list">
                    <ng-template ngFor let-item [ngForOf]="character.items" [ngForTrackBy]="trackById">
                        <div class="items-list-element" *ngIf="isItemFilteredByName(item)">
                            <div class="item-line"
                                 matRipple
                                 cdk-overlay-origin
                                 #itemLine="cdkOverlayOrigin"
                                 [class.selected]="item === selectedItem"
                                 (click)="selectItem(item)">
                                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                                <mat-icon *ngIf="item.data.notIdentified">help</mat-icon>
                                <mat-icon *ngIf="item.data.equiped !== undefined">check_circle</mat-icon>
                                <mat-icon *ngIf="item.data.equiped === undefined && !item.container">reorder</mat-icon>
                                <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
                                {{item.data.name}}
                            </div>
                            <swipeable-item-detail *ngIf="item === selectedItem"
                                                   [gmView]="inGroupTab"
                                                   [character]="character"
                                                   [origin]="itemLine"
                                                   [item]="item">
                            </swipeable-item-detail>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="iconMode">
                <ng-template ngFor let-item [ngForOf]="character.items" [ngForTrackBy]="trackById">
                    <div class="item-icon"
                         matRipple
                         matRippleCentered="true"
                         matRippleUnbounded="true"
                         matRippleRadius="24"
                         cdk-overlay-origin
                         #itemLine="cdkOverlayOrigin"
                         [class.selected]="item === selectedItem"
                         (click)="selectItem(item)"
                         *ngIf="isItemFilteredByName(item)">
                        <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                        <swipeable-item-detail *ngIf="item === selectedItem"
                                               [gmView]="inGroupTab"
                                               [character]="character"
                                               [origin]="itemLine"
                                               [item]="item">
                        </swipeable-item-detail>
                    </div>
                </ng-template>
            </div>
        </div>

        <div *ngIf="selectedInventoryTab === 'currency'" class="inventory-content">
            <div *ngIf="!iconMode">
                <div class="items-list">
                    <ng-template ngFor let-item [ngForOf]="character.computedData.currencyItems" [ngForTrackBy]="trackById">
                        <div class="items-list-element">
                            <div class="item-line"
                                 matRipple
                                 cdk-overlay-origin
                                 #itemLine="cdkOverlayOrigin"
                                 [class.selected]="item === selectedItem"
                                 (click)="selectItem(item)">
                                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                                <mat-icon *ngIf="item.data.notIdentified">help</mat-icon>
                                <mat-icon *ngIf="item.data.equiped !== undefined">check_circle</mat-icon>
                                <mat-icon *ngIf="item.data.equiped === undefined && !item.container">reorder</mat-icon>
                                <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
                                {{item.data.name}}
                                <swipeable-item-detail *ngIf="item === selectedItem"
                                                       [gmView]="inGroupTab"
                                                       [character]="character"
                                                       [origin]="itemLine"
                                                       [item]="item">
                                </swipeable-item-detail>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="iconMode">
                <ng-template ngFor let-item [ngForOf]="character.computedData.currencyItems" [ngForTrackBy]="trackById">
                    <div class="item-icon"
                         matRipple
                         matRippleCentered="true"
                         matRippleUnbounded="true"
                         matRippleRadius="24"
                         cdk-overlay-origin
                         #itemLine="cdkOverlayOrigin"
                         [class.selected]="item === selectedItem"
                         (click)="selectItem(item)">
                        <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                        <swipeable-item-detail *ngIf="item === selectedItem"
                                               [gmView]="inGroupTab"
                                               [character]="character"
                                               [origin]="itemLine"
                                               [item]="item">
                        </swipeable-item-detail>
                    </div>
                </ng-template>
            </div>
        </div>

        <div *ngIf="selectedInventoryTab === 'bags'" class="inventory-content">
            <div *ngIf="character.computedData.topLevelContainers">
                <div class="list-group">
                    <bag-item-view
                        [iconMode]="iconMode"
                        [items]="character.computedData.topLevelContainers"
                        [character]="character"
                        [gmView]="inGroupTab"
                        [selectedItem]="selectedItem" (itemSelected)="selectItem($event)">
                    </bag-item-view>
                </div>
            </div>
        </div>

        <div *ngIf="selectedInventoryTab === 'equiped'" class="inventory-content">
            <div *ngFor="let slot of character.computedData.itemSlots">
                {{slot.name}}:
                <div class="items-list equiped-items">
                    <ng-template ngFor let-item [ngForOf]="character.computedData.itemsBySlots[slot.id]" let-i="index" let-last="last" [ngForTrackBy]="trackById">
                        <div class="items-list-element">
                            <div class="item-line"
                                 matRipple
                                 cdk-overlay-origin
                                 #itemLine="cdkOverlayOrigin"
                                 [class.selected]="item === selectedItem"
                                 (click)="selectItem(item)">
                                <icon [icon]="item.data.icon" [size]="'32px'"></icon>
                                <mat-icon *ngIf="item.data.notIdentified">help</mat-icon>
                                <span *ngIf="item.data.quantity">{{item.data.quantity}}&nbsp;</span>
                                {{item.data.name}}

                                <button mat-icon-button
                                        *ngIf="i > 0 && character.computedData.itemsBySlots[slot.id].length > 1"
                                        type="button"
                                        class="btn btn-default col-md-1 col-xs-2"
                                        (click)="_itemActionService.onAction('equip', item, {level: 1})">
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                </button>
                                <button mat-icon-button
                                        *ngIf="!last && character.computedData.itemsBySlots[slot.id].length > 1"
                                        type="button"
                                        class="btn btn-default col-md-1 col-xs-2"
                                        (click)="_itemActionService.onAction('equip', item, {level: -1})">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </button>
                                <swipeable-item-detail *ngIf="item === selectedItem"
                                                       [gmView]="inGroupTab"
                                                       [character]="character"
                                                       [origin]="itemLine"
                                                       [item]="item">
                                </swipeable-item-detail>
                            </div>

                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="item-detail" *ngIf="selectedItem">
            <div #itemDetailTop class="detail-padding-height" [style.height]="itemDetailOffset + 'px'" ></div>
            <div #itemDetail>
                <item-detail [gmView]="inGroupTab"  [character]="character" [item]="selectedItem"></item-detail>
            </div>
        </div>

    </div>
</mat-card>

<ng-template #addItemDialog="cdkPortal" cdk-portal>
    <mat-card class="add-item-dialog">
        <mat-card-title>Ajouter un objet</mat-card-title>
        <mat-card-content>
            <autocomplete-search-item-template #autocompleteSearchItemTemplate [clearOnSelect]=true (onSelect)="selectAddItem($event)">
            </autocomplete-search-item-template>

            <div *ngIf="selectedAddItem">
                <mat-form-field style="width: 100%">
                    <input matInput type="text"
                           placeholder="Nom personnalisé"
                           [(ngModel)]="itemAddCustomName"/>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <input matInput type="text"
                           placeholder="Description personnalisé"
                           [(ngModel)]="itemAddCustomDescription"/>
                </mat-form-field>

                <mat-form-field *ngIf="selectedAddItem.data.quantifiable" style="width: 100%">
                    <input matInput type="number"
                           placeholder="Quantité"
                           [(ngModel)]="itemAddQuantity"/>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                    color="primary"
                    type="button"
                    (click)="closeAddItemDialog()">
                FERMER
            </button>
            <button mat-button
                    color="primary"
                    type="button"
                    [disabled]="!selectedAddItem"
                    (click)="addItem()">
                AJOUTER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
