<div class="inventory-header">
    <mat-form-field class="filter">
        <input matInput [(ngModel)]="itemFilterName" placeholder="Filtre" autocomplete="off" autocapitalize="off"/>
        <button matSuffix mat-icon-button *ngIf="itemFilterName?.length" (click)="itemFilterName = undefined">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button mat-icon-button class="sort" [matMenuTriggerFor]="sortMenu">
        <mat-icon>sort</mat-icon>
    </button>
    <button mat-icon-button class="view" [matMenuTriggerFor]="viewModeMenu">
        <mat-icon *ngIf="viewMode === 'all'">list</mat-icon>
        <mat-icon *ngIf="viewMode === 'bag'">account_tree</mat-icon>
        <mat-icon *ngIf="viewMode === 'money'" fontSet="game-icon" fontIcon="game-icon-two-coins" class="ra-mat-button-icon-32"></mat-icon>
        <mat-icon *ngIf="viewMode === 'equipment'" fontSet="game-icon" fontIcon="game-icon-battle-gear" class="ra-mat-button-icon-32"></mat-icon>
    </button>
</div>
<mat-menu #inventoryMenu>
    <button mat-menu-item [matMenuTriggerFor]="sortMenu">
        Trier
    </button>
    <button mat-menu-item [matMenuTriggerFor]="viewModeMenu">
        Vue
    </button>
</mat-menu>
<mat-menu #sortMenu>
    <button mat-menu-item [disabled]="sortType == 'asc'" (click)="sortType = 'asc'" role="menuitemcheckbox">
        <mat-icon *ngIf="sortType == 'asc'">check</mat-icon>
        <mat-icon *ngIf="sortType != 'asc'"></mat-icon>
        Alphabétique
    </button>
    <button mat-menu-item [disabled]="sortType == 'desc'" (click)="sortType = 'desc'" role="menuitemcheckbox">
        <mat-icon *ngIf="sortType == 'desc'">check</mat-icon>
        <mat-icon *ngIf="sortType != 'desc'"></mat-icon>
        Alphabétique inverse
    </button>
    <button mat-menu-item [disabled]="sortType == 'not_identified_first'" (click)="sortType = 'not_identified_first'" role="menuitemcheckbox">
        <mat-icon *ngIf="sortType == 'not_identified_first'">check</mat-icon>
        <mat-icon *ngIf="sortType != 'not_identified_first'"></mat-icon>
        Non identifier en premier
    </button>
</mat-menu>
<mat-menu #viewModeMenu>
    <button mat-menu-item [disabled]="viewMode == 'all'" (click)="viewMode = 'all'" role="menuitemcheckbox">
        <mat-icon *ngIf="viewMode == 'all'">check</mat-icon>
        <mat-icon *ngIf="viewMode != 'all'">list</mat-icon>
        Liste
    </button>
    <button mat-menu-item [disabled]="viewMode == 'bag'" (click)="viewMode = 'bag'" role="menuitemcheckbox">
        <mat-icon *ngIf="viewMode == 'bag'">check</mat-icon>
        <mat-icon *ngIf="viewMode != 'bag'">account_tree</mat-icon>
        Sacs
    </button>
    <button mat-menu-item [disabled]="viewMode == 'money'" (click)="viewMode = 'money'" role="menuitemcheckbox">
        <mat-icon *ngIf="viewMode == 'money'">check</mat-icon>
        <mat-icon *ngIf="viewMode != 'money'" fontSet="game-icon" fontIcon="game-icon-two-coins" class="ra-mat-button-icon-32"></mat-icon>
        Fortune
    </button>
    <button mat-menu-item [disabled]="viewMode == 'equipment'" (click)="viewMode = 'equipment'" role="menuitemcheckbox">
        <mat-icon *ngIf="viewMode == 'equipment'">check</mat-icon>
        <mat-icon *ngIf="viewMode != 'equipment'" fontSet="game-icon" fontIcon="game-icon-battle-gear" class="ra-mat-button-icon-32"></mat-icon>
        Équipement
    </button>
</mat-menu>
<div class="items" *ngIf="viewMode == 'all'">
    <div *ngFor="let item of filteredItems; trackBy: trackByItemId" class="item separator">
        <app-item-line [character]="character"
                       [item]="item"
                       [itemMenu]="itemMenu"
                       [gmView]="inGroupTab">
        </app-item-line>
    </div>
</div>

<div class="items" *ngIf="viewMode == 'bag'">
    <bag-item-view
        [itemFilterName]="itemFilterName"
        [sortType]="sortType"
        [items]="topLevelBagItems"
        [itemMenu]="itemMenu"
        [character]="character"
        [gmView]="inGroupTab">
    </bag-item-view>
</div>

<div class="items" *ngIf="viewMode == 'money'">
    <div *ngFor="let item of moneyItems" class="item separator">
        <app-item-line [character]="character"
                       [itemMenu]="itemMenu"
                       [item]="item"
                       [gmView]="inGroupTab">
        </app-item-line>
    </div>
</div>

<div class="items" *ngIf="viewMode == 'equipment'">
    <div *ngFor="let slot of character.computedData.itemSlots">
        {{slot.name}}:
        <div class="items-list equiped-items">
            <div *ngFor="let item of character.computedData.itemsBySlots[slot.id]; let i = index">
                <div class="items-list-element">
                    <app-item-line [character]="character"
                                   [itemMenu]="itemMenu"
                                   [item]="item"
                                   [hideEquippedMarker]="true"
                                   [gmView]="inGroupTab">
                    </app-item-line>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-button">
    <button mat-fab (click)="openAddItemModal()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>

<mat-menu xPosition="before" #itemMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item
                *ngIf="item.template.slots?.length > 0 && !item.data.equiped && !item.content?.length"
                (click)="itemActionService.onAction('equip', item)">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
            Équiper
        </button>
        <button mat-menu-item
                *ngIf="item.template.slots?.length > 0 && item.data.equiped && !item.content?.length"
                (click)="itemActionService.onAction('unequip', item)">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
            Déséquipé
        </button>
        <button mat-menu-item [matMenuTriggerFor]="editItemMenu" [matMenuTriggerData]="{item: item}">
            <mat-icon>edit</mat-icon>
            Éditer
        </button>
        <button mat-menu-item (click)="openModifierDialog(item)">
            <mat-icon>add</mat-icon>
            Ajouter un modificateur
        </button>
        <button *ngIf="!item.data.equiped && character.computedData.containers?.length" mat-menu-item [matMenuTriggerFor]="containerMenu" [matMenuTriggerData]="{item: item}">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-profit" class="ra-mat-button-icon-24"></mat-icon>
            <span matBadgeSize="small" matBadge="1" matBadgeOverlap="false" [matBadge]="item.shouldBePutInAContainer  && character.computedData.containers?.length ? '1' : undefined">
            Ranger
        </span>
        </button>
        <button mat-menu-item (click)="openLifetimeDialog(item)">
            <mat-icon>timelapse</mat-icon>
            Éditer temps de conservation
        </button>
        <button *ngIf="character.group" mat-menu-item (click)="openGiveItemDialog(item)">
            <mat-icon>redo</mat-icon>
            Donner
        </button>
        <button mat-menu-item *ngIf="item.template.data.skillBook"
                (click)="itemActionService.onAction('read_skill_book', item)">
            <mat-icon>menu_book</mat-icon>
            Lire
        </button>
        <button *ngIf="item.template.data.charge" [disabled]="!item.data.charge"
                mat-menu-item
                (click)="itemActionService.onAction('use_charge', item)">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-drink-me" class="ra-mat-button-icon-24"></mat-icon>
            Utiliser sur soi-meme
        </button>
        <button *ngIf="item.template.data.charge" [disabled]="!item.data.charge"
                mat-menu-item>
            <mat-icon fontSet="game-icon" fontIcon="game-icon-drink-me" class="ra-mat-button-icon-24"></mat-icon>
            Utiliser sur...
        </button>
        <button mat-menu-item [matMenuTriggerFor]="deleteConfirm" [matMenuTriggerData]="{item: item}">
            <mat-icon>delete</mat-icon>
            Supprimer
        </button>
    </ng-template>
</mat-menu>
<mat-menu #deleteConfirm>
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item
                (click)="itemActionService.onAction('delete', item)">
            Confirmer
        </button>
    </ng-template>
</mat-menu>
<mat-menu #containerMenu>
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item [disabled]="!item.containerId" (click)="putItemInContainer(item, undefined)">
            <mat-icon *ngIf="!item.containerId">check</mat-icon>
            <mat-icon *ngIf="item.containerId"></mat-icon>
            Aucun
        </button>
        <button class="menu-button-with-item-icon" *ngFor="let container of character.computedData.containers" mat-menu-item (click)="putItemInContainer(item, container)"
                [disabled]="item.containerId === container.id || item.id === container.id">
            <icon size="24px" [icon]="container.data.icon" [notIdentified]="container.data.notIdentified"></icon> {{container.data.name}}
        </button>
    </ng-template>
</mat-menu>
<mat-menu #editItemMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="editItem(item)">
            Nome & Description
        </button>
        <button mat-menu-item (click)="openSelectItemIconDialog(item)">
            Icone
        </button>
    </ng-template>
</mat-menu>
