<div class="info" mat-ripple (click)="openCharacterItemDialog(item)">
    <icon [icon]="item.data.icon"
          [enchanted]="(!item.data.notIdentified || gmView) &&  item.template.data.enchantment !== undefined"
          [notIdentified]="item.data.notIdentified"></icon>
    <span class="name">
        <span *ngIf="character.checkItemIncompatibilities(item) && !item.data.ignoreRestrictions" class="restrictions text-warning">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-interdiction" class="ra-mat-button-icon-32"></mat-icon>
        </span>
        <span *ngIf="!hideEquippedMarker && item.data.equiped" class="equiped">
            <mat-icon fontSet="game-icon" fontIcon="game-icon-confirmed" class="ra-mat-button-icon-32"></mat-icon>
        </span>
        <span *ngIf="item.template.data.quantifiable">{{item.data.quantity}}&nbsp;</span>
        {{item.data.name}}
    </span>
</div>
<button class="action"
        mat-icon-button
        [matMenuTriggerFor]="itemMenu"
        aria-label="Ouvre le menu d'action de l'objet">
    <button mat-icon-button
            [matMenuTriggerFor]="itemMenu"
            (click)="$event.stopPropagation()">
        <mat-icon matBadgeSize="small" [matBadge]="!item.data.equiped && !item.containerId ? '1' : undefined">more_vert</mat-icon>
    </button>
</button>
<mat-menu xPosition="before" #itemMenu="matMenu" (click)="$event.stopPropagation()">
    <button mat-menu-item
            *ngIf="item.template.slots?.length > 0 && !item.data.equiped && !item.content?.length"
            (click)="itemActionService.onAction('equip', item)">
        <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
        Équiper
    </button>
    <button mat-menu-item
            *ngIf="item.template.slots?.length > 0 && item.data.equiped && !item.content?.length"
            (click)="itemActionService.onAction('unequip', item)">
        <mat-icon fontSet="game-icon" fontIcon="game-icon-switch-weapon" class="ra-mat-button-icon-24"></mat-icon>
        Déséquipé
    </button>
    <button mat-menu-item (click)="editItem(item)">
        <mat-icon>edit</mat-icon>
        Éditer
    </button>
    <button mat-menu-item (click)="openModifierDialog(item)">
        <mat-icon>add</mat-icon>
        Ajouter un modificateur
    </button>
    <button *ngIf="!item.data.equiped && !item.containerId" mat-menu-item>
        <mat-icon fontSet="game-icon" fontIcon="game-icon-profit" class="ra-mat-button-icon-24"></mat-icon>
        <span matBadgeSize="small" matBadge="1" matBadgeOverlap="false">Ranger</span>
    </button>
    <button mat-menu-item (click)="openLifetimeDialog()">
        <mat-icon>timelapse</mat-icon>
        Éditer temps de conservation
    </button>
    <button *ngIf="character.group" mat-menu-item (click)="openGiveItemDialog(item)">
        <mat-icon>redo</mat-icon>
        Donner
    </button>
    <button mat-menu-item *ngIf="item.template.data.skillBook"
            (click)="itemActionService.onAction('read_skill_book', item)">
        <mat-icon>menu_book</mat-icon>
        Lire
    </button>
    <button *ngIf="item.template.data.charge" [disabled]="!item.data.charge"
            mat-menu-item
            (click)="itemActionService.onAction('use_charge', item)">
        <mat-icon fontSet="game-icon" fontIcon="game-icon-drink-me" class="ra-mat-button-icon-24"></mat-icon>
        Utiliser sur soi-meme
    </button>
    <button *ngIf="item.template.data.charge" [disabled]="!item.data.charge"
            mat-menu-item>
        <mat-icon fontSet="game-icon" fontIcon="game-icon-drink-me" class="ra-mat-button-icon-24"></mat-icon>
        Utiliser sur...
    </button>
    <button mat-menu-item [matMenuTriggerFor]="deleteConfirm">
        <mat-icon>delete</mat-icon>
        Supprimer
    </button>
</mat-menu>
<mat-menu #deleteConfirm>
    <button mat-menu-item
            (click)="itemActionService.onAction('delete', item)">
        Confirmer
    </button>
</mat-menu>
