<mat-card (swipeleft)="nothing()" (swiperight)="nothing()">
    <mat-card-header class="item-detail-header">
        <icon matCardAvatar [icon]="item.data.icon" [size]="'40px'" (click)="openSelectIconDialog()"></icon>
        <div>
            <mat-card-title>
                <span *ngIf="item.template.data.quantifiable || item.data.quantity">
                    {{item.data.quantity}}
                </span>
                <span style="vertical-align: top;">
                    {{item.data.name}}
                </span>
            </mat-card-title>
            <mat-card-subtitle>
                <div *ngIf="itemCategoriesById">
                    <span class="label label-default">{{itemCategoriesById[item.template.categoryId].section.name}}</span> -
                    <span>{{itemCategoriesById[item.template.categoryId].name}}</span>
                </div>

                <span *ngIf="item.data.notIdentified">
                    Non identifié
                </span>
            </mat-card-subtitle>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="itemMenu" (click)="$event.stopPropagation()" *ngIf="!readonly">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu xPosition="before" #itemMenu="matMenu" (click)="$event.stopPropagation()">
            <button mat-menu-item (click)="editItem()">
                Editer
            </button>
            <button mat-menu-item (click)="openModifierDialog()">
                Ajouter un modificateur
            </button>
            <button mat-menu-item (click)="openLifetimeDialog()">
                Editer temps de conservation
            </button>
            <button *ngIf="character.group" mat-menu-item (click)="openGiveItemDialog(item)">
                Donner
            </button>
            <button mat-menu-item *ngIf="item.template.data.skillBook"
                    (click)="_itemActionService.onAction('read_skill_book', item)">
                Lire
            </button>
            <button *ngIf="item.template.data.charge"
                    mat-menu-item
                    (click)="_itemActionService.onAction('use_charge', item)">
                Utiliser sur soi-meme
            </button>
            <button *ngIf="item.template.data.charge"
                    mat-menu-item>
                Utiliser sur...
            </button>
            <button mat-menu-item (click)="_itemActionService.onAction('delete', item)">
                Supprimer
            </button>
        </mat-menu>
    </mat-card-header>
    <mat-card-content class="item-detail-content">
        <div *ngIf="item.data.notIdentified && !gmView">
            <div *ngIf="item.template.data.bonusDamage || item.template.data.damageDice">
                <span class="ra ra-broadsword ra-lg"></span>
                <span *ngIf="item.template.data.damageDice">{{item.template.data.damageDice}}<span
                    class="ra ra-perspective-dice-random"></span></span>
                <span *ngIf="item.template.data.damageDice
                            && item.template.data.bonusDamage > 0">+</span>
                <span *ngIf="item.template.data.bonusDamage">{{item.template.data.bonusDamage}}</span>
                <ng-template [ngIf]="character != undefined">
                    <div style="margin-left: 20px">
                        <span *ngIf="character.computedData.stats['PI'] > 0">+{{character.computedData.stats['PI']}} (Bonus personnage)</span>
                        <span *ngIf="character.computedData.stats['PI'] < 0">{{character.computedData.stats['PI']}} (Malus personnage)</span>
                    </div>
                </ng-template>
            </div>
            <div>
                <span>{{item.data.description}}</span>
            </div>
        </div>
        <div *ngIf="!item.data.notIdentified || gmView">
            <div>
                <span *ngIf="item.template.name !== item.data.name">Nom reel: {{item.template.name}}</span>
            </div>

            <div *ngIf="item.template.data.description">{{item.template.data.description}}</div>
            <div>
                <span>{{item.data.description}}</span>
            </div>

            <div>
                <span *ngIf="item.template.data.relic" class="label label-primary">Relique</span>
                <span *ngIf="item.template.data.sex === 'h'">Homme uniq.</span>
                <span *ngIf="item.template.data.sex === 'f'">Femme uniq.</span>
                <span *ngIf="item.template.data.requireLevel && character?.level < item.template.data.requireLevel"
                      class="invalid-level">
                    Level: {{item.template.data.requireLevel}}
                </span>
                <span *ngIf="item.template.data.requireLevel && character?.level >= item.template.data.requireLevel"
                      class="valid-level">
                    Level: {{item.template.data.requireLevel}}
                </span>
                <span *ngIf="item.template.data.throwable" class="label label-info">Prévue pour le jet</span>
            </div>
            <div *ngIf="item.template.slots?.length > 0">
                Slot:
                <span *ngFor="let slot of item.template.slots">{{slot.name}} </span>
            </div>

            <!-- Dieu -->
            <div *ngIf="item.template.data.god && godsByTechName">
                <span>Dieu:</span>
                {{godsByTechName[item.template.data.god].displayName}}
            </div>

            <div *ngIf="item.template.data.note">Note: {{item.template.data.note}}</div>

            <div *ngIf="item.template.data.quantifiable">
                <div>
                    Quantité:
                    <span *ngIf="readonly">{{item.data.quantity}}</span>
                    <value-editor *ngIf="!readonly"
                                  [title]="'Quantité'"
                                  [value]="item.data.quantity"
                                  (onChange)="_itemActionService.onAction('update_quantity', item, {quantity: $event})">
                    </value-editor>
                </div>
            </div>
            <div *ngIf="item.template.data.bonusDamage || item.template.data.damageDice">
                <span class="ra ra-broadsword ra-lg"></span>
                <span *ngIf="item.template.data.damageDice">{{item.template.data.damageDice}}<span
                    class="ra ra-perspective-dice-random"></span></span>
                <span *ngIf="item.template.data.damageDice && item.template.data.bonusDamage>0">+</span>
                <span *ngIf="item.template.data.bonusDamage">{{item.template.data.bonusDamage}}</span>
                <span *ngIf="item.template.data.damageType">({{item.template.data.damageType}})</span>
                <ng-template [ngIf]="character != undefined && character.computedData && character.computedData.stats['PI']">
                    <div style="margin-left: 20px">
                        <span *ngIf="character.computedData.stats['PI'] > 0">+{{character.computedData.stats['PI']}} (Bonus personnage)</span>
                        <span *ngIf="character.computedData.stats['PI'] < 0">{{character.computedData.stats['PI']}} (Malus personnage)</span>
                    </div>
                </ng-template>
            </div>

            <div *ngIf="item.template.data.protection
                        || item.template.data.magicProtection
                        || item.template.data.protectionAgainstMagic">
                <span class="ra ra-shield ra-lg"></span>
                <span *ngIf="item.template.data.protection">{{item.template.data.protection}}</span>
                <span *ngIf="item.template.data.protection && item.template.data.magicProtection">+</span>
                <span *ngIf="item.template.data.magicProtection">{{item.template.data.magicProtection}} (magique)</span>
                <span
                    *ngIf="(item.template.data.protection || item.template.data.magicProtection) && item.template.data.protectionAgainstMagic">/</span>
                <span *ngIf="item.template.data.protectionAgainstMagic">{{item.template.data.protectionAgainstMagic}}
                    <span
                        *ngIf="item.template.data.protectionAgainstType">(contre {{item.template.data.protectionAgainstType}})</span>
                    <span *ngIf="!item.template.data.protectionAgainstType">(contre mag./myst.)</span>
                </span>
            </div>

            <div *ngIf="item.template.data.charge">
                <div>
                    <span>Nombre d'utilisations:</span>
                    {{item.data.charge}} / {{item.template.data.charge}}
                </div>
                <div *ngIf="item.template.data?.actions?.length">
                    Lors de l'utilisation:
                    <div *ngFor="let action of item.template.data.actions" style="margin-left: 20px">
                        <nhbk-action *ngIf="!action.hidden" [action]="action"></nhbk-action>
                    </div>
                </div>
            </div>

            <div *ngIf="item.template.data.weight && !item.template.data.useUG">
                Poids:
                <span *ngIf="item.template.data.weight < 1">{{(item.template.data.weight * 1000) | number:'1.0-3'}}g</span>
                <span *ngIf="item.template.data.weight >= 1">{{(item.template.data.weight)  | number:'1.3-3'}}Kg</span>
                <span *ngIf="item.data.quantity">Total: {{item.data.quantity * item.template.data.weight | number:'1.3-3'}}Kg</span>
            </div>
            <div *ngIf="item.template.data.useUG">
                <div>U.G: {{item.data.ug}}</div>
                <div>Poids: {{item.data.ug * item.template.data.weight * 1000  | number:'1.3-3' }} g</div>
            </div>
            <div *ngIf="item.template.data.space">Encombrement: {{item.template.data.space}}</div>

            <div *ngIf="item.template.data.rupture">
                <span class="ra ra-broken-shield ra-lg"></span> 1 à {{item.template.data.rupture}}
            </div>
            <div *ngIf="item.template.data.duration">Durée: {{item.template.data.duration}}</div>
            <div *ngIf="item.data.readCount">Lu: {{item.data.readCount}}</div>

            <div *ngIf="gmView && item.price">
                <span>Prix:</span>
                {{item.price}} P.O.
            </div>

            <div *ngIf="modifiers && modifiers.length">
                <div *ngFor="let modifier of modifiers">
                    <span *ngIf="jobsName && modifier.job">{{jobsName[modifier.job]}}:</span>
                    <span *ngIf="originsName && modifier.origin">{{originsName[modifier.origin]}}:</span>
                    {{modifier.stat}}<span *ngIf="modifier.value > 0">+</span>{{modifier.value}}
                    <span
                        *ngIf="modifier.special && modifier.special.indexOf('AFFECT_ONLY_THROW') !== -1">(lancer)</span>
                    <span
                        *ngIf="modifier.special && modifier.special.indexOf('AFFECT_ONLY_MELEE') !== -1">(c.a.c)</span>
                    <span
                        *ngIf="modifier.special && modifier.special.indexOf('DONT_AFFECT_MAGIEPSY') !== -1">(NoMagPsy)</span>
                    <span *ngIf="modifier.special && modifier.special.indexOf('AFFECT_ONLY_MELEE_STAFF') !== -1">(c.a.c Baton)</span>
                    <span *ngIf="modifier.special && modifier.special.indexOf('AFFECT_PR_FOR_ELEMENTS') !== -1">(element)</span>
                    <span
                        *ngIf="modifier.special && modifier.special.indexOf('AFFECT_DISCRETION') !== -1">(discretion)</span>
                    <span
                        *ngIf="modifier.special && modifier.special.indexOf('AFFECT_ONLY_DANSE') !== -1">(danse)</span>
                    <span *ngIf="modifier.special && modifier.special.indexOf('ONLY_IF_NOTHING_ON') !== -1">(si rien au dessus)</span>
                </div>
            </div>

            <div *ngIf="item.modifiers && item.modifiers.length" class="item-modifiers">
                <mat-card *ngFor="let modifier of item.modifiers; let i = index">
                    <div class="item-header">
                        <span>
                            <mat-slide-toggle *ngIf="modifier.reusable"
                                             color="primary"
                                             (change)="updateModifier(i)"
                                             [(ngModel)]="modifier.active">
                            </mat-slide-toggle>
                        </span>
                        <span>{{modifier.name}}</span>
                        <span class="padding"></span>
                        <span *ngIf="modifier.active && modifier.durationType === 'combat'">
                            <mat-icon fontSet="ra" fontIcon="ra-sword" class="ra-mat-button-icon-32"></mat-icon>
                            {{modifier.currentCombatCount}}
                        </span>
                        <span *ngIf="modifier.active && modifier.durationType === 'lap'">
                            <mat-icon fontSet="game-icon" fontIcon="game-icon-clockwise-rotation" class="ra-mat-button-icon-32"></mat-icon>
                            {{modifier.currentLapCount}}
                        </span>
                        <span *ngIf="modifier.active && modifier.durationType === 'time'">
                            <span class="ra ra-clockwork"></span>{{modifier.currentTimeDuration | nhbkDuration}}
                        </span>
                        <button mat-icon-button *ngIf="!readonly" (click)="removeModifier(i); $event.stopPropagation()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div class="item-detail">
                    </div>

                    <div *ngIf="!modifier.active">
                        <span *ngIf="modifier.durationType === 'combat'">
                            <span class="ra ra-sword"></span>{{modifier.combatCount}}
                        </span>
                        <span *ngIf="modifier.durationType === 'time'">
                            <span class="ra ra-clockwork"></span>{{modifier.timeDuration | nhbkDuration}}
                        </span>
                        <span *ngIf="modifier.durationType === 'lap'">
                            <mat-icon fontSet="game-icon" fontIcon="game-icon-clockwise-rotation" class="ra-mat-button-icon-32"></mat-icon>
                            {{modifier.lapCount}}
                        </span>

                    </div>

                    <div *ngIf="modifier.durationType === 'custom'">
                        Duree: {{modifier.duration}}
                    </div>

                    <div *ngFor="let value of modifier.values">
                        {{value | modifier}}
                    </div>
                </mat-card>
            </div>

            <ul>
                <li *ngFor="let skill of item.template.skills">Donne la compétence "{{skill.name}}"</li>
                <li *ngFor="let skill of item.template.unskills">Annule "{{skill.name}}"</li>
                <li *ngFor="let modifier of item.template.skillModifiers">{{modifier.skill.name}} <span
                    *ngIf="modifier.value > 0">+</span>{{modifier.value}}
                </li>
            </ul>


            <div *ngFor="let requirement of item.template.requirements">
                <span *ngIf="requirement.min">
                    Min {{requirement.stat}}: {{requirement.min}}
                </span>
                <span *ngIf="requirement.max">
                    Max {{requirement.stat}}: {{requirement.max}}
                </span>
            </div>

            <div *ngIf="character.checkItemIncompatibilities(item); let incompatibilities">
                <br>
                <span [class.text-warning]="!item.data.ignoreRestrictions" [class.text-info]="item.data.ignoreRestrictions">
                    <span *ngIf="incompatibilities.length === 1">
                        Une restriction s'applique sur l'utilisation de cet objet:
                    </span>
                    <span *ngIf="incompatibilities.length > 1">
                        Plusieurs restrictions s'applique sur l'utilisation cet objet:
                    </span>
                    <ul>
                        <li *ngFor="let incompatibleData of incompatibilities">
                            <span [ngSwitch]="incompatibleData.reason">
                                <ng-template [ngSwitchCase]="'no_magic_weapon'">
                                    Pas d'arme enchantée
                                </ng-template>
                                <ng-template [ngSwitchCase]="'no_magic_armor'">
                                    Pas d'armure enchantée
                                </ng-template>
                                <ng-template [ngSwitchCase]="'no_magic_object'">
                                    Pas d'objet magique
                                </ng-template>
                                <ng-template [ngSwitchCase]="'too_low_level'">
                                    Vous n'avez pas le niveau requis pour utilisé cet objet.
                                </ng-template>
                                <ng-template [ngSwitchCase]="'bad_equipment_type'">
                                    Ne peux pas utiliser ce type d'objet
                                </ng-template>
                                <ng-template [ngSwitchCase]="'cant_read'">
                                    Ne sait pas lire
                                </ng-template>
                                <ng-template [ngSwitchCase]="'no_arme_bourrin'">
                                    Ne possède pas la compétence Armes de bourrin.
                                </ng-template>
                                <ng-template [ngSwitchCase]="'bad_god'">
                                    L'objet est lié a un autre dieu que celui du personnage
                                </ng-template>
                                <ng-template [ngSwitchCase]="'bad_sex_f'">
                                    L'objet est réservé pour les personnages de sexe féminin
                                </ng-template>
                                <ng-template [ngSwitchCase]="'bad_sex_f'">
                                    L'objet est réservé pour les personnages de sexe masculin
                                </ng-template>
                                <ng-template [ngSwitchCase]="'no_god'">
                                    L'objet est lié a un dieu, et vous ne faites pas partie de son culte.
                                </ng-template>
                                <ng-template [ngSwitchCase]="'stat_to_high'">
                                    Une de vos statistique est trop haute:&nbsp;
                                </ng-template>
                                <ng-template [ngSwitchCase]="'stat_to_low'">
                                    Une de vos statistique est trop basse:&nbsp;
                                </ng-template>
                            </span>
                            <ng-template [ngIf]="incompatibleData.source">
                                <span [ngSwitch]="incompatibleData.source.type">
                                    <ng-template [ngSwitchCase]="'origin'">
                                        (Origine: {{incompatibleData.source.name}})
                                    </ng-template>
                                    <ng-template [ngSwitchCase]="'job'">
                                        (Métier: {{incompatibleData.source.name}})
                                    </ng-template>
                                    <ng-template [ngSwitchCase]="'speciality'">
                                        (Spécialitée: {{incompatibleData.source.name}})
                                    </ng-template>
                                    <ng-template [ngSwitchCase]="'stat'">
                                        {{incompatibleData.source.name}}
                                    </ng-template>
                                </span>
                            </ng-template>
                        </li>
                    </ul>
                </span>
                <button mat-button
                        [color]="'primary'"
                        *ngIf="gmView && !item.data.ignoreRestrictions"
                        (click)="_itemActionService.onAction('ignoreRestrictions', item, true); $event.stopPropagation()">
                    IGNORER RESTRICTIONS
                </button>
                <button mat-button
                        [color]="'primary'"
                        *ngIf="gmView && item.data.ignoreRestrictions"
                        (click)="_itemActionService.onAction('ignoreRestrictions', item, undefined); $event.stopPropagation()">
                    APPLIQUER RESTRICTIONS
                </button>
            </div>

            <!-- Origine -->
            <div *ngIf="item.template.data.origin">
                Origine: {{item.template.data.origin}}
            </div>

            <!-- Gun -->
            <div *ngIf="item.template.data.gun">
                Arme à poudre:
                <dl>
                    <dt>Portée utile:</dt>
                    <dd>{{item.template.data.gun.range}}</dd>
                    <dt>Dégâts:</dt>
                    <dd>{{item.template.data.gun.damages}}</dd>
                    <dt>+Spécial:</dt>
                    <dd>{{item.template.data.gun.special}}</dd>
                    <dt>Cadence de tir:</dt>
                    <dd>{{item.template.data.gun.rateOfFire}}</dd>
                    <dt>Délai de rechargement:</dt>
                    <dd>{{item.template.data.gun.reloadDelay}}</dd>
                    <dt>Épreuve de tir:</dt>
                    <dd>{{item.template.data.gun.shootTest}}</dd>
                </dl>
                <mat-divider></mat-divider>
                Munitions
                <dl>
                    <dt>Combustion par coup:</dt>
                    <dd>{{item.template.data.gun.fuelPerShot}}</dd>
                    <dt>Munitions par coup:</dt>
                    <dd>{{item.template.data.gun.ammunitionPerShot}}</dd>
                </dl>
                <mat-divider></mat-divider>
                <dl>
                    <dt>Chances de fonctionnement:</dt>
                    <dd>{{item.template.data.gun.workLuck}}</dd>
                </dl>
            </div>

            <!-- Indice de rareté -->
            <div *ngIf="item.template.data.rarityIndicator">
                Indice de rareté: {{item.template.data.rarityIndicator}}
            </div>

        </div>

        <div *ngIf="item.data.lifetime?.durationType === 'time'">
            <span class="game-icon game-icon-stopwatch"></span>Temps de conservation:
            <span *ngIf="item.data.lifetime.timeDuration > 0">{{item.data.lifetime.timeDuration | nhbkDuration}}</span>
            <span *ngIf="item.data.lifetime.timeDuration === 0" class="invalid-level">expiré</span>
        </div>

        <ng-template [ngIf]="!readonly && character != undefined">
            <div *ngIf="character.computedData.containers && !item.data.equiped">
                <ng-template [ngIf]="item.containerId">
                    Stocké dans: {{item.containerInfo.name}}
                </ng-template>
            </div>
        </ng-template>
    </mat-card-content>
    <mat-card-actions align="start">
        <span *ngIf="item.template.slots?.length > 0">
            <button mat-button
                    [color]="'primary'"
                    *ngIf="!readonly && !item.data.equiped && !item.content?.length"
                    (click)="_itemActionService.onAction('equip', item); $event.stopPropagation()">
                ÉQUIPER
            </button>
            <button mat-button
                    [color]="'primary'"
                    *ngIf="!readonly && item.data.equiped && !item.content?.length"
                    (click)="_itemActionService.onAction('unequip', item); $event.stopPropagation()">
                DÉSÉQUIPER
            </button>
        </span>

        <button mat-button
                [color]="'accent'"
                *ngIf="gmView && item.data.notIdentified && character != undefined"
                (click)="_itemActionService.onAction('identify', item); $event.stopPropagation()">
            IDENTIFIER
        </button>

        <button mat-button
                *ngIf="!readonly && !item.content?.length"
                [color]="item.containerId ? 'primary' : 'accent'"
                (click)="openStoreItemInContainerDialog(); $event.stopPropagation()">
            RANGER
        </button>
    </mat-card-actions>
</mat-card>

<ng-template #storeItemInContainerDialog="cdkPortal" cdk-portal>
    <mat-card class="store-item-dialog">
        <mat-card-title>
            Ranger: {{item.data.name}}
        </mat-card-title>
        <mat-card-subtitle>
            Choisissez dans quel conteneur ranger l'objet
        </mat-card-subtitle>
        <mat-card-content>
            <ng-template [ngIf]="character.computedData.containers && character.computedData.containers.length">
                <div class="list-available-containers">
                    <div *ngFor="let container of character.computedData.containers" class="target-container">
                        <icon [icon]="container.data.icon"></icon>
                        <button mat-raised-button
                                [disabled]="item.containerId == container.id"
                                (click)="_itemActionService.onAction('move_to_container', item, {container: container.id}); $event.stopPropagation()">
                            {{container.data.name}}
                        </button>
                    </div>
                </div>
            </ng-template>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="removeItemFromContainer()">
                RETIRER
            </button>
            <button mat-button color="primary" (click)="closeStoreItemInContainerDialog()">
                VALIDER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>

<ng-template #giveItemDialog="cdkPortal" cdk-portal>
    <mat-card class="give-item-dialog">
        <mat-card-title>Donner un objet</mat-card-title>

        <mat-card-content>
            <div class="item-name">
                <icon [icon]="item.data.icon"></icon>
                <div>
                    <span *ngIf="item.template.data.quantifiable || item.data.quantity">
                        <value-editor [value]="giveQuantity"
                                      [minValue]="1"
                                      [maxValue]="item.data.quantity"
                                      [hideMaxValue]="true"
                                      (onChange)="giveQuantity = $event"
                                      [title]="'Quantité à donner'">
                        </value-editor>
                    </span>
                    {{item.data.name}}
                </div>
            </div>

            <div class="destinations-loading">
                <span *ngIf="giveDestination === undefined"><mat-spinner></mat-spinner></span>
            </div>
            <span *ngIf="giveDestination?.length === 0">Aucun personnage disponible</span>

            <mat-radio-group [(ngModel)]="giveTarget">
                <ng-template ngFor let-destination [ngForOf]="giveDestination">
                    <mat-radio-button [value]="destination">
                        <span *ngIf="destination.isnpc">[NPC]</span>
                        {{destination.name}}
                    </mat-radio-button>
                </ng-template>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                    color="primary"
                    (click)="closeGiveItemDialog(); $event.stopPropagation()">
                ANNULER
            </button>
            <button mat-button
                    color="primary"
                    [disabled]="!giveTarget"
                    (click)="giveItem(); $event.stopPropagation()">
                DONNER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>

<ng-template #lifetimeDialog="cdkPortal" cdk-portal>
    <mat-card>
        <mat-card-title>
            Temps de conservation
        </mat-card-title>
        <mat-card-content>
            <duration-selector [hiddenType]="['combat','lap']" [durable]="item.data.lifetime"></duration-selector>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="cancelLifetimeDialog(); $event.stopPropagation()">
                ANNULER
            </button>
            <button mat-button color="primary" (click)="updateLifetime(); $event.stopPropagation()">
                VALIDER
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
