<div>
    <md-input placeholder="Nom" [(ngModel)]="modifier.name"></md-input>
</div>
<div>
    <md-slide-toggle color="primary" [(ngModel)]="modifier.reusable">
        Ré-utilisable
    </md-slide-toggle>
</div>
<div>
    <h4>Durée</h4>
    <md-button-toggle-group name="alignment" [(ngModel)]="modifier.durationType" (change)="updateDurationType()">
        <md-button-toggle value="combat">Nombre de combat</md-button-toggle>
        <md-button-toggle value="time">Temps</md-button-toggle>
        <md-button-toggle value="custom">Autre</md-button-toggle>
        <md-button-toggle value="forever">Toujours</md-button-toggle>
    </md-button-toggle-group>

    <div *ngIf="modifier.durationType == 'custom'">
        <md-input placeholder="Durée" [(ngModel)]="modifier.duration"></md-input>
    </div>
    <div *ngIf="modifier.durationType == 'time'">
        Temps: {{modifier.duration | nhbkDuration}}
        <date-modifier [resetOnChange]=false
                       [dateOffset]="durationDateOffset"
                       (onChange)="setTimeDuration($event)"></date-modifier>
    </div>
    <div *ngIf="modifier.durationType == 'combat'">
        <md-input placeholder="Nombre de combat" type="number" min=0 [(ngModel)]="modifier.duration"></md-input>
    </div>
</div>
<div>
    <h4>Modificateurs</h4>
    <div>
        <modifiers-editor [(modifiers)]="modifier.values"></modifiers-editor>
    </div>
</div>
