<h2 mat-dialog-title>Erreur</h2>
<mat-dialog-content>

  @if (errorType === 'BadGateway') {
    <h4 mat-h4>Cause possible</h4>
    <p mat-body>
      Le serveur est coupé temporairement (possiblement une mis à jour est en cours).
      Si l'erreur persiste ceci veut probablement dire que le serveur à crash.
    </p>
  }
  @if (errorType === 'ServerError') {
    <h4 mat-h4>Cause possible</h4>
    <p mat-body>Une erreur c'est produite sur le serveur.</p>
  }
  @if (errorType === 'Forbidden') {
    <h4 mat-h4>Cause possible</h4>
    <p mat-body>Vous essayez d'accèder à une ressource pour laquelle vous n'avez pas les droits.</p>
  }
  @if (errorType === 'BadRequest') {
    <h4 mat-h4>Cause possible</h4>
    <p mat-body>
      Une erreur dans le code de l'application est survenue.
      Ou vous essayez de crée un objet ou autre qui ne passe pas la phase de validation (nom d'un personnage/objet
      trop long par exemple)
    </p>
  }

  @if (showMoreInfo) {
    <h4 mat-h4>Information techniques</h4>
    <pre>{{data.message}}</pre>
    @if (data.stack) {
      <pre>{{data.stack}}</pre>
    }
    @if (data.error) {
      <pre>{{data.error}}</pre>
    }
    @if (dataIsNotAndError()) {
      <pre>{{data | json}}</pre>
    }
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    (click)="showMoreInfo = true"
    color="primary">
    PLUS D'INFOS
  </button>
  <button mat-button mat-dialog-close
    color="primary">
    FERMER
  </button>
</mat-dialog-actions>
