@use "../../app/style/responsive-utils" as responsive;

:host {
    > p {
        > mat-icon {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .database-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;

        @include responsive.for-phone-only {
            flex-direction: column;
        }

        button {
            flex: 1 50%;
        }
    }
}
