@import "app/style/responsive-utils";

:host {
    > p {
        > mat-icon {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .database-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include for-phone-only {
            flex-direction: column;
        }

        a {
            flex: 1 50%;
        }

        mat-card {
            margin: 5px;
            display: flex;
            align-items: center;

            mat-icon {
                margin-right: 16px;
            }
        }
    }
}
