<mat-sidenav-container>
  <mat-sidenav #start>
    <h2 class="mat-h2">Database</h2>
    <mat-nav-list>
      @if (gmModeService.gmMode | async) {
        <a mat-list-item [routerLink]="['/database/skills']">
          <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-gears" class="ra-mat-button-icon-24"></mat-icon>
          Compétences
        </a>
      }
      <a mat-list-item [routerLink]="['/database/origins']">
        <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-ogre" class="ra-mat-button-icon-24"></mat-icon>
        Origines
      </a>
      <a mat-list-item [routerLink]="['/database/jobs']">
        <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-diploma" class="ra-mat-button-icon-24"></mat-icon>
        Metiers
      </a>
      @if (gmModeService.gmMode | async) {
        <a mat-list-item [routerLink]="['/database/items']">
          <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-swap-bag" class="ra-mat-button-icon-24"></mat-icon>
          Objets
        </a>
      }
      @if (gmModeService.gmMode | async) {
        <a mat-list-item [routerLink]="['/database/effects']">
          <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-broken-bone" class="ra-mat-button-icon-24"></mat-icon>
          Effets
        </a>
      }
      @if (gmModeService.gmMode | async) {
        <a mat-list-item [routerLink]="['/database/monsters']">
          <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-dragon-head" class="ra-mat-button-icon-24"></mat-icon>
          Bestiaire
        </a>
      }
      <a mat-list-item [routerLink]="['/map']">
        <mat-icon matListItemIcon fontSet="game-icon" fontIcon="game-icon-compass" class="ra-mat-button-icon-24"></mat-icon>
        Cartographie
      </a>
    </mat-nav-list>
    <common-nav></common-nav>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="start.open()" aria-label="Afficher le menu">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="app-toolbar">
          <h1>
            Naheulbook
          </h1>
          <a class="home-link" aria-label="Page d'accueil" [routerLink]="['/']"><mat-icon>home</mat-icon></a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

