:host {
    .sex-selector {
        display: flex;
        flex-direction: column;

        mat-radio-button {
            margin: 8px 0;
        }
    }

    mat-form-field {
        width: 100%;
    }
}
