<div class="mat-typography">
  @if (origin.requirements.length > 0) {
    <div>
      <b>Critères: </b>
      @for (requirement of origin.requirements; track requirement; let lastReq = $last) {
        <span>
          @if (requirement.min) {
            <span>
              {{requirement.stat}} minimum: {{requirement.min}}
            </span>
          }
          @if (requirement.max) {
            <span>
              {{requirement.stat}} maximum: {{requirement.max}}
            </span>
          }
          @if (!lastReq) {
            <span> et </span>
          }
        </span>
      }
    </div>
  }

  <p>{{origin.advantage}}</p>

  <p [innerHTML]="origin.description"></p>

  @if (origin.size) {
    <p>
      <b>Taille</b>: {{origin.size}}
    </p>
  }

  @if (origin.bonuses && origin.bonuses.length) {
    <div>
      <b>Bonus:</b>
      <ul>
        @for (bonus of origin.bonuses; track bonus) {
          <li>{{bonus.description}}</li>
        }
      </ul>
    </div>
  }

  @if (origin.skills.length > 0) {
    <div>
      Compétences de naissance:
      <ul>
        @for (skill of origin.skills; track skill) {
          <li>
            <strong>{{skill.name}}</strong>: {{skill.playerDescription}}
          </li>
        }
      </ul>
    </div>
  }

  @if (origin.availableSkills.length > 0) {
    <div>
      Compétences au choix:
      <ul>
        @for (skill of origin.availableSkills; track skill) {
          <li>
            <strong>{{skill.name}}</strong>: {{skill.playerDescription}}
          </li>
        }
      </ul>
    </div>
  }

  @if (origin.restrictions.length > 0) {
    <div>
      Restrictions:
      <ul>
        @for (restrict of origin.restrictions; track restrict) {
          <li>
            {{restrict.description}}
          </li>
        }
      </ul>
    </div>
  }

  @if (origin.information.length > 0) {
    <div>
      @for (info of origin.information; track info) {
        <p>
          <b>
            {{info.title}}:
          </b>
          <span [innerHTML]="info.description"></span>
        </p>
      }
    </div>
  }
</div>
