<div class="mat-typography">
    <div *ngIf="origin.requirements.length > 0">
        <b>Critères: </b>
        <span *ngFor="let requirement of origin.requirements; let lastReq=last">
            <span *ngIf="requirement.min">
                {{requirement.stat}} minimum: {{requirement.min}}
            </span>
            <span *ngIf="requirement.max">
                {{requirement.stat}} maximum: {{requirement.max}}
            </span>
            <span *ngIf="!lastReq"> et </span>
        </span>
    </div>

    <p>{{origin.advantage}}</p>

    <p [innerHTML]="origin.description"></p>

    <p *ngIf="origin.size">
        <b>Taille</b>: {{origin.size}}
    </p>

    <div *ngIf="origin.bonuses && origin.bonuses.length">
        <b>Bonus:</b>
        <ul>
            <li *ngFor="let bonus of origin.bonuses">{{bonus.description}}</li>
        </ul>
    </div>

    <div *ngIf="origin.skills.length > 0">
        Compétences de naissance:
        <ul>
            <li *ngFor="let skill of origin.skills">
                <strong>{{skill.name}}</strong>: {{skill.playerDescription}}
            </li>
        </ul>
    </div>

    <div *ngIf="origin.availableSkills.length > 0">
        Compétences au choix:
        <ul>
            <li *ngFor="let skill of origin.availableSkills">
                <strong>{{skill.name}}</strong>: {{skill.playerDescription}}
            </li>
        </ul>
    </div>

    <div *ngIf="origin.restrictions.length > 0">
        Restrictions:
        <ul>
            <li *ngFor="let restrict of origin.restrictions">
                {{restrict.description}}
            </li>
        </ul>
    </div>

    <div *ngIf="origin.information.length > 0">
        <p *ngFor="let info of origin.information">
            <b>
                {{info.title}}:
            </b>
            <span [innerHTML]="info.description"></span>
        </p>
    </div>
</div>
