<event-editor #eventEditor [group]=group (onCreate)="createEvent($event)"></event-editor>
<div *ngIf="group.data.timestamp">
    <div *ngIf="group.pastEventCount">
        <h4>Évènements passé</h4>
        <div class="event-list">
            <ng-template ngFor let-event [ngForOf]="group.events">
                <ng-template [ngIf]="event.timestamp <= group.data.timestamp">
                    <md-card class="past-event">
                        <md-card-title-group>
                            <md-card-title>{{event.name}}</md-card-title>
                            <md-card-subtitle>
                                Il y a : {{group.data.timestamp - event.timestamp | nhbkDuration}}
                            </md-card-subtitle>
                        </md-card-title-group>
                        <md-card-content>
                            {{event.description}}
                        </md-card-content>
                        <md-card-actions align="end">
                            <button md-button
                                    color="primary"
                                    (click)="deleteEvent(event)">
                                SUPPRIMER
                            </button>
                        </md-card-actions>
                    </md-card>
                </ng-template>
            </ng-template>
        </div>
    </div>
    <div *ngIf="group.futureEventCount">
        <h4>Évènements à venir</h4>
        <div class="event-list">
            <ng-template ngFor let-event [ngForOf]="group.events">
                <ng-template [ngIf]="event.timestamp > group.data.timestamp">
                    <md-card>
                        <md-card-title-group>
                            <md-card-title>{{event.name}}</md-card-title>
                            <md-card-subtitle>
                                Dans: {{event.timestamp - group.data.timestamp | nhbkDuration}}
                            </md-card-subtitle>
                        </md-card-title-group>
                        <md-card-content>
                            {{event.description}}
                        </md-card-content>
                        <md-card-actions align="end">
                            <button md-button
                                    color="primary"
                                    (click)="deleteEvent(event)">
                                SUPPRIMER
                            </button>
                        </md-card-actions>
                    </md-card>

                </ng-template>
            </ng-template>
        </div>
    </div>
</div>
<div *ngIf="!group.data.timestamp">
    Vous devez définir la date du groupe avant de pouvoir ajouter des évènements
</div>
