<template cdk-portal #eventEditorDialog="cdkPortal">
    <md-card>
        <md-card-title>
            Ajouter un évènement
        </md-card-title>
        <md-card-content>
            <div>
                <md-input-container style="width: 100%">
                    <input md-input
                           type="text"
                           [(ngModel)]="event.name"
                           placeholder="Nom"/>
                </md-input-container>
            </div>
            <div>
                <md-input-container style="width: 100%">
                    <input md-input
                           type="text"
                           [(ngModel)]="event.description"
                           placeholder="Description"/>
                </md-input-container>
            </div>
            <div>
                Définir la date
                <md-button-toggle-group [(ngModel)]="durationType">
                    <md-button-toggle value="date">Absolu</md-button-toggle>
                    <md-button-toggle value="offset">Relative</md-button-toggle>
                </md-button-toggle-group>
            </div>
            <div *ngIf="durationType === 'date'">
                <span class="input-group-addon">Le</span>
                <span class="input-group-addon">
                    <date [date]="eventDate"></date>
                </span>
                <span class="input-group-addon">
                    <date-selector [date]="eventDate"
                                   (onChange)="setDate($event)">
                    </date-selector>
                </span>
            </div>
            <div *ngIf="durationType === 'offset'">
                <span class="input-group-addon">Dans</span>
                <span class="input-group-addon">{{durationOffset | nhbkDuration}}</span>
                <span class="input-group-addon">
                    <date-modifier [resetOnChange]=false
                                   [dateOffset]="durationDateOffset"
                                   (onChange)="setTimeDuration($event)">
                    </date-modifier>
                </span>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    type="button"
                    color="primary"
                    (click)="closeDialog()">
                FERMER
            </button>
            <button md-button
                    type="button"
                    (click)="createEvent()"
                    [disabled]="!event.timestamp || !event.name || !event.description">
                AJOUTER
            </button>
        </md-card-actions>
    </md-card>
</template>
