<h3>Évènements</h3>
<template [ngIf]="groupTimestamp">
    <div class="list-group">
        <a href="#" class="list-group-item" (click)="openEventEditor()">
            Ajouter un évènement
        </a>
    </div>
    <event-editor [group]=group *ngIf="showEventEditor" (onClose)="closeEventEditor()" (onCreate)="createEvent($event)"></event-editor>
    <div *ngIf="pastEventCount">
        <h4>Évènements passé</h4>
        <div class="list-group">
            <template ngFor let-event [ngForOf]="events">
                <template [ngIf]="event.timestamp <= groupTimestamp">
                    <div class="list-group-item list-group-item-success">
                        <button class="pull-right glyphicon glyphicon-trash btn btn-danger" (click)="deleteEvent(event)"></button>
                        <h4 class="list-group-item-heading">{{event.name}}</h4>
                        <p class="list-group-item-text">
                            {{event.description}}
                        </p>
                        <p class="list-group-item-text">
                            Il y a : {{groupTimestamp - event.timestamp | nhbkDuration}}
                        </p>
                    </div>
                </template>
            </template>
        </div>
    </div>
    <div *ngIf="futureEventCount">
        <h4>Évènements à venir</h4>
        <div class="list-group">
            <template ngFor let-event [ngForOf]="events">
                <template [ngIf]="event.timestamp > groupTimestamp">
                    <div class="list-group-item">
                        <button class="pull-right glyphicon glyphicon-trash btn btn-danger" (click)="deleteEvent(event)"></button>
                        <h4 class="list-group-item-heading">{{event.name}}</h4>
                        <p class="list-group-item-text">
                            {{event.description}}
                        </p>
                        <p class="list-group-item-text">
                            Dans: {{event.timestamp - groupTimestamp | nhbkDuration}}
                        </p>
                    </div>
                </template>
            </template>
        </div>
    </div>
</template>
<template [ngIf]="!groupTimestamp">
    Vous devez définir la date du groupe avant de pouvoir ajouter des évènements
</template>
