<div class="stat-modifiers">
  @if (modifiers && modifiers.length > 0) {
    <div class="delete_all_button">
      <button mat-icon-button
        (click)="clear()"
        color="warn">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  }

  <div class="modifiers-list">
    @for (modifier of modifiers; track modifier; let i = $index) {
      <div class="modifier-line">
        <button mat-icon-button
          (click)="removeModifier(i)"
          color="accent">
          <mat-icon>delete_forever</mat-icon>
        </button>
        @if (modifier.value > 0) {
          <div>{{modifier.skill.name}} +{{modifier.value}}</div>
        }
        @if (modifier.value < 0) {
          <div>{{modifier.skill.name}} {{modifier.value}}</div>
        }
      </div>
    }
  </div>
</div>

<div>
  Modifie la competence
  <mat-form-field style="min-width: 250px">
    <mat-select [(ngModel)] ="selectedSkillId">
      @for (skill of skills; track skill) {
        <mat-option [value]="skill.id">{{skill.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  de
  <mat-form-field>
    <input matInput
      type="number"
      [(ngModel)]="value"/>
  </mat-form-field>
  <button mat-button color="primary" [disabled]="!value || !selectedSkillId" (click)="addModifier()">
    AJOUTER
  </button>
</div>
