<div class="login-form">
    <md-card>
        <md-card-title>
            Connexion
        </md-card-title>
        <md-card-content>
            <div>
                Choissez quelle methode utiliser pour vous authentifier.
            </div>
            <div>
                <button md-raised-button color="primary" (click)="login('facebook')">Facebook</button>
                <button md-raised-button color="primary" (click)="login('google')">Google</button>
                <button md-raised-button color="primary" (click)="login('twitter')">Twitter</button>
            </div>

        </md-card-content>
    </md-card>
</div>
