<h1 md-dialog-title>Authentification</h1>

<md-dialog-content>
    <div>
        Choissez quelle methode utiliser pour vous authentifier.
    </div>
    <div>
        <button md-raised-button color="primary" (click)="dialogRef.close('facebook')">Facebook</button>
        <button md-raised-button color="primary" (click)="dialogRef.close('google')">Google</button>
        <button md-raised-button color="primary" (click)="dialogRef.close('twitter')">Twitter</button>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close color="primary">ANNULER</button>
</md-dialog-actions>
