<div fxLayout="row">
    <div fxFlex="auto"></div>
    <div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="start">
        <h2 fxFlex="auto">Profile</h2>
        <div fxFlex="auto" *ngIf="profile">
            <md-input-container>
                <input mdInput
                       placeholder="Nom / Pseudonyme"
                       [(ngModel)]="profile.displayName">
            </md-input-container>

            <div>
                Lié avec
                <div class="col-sm-10">
                    <button md-raised-button color="primary" (click)="linkTo('facebook')" [disabled]="profile.linkedWithFb">Facebook</button>
                    <button md-raised-button color="primary" (click)="linkTo('google')" [disabled]="profile.linkedWithGoogle">Google</button>
                    <button md-raised-button color="primary" (click)="linkTo('twitter')" [disabled]="profile.linkedWithTwitter">Twitter</button>
                </div>
            </div>
            <button md-button color="primary" (click)="updateProfile()">EDITER</button>
        </div>
    </div>
    <div fxFlex="auto"></div>
</div>
