<mat-sidenav-container style="min-height: 100vh">
    <mat-toolbar color="primary">
        <div class="app-toolbar">
            <h1>
                Naheulbook
            </h1>
            <a class="home-link" aria-label="Page d'accueil" [routerLink]="['/']"><mat-icon>home</mat-icon></a>
        </div>
    </mat-toolbar>

    <mat-card>
        <mat-card-title>Profile</mat-card-title>
        <mat-card-content>
            <div *ngIf="profile">
                <mat-form-field style="width: 100%">
                    <input matInput
                           placeholder="Nom / Pseudonyme"
                           [(ngModel)]="profile.displayName">
                </mat-form-field>

                <div>
                    Lié avec
                    <div class="linked-account-list">
                        <button mat-raised-button color="primary" (click)="linkTo('facebook')" [disabled]="profile.linkedWithFb">Facebook</button>
                        <button mat-raised-button color="primary" (click)="linkTo('google')" [disabled]="profile.linkedWithGoogle">Google</button>
                        <button mat-raised-button color="primary" (click)="linkTo('twitter')" [disabled]="profile.linkedWithTwitter">Twitter</button>
                        <button mat-raised-button color="primary" (click)="linkTo('microsoft')" [disabled]="profile.linkedWithMicrosoft">Microsoft</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="updateProfile()">EDITER</button>
        </mat-card-actions>
    </mat-card>

</mat-sidenav-container>
