<h2 mat-dialog-title>Ajouter un lien vers une carte</h2>
@if (maps === undefined) {
  <mat-dialog-content>
    <mat-spinner></mat-spinner>
  </mat-dialog-content>
}
@if (maps !== undefined) {
  <mat-dialog-content>
    <mat-form-field>
      <input type="text" matInput [matAutocomplete]="autocompleteMap" [formControl]="targetMapFormControl" placeholder="Carte cible" required>
    </mat-form-field>
    <mat-autocomplete #autocompleteMap="matAutocomplete" [displayWith]="displayMapNameFn">
      @for (map of filteredMaps | async; track map) {
        <mat-option [value]="map">{{map.name}}</mat-option>
      }
    </mat-autocomplete>
    <mat-form-field>
      <input matInput [formControl]="nameFormControl" placeholder="Nom"/>
      <mat-hint>Optionnel</mat-hint>
    </mat-form-field>
    @if (selectedMap) {
      <mat-form-field>
        <input type="text" matInput [matAutocomplete]="autocompleteMarkers" [formControl]="targetMarkerFormControl" placeholder="Marqueur cible">
        <mat-hint>Optionnel</mat-hint>
      </mat-form-field>
      <mat-autocomplete #autocompleteMarkers="matAutocomplete" [displayWith]="displayMapNameFn">
        @for (marker of filteredMapMarkers | async; track marker) {
          <mat-option [value]="marker">{{marker.name}}</mat-option>
        }
      </mat-autocomplete>
    }
  </mat-dialog-content>
}
<mat-dialog-actions align="end">
  <button mat-button
    mat-dialog-close
    color="primary">
    FERMER
  </button>
  <button mat-button
    [disabled]="!targetMapFormControl.value?.id"
    (click)="validate()"
    color="primary">
    @if (!data.link) {
      AJOUTER
    }
    @if (data.link) {
      ÉDITER
    }
  </button>
</mat-dialog-actions>
