@if (!data.layer) {
  <h2 mat-dialog-title>Ajout d'un calque</h2>
}
@if (data.layer) {
  <h2 mat-dialog-title>Édition d'un calque</h2>
}
<mat-dialog-content [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput placeholder="Nom" formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="source" placeholder="Source">
        <mat-option value="official">Officiel</mat-option>
        <mat-option value="private">Privé</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  @if (form.value.source === 'official') {
    <div class="is-gm">
      <mat-checkbox formControlName="isGm">Maitre du jeu</mat-checkbox>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    mat-dialog-close
    color="primary">
    FERMER
  </button>
  <button mat-button
    (click)="validate()"
    color="primary">
    @if (!data.layer) {
      AJOUTER
    }
    @if (data.layer) {
      ÉDITER
    }
  </button>
</mat-dialog-actions>
