@if (!aptitudeGroup) {
  <mat-spinner></mat-spinner>
} @else {
  <h2>
    {{ aptitudeGroup.name }}
  </h2>
  <div class="aptitudes">
    @for (aptitude of aptitudes; track aptitude) {
      <mat-card class="aptitude">
        <mat-card-header>
          <mat-card-title>
            {{ aptitude.name }}
          </mat-card-title>
          <mat-card-subtitle>
            <span class="roll">
              <mat-icon fontSet="ra" fontIcon="ra-perspective-dice-random" class="ra-mat-button-icon-24"></mat-icon>
              {{ aptitude.roll }}
              -            {{ aptitude.type }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="description">
            {{ aptitude.description }}
          </div>
          <div class="effect">
            Effet: {{ aptitude.effect }}
          </div>
        </mat-card-content>

      </mat-card>
    }
  </div>
}
