@import '~@angular/material/theming';

// Plus imports for other components in your app.
@import './app/shared/_value-editor-theme';
@import './app/shared/_common-nav-theme';
@import './app/_app.theme';
@import './app/character/character.theme';
@import './app/group/fighter-panel.theme';
@import './app/useful-data/useful-data-theme';
@import './app/item-template/item-template.theme';
@import './app/group/group-therme';
@import './app/map/map-theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme
$nhbk-primary: mat-palette($mat-indigo);
$nhbk-accent:  mat-palette($mat-pink, A200, A100, A400);
$nhbk-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nhbk-theme: mat-light-theme($nhbk-primary, $nhbk-accent, $nhbk-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nhbk-theme);
@include global-theme($nhbk-theme);

@mixin custom-components-theme($theme) {
    @include value-selector-theme($theme);
    @include character-theme($theme);
    @include useful-data-theme($theme);
    @include item-theme($theme);
    @include group-theme($theme);
    @include fighter-panel-theme($theme);
    @include map-theme($theme);
    @include common-nav-theme($theme);
}

@include custom-components-theme($nhbk-theme);

@mixin add-theme($isDark, $primary, $accent, $warn, $name) {
    $theme-primary: mat-palette($primary);
    $theme-accent:  mat-palette($accent, A200, A100, A400);
    $theme-warn:    mat-palette($warn);

    @if ($isDark) {
        $dark-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

        .#{$name} {
            @include angular-material-theme($dark-theme);
            @include global-theme($dark-theme);
            @include custom-components-theme($dark-theme);
        }
    }
    @else {

        $light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

        .#{$name} {
            @include angular-material-theme($light-theme);
            @include global-theme($light-theme);
            @include custom-components-theme($light-theme);
        }
    }
}

@include add-theme(true, $mat-blue-grey, $mat-amber, $mat-deep-orange, 'nhbk-dark-theme');
@include add-theme(true, $mat-green, $mat-teal, $mat-deep-orange, 'nhbk-dark2-theme');

@include add-theme(false, $mat-teal, $mat-orange, $mat-deep-orange, 'nhbk-light2-theme');
