<i [style.color]="'#' + monster.data.color" class="ra ra-monster-skull ra-3x" (click)="showSelector = !showSelector"></i>
<div *ngIf="showSelector" style="position: relative">
    <div style="position: absolute; top: -26; left: 56; background-color: white; border:1px solid gray; width:194px">
        <template ngFor let-color [ngForOf]="colors">
            <div style="float:left; width: 48px; height: 48px">
                <i [style.color]=color
                   class="ra ra-monster-skull ra-3x"
                   (click)="showSelector = !showSelector"
                   (click)="changeColor(color);showSelector = false;">
                </i>
            </div>
        </template>
    </div>
</div>
