<div>
    <md-card>
        <button md-raised-button color="primary" *ngIf="!newMonsterTemplate" (click)="startAddMonster()">CRÉÉ UN MONSTRE</button>
        <md-card-content *ngIf="newMonsterTemplate">
            <monster-editor [monster]="newMonsterTemplate"></monster-editor>

        </md-card-content>
        <md-card-actions *ngIf="newMonsterTemplate" align="end">
            <button md-button
                    color="primary"
                    (click)="cancelAddMonster()">
                ANNULER
            </button>
            <button md-button
                    color="primary"
                    [disabled]="!newMonsterTemplate.category || !newMonsterTemplate.name"
                    (click)="addMonster()">
                AJOUTER
            </button>
            <button md-button
                    color="primary"
                    [disabled]="!newMonsterTemplate.category || !newMonsterTemplate.name"
                    (click)="addMonsterContinue()">
                AJOUTER ET CONTINUER
            </button>
        </md-card-actions>
    </md-card>
    <div *ngFor="let category of categories;">
        <h3>{{category.name}}</h3>
        <div *ngFor="let monster of monsterByCategory[category.id]; let last=last">
            <monster-template [monster]="monster"></monster-template>
        </div>
    </div>
</div>
