<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{monsterTemplate.name}}
        </mat-card-title>
        <mat-menu #menuMonster="matMenu">
            <button mat-menu-item
                    (click)="openEditMonsterDialog()">
                <mat-icon>edit</mat-icon>
                Éditer
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menuMonster" aria-label="Ouvrir le menu d'édition du monstre">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="monsterTemplate.data.special">{{monsterTemplate.data.note}}</div>
        <div class="monster-stat-row" *ngIf="!monsterTemplate.data.special">
            <div>
                <strong>AT:</strong> {{monsterTemplate.data.at}}
            </div>
            <div>
                <span *ngIf="monsterTemplate.data.prd">
                    <strong>PRD:</strong> {{monsterTemplate.data.prd}}
                </span>
                <span *ngIf="monsterTemplate.data.esq">
                    <strong>ESQ:</strong> {{monsterTemplate.data.esq}}
                </span>
            </div>
            <div>
                <strong>EV:</strong> {{monsterTemplate.data.ev}}
            </div>
            <div>
                <span *ngIf="monsterTemplate.data.ea">
                    <strong>EA:</strong> {{monsterTemplate.data.ea}}
                </span>
            </div>

            <div *ngIf="!monsterTemplate.data.special">
                <strong>PR:</strong> {{monsterTemplate.data.pr}}
            </div>
            <div>
                <strong>COU:</strong> {{monsterTemplate.data.cou}}
            </div>
            <div>
                <strong>XP:</strong> {{monsterTemplate.data.xp}}
            </div>
            <div>
            </div>
        </div>
        <div *ngIf="!monsterTemplate.data.special" class="monster-stat-row">
            <div>
                <strong>Degat:</strong> {{monsterTemplate.data.dmg}}
            </div>
        </div>
        <div *ngIf="!monsterTemplate.data.special" class="monster-stat-row">
            <div *ngIf="monsterTemplate.data.note">
                <strong>Note</strong>: {{monsterTemplate.data.note}}
            </div>
        </div>
        <div *ngIf="traisById && monsterTemplate.data.traits && monsterTemplate.data.traits.length">
            <div>
                <strong>Traits</strong>
            </div>
        </div>
        <div *ngIf="traisById && monsterTemplate.data.traits && monsterTemplate.data.traits.length" class="monster-traits-row">
            <div *ngFor="let trait of monsterTemplate.data.traits">
                <monster-trait [trait]="traisById[trait.traitId]" [traitInfo]="trait"></monster-trait>
            </div>
        </div>
        <div *ngIf="monsterTemplate.simpleInventory && monsterTemplate.simpleInventory.length">
            <div>
                <strong>Inventaire</strong>
            </div>
            <div>
                <div *ngFor="let inventory of monsterTemplate.simpleInventory">
                    {{inventory.itemTemplate.name}}
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

