<div cdk-overlay-origin
     #colorSelectorOrigin="cdkOverlayOrigin"
     style="position: relative; text-align: left; width: 48px; height: 48px">
    <i style="position: absolute;"
       matRipple
       matRippleCentered="true"
       matRippleUnbounded="true"
       matRippleRadius="32"
       [style.color]="'#' + monster.data.color" class="ra ra-monster-skull ra-3x"
       (click)="openSelector($event)"></i>
    <span *ngIf="monster.data.number"
          matRipple
          matRippleCentered="true"
          matRippleUnbounded="true"
          matRippleRadius="32"
          (click)="openSelector($event)"
          style="
                width: 40px;
                text-align: center;
                position: absolute;
                font-size: 40px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
                text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                ">
        {{monster.data.number}}
    </span>
</div>

<ng-template cdk-connected-overlay
             cdkConnectedOverlayHasBackdrop
             (backdropClick)="closeSelector()"
             [cdkConnectedOverlayOpen]="showSelector"
             [cdkConnectedOverlayOrigin]="colorSelectorOrigin">
    <mat-card style="padding: 0; display: flex;">
        <div style="flex: 0 auto; width: 192px">
            <ng-template ngFor let-color [ngForOf]="colors">
                <div style="float:left; width: 48px; height: 48px; cursor: pointer">
                    <i [style.color]=color
                       mat-ripple
                       class="ra ra-monster-skull ra-3x"
                       (click)="changeColor(color)">
                    </i>
                </div>
            </ng-template>
        </div>
        <div style="flex: 0 auto; width: 192px">
            <ng-template ngFor let-number [ngForOf]="numbers">
                <div style="float:left; width: 48px; height: 48px; cursor: pointer"
                     mat-ripple
                     (click)="changeNumber(number)">
                    <span *ngIf="number"
                          style="
                                text-align: center;
                                font-size: 40px;
                                 color: white;
                                 text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                                ">{{number}}</span>
                </div>
            </ng-template>
        </div>
    </mat-card>
</ng-template>
