<div *ngIf="monster">
    <div>
        <md-input-container>
            <input mdInput
                   type="text"
                   placeholder="Nom"
                   [(ngModel)]="monster.name">
        </md-input-container>
        <md-button-toggle-group [(ngModel)]="defenseStat" (change)="updateDefenseStat()">
            <md-button-toggle [value]="'PRD'">PRD</md-button-toggle>
            <md-button-toggle [value]="'ESQ'">ESQ</md-button-toggle>
        </md-button-toggle-group>
        <md-checkbox [(ngModel)]="monster.data.chercheNoise">
            Chercher des noises
        </md-checkbox>
    </div>
    <div>
        <md-input-container>
            <input mdInput
                   type="number"
                   placeholder="AT"
                   [(ngModel)]="monster.data.at">
        </md-input-container>
        <md-input-container *ngIf="defenseStat === 'PRD'">
            <input mdInput
                   type="number"
                   placeholder="PRD"
                   [(ngModel)]="monster.data.prd">
        </md-input-container>
        <md-input-container *ngIf="defenseStat === 'ESQ'">
            <input mdInput
                   type="number"
                   placeholder="ESQ"
                   [(ngModel)]="monster.data.esq">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="number"
                   placeholder="EV"
                   [(ngModel)]="monster.data.ev">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="number"
                   placeholder="EA"
                   [(ngModel)]="monster.data.ea">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="text"
                   placeholder="PR"
                   [(ngModel)]="monster.data.pr">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="number"
                   placeholder="COU"
                   [(ngModel)]="monster.data.cou">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="number"
                   placeholder="RESM"
                   [(ngModel)]="monster.data.resm">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="text"
                   placeholder="DMG"
                   [(ngModel)]="monster.data.dmg">
        </md-input-container>
        <md-input-container>
            <input mdInput
                   type="number"
                   placeholder="XP"
                   [(ngModel)]="monster.data.xp">
        </md-input-container>
    </div>

    <div>
        <md-input-container style="width: 100%">
            <textarea md-input
                      md-textarea-autosize
                      [(ngModel)]="monster.data.note"
                      placeholder="Note">
            </textarea>
        </md-input-container>
    </div>
    <div>
        <div>Traits simple</div>
        <div>
            <ng-template ngFor let-trait [ngForOf]=simpleTraits>
                <button *ngIf="hasTrait(trait)"
                        md-raised-button
                        type="button"
                        class="btn btn-default"
                        color="primary"
                        (click)="toggleTrait(trait)">
                    {{trait.name}}
                </button>
                <button *ngIf="!hasTrait(trait)"
                        md-button
                        type="button"
                        class="btn btn-default"
                        color="primary"
                        (click)="toggleTrait(trait)">
                    {{trait.name}}
                </button>
            </ng-template>
        </div>
    </div>
    <div>
        <div>Traits</div>
        <div>
            <div class="btn-group" role="group">
                <ng-template ngFor let-trait [ngForOf]=powerTraits>
                    <button *ngIf="!hasTrait(trait)"
                            md-button
                            type="button"
                            class="btn btn-default"
                            color="primary"
                            (click)="toggleTrait(trait)">
                        {{trait.name}}
                    </button>
                    <button *ngIf="hasTrait(trait)"
                            md-raised-button
                            type="button"
                            class="btn btn-default"
                            [color]="hasTraitLevel(trait, 1) ? 'primary' : (hasTraitLevel(trait, 2) ? 'accent' : 'warn')"
                            (click)="toggleTrait(trait)">
                        {{trait.name}}
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
    <div>
        <label>Type</label>
        <div>
            <select (change)="selectCategory($event)">
                <option [selected]="!monster.type"></option>
                <ng-template ngFor let-category [ngForOf]="categories">
                    <option value="{{category.id}}" [selected]="category.id == monster.type?.id">{{category.name}}
                    </option>
                </ng-template>
            </select>
        </div>
    </div>
    <div>
        <div *ngIf="locationsById">
            <span style="border-radius: 4px; background-color: #7aa09b; margin-right: 5px"
                  *ngFor="let locationId of monster.locations">
                {{locationsById[locationId].name}} <span (click)="removeLocation(locationId)">X</span>
            </span>
            <autocomplete-input [placeholder]="'Lieu'"
                                [value]="locationSearchName" (onSelect)="selectLocation($event)"
                                [(callback)]="autocompleteLocationsCallback"></autocomplete-input>

        </div>
    </div>
    <div>
        <div>
            <autocomplete-input [placeholder]="'Ajouter un objet dans l\'inventaire'"
                                [clearOnSelect]="true"
                                (onSelect)="selectItemTemplate($event)"
                                [(callback)]="autocompleteItemCallback">
            </autocomplete-input>
        </div>
    </div>
    <md-card *ngIf="newItem">
        <md-card-subtitle>{{newItem.name}}</md-card-subtitle>
        <md-card-content>
            <md-input-container>
                <input mdInput type="number" min=0 placeholder="Quantité min"
                          [(ngModel)]="newItemData.minCount" />
            </md-input-container>
            <md-input-container>
                <input mdInput type="number" min=0 placeholder="Quantité max"
                          [(ngModel)]="newItemData.maxCount" />
            </md-input-container>
            <md-input-container>
                <input mdInput type="number" min=0 max=1 step="0.0001"
                          placeholder="Chance" [(ngModel)]="newItemData.chance" />
            </md-input-container>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button
                    color="primary"
                    (click)="addItemSimpleInventory()">
                AJOUTER
            </button>
        </md-card-actions>
    </md-card>
    <md-card *ngIf="monster.simpleInventory && monster.simpleInventory.length">
        <md-card-subtitle>Inventaire</md-card-subtitle>
        <ng-template ngFor let-inventory [ngForOf]="monster.simpleInventory" let-i="index">
            <div>
                <button md-icon-button (click)="removeItemSimpleInventory(i)">
                    <md-icon>delete</md-icon>
                </button>
                {{inventory.itemTemplate.name}}
            </div>
            <div>
                <md-input-container>
                    <input mdInput type="number" min=0 [(ngModel)]="inventory.minCount" placeholder="Quantité min" />
                </md-input-container>
                <md-input-container>
                    <input mdInput type="number" min=0 [(ngModel)]="inventory.maxCount" placeholder="Quantité max" />
                </md-input-container>
                <md-input-container>
                    <input mdInput type="number" min=0 step="0.0001" [(ngModel)]="inventory.chance" placeholder="Chance" />
                </md-input-container>
            </div>
        </ng-template>
    </md-card>
</div>
