<div *ngIf="monster">
    <div>
        <md-select class="type-selector" (change)="selectType($event.value)" [ngModel]="selectedType" placeholder="Catégorie">
            <md-option *ngFor="let type of types" [value]="type">{{type.name}}</md-option>
            <md-option [value]="undefined">
                <span class="secondary-text">
                    Ajouter...
                </span>
            </md-option>
        </md-select>
        <md-select class="category-selector" *ngIf="selectedType" [ngModel]="monster.category" (change)="selectCategory($event.value)" placeholder="Sous-catégorie">
            <md-option *ngFor="let category of selectedType.categories" [value]="category">
                {{category.name}}
            </md-option>
            <md-option [value]="undefined">
                <span class="secondary-text">
                    Ajouter...
                </span>
            </md-option>
        </md-select>
    </div>

    <div>
        <md-form-field>
            <input mdInput
                   placeholder="Nom"
                   [(ngModel)]="monster.name">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="Page du bestiaire"
                   [(ngModel)]="monster.data.page">
        </md-form-field>
        <md-button-toggle-group [(ngModel)]="defenseStat" (change)="updateDefenseStat()">
            <md-button-toggle [value]="'PRD'">PRD</md-button-toggle>
            <md-button-toggle [value]="'ESQ'">ESQ</md-button-toggle>
        </md-button-toggle-group>
        <md-checkbox [(ngModel)]="monster.data.chercheNoise">
            Chercher des noises
        </md-checkbox>
    </div>

    <div>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="AT"
                   [(ngModel)]="monster.data.at">
        </md-form-field>
        <md-form-field *ngIf="defenseStat === 'PRD'">
            <input mdInput
                   type="number"
                   placeholder="PRD"
                   [(ngModel)]="monster.data.prd">
        </md-form-field>
        <md-form-field *ngIf="defenseStat === 'ESQ'">
            <input mdInput
                   type="number"
                   placeholder="ESQ"
                   [(ngModel)]="monster.data.esq">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="EV"
                   [(ngModel)]="monster.data.ev">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   placeholder="PR"
                   [(ngModel)]="monster.data.pr">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="COU"
                   [(ngModel)]="monster.data.cou">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="RESM"
                   [(ngModel)]="monster.data.resm">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   placeholder="DMG"
                   [(ngModel)]="monster.data.dmg">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="XP"
                   [(ngModel)]="monster.data.xp">
        </md-form-field>
        <md-form-field>
            <input mdInput
                   type="number"
                   placeholder="EA"
                   [(ngModel)]="monster.data.ea">
        </md-form-field>
    </div>

    <div>
        <md-form-field style="width: 100%">
            <textarea mdInput
                      md-textarea-autosize
                      [(ngModel)]="monster.data.note"
                      placeholder="Note">
            </textarea>
        </md-form-field>
    </div>
    <div>
        <div>Traits simple</div>
        <div>
            <ng-template ngFor let-trait [ngForOf]=simpleTraits>
                <button *ngIf="hasTrait(trait)"
                        md-raised-button
                        type="button"
                        class="btn btn-default"
                        color="primary"
                        (click)="toggleTrait(trait)">
                    {{trait.name}}
                </button>
                <button *ngIf="!hasTrait(trait)"
                        md-button
                        type="button"
                        class="btn btn-default"
                        color="primary"
                        (click)="toggleTrait(trait)">
                    {{trait.name}}
                </button>
            </ng-template>
        </div>
    </div>
    <div>
        <div>Traits</div>
        <div>
            <div class="btn-group" role="group">
                <ng-template ngFor let-trait [ngForOf]=powerTraits>
                    <button *ngIf="!hasTrait(trait)"
                            md-button
                            type="button"
                            class="btn btn-default"
                            color="primary"
                            (click)="toggleTrait(trait)">
                        {{trait.name}}
                    </button>
                    <button *ngIf="hasTrait(trait)"
                            md-raised-button
                            type="button"
                            class="btn btn-default"
                            [color]="hasTraitLevel(trait, 1) ? 'primary' : (hasTraitLevel(trait, 2) ? 'accent' : 'warn')"
                            (click)="toggleTrait(trait)">
                        {{trait.name}}
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="locationsById">
            <span style="border-radius: 4px; background-color: #7aa09b; margin-right: 5px"
                  *ngFor="let locationId of monster.locations">
                {{locationsById[locationId].name}} <span (click)="removeLocation(locationId)">X</span>
            </span>
            <autocomplete-input [placeholder]="'Lieu'"
                                [value]="locationSearchName" (onSelect)="selectLocation($event)"
                                [(callback)]="autocompleteLocationsCallback"></autocomplete-input>

        </div>
    </div>
    <div>
        <autocomplete-search-item-template [clearOnSelect]="true"
                                           [placeholder]="'Ajouter un objet dans l\'inventaire'"
                                           (onSelect)="addItemSimpleInventory($event)">
        </autocomplete-search-item-template>
    </div>
    <md-card *ngIf="monster.simpleInventory && monster.simpleInventory.length">
        <md-card-subtitle>Inventaire</md-card-subtitle>
        <ng-template ngFor let-inventory [ngForOf]="monster.simpleInventory" let-i="index">
            <div>
                <button md-icon-button (click)="removeItemSimpleInventory(i)">
                    <md-icon>delete</md-icon>
                </button>
                {{inventory.itemTemplate.name}}
            </div>
            <div>
                <md-form-field>
                    <input mdInput type="number" min=0 [(ngModel)]="inventory.minCount" placeholder="Quantité min" />
                </md-form-field>
                <md-form-field>
                    <input mdInput type="number" min=0 [(ngModel)]="inventory.maxCount" placeholder="Quantité max" />
                </md-form-field>
                <md-form-field>
                    <input mdInput type="number" min=0 step="0.0001" [(ngModel)]="inventory.chance" placeholder="Chance" />
                </md-form-field>
                <md-checkbox [(ngModel)]="inventory.equiped">Equipé</md-checkbox>
                <md-checkbox [(ngModel)]="inventory.hidden">Caché</md-checkbox>
            </div>
        </ng-template>
    </md-card>
</div>

<ng-template cdk-portal #createCategoryDialog="cdkPortal">
    <md-card>
        <md-card-title>Créer une sous-catégorie de {{selectedType.name}}</md-card-title>
        <md-card-content>
            <md-form-field style="width: 100%">
                <input mdInput placeholder="Nom" #newCategoryName/>
            </md-form-field>
        </md-card-content>
        <md-card-actions align="right">
            <button md-button (click)="closeCreateCategoryDialog()" color="primary">Annuler</button>
            <button md-button (click)="createCategory(newCategoryName.value)" color="primary">Créer</button>
        </md-card-actions>
    </md-card>
</ng-template>

<ng-template cdk-portal #createTypeDialog="cdkPortal">
    <md-card>
        <md-card-title>Créer une catégorie</md-card-title>
        <md-card-content>
            <md-form-field style="width: 100%">
                <input mdInput placeholder="Nom" #newTypeName/>
            </md-form-field>
        </md-card-content>
        <md-card-actions align="right">
            <button md-button (click)="closeCreateTypeDialog()" color="primary">Annuler</button>
            <button md-button (click)="createType(newTypeName.value)" color="primary">Créer</button>
        </md-card-actions>
    </md-card>
</ng-template>
