<div class="add-button" *ngIf="isAdmin">
    <button mat-fab (click)="openCreateMonsterTemplateDialog()">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>
<div class="monster-category-selector">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedMonsterType" (selectionChange)="selectMonsterType($event.value)">
            <mat-option *ngFor="let monsterType of monsterTypes" [value]="monsterType">
                {{monsterType.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedMonsterType">
        <mat-select [(ngModel)]="selectedMonsterCategory">
            <mat-option *ngFor="let monsterCategory of selectedMonsterType.categories" [value]="monsterCategory">
                {{monsterCategory.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="monster-templates">
    <ng-template ngIf [ngIf]="selectedMonsterCategory">
        <div *ngFor="let monster of monsterByCategory[selectedMonsterCategory.id]">
            <monster-template [isAdmin]="isAdmin" [monsterTemplate]="monster"></monster-template>
        </div>
    </ng-template>
</div>
