<mat-toolbar color="primary">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <span>
        Récupération
    </span>
</mat-toolbar>

<div class="content mat-typography">
    <ul>
        <li>
            Recuperation des PV (repos)
            <ul>
                <li>
                    Mauvaises conditions: 1 PV pour 4 heures
                </li>
                <li>
                    Conditions normales: 1 PV pour 2 heures
                </li>
                <li>
                    Bonne conditions: 1 PV par heure
                </li>
            </ul>
        </li>
        <li>
            Recuperation des PV (nourriture)
            <ul>
                <li>
                    Repas de voyage, ration à emporter: 1 PV
                </li>
                <li>
                    Bon repas, repas chaud: 2 PV
                </li>
                <li>
                    Repas de cuistot: 3 PV
                </li>
            </ul>
        </li>
        <li>
            Recuperation des PA
            <ul>
                <li>
                    Mauvaises conditions: 2 PA par heure
                </li>
                <li>
                    Conditions normales: 3 PA par heure
                </li>
                <li>
                    Bonne conditions: 4 PA par heure
                </li>
                <li>Lecture/Recuperation des PA: 4 PA pour une heure d'étude, 1 fois par jour maxi (obligatoire
                    sous peine de perde l'usage des sort ou prodiges
                </li>
            </ul>
        </li>
    </ul>
</div>
