<mat-toolbar color="primary">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <span>
        Déplacements
    </span>
</mat-toolbar>

<div class="content mat-typography">
    <p>Le groupe voyage toujours à la vitesse de son élément le moins rapide.</p>
    <ul>
        <li>Des voyageurs à pied parcourent 30Km/jour</li>
        <li>Voyage forcé à pied: 45Km/jour - Perte de 2 PV</li>
        <li>Voyage à vitesse barbare: 55Km/jour - Perte de 4 PV (sauf barbares)</li>
        <li>Voyage à cheval sans forcer: 50Km/jour</li>
        <li>Voyage forcé à cheval: 75Km/jour - Perte de 4PV pour le cheval</li>
    </ul>
    <ul>
        <li>Modification lié au déplacement selon terrain
            <ul>
                <li>Foret: 75% - Difficile en chariot</li>
                <li>Collines: 75% - Difficile en chariot</li>
                <li>Montagnes: 50% - Impossible en chariot</li>
                <li>Marécage: 50% - Impossible en chariot</li>
                <li>Désert chaud: 85% - Impossible en chariot</li>
                <li>Banquise: 75% - Impossible en chariot</li>
                <li>Neige épaisse: 50% - Impossible en chariot</li>
            </ul>
        </li>
        <li>Autre modificateur
            <ul>
                <li>Voyage avec blessé: 75%</li>
            </ul>
        </li>
        <li>Distance par jour en véhicule
            <ul>
                <li>Chariot: 30Km</li>
                <li>Diligence: 70Km</li>
                <li>Bateau à rames: 20Km</li>
                <li>Galère: 60Km</li>
                <li>Voilier: 80/120Km</li>
            </ul>
        </li>
        <li>Distance par jour en monture
            <ul>
                <li>Mule ou âne: 35Km</li>
                <li>Cheval de base: 45Km</li>
                <li>Cheval rapide: 80Km</li>
                <li>Cheval de bataille: 60Km</li>
            </ul>
        </li>
    </ul>
</div>
