.number-shadow-40 {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 48px;
}
.number-shadow-24 {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    width: 40px;
}

