.aptitudes-list {
    container-type: inline-size;
}

.character-aptitude {
    display: grid;
    grid-template-areas: "active name count description effect actions";
    grid-template-columns: auto 1fr 30px 2fr 2fr auto;
    gap: 8px;
    align-items: center;

    @container (width <= 600px) {
        grid-template-areas: "active name count actions" "active description description actions" "active effect effect actions";
        grid-template-columns: auto 1fr 1fr auto;
    }

    .active {
        grid-area: active;
    }

    .name {
        grid-area: name;
    }

    .count {
        grid-area: count;
        justify-self: center;
    }

    .description {
        grid-area: description;
    }

    .effect {
        grid-area: effect;
    }

    .actions {
        grid-area: actions;
    }

}
