<mat-tab-group #mainTabGroup (selectedTabChange)=selectTab($event)>
  <mat-tab label="Info">
    <!-- Start of info tab -->
    <div class="info-tab">
      @for (invite of character.invites; track invite) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>Invitation</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Rejoindre le groupe <em>{{invite.groupName}}</em> ?
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="cancelInvite(invite)">REFUSER</button>
            <button mat-button color="primary" (click)="acceptInvite(invite)">ACCEPTER</button>
          </mat-card-actions>
        </mat-card>
      }

      <mat-card>
        <mat-toolbar>
          {{character.name}}
          <span class="toolbar-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="characterBasicChange" aria-label="Menu edition du joueur">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu xPosition="before" #characterBasicChange="matMenu">
            <button mat-menu-item (click)="openChangeNameDialog()">
              <mat-icon>edit</mat-icon>
              Changer le nom
            </button>
            <button mat-menu-item (click)="openChangeSexDialog()">
              <mat-icon fontSet="game-icon" [fontIcon]="character.sex === 'Homme' ? 'game-icon-male' : 'game-icon-female'" class="ra-mat-button-icon-24"></mat-icon>
              Changer de sexe
            </button>
            <button mat-menu-item (click)="openChangeJobDialog()">
              <mat-icon fontSet="game-icon" fontIcon="game-icon-gear-hammer" class="ra-mat-button-icon-24"></mat-icon>
              Changer de métier
            </button>
          </mat-menu>

        </mat-toolbar>
        <mat-card-content>
          <dl>
            <dt>Origine</dt>
            <dd style="display: flex; align-items: center">
              {{character.origin.name}}
              <button mat-icon-button (click)="openOriginInfoDialog()" aria-label="Afficher les informations de l'origine">
                <mat-icon>info</mat-icon>
              </button>
            </dd>

            <dt>Metier</dt>
            @for (job of character.jobs; track job) {
              <dd style="display: flex; align-items: center">
                {{job.name}}
                <button mat-icon-button (click)="openJobInfoDialog(job)" aria-label="Afficher les informations du métier">
                  <mat-icon>info</mat-icon>
                </button>
              </dd>
            }
            @if (!character.jobs.length) {
              <dd>aucun</dd>
            }

            @if (character.specialities?.length) {
              <dt>Specialité</dt>
              @for (speciality of character.specialities; track speciality) {
                <dd>
                  {{speciality.name}}
                </dd>
              }
            }

            <dt>Groupe</dt>
            @if (character.group) {
              <dd>{{character.group.name}}</dd>
            }
            @if (!character.group) {
              <dd>aucun</dd>
            }


            <dt>Sexe</dt>
            <dd>{{character.sex}}</dd>

            <dt>Point de destins</dt>
            <dd>
              <value-editor [title]="'Point de destin'"
                [value]=character.fatePoint
                (valueChanged)="changeStat('fatePoint', $event)">
              </value-editor>
            </dd>

            <dt>Niveau</dt>
            <dd>{{character.level}}
              @if (canLevelUp()) {
                <button class="level-up-button"
                  mat-raised-button
                  color="primary"
                  (click)="openLevelUpDialog()">
                  Ding !
                </button>
              }
            </dd>

            <dt>Experience</dt>
            <dd>
              <value-editor [title]="'Experience'"
                [value]=character.experience
                (valueChanged)="changeStat('experience', $event)">
              </value-editor> / {{character.computedData.xpToNextLevel}}
            </dd>

            <dt>Fortune</dt>
            <dd class="fortune">
              <div class="money">
                {{character.computedData.totalMoney | itemPrice}} (Lingot & Pièces)
              </div>
              @if (character.computedData.totalGemValue > 0 && character.group?.config.allowPlayersToSeeGemPriceWhenIdentified) {
                <div class="gem">
                  {{character.computedData.totalGemValue | itemPrice}} (Gemmes & Pierres précieuses)
                </div>
              }
              <div class="action">
                <button mat-button color="primary" (click)="viewMoneyDetails()">Détails</button>
              </div>
            </dd>

            @if (inGroupTab) {
              <dt>Debilibeuk</dt>
            }
            @if (inGroupTab) {
              <dd>
                <value-editor [title]="'Debilibeuk du joueur'" [value]=character.gmData.debilibeuk
                (valueChanged)="changeGmData('debilibeuk', $event)"></value-editor>
              </dd>
            }

            @if (inGroupTab) {
              <dt>Mankdebol</dt>
            }
            @if (inGroupTab) {
              <dd>
                <value-editor [title]="'Mankdebol du joueur'" [value]=character.gmData.mankdebol
                (valueChanged)="changeGmData('mankdebol', $event)"></value-editor>
              </dd>
            }
          </dl>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Notes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (editingNotes) {
            <p>Vous pouvez utilisez du <a target="_blank" href="https://fr.wikipedia.org/wiki/Markdown">Markdown</a> pour formatter le texte</p>
          }
          <mat-form-field [style.display]="editingNotes ? 'block' : 'none'" appearance="outline">
            <textarea #notesEditor matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="20"
              autocomplete="off">

            </textarea>
          </mat-form-field>
          @if (!editingNotes) {
            <div [innerHTML]="character.notes | markdown"></div>
          }
        </mat-card-content>
        <mat-card-actions align="end">
          @if (!editingNotes) {
            <button mat-button color="primary" (click)="startEditNotes()">Éditer</button>
          }
          @if (editingNotes) {
            <button mat-button color="primary" (click)="cancelEditNotes()">Annuler</button>
          }
          @if (editingNotes) {
            <button mat-button color="primary" (click)="saveNotes()">Sauvegarder</button>
          }
        </mat-card-actions>
      </mat-card>
      @if (character.computedData.stats['AD'] > 12) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>Adresse exceptionnelle</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Un score d'adresse (AD) exceptionnelle confère un point <em>bonus</em> en attaque (AT) ou en parade (PRD)
            </p>
            <mat-button-toggle-group [(ngModel)]="character.statBonusAD">
              <mat-button-toggle value="AT" (click)="setStatBonusAD(character.id, 'AT')">AT</mat-button-toggle>
              <mat-button-toggle value="PRD" (click)="setStatBonusAD(character.id, 'PRD')">PRD</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-content>
        </mat-card>
      }
      @if (character.computedData.stats['AD'] < 9) {
        <mat-card class="row">
          <mat-card-header>
            <mat-card-title>Adresse pourri</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Un score d'adresse (AD) inférieur ou égale à 8 induit un point <em>malus</em> en attaque (AT) ou en parade (PRD)
            </p>
            <mat-button-toggle-group [(ngModel)]="character.statBonusAD">
              <mat-button-toggle value="AT" (click)="setStatBonusAD(character.id, 'AT')">AT</mat-button-toggle>
              <mat-button-toggle value="PRD" (click)="setStatBonusAD(character.id, 'PRD')">PRD</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-content>
        </mat-card>
      }
      @if (character.computedData.stats['INT'] > 12) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>Intelligence exceptionnelle</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Un score d'inteligence (INT) exceptionnelle confère un point de dégâts des sorts
              (selon sortilège) pour chaque point d'inteligence supérieur à 12.
            </p>
            <div>Bonus dégâts des sorts: {{(character.computedData.stats['INT'] - 12)}}</div>
          </mat-card-content>
        </mat-card>
      }
      @if (character.computedData.stats['FO'] > 12) {
        <mat-card>
          <mat-card-title>Force exceptionnelle</mat-card-title>
          <mat-card-content>
            <p>
              Un score exceptionnel offre forcément des avantages dans ce monde violent...
            </p>
            <p>
              Pour chaque point de force (FO) supérieur à 12 : +1 point d’impact (dégâts des armes améliorés au corps à corps ou à distance)
            </p>
            <div>Bonus point d'impact: {{(character.computedData.stats['FO'] - 12)}}</div>
          </mat-card-content>
        </mat-card>
      }
      @if (character.computedData.stats['FO'] <= 8) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>Force de mauviette</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Un score exceptionnel offre forcément des avantages dans ce monde violent...
              Et au contraire sur une carac. de force (FO) de 8 ou inférieure : -1 point d’impact (dégâts des armes diminués, car mauviette)
            </p>
            <div>Malus point d'impact: 1</div>
          </mat-card-content>
        </mat-card>
      }
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Compétences
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="skill-list">
          @for (skill of character.computedData.skills; track skill) {
            <div class="skill">
              <span class="name" [class.canceled]="skill.canceled">
                {{skill.skillDef?.name}}
              </span>
              @if (skill.canceled) {
                <span class="cancel-reason">
                  {{skill.canceled}}
                </span>
              }
              <button class="info" mat-icon-button (click)="openSkillInfoDialog(skill.skillDef)" aria-label="Afficher les informations de la compétence">
                <mat-icon>info</mat-icon>
              </button>
              <div class="source secondary-text">
                @for (from of skill.from; track from; let lastFrom = $last) {
                  <span>{{from}}@if (!lastFrom) {
                    <span>, </span>
                  }</span>
                }
              </div>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
    <!-- End of infos tab -->
  </mat-tab>

  <mat-tab label="Combat">
    <!-- Start of combat tab -->
    <app-combat-tab [character]="character" (statChanged)="changeStat($event.stat, $event.value)" [inGroupTab]="inGroupTab"></app-combat-tab>
    <!-- End of combat tab -->
  </mat-tab>
  <mat-tab label="Stat">
    <!-- Start of stats tab -->
    <div class="stat-tab">
      <mat-card>
        <mat-card-content>
          <div class="stat-header">
            <div class="stat-element">EV</div>
            @if (character.hasMagic()) {
              <div class="stat-element">EA</div>
            }
          </div>
          <div class="stat-values">
            <div class="stat-row">
              <div class="stat-element">{{character.computedData.stats['EV']}}</div>
              @if (character.hasMagic()) {
                <div class="stat-element">{{character.computedData.stats['EA']}}</div>
              }
            </div>
            @if (character.computedData.details.show.evea) {
              <div class="stat-details">
                @for (detail of character.computedData.details.evea; track detail) {
                  <div class="detail-row">
                    <div class="stat-detail-reason">
                      {{detail.name}}
                    </div>
                    <div class="stat-row">
                      <div class="stat-element">{{detail.data.EV}}</div>
                      @if (character.hasMagic()) {
                        <div class="stat-element">{{detail.data.EA}}</div>
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button [color]="'primary'" (click)="character.computedData.details.show.evea = !character.computedData.details.show.evea">
            @if (!character.computedData.details.show.evea) {
              <span>Voir details</span>
            }
            @if (character.computedData.details.show.evea) {
              <span>Cacher details</span>
            }
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="stat-header">
            <div class="stat-element">AT</div>
            <div class="stat-element">PRD</div>
            <div class="stat-element">PR</div>
            @if (character.computedData.stats['PR_MAGIC']) {
              <div class="stat-element">PR_MAGIC</div>
            }
          </div>
          <div class="stat-values">
            <div class="stat-row">
              <div class="stat-element">{{character.computedData.stats['AT']}}</div>
              <div class="stat-element">{{character.computedData.stats['PRD']}}</div>
              <div class="stat-element">{{character.computedData.stats['PR']}}</div>
              @if (character.computedData.stats['PR_MAGIC']) {
                <div class="stat-element">{{character.computedData.stats['PR_MAGIC']}}</div>
              }
            </div>
            @if (character.computedData.details.show.atprd) {
              <div class="stat-details">
                @for (detail of character.computedData.details.atprd; track detail) {
                  <div class="detail-row">
                    <div class="stat-detail-reason">
                      {{detail.name}}
                    </div>
                    <div class="stat-row">
                      <div class="stat-element">{{detail.data.AT}}</div>
                      <div class="stat-element">{{detail.data.PRD}}</div>
                      <div class="stat-element">{{detail.data.PR}}</div>
                      @if (character.computedData.stats['PR_MAGIC']) {
                        <div class="stat-element">{{detail.data.PR_MAGIC}}</div>
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button [color]="'primary'" (click)="character.computedData.details.show.atprd = !character.computedData.details.show.atprd">
            @if (!character.computedData.details.show.atprd) {
              <span>Voir details</span>
            }
            @if (character.computedData.details.show.atprd) {
              <span>Cacher details</span>
            }
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="stat-header">
            <div class="stat-element-small">COU</div>
            <div class="stat-element-small">INT</div>
            <div class="stat-element-small">CHA</div>
            <div class="stat-element-small">AD</div>
            <div class="stat-element-small">FO</div>
          </div>
          <div class="stat-values">
            <div class="stat-row">
              <div class="stat-element-small">{{character.computedData.stats['COU']}}</div>
              <div class="stat-element-small">{{character.computedData.stats['INT']}}</div>
              <div class="stat-element-small">{{character.computedData.stats['CHA']}}</div>
              <div class="stat-element-small">{{character.computedData.stats['AD']}}</div>
              <div class="stat-element-small">{{character.computedData.stats['FO']}}</div>
            </div>
            @if (character.computedData.details.show.stat) {
              <div class="stat-details">
                @for (detail of character.computedData.details.stat; track detail) {
                  <div class="detail-row">
                    <div class="stat-detail-reason">
                      {{detail.name}}
                    </div>
                    <div class="stat-row">
                      <div class="stat-element-small">{{detail.data.COU}}</div>
                      <div class="stat-element-small">{{detail.data.INT}}</div>
                      <div class="stat-element-small">{{detail.data.CHA}}</div>
                      <div class="stat-element-small">{{detail.data.AD}}</div>
                      <div class="stat-element-small">{{detail.data.FO}}</div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button [color]="'primary'" (click)="character.computedData.details.show.stat = !character.computedData.details.show.stat">
            @if (!character.computedData.details.show.stat) {
              <span>Voir details</span>
            }
            @if (character.computedData.details.show.stat) {
              <span>Cacher details</span>
            }
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div class="stat-header">
            @if (character.hasMagic()) {
              <div class="stat-element-large">MagiePhys</div>
            }
            @if (character.hasMagic()) {
              <div class="stat-element-large">MagiePsy</div>
            }
            <div class="stat-element-large">RESM</div>
          </div>
          <div class="stat-values">
            <div class="stat-row">
              @if (character.hasMagic()) {
                <div class="stat-element-large">{{character.computedData.stats['MPHYS']}}</div>
              }
              @if (character.hasMagic()) {
                <div class="stat-element-large">{{character.computedData.stats['MPSY']}}</div>
              }
              <div class="stat-element-large">{{character.computedData.stats['RESM']}}</div>
            </div>
            @if (character.computedData.details.show.magic) {
              <div class="stat-details">
                @for (detail of character.computedData.details.magic; track detail) {
                  <div class="detail-row">
                    <div class="stat-detail-reason">
                      {{detail.name}}
                    </div>
                    <div class="stat-row">
                      @if (character.hasMagic()) {
                        <div class="stat-element-large" [innerHTML]="detail.data.MPHYS || ''"></div>
                      }
                      @if (character.hasMagic()) {
                        <div class="stat-element-large" [innerHTML]="detail.data.MPSY || ''"></div>
                      }
                      <div class="stat-element-large" [innerHTML]="detail.data.RESM || ''"></div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button [color]="'primary'" (click)="character.computedData.details.show.magic = !character.computedData.details.show.magic">
            @if (!character.computedData.details.show.magic) {
              <span>Voir details</span>
            }
            @if (character.computedData.details.show.magic) {
              <span>Cacher details</span>
            }
          </button>
        </mat-card-actions>
      </mat-card>

      @if (character.computedData.stats['MV'] !== 100
        || character.computedData.stats['THROW_MODIFIER']
        || character.computedData.stats['DISCRETION_MODIFIER']
        || character.computedData.stats['DANSE_MODIFIER']
        || character.computedData.stats['PI']) {
        <mat-card>
          <mat-card-content>
            <div class="stat-header">
              @if (character.computedData.stats['MV'] !== 100) {
                <div class="stat-element">MV</div>
              }
              @if (character.computedData.stats['THROW_MODIFIER']) {
                <div class="stat-element">Lancer</div>
              }
              @if (character.computedData.stats['DISCRETION_MODIFIER']) {
                <div class="stat-element">Discretion</div>
              }
              @if (character.computedData.stats['DANSE_MODIFIER']) {
                <div class="stat-element">Danse</div>
              }
              @if (character.computedData.stats['PI']) {
                <div class="stat-element">PI</div>
              }
            </div>
            <div class="stat-values">
              <div class="stat-row">
                @if (character.computedData.stats['MV'] !== 100) {
                  <div class="stat-element">
                    {{character.computedData.stats['MV']}}%
                  </div>
                }
                @if (character.computedData.stats['THROW_MODIFIER']) {
                  <div class="stat-element">
                    {{character.computedData.stats['THROW_MODIFIER'] | plusminus}}
                  </div>
                }
                @if (character.computedData.stats['DISCRETION_MODIFIER']) {
                  <div class="stat-element">
                    {{character.computedData.stats['DISCRETION_MODIFIER'] | plusminus}}
                  </div>
                }
                @if (character.computedData.stats['DANSE_MODIFIER']) {
                  <div class="stat-element">
                    {{character.computedData.stats['DANSE_MODIFIER'] | plusminus}}
                  </div>
                }
                @if (character.computedData.stats['PI']) {
                  <div class="stat-element">
                    {{character.computedData.stats['PI']}}
                  </div>
                }
              </div>
              @if (character.computedData.details.show.other) {
                <div class="stat-details">
                  @for (detail of character.computedData.details.other; track detail) {
                    <div class="detail-row">
                      <div class="stat-detail-reason">
                        {{detail.name}}
                      </div>
                      <div class="stat-row">
                        @if (character.computedData.stats['MV'] !== 100) {
                          <div class="stat-element">
                            {{detail.data.MV}}
                          </div>
                        }
                        @if (character.computedData.stats['THROW_MODIFIER']) {
                          <div class="stat-element">
                            {{detail.data.THROW_MODIFIER}}
                          </div>
                        }
                        @if (character.computedData.stats['DISCRETION_MODIFIER']) {
                          <div class="stat-element">
                            {{detail.data.DISCRETION_MODIFIER}}
                          </div>
                        }
                        @if (character.computedData.stats['DANSE_MODIFIER']) {
                          <div class="stat-element">
                            {{detail.data.DANSE_MODIFIER}}
                          </div>
                        }
                        @if (character.computedData.stats['PI']) {
                          <div class="stat-element">
                            {{detail.data.PI}}
                          </div>
                        }
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button [color]="'primary'" (click)="character.computedData.details.show.other = !character.computedData.details.show.other">
              @if (!character.computedData.details.show.other) {
                <span>Voir details</span>
              }
              @if (character.computedData.details.show.other) {
                <span>Cacher details</span>
              }
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
    <effect-panel #effectPanel [character]="character"></effect-panel>
    <!-- End of stats tab -->
  </mat-tab>
  <mat-tab label="Inventaire">
    <!-- Start of inventory tab -->
    <inventory-panel #inventoryPanel [inGroupTab]="inGroupTab" [character]="character"></inventory-panel>
    <!-- End of inventory tab -->
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadgeOverlap]="false" [matBadge]="character?.loots?.length ? character.loots.length.toString() : undefined" >Loot</span>
    </ng-template>
    <!-- Start of effects tab -->
    <character-loot-panel #lootPanel [character]="character" [inGroupTab]="inGroupTab"></character-loot-panel>
    <!-- End of effects tab -->
  </mat-tab>
  <mat-tab label="Historique">
    <character-history [character]="character"></character-history>
  </mat-tab>
</mat-tab-group>

@if (currentTab === 'inventory' && (inGroupTab || character.group === undefined || character.group.config.allowPlayersToAddObject)) {
  <div class="add-button">
    <button class="extended-fab-button" mat-fab extended color="primary" (click)="inventoryPanel.openAddItemModal()" aria-label="Ajouter un objet">
      <mat-icon>add</mat-icon>
      Ajouter un objet
    </button>
  </div>
}
