<h2>Personnages</h2>
@if (loading) {
  <mat-card class="loading-characters">
    <mat-spinner></mat-spinner>
  </mat-card>
}
@if (!loading && (!characters || characters.length === 0)) {
  <mat-card>
    Vous ne possédez aucun personnage.
  </mat-card>
}
@for (character of characters; track character) {
  <mat-card
    (click)="selectCharacter(character)"
    [class.clickable]="!loadingCharacterId">
    <mat-card-header matRipple [matRippleDisabled]="!!loadingCharacterId">
      <mat-card-title>{{ character.name }} - lvl {{ character.level }}</mat-card-title>
      <mat-card-subtitle>{{ character.origin }}@for (job of character.jobs; track job) {
        <span>&nbsp;{{ job }}</span>
      }
    </mat-card-subtitle>
  </mat-card-header>
  @if (loadingCharacterId === character.id) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-card-content></mat-card-content>
</mat-card>
}
<mat-card (click)="createCharacter()"
  [class.clickable]="!loadingCharacterId">
  <mat-card-content matRipple [matRippleDisabled]="!!loadingCharacterId" class="create-character">
    <mat-icon>add</mat-icon>
    <div style="display: flex; flex-direction: column">
      <div>Créer un personnage</div>
      <div class="mat-caption secondary-text">Création guidé d'un personnage niveau 1</div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card (click)="createCustomCharacter()"
  [class.clickable]="!loadingCharacterId">
  <mat-card-content matRipple [matRippleDisabled]="!!loadingCharacterId" class="create-character">
    <mat-icon>create</mat-icon>
    <div style="display: flex; flex-direction: column">
      <div>Créer un personnage personnalisé</div>
      <div class="mat-caption secondary-text">Création libre d'un personnage (pour importer des personnages, basé
        sur des vielle règles ou ignorant certaines règles)
      </div>
    </div>
  </mat-card-content>
</mat-card>
