<h2 mat-dialog-title>Donner un objet</h2>
<mat-dialog-content>
  <div class="item-name">
    <icon [icon]="data.item.data.icon"></icon>
    <div>
      @if (data.item.template.data.quantifiable || data.item.data.quantity) {
        <span>
          <value-editor [value]="giveQuantity"
            [minValue]="1"
            [maxValue]="data.item.data.quantity"
            [hideMaxValue]="true"
            (valueChanged)="giveQuantity = $event"
            [title]="'Quantité à donner'">
          </value-editor>
        </span>
      }
      {{data.item.data.name}}
    </div>
  </div>

  <div class="destinations-loading">
    @if (giveDestination === undefined) {
      <span><mat-spinner></mat-spinner></span>
    }
  </div>
  @if (giveDestination?.length === 0) {
    <span>Aucun personnage disponible</span>
  }

  <mat-radio-group [(ngModel)]="giveTarget">
    @for (destination of giveDestination; track destination) {
      <mat-radio-button [value]="destination">
        @if (destination.isNpc) {
          <span>[NPC]</span>
        }
        {{destination.name}}
      </mat-radio-button>
    }
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    mat-dialog-close
    color="primary">
    ANNULER
  </button>
  <button mat-button
    color="primary"
    [disabled]="!giveTarget"
    (click)="giveItem()">
    DONNER
  </button>
</mat-dialog-actions>
