<mat-toolbar color="primary">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <span>Gain d'un niveau</span>
</mat-toolbar>

<div class="content">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [completed]="!!levelUpInfo.evOrEaValue">
      <ng-template matStepLabel>
        Énergie vitale / Énergie Astrale
      </ng-template>

      <p>Pour chaque niveau gagné, on ajoute 1D{{data.character.origin.data.diceEvLevelUp}}@if (characterHasToken('LEVELUP_DICE_EV_-1')) {
        <span> -1 </span>
      }
      à son énergie vitale (EV)
      @if (data.character.hasMagicJob()) {
        <span>
          <strong>OU</strong> 1D{{data.character.diceEaLevelUp}} astrale (EA)
        </span>
      }
    </p>

    @if (data.character.hasMagicJob()) {
      <div>
        Je choisi d'augmenter mon:
        <mat-button-toggle-group [(ngModel)]="levelUpInfo.evOrEa">
          <mat-button-toggle value="EV">E.Vitale</mat-button-toggle>
          <mat-button-toggle value="EA">E.Astrale</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    }



    <div class="level-up-ea-ev">
      <mat-form-field align="end">
        <input matInput placeholder="Valeur" type="number" [(ngModel)]="levelUpInfo.evOrEaValue">
        @if (levelUpInfo.evOrEa === 'EV') {
          <mat-hint align="end">
            Lancer 1D{{data.character.origin.data.diceEvLevelUp}}@if (characterHasToken('LEVELUP_DICE_EV_-1')) {
            <span>-1</span>
          }
        </mat-hint>
      }
      @if (levelUpInfo.evOrEa === 'EA') {
        <mat-hint align="end">
          Lancer 1D{{data.character.diceEaLevelUp}}
        </mat-hint>
      }
    </mat-form-field>
    <button mat-icon-button (click)="rollLevelUp()">
      <mat-icon fontSet="ra" fontIcon="ra-perspective-dice-random" class="ra-mat-button-icon-24"></mat-icon>
    </button>
  </div>
  <div class="next-button">
    <button mat-button color="primary" [disabled]="!levelUpInfo.evOrEaValue" matStepperNext>SUIVANT</button>
  </div>
</mat-step>
@if ((levelUpInfo.targetLevelUp % 2) === 0) {
  <mat-step [completed]="!!levelUpInfo.statToUp">
    <ng-template matStepLabel>
      Augmenter une caractéristique
    </ng-template>
    Je choisi:
    <mat-button-toggle-group [(ngModel)]="levelUpInfo.statToUp">
      <mat-button-toggle value="FO">FO</mat-button-toggle>
      <mat-button-toggle value="AD">AD</mat-button-toggle>
      <mat-button-toggle value="COU">COU</mat-button-toggle>
      <mat-button-toggle value="INT">INT</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="next-button">
      <button mat-button color="primary" [disabled]="!levelUpInfo.statToUp" matStepperNext>SUIVANT</button>
    </div>
  </mat-step>
}
@if ((levelUpInfo.targetLevelUp % 2) === 1) {
  <mat-step  [completed]="!!levelUpInfo.statToUp">
    <ng-template matStepLabel>
      Augmenter Attaque ou parade
    </ng-template>
    Je choisi d'augmenter de 1 point:
    <mat-button-toggle-group [(ngModel)]="levelUpInfo.statToUp">
      <mat-button-toggle value="AT">AT</mat-button-toggle>
      <mat-button-toggle value="PRD">PRD</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="next-button">
      <button mat-button color="primary" [disabled]="!levelUpInfo.statToUp" matStepperNext>SUIVANT</button>
    </div>
  </mat-step>
}
@if (levelUpShouldSelectSkill()) {
  <mat-step [completed]="!!levelUpInfo.skill">
    <ng-template matStepLabel>
      Compétence supplémentaire
    </ng-template>
    @if (!levelUpInfo.skill) {
      <skill-selector
        [selectedOrigin]="data.character.origin"
        [selectedJobs]="data.character.jobs"
        [knownSkills]="data.character.skills"
        [skillCount]=1
        (skillsSelected)="onLevelUpSelectSkills($event)">
      </skill-selector>
    }
    @if (levelUpInfo.skill) {
      <p class="lean-skill">
        J'apprends la compétence: {{levelUpInfo.skill.name}}
        <button mat-icon-button (click)="levelUpInfo.skill = undefined">
          <mat-icon>edit</mat-icon>
        </button>
      </p>
    }
    <div class="next-button">
      <button mat-button color="primary" [disabled]="!levelUpInfo.statToUp" matStepperNext>SUIVANT</button>
    </div>
  </mat-step>
}

@for (job of data.character.jobs; track job) {
  @if (levelUpShouldSelectSpeciality(job)) {
    <mat-step #specialityStep [completed]="!!levelUpInfo.specialities[job.id]">
      <ng-template matStepLabel>
        {{job.name}}: Spécialisation supplémentaire
      </ng-template>
      <speciality-selector (specialityChange)="levelUpSelectSpeciality(job, $event); specialityStep.completed = true; stepper.next()"
        [knownSpecialities]="data.character.getJobsSpecialities(job)"
        [specialities]="job.specialities">
      </speciality-selector>
    </mat-step>
  }
}
<mat-step [editable]="levelUpFormReady()">
  <ng-template matStepLabel>
    Confirmer
  </ng-template>
  <ul>
    @if (levelUpInfo.evOrEa === 'EV') {
      <li>
        Augmentation de l'energie vitale (EV) de {{levelUpInfo.evOrEaValue}}
      </li>
    }
    @if (levelUpInfo.evOrEa === 'EA') {
      <li>
        Augmentation de l'energie astrale (EA) de {{levelUpInfo.evOrEaValue}}
      </li>
    }
    <li>
      Augmentation de 1 point en {{levelUpInfo.statToUp}}
    </li>
    @if (levelUpInfo.skill) {
      <li >
        J'apprends la compétence: {{levelUpInfo.skill.name}}
      </li>
    }
    @for (job of data.character.jobs; track job) {
      @if (levelUpInfo.specialities[job.id]) {
        <li>
          J'apprend la spécialité: {{levelUpInfo.specialities[job.id].name}}
        </li>
      }
    }
  </ul>
  <div class="next-button">
    <button mat-button color="primary" [disabled]="!levelUpFormReady()" (click)="levelUp()">
      CONFIRMER
    </button>
  </div>
</mat-step>
</mat-vertical-stepper>
</div>
